<div class="agenda__container">
  <div class="agenda__title">
      <h2 class="title__main"><span>Agenda</span></h2>
  </div>
  <div class="agenda__filter">
    {{> filterForCalendar }}
  </div>
  <div class="agenda__events">
   {{> agendaEvents}}
  </div>
  <div class="agenda__loadmore">
  	  {{> loadMore}}
  </div>
   
</div>
