<ul class="scroll_tabs scroll_tabs_container scroll_tabs_side tabs-for-sidebar">
    <li data-value="featured-agenda"><a href="#">FEATURED EVENTS</a></li>
    <li data-value="all-agenda"><a href="#">ALL AGENDA</a></li>
</ul>
<!-- Tab panes -->
<div class="scroll_tabs_content list-panel">
    <div id="featured-agenda">
        <div class="date-data-list">
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">09</div>
                    <div class="date-data-list__section--date-month">SEP</div>
                </div>
                <div class="date-data-list__section--content">
                    <div class="date-data-list__section--base-info"><span>Friday, 10:00am - 12:00pm</span></div>
                    <span class="tag-green tag-green-triangle tag-img-trading tag-first">HKEX EVENT: WEBINAR SERIES</span>
                    <div>
                        <a class="date-data-list__section--content-title" href="#">OTC Derivatives Clearing -- Preparing the ground for the derivatives deadline</a>
                        <p class="date-data-list__section--content-brife">Even if a firm has been clearing in the exchange space for some time, clearing OTC products still introduces challenges. We spend considerable time educating clients about what is involved operationally to clear a trade and, from a risk standpoint, how initial margin is calculated or how trades are valued.</p>
                    </div>
                    <a class="btn-blue">SIGN UP</a>
                </div>
            </div>
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">12</div>
                    <div class="date-data-list__section--date-month">OCT</div>
                </div>
                <div class="date-data-list__section--content">
                    <div class="date-data-list__section--base-info"><span>Saturday, 10:00am - 12:00pm</span><span>Room 1904, IFC 1</span><span>Free Admission</span></div>
                    <span class="tag-green tag-green-triangle tag-img-trading tag-first">HKEX EVENT: BITCOIN WORKSHOP</span>
                    <div>
                        <a class="date-data-list__section--content-title" href="#">Hear world’s leading experts on Bitcoin giving an introductory look at how Bitcoin works under-the-hood</a>
                        <p class="date-data-list__section--content-brife">Aimed at non-technical audiences, workshop attendees will learn about bitcoin through comparison and analogy to existing concepts. You"ll walk away with a firm understanding of how bitcoin works, how bitcoin is different from existing systems, and why these differences will translate into a radically different society tomorrow.</p>
                    </div>
                    <a class="btn-blue">SIGN UP</a>
                </div>
            </div>
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">01</div>
                    <div class="date-data-list__section--date-month">DEC</div>
                </div>
                <div class="date-data-list__section--content">
                    <div class="date-data-list__section--base-info"><span>Saturday, 10:00am - 12:00pm</span><span>Room 1904, IFC 1</span><span>Free Admission</span></div>
                    <span class="tag-green tag-green-triangle tag-img-trading tag-first">HKEX EVENT: BITCOIN WORKSHOP</span>
                    <div>
                        <a class="date-data-list__section--content-title" href="#">Hear world’s leading experts on Bitcoin giving an introductory look at how Bitcoin works under-the-hood</a>
                        <p class="date-data-list__section--content-brife">Aimed at non-technical audiences, workshop attendees will learn about bitcoin through comparison and analogy to existing concepts. You"ll walk away with a firm understanding of how bitcoin works, how bitcoin is different from existing systems, and why these differences will translate into a radically different society tomorrow.</p>
                    </div>
                    <a class="btn-blue">SIGN UP</a>
                </div>
            </div>
        </div>
    </div>
    <div id="all-agenda" class="agenda__events--all-events">
        <div class="agenda__events--all-events-base-info">
            <span class="agenda__events--all-events-base-info-load-previous">
                <i class="loadMore__icon"></i>Load previous events
            </span>
            <span class="agenda__events--all-events-base-info-date">
                OCT 1 - 31
            </span>
        </div>
        <div class="date-data-list">
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">04</div>
                    <div class="date-data-list__section--date-month">Tue</div>
                </div>
                <div class="date-data-list__section--content">
                    <span class="tag-gray tag-gray-triangle tag-first">MAINLAND PUBLIC HOLIDAY</span>
                    <div>
                        <p class="date-data-list__section--content-brife">National Day (Golden Week Day 4). <span class="date-data-list__section--content-brife-gray-text">Mainland markets are closed</span></p>
                    </div>
                </div>
            </div>
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">05</div>
                    <div class="date-data-list__section--date-month">Wed</div>
                </div>
                <div class="date-data-list__section--content">
                    <span class="tag-gray tag-gray-triangle tag-first">MAINLAND PUBLIC HOLIDAY</span>
                    <div>
                        <p class="date-data-list__section--content-brife">National Day (Golden Week Day 4). <span class="date-data-list__section--content-brife-gray-text">Mainland markets are closed</span></p>
                    </div>
                </div>
            </div>
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">10</div>
                    <div class="date-data-list__section--date-month">Mon</div>
                </div>
                <div class="date-data-list__section--content">
                    <span class="tag-red tag-red-triangle tag-first">HONG KONG PUBLIC HOLIDAY</span>
                    <div>
                        <p class="date-data-list__section--content-brife">The day following the Chung Yeung Festival. <span class="date-data-list__section--content-brife-gray-text">Hong Kong Market is closed</span></p>
                    </div>
                </div>
            </div>
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">13</div>
                    <div class="date-data-list__section--date-month">Thu</div>
                </div>
                <div class="date-data-list__section--content">
                    <span class="tag-light-blue tag-light-blue-triangle tag-img-trading tag-first">TRADING OPERATIONS</span>
                    <div>
                        <p class="date-data-list__section--content-brife">Stock Futures Last Trading Day/Expiry Day</p>
                    </div>
                </div>
            </div>
            <div class="date-data-list__section">
                <div class="date-data-list__section--date">
                    <div class="date-data-list__section--date-day">28</div>
                    <div class="date-data-list__section--date-month">Fri</div>
                </div>
                <div class="date-data-list__section--content">
                    <span class="tag-light-blue tag-light-blue-triangle tag-img-trading tag-first">TRADING OPERATIONS</span>
                    <div class="date-data-list__section--content-brife">
                        <p class="agenda__events--all-events-type">Hang Seng Index Futures and Options (Including Flexible Index optional) Last Trading Day/Expiry Date</p>
                        <p class="agenda__events--all-events-type">Mini-Hang Seng Index Futures and Options Last Trading Day/ Expiry Day</p>
                        <p class="agenda__events--all-events-type">H-Shars Index Futures and Options (Including Flexible Index Options) Last Trading Day/Expiry Day</p>
                        <p class="agenda__events--all-events-type">Stock Futures Last Trading Day/Expiry Day</p>
                    </div>
                    <span class="tag-yellow tag-yellow-triangle tag-img-notification tag-first">IPO LISTING DATE</span>
                    <div>
                        <p class="date-data-list__section--content-brife"><span class="agenda__events--all-events-ipo-type">08407.HK</span>China Industrial Securities International Financial Group Limited</p>
                    </div>
                    <span class="tag-green tag-green-triangle tag-img-trading tag-first">EVENTS</span>
                    <div class="date-data-list__section--content-brife">
                        <div class="collapse-container">
                            <div class="panel">
                                <a class="panel-heading" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                                 Featured: OTC Derivatives Clearing -- Preparing the ground for the derivatives deadline
                                </a>
                                <div id="collapseOne" class="collapse panel-body">
                                <div class="date-data-list__section--base-info"><span>Saturday, 10:00am - 12:00pm</span><span>Room 1904, IFC 1</span><span>Free Admission</span></div>
                                  Even if a firm has been clearing in the exchange space for some time, clearing OTC products still introduces challenges. We spend considerable time educating clients about what is involved operationally to clear a trade and, from a risk standpoint, how initial margin is calculated or how trades are valued.
                                  <div>
                                     <a class="btn-blue">SIGN UP</a>
                                  </div>

                                </div>
                            </div>
                            <div class="panel">
                                <a class="panel-heading" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                      Featured: Hear world’s leading experts on Bitcoin giving an introductory look at how Bitcoin works under-the-hood
                                 </a>
                                <div id="collapseTwo" class="collapse panel-body">
                                    Please refer to the <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">ESS Frequently Asked Questions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
