<div class="collapse-container filter__container ">
  <div class="filter__searchPanel">
    <div class="filter__searchBox">
      <input type="text" class="searchBox" name="searchBox"  placeholder="Last Trading Day, IPO, Webinars" title="Last Trading Day, IPO, Webinars" />
    </div>
    <div class="filter__moreFilter">
      <h3>
        <a class="filter__moreFilterText" aria-expanded="false" data-toggle="collapse" href="#checkboxForm">
            More filters
        </a>
      </h3>
    </div>
  </div>

  <div class="collapse filter__checkboxForm" id="checkboxForm">
    <div class="filter__checkbox-wrapper">
      <div class="filter__checkBox filter__checkBox--custom">
          <span class="filter__checkBox__title">Type of events</span>
          <ul class="filter__checkBox__list">
            <li class="filter__checkBox__item">
              <ul class="filter__event-filter-group__list">
                <li class="filter__event-filter-group__item">
                  <i class="filter__event-filter-group__icon icon-trading"></i>
                  <input type="checkbox" name="Type Of Events" id="trading-operations" value="Trading Operations" tabindex="-1" data-value="Trading Operations" class="filter__level-1-js">
                  <label for="trading-operations" tabindex="0" class="filter__checkBox__tab-js">
                      Trading Operations
                  </label>
                </li>
                <li class="filter__event-filter-group__item">
                  <div class="filter__dropdown-wrapper filter__dropdown-js">
                    <div class="select-group select-group-1">
                        <div class="select-target">
                            <a id="select-target-date" data-select="true" data-expend="false" href="#" data-value="All" class="filter__level-2-js filter-disabled">All Future & Index Options</a>
                        </div>
                        <div class="select-items">
                            <div class="select-item" data-value="All" data-target="true"><a href="#">All Future & Index Options</a></div>
                            <div class="select-item" data-value="2016"><a href="#">2016</a></div>
                            <div class="select-item" data-value="2015"><a href="#">2015</a></div>
                        </div>
                    </div>
                  </div>
                </li>
                <li class="filter__event-filter-group__item">
                  <div class="filter__dropdown-wrapper filter__dropdown-js">
                    <div class="select-group select-group-2">
                        <div class="select-target">
                            <a id="select-target-date" data-select="true" data-expend="false" href="#" data-value="All" class="filter__level-2-js filter-disabled">All Categories</a>
                        </div>
                        <div class="select-items">
                            <div class="select-item" data-value="All" data-target="true"><a href="#">All Categories</a></div>
                            <div class="select-item" data-value="2016"><a href="#">2016</a></div>
                            <div class="select-item" data-value="2015"><a href="#">2015</a></div>
                        </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="filter__checkBox__item">
              <ul class="filter__event-filter-group__list">
                <li class="filter__event-filter-group__item">
                  <i class="filter__event-filter-group__icon icon-notification-bell"></i>
                  <input type="checkbox" name="Type Of Events" id="IPO-Listing" value="IPO Listing" tabindex="-1" data-value="IPO Listing" class="filter__level-1-js">
                  <label for="IPO-Listing" tabindex="0" class="filter__checkBox__tab-js">
                      IPO Listing
                  </label>
                </li>
                <li class="filter__event-filter-group__item">
                  <div class="filter__dropdown-wrapper filter__dropdown-js">
                    <div class="select-group">
                        <div class="select-target">
                            <a id="select-target-date" data-select="true" data-expend="false" href="#" data-value="All" class="filter__level-2-js filter-disabled">All Listings</a>
                        </div>
                        <div class="select-items">
                            <div class="select-item" data-value="All" data-target="true"><a href="#">All Listings</a></div>
                            <div class="select-item" data-value="2016"><a href="#">2016</a></div>
                            <div class="select-item" data-value="2015"><a href="#">2015</a></div>
                        </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="filter__checkBox__item">
              <ul class="filter__event-filter-group__list">
                <li class="filter__event-filter-group__item">
                  <i class="filter__event-filter-group__icon icon-clock"></i>
                  <input type="checkbox" name="Type Of Events" id="Events" value="Events" tabindex="-1" data-value="Events" class="filter__level-1-js">
                  <label for="Events" tabindex="0" class="filter__checkBox__tab-js">
                      Events
                  </label>
                </li>
                <li class="filter__event-filter-group__item">
                  <div class="filter__dropdown-wrapper filter__dropdown-js">
                    <div class="select-group select-group-1">
                        <div class="select-target">
                            <a id="select-target-date" data-select="true" data-expend="false" href="#" data-value="All" class="filter__level-2-js filter-disabled">All Issuing Department</a>
                        </div>
                        <div class="select-items">
                            <div class="select-item" data-value="All" data-target="true"><a href="#">All Issuing Department</a></div>
                            <div class="select-item" data-value="2016"><a href="#">2016</a></div>
                            <div class="select-item" data-value="2015"><a href="#">2015</a></div>
                        </div>
                    </div>
                  </div>
                </li>
                <li class="filter__event-filter-group__item">
                  <div class="filter__dropdown-wrapper filter__dropdown-js">
                    <div class="select-group select-group-2">
                        <div class="select-target">
                            <a id="select-target-date" data-select="true" data-expend="false" href="#" data-value="All" class="filter__level-2-js filter-disabled">All Event Types</a>
                        </div>
                        <div class="select-items">
                            <div class="select-item" data-value="All" data-target="true"><a href="#">All Event Types</a></div>
                            <div class="select-item" data-value="2016"><a href="#">2016</a></div>
                            <div class="select-item" data-value="2015"><a href="#">2015</a></div>
                        </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
      </div>
      <div class="filter__dateRange">

      </div>
    </div>
    <div class="filter__buttonGroup">
      <a class="btn-disable filter__btn-applyFilters-js" tabindex="0">Apply Filters</a>
      <a class="btn-white filter__btn-cancelFilters-js" tabindex="0">Cancel</a>
    </div>
  </div>
  <div class="filter__selectedItem">
  </div>
</div>
