<div class="section__title-left-border quesitons__title cd-dashboard__title">
    <h2>China dimension</h2>
</div>
<div class="cd-dashboard__selectFilter">
  <div class="select-group cd-dashboard__select-group" data-width="600">
      <div class="select-target cd-dashboard__select-item">
          <a id="select-target-input-1" data-select="true" data-expend="false" href="#">Listed H-Shares and Red-Chip Companies</a>
      </div>
      <div class="select-items">
          <div class="select-item cd-dashboard__select-item" data-value="Listed H-Shares and Red-Chip Companies" data-target="true"><a href="#">Listed H-Shares and Red-Chip Companies</a></div>
          <div class="select-item cd-dashboard__select-item" data-value="Market Capitalisation"><a href="#">Market Capitalisation</a></div>
          <div class="select-item cd-dashboard__select-item" data-value="Turnover"><a href="#">Turnover</a></div>
          <div class="select-item cd-dashboard__select-item" data-value="Raised Equity Funds"><a href="#">Raised Equity Funds</a></div>
      </div>
  </div>
</div>
<div class="cd-dashboard__tab-container">
    <ul class="scroll_tabs scroll_tabs_container">
        <li data-value="mainBoard"><a href="#">MAIN BOARD</a></li>
        <li data-value="gemBoard"><a href="#">GEM BOARD</a></li>
    </ul>
    <div class="scroll_tabs_content">
        <div id="mainBoard"></div>
        <div id="gemBoard"></div>
    </div>    
</div>
