<div class="table__wrapper">
</div>

<div class="fixed-freeze-tb-container sticky-header-table">
	<div class="fixed-freeze-tb--scroller-container">
		<div class="fixed-freeze-tb--scroll-bar">
			<div class="fixed-freeze-tb--bar"></div>
		</div>
	</div>
	<div class="fixed-freeze-tb--scroll-bts">
		<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
			<div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
	</div>
	<div class="table-container fixed-freeze-tb-parent">

	</div>
</div>
