@font-face {
    font-family: 'FSElliotPro';
    src: url('../fonts/FSElliotPro.otf'), url('../fonts/FSElliotPro.eot');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'FSElliotPro';
    src: url('../fonts/FSElliotPro-Bold.otf'), url('../fonts/FSElliotPro-Bold.eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FSElliotPro';
    src: url('../fonts/FSElliotPro-Thin.otf'), url('../fonts/FSElliotPro-Thin.eot');
    font-weight: 100;
    font-style: normal;
}
