<div class="wl-advantages__wapper">
  <div class="wl-advantages__title">
    <h2>advantages</h2>
  </div>
  <div class="wl-advantages__content">
    <ul class="wl-advantages__list">
      <li class="wl-advantages__list-item">
        <div class="wl-advantages__list-item__col">
          <img class="wl-advantages__list-item__img" src="images/advantages/access.svg" alt="access to capital for growth"/>
          <div class="wl-advantages__list-item__details">
            <div class="wl-advantages__list-item__details-title">access to capital for growth</div>
            <div class="wl-advantages__list-item__details-content">
              A listing gives you the opportunities to raise capital at the IPO stage and,
              throughout your listing to fund future growth
            </div>
          </div>
        </div>
        <div class="wl-advantages__list-item__col">
          <img class="wl-advantages__list-item__img" src="images/advantages/china.svg" alt="China connection"/>
          <div class="wl-advantages__list-item__details">
            <div class="wl-advantages__list-item__details-title">China connection</div>
            <div class="wl-advantages__list-item__details-content">
              Shanghai-Hong Kong Stock Connect will allow Mainland Chinese investors to invest
              directly in HK listed stocks for 1st time. Expected to broaden investor base and
              add liquidity to HK market adding momentum to the market 
            </div>
          </div>
        </div>
      </li>
      <li class="wl-advantages__list-item">
        <div class="wl-advantages__list-item__col">
          <img class="wl-advantages__list-item__img" src="images/advantages/investor.svg" alt="investor confidence"/>
          <div class="wl-advantages__list-item__details">
            <div class="wl-advantages__list-item__details-title">investor confidence</div>
            <div class="wl-advantages__list-item__details-content">
              A listing gives you the opportunities to raise capital at the IPO stage and,
              throughout your listing to fund future growth. and add liquidity to HK market
               adding momentum to the market
            </div>
          </div>
        </div>
        <div class="wl-advantages__list-item__col">
          <img class="wl-advantages__list-item__img" src="images/advantages/branding.svg" alt="branding opportunities in luxury sector"/>
          <div class="wl-advantages__list-item__details">
            <div class="wl-advantages__list-item__details-title">branding opportunities in luxury sector</div>
            <div class="wl-advantages__list-item__details-content">
              Shanghai-Hong Kong Stock Connect will allow Mainland Chinese investors to invest
              directly in HK listed stocks for 1st time. Expected to broaden investor base and
              add liquidity to HK market adding momentum to the market 
            </div>
          </div>
        </div>
      </li>
      <li class="wl-advantages__list-item">
        <div class="wl-advantages__list-item__col">
          <img class="wl-advantages__list-item__img" src="images/advantages/establish.svg" alt="established legal system"/>
          <div class="wl-advantages__list-item__details">
            <div class="wl-advantages__list-item__details-title">established legal system</div>
            <div class="wl-advantages__list-item__details-content">
              A listing gives you the opportunities to raise capital at the IPO stage and,
              throughout your listing to fund future growth. and add liquidity to HK market
              adding momentum to the market
            </div>
          </div>
        </div>
        <div class="wl-advantages__list-item__col">
          <img class="wl-advantages__list-item__img" src="images/advantages/numberous.svg" alt="numberous tax advantages"/>
          <div class="wl-advantages__list-item__details">
            <div class="wl-advantages__list-item__details-title">numberous tax advantages</div>
            <div class="wl-advantages__list-item__details-content">
              Shanghai-Hong Kong Stock Connect will allow Mainland Chinese investors to
              invest directly in HK listed stocks for 1st time. Expected to broaden investor
               base 
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
