<div class="wl-caseStudies__wapper">
  <div class="wl-caseStudies__title">
    <h2>CASE STUDIES OF LISTED COMPANIES</h2>
  </div>
  <div class="wl-caseStudies__content">
    <ul class="wl-caseStudies__list">
      <li class="wl-caseStudies__column">
        <div class="wl-caseStudies__column__title">PROPERTY</div>
        <div class="wl-caseStudies__column__container">
          <div class="wl-caseStudies__column__img">
            <img src="images/caseStudies/swire.png" alt="brand swire"/>
          </div>
          <div class="wl-caseStudies__column__description">
            Swire Group’s listing allowed existing shareholders to realise their investment
             and provided capital for future acquisitions and development.
          </div>
          <div class="wl-caseStudies__column__money-container">
            <div class="wl-caseStudies__column__money">
              <div class="wl-caseStudies__column__money-marketcap">
                Market Cap at Listing
              </div>
                <img class="wl-caseStudies__column__money-icon" src="images/caseStudies/icon.svg" alt="money icon"/>
                <span class="wl-caseStudies__column__money-number">$301.3</span>
                <span class="wl-caseStudies__column__money-unit">Million</span>
            </div>
            <div class="wl-caseStudies__column__money">
              <div class="wl-caseStudies__column__money-marketcap">
                Capital raised
              </div>
              <img class="wl-caseStudies__column__money-icon" src="images/caseStudies/icon.svg" alt="money icon"/>
              <span class="wl-caseStudies__column__money-number">$60</span>
              <span class="wl-caseStudies__column__money-unit">Million</span>
            </div>
          </div>
        </div>
      </li>
      <li class="wl-caseStudies__column">
        <div class="wl-caseStudies__column__title">AUTOMOBILE</div>
        <div class="wl-caseStudies__column__container">
          <div class="wl-caseStudies__column__img" >
            <img src="images/caseStudies/byd.png" alt="brand swire"/>
          </div>
          <div class="wl-caseStudies__column__description">
            BYD Group’s listing allowed existing shareholders to realise their
            investment and provided capital for future acquisitions and development.
          </div>
          <div class="wl-caseStudies__column__money-container">
            <div class="wl-caseStudies__column__money">
              <div class="wl-caseStudies__column__money-marketcap">
                Market Cap at Listing
              </div>
                <img class="wl-caseStudies__column__money-icon" src="images/caseStudies/icon.svg" alt="money icon"/>
                <span class="wl-caseStudies__column__money-number">$301.3</span>
                <span class="wl-caseStudies__column__money-unit">Million</span>
            </div>
            <div class="wl-caseStudies__column__money">
              <div class="wl-caseStudies__column__money-marketcap">
                Capital raised
              </div>
              <img class="wl-caseStudies__column__money-icon" src="images/caseStudies/icon.svg" alt="money icon"/>
              <span class="wl-caseStudies__column__money-number">$60</span>
              <span class="wl-caseStudies__column__money-unit">Million</span>
            </div>
          </div>
        </div>
      </li>
      <li class="wl-caseStudies__column">
        <div class="wl-caseStudies__column__title">LUXURY</div>
        <div class="wl-caseStudies__column__container">
          <div class="wl-caseStudies__column__img">
            <img src="images/caseStudies/prada.png" alt="brand swire"/>
          </div>
          <div class="wl-caseStudies__column__description">
          PRADA Group’s listing allowed existing shareholders to realise their
          investment and provided capital for future acquisitions and development.
          </div>
          <div class="wl-caseStudies__column__money-container">
            <div class="wl-caseStudies__column__money">
              <div class="wl-caseStudies__column__money-marketcap">
                Market Cap at Listing
              </div>
              <img class="wl-caseStudies__column__money-icon" src="images/caseStudies/icon.svg" alt="money icon"/>
              <span class="wl-caseStudies__column__money-number">$301.3</span>
              <span class="wl-caseStudies__column__money-unit">Million</span>
            </div>
            <div class="wl-caseStudies__column__money">
              <div class="wl-caseStudies__column__money-marketcap">
                Capital raised
              </div>
              <img class="wl-caseStudies__column__money-icon" src="images/caseStudies/icon.svg" alt="money icon"/>
              <span class="wl-caseStudies__column__money-number">$60</span>
              <span class="wl-caseStudies__column__money-unit">Million</span>
            </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
