<div class="wl-newsletter__wrapper">
    <div class="wl-newsletter__column">
        <a href="gettingstarted.html" class="wl-newsletter__btn btn-red-big btn-arrow">Getting Started</a>
        <h2 class="wl-newsletter__title wl-newsletter__qltitle">Quick Links</h2>
        <ul class="wl-newsletter__qlinks quick-link-list">
            <li><a href="#"><span>Upcoming Listings</span><i></i></a></li>
            <li><a href="#"><span>Recent Listings</span><i></i></a></li>
            <li><a href="#"><span>HKEX Listed Companies</span><i></i></a></li>
            <li><a href="#"><span>China companies listed on HKEX</span><i></i></a></li>
            <li><a href="#"><span>Listing Guide</span><i></i></a></li>
            <li><a href="#"><span>FAQ</span><i></i></a></li>
        </ul>
    </div>
    <div class="wl-newsletter__column">
        <h2 class="wl-newsletter__title wl-newsletter__nwtitle">SUBSCRIBE TO NEWSLETTER</h2>
        <div class="wl-newsletter__inner">
            <div class="wl-newsletter__inner-col">
            <p class="wl-newsletter__subtitle">Get monthly report on </p>
            <ul class="wl-newsletter__rlinks">
                <li><a href="#">Trade Overview</a></li>
                <li><a href="#">Top Open Interest</a></li>
                <li><a href="#">Trade Distribution</a></li>
                <li><a href="#">Trade Vs. Open Interest</a></li>
                <li><a href="#">Most Traded Options</a></li>
                <li><a href="#">Class Overview</a></li>
            </ul>
            </div>
            <div class="wl-newsletter__inner-col">
                <img src="images/newsletter-img.png" class="wl-newsletter__chart" alt="Newsletter" />
            </div>
        </div>
        <div class="wl-newsletter__form">
            <form action="#" class="wl-newsletter_subscription" autocomplete="off">
                <div class="wl-newsletter__email-holder">
                    <input type="email" class="email" placeholder="Enter Your Email Address" name="email" />
                    <a href="javascript:void(0)" class="right"><span>&#10004;</span></a>
                    <a href="javascript:void(0)" class="cancel"><span>X</span></a>

                </div>
                <div class="wl-newsletter__btn-holder">
                    <button type="button" class="submit">Subscribe</button>
                </div>
                <div id="system-msg" class="system-msg"></div>
            </form>
        </div>
    </div>
</div>
