<div class="show-reel__wrapper">
  <h2>SHOW REEL</h2>
  <div class="show-reel__left" >
    <img src="images/showreel/left.png" alt="image for video"  data-toggle="modal"  data-target="#myModal"/>
    <button class="show-reel__img-play-button" data-toggle="modal"  data-target="#myModal">1</button>
  </div>

  <div class="show-reel__right">
    <img class="leftimg" src="images/showreel/righttopl.png" alt="image" data-toggle="modal"  data-target="#myModal2"/>
    <img class="rightimg" src="images/showreel/righttopr.png" alt="image"  data-toggle="modal"  data-target="#myModal3"/>
    <div class="bottomimg">
      <img src="images/showreel/rightbottom.png" alt="image for video" data-toggle="modal"  data-target="#myModal4"/>
      <button class="show-reel__img2-play-button" data-toggle="modal"  data-target="#myModal4">1</button>
    </div>

  </div>
  <div class="show-reel__tablet-mobile">
    <div id="show-reel_carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#show-reel_carousel" data-slide-to="0" class="active"></li>
          <li data-target="#show-reel_carousel" data-slide-to="1"></li>
          <li data-target="#show-reel_carousel" data-slide-to="2"></li>
          <li data-target="#show-reel_carousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src="images/showreel/pic01.png" alt="News Title" title="News Title"  data-toggle="modal"  data-target="#myModal">
              <button class="show-reel__img-play-button" data-toggle="modal"  data-target="#myModal">1</button>
          </div>
          <div class="item ">
              <img src="images/showreel/pic02.png" alt="News Title" title="News Title"  data-toggle="modal"  data-target="#myModal2">
          </div>
          <div class="item ">
              <img src="images/showreel/pic03.png" alt="News Title" title="News Title"  data-toggle="modal"  data-target="#myModal3">
          </div>
          <div class="item ">
              <img src="images/showreel/pic04.png" alt="image for video"  data-toggle="modal"  data-target="#myModal4"/>
              <button class="show-reel__img-play-button" data-toggle="modal"  data-target="#myModal4">1</button>
          </div>
      </div>
    </div>

  </div>

  <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button tabindex="2"  type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 tabindex="1"  class="modal-title">ACCESS TO CAPITAL FOR GROWTH</h4>
          </div>
          <div class="modal-body">
            <div class="video-control embed-responsive">
              <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
             <video preload="none" tabindex="3"  class="video-control__embed-video embed-responsive-item" title="The Pioneer of the World’s Financial Markets">
               <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                     Your browser does not support HTML5 video.
             </video>
              <button tabindex="4"  class="video-control__play-pause-button video-control__showreel-middle-button">1</button>
              <div class="video-control__barcontainer video-control__showreelcontainer">
               <button tabindex="8"  class="video-control__mute-button video-control__showreel-mute-button" title="mute or unmute">mute</button>
               <button tabindex="10"  class="video-control__fullscreen-button video-control__showreel-fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
               <button tabindex="5"  class="video-control__fullscreen-play-pause-button video-control__showreel-play-pause-button" title="play">play</button>
               <div tabindex="6"  class="video-control__timebar video-control__showreel-timebar">
                 <span class="video-control__timebar-currenttime"></span>
                 <span class="video-control__timebar-totaltime"></span>
               </div>
               <div  class="video-control__progressbar  video-control__showreel-progressbar">
                  <div class="video-control__progressbar-time video-control__showreel-progressbar-time"></div>
                  <div class="video-control__progressbar-seekdiv  video-control__showreel-seekdiv">
                    <div class="video-control__progressbar-seekdivInnerbar  video-control__showreel-seekdivInnerbar">playtime</div>
                  </div>
                  <label for="seekbar1">progress bar</label>
                  <input tabindex="7"  type="range" id="seekbar1" name="seekbar1" class="video-control__progressbar-seekbar video-control__showreel-seekbar" value="0" />
               </div>
               <div  class="video-control__volumebar video-control__showreel-volumebar">
                  <label for="volumebar1">volume bar</label>
                  <input tabindex="9"  type="range" id="volumebar1" name="volumebar1" class="video-control__volumebar-seekbar video-control__showreel-volumebar-seekbar" min="0" max="1" step="0.1" value="1">
               </div>
               <div class="video-control__volumediv video-control__showreel-volumediv">
                 <div class="video-control__volumediv-innerbar video-control__showreel-volumediv-innerbar">volume</div>
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
   </div>

  <div id="myModal2" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button tabindex="2" type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 tabindex="1" class="modal-title">ACCESS TO CAPITAL FOR GROWTH</h4>
            </div>
            <div class="modal-body">
              <div class="embed-responsive">
                <img class=" embed-responsive-item" src="images/showreel/righttopl3x.png" alt="image" />
              </div>
            </div>
          </div>
        </div>
  </div>
  <div id="myModal3" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button tabindex="2" type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 tabindex="1" class="modal-title">ACCESS TO CAPITAL FOR GROWTH</h4>
            </div>
            <div class="modal-body">
              <div class="embed-responsive">
                <img class=" embed-responsive-item" src="images/showreel/righttopr3x.png" alt="image" />
              </div>
            </div>
          </div>
        </div>
  </div>
  <div id="myModal4" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button tabindex="2" type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 tabindex="1" class="modal-title">ACCESS TO CAPITAL FOR GROWTH</h4>
          </div>
          <div class="modal-body">
            <div class="video-control embed-responsive">
              <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
             <video preload="none" tabindex="3" class="video-control__embed-video embed-responsive-item" title="The Pioneer of the World’s Financial Markets">
                <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                      Your browser does not support HTML5 video.
             </video>
              <button tabindex="4" class="video-control__play-pause-button video-control__showreel-middle-button">1</button>
              <div class="video-control__barcontainer video-control__showreelcontainer">
               <button tabindex="8" class="video-control__mute-button video-control__showreel-mute-button" title="mute or unmute">mute</button>
               <button tabindex="10" class="video-control__fullscreen-button video-control__showreel-fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
               <button tabindex="5" class="video-control__fullscreen-play-pause-button video-control__showreel-play-pause-button" title="play">play</button>
               <div tabindex="6" class="video-control__timebar video-control__showreel-timebar">
                 <span class="video-control__timebar-currenttime"></span>
                 <span class="video-control__timebar-totaltime"></span>
               </div>
               <div  class="video-control__progressbar  video-control__showreel-progressbar">
                  <div class="video-control__progressbar-time video-control__showreel-progressbar-time"></div>
                  <div class="video-control__progressbar-seekdiv  video-control__showreel-seekdiv">
                    <div class="video-control__progressbar-seekdivInnerbar  video-control__showreel-seekdivInnerbar">playtime</div>
                  </div>
                  <label for="seekbar2">progress bar</label>
                  <input tabindex="7" type="range" id="seekbar2" name="seekbar2" class="video-control__progressbar-seekbar video-control__showreel-seekbar" value="0" />
               </div>
               <div  class="video-control__volumebar video-control__showreel-volumebar">
                  <label for="volumebar2">volume bar</label>
                  <input tabindex="9" type="range" id="volumebar2" name="volumebar2" class="video-control__volumebar-seekbar video-control__showreel-volumebar-seekbar" min="0" max="1" step="0.1" value="1">
               </div>
               <div class="video-control__volumediv video-control__showreel-volumediv">
                 <div class="video-control__volumediv-innerbar video-control__showreel-volumediv-innerbar">volume</div>
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
