<div class="wl-summary__wrapper">
    <div class="wl-summary__column">
        <h2 class="wl-summary__title">Summary</h2>
        <p class="wl-summary__text-bold">
            As a premier listing venue, HKEX offers you a trusted platform to reach an international
            investor base that will help you fuel your business growth.
        </p>
        <p class="wl-summary__text">
            As the wealth management hub of Asia, Hong Kong is also the region’s largest foreign exchange
            trading and active commodities trading centre. It is well supported by more than 600 local and international
            financial institutions with over 3,000 investment professionals offering a wide range of products and services.
        </p>
        <p class="wl-summary__download">
            <a class="download" href="files/ess.pdf" target="_blank">Download <span>Guide to Listing</span></a>
        </p>

    </div>
    <div class="wl-summary__column">
        <img src="images/logos.png" alt="Customers" />
    </div>
</div>
