<div class="wl-feature__wrapper">
    <div class="wl-feature__column">
        <div class="wl-feature__title">#1</div>
        <p class="wl-feature__text">in Asia with a pool of investable funds set to grow to $6 trillion by 2020</p>
    </div>
    <div class="wl-feature__column">
        <div class="wl-feature__title">TOP 3</div>
        <p class="wl-feature__text">in Asia with a pool of investable funds set to grow to $6 trillion by 2020</p>
    </div>
    <div class="wl-feature__column">
        <div class="wl-feature__title">$9.8</div>
        <p class="wl-feature__text">trillion of funds raised up to 2016</p>
    </div>
    <div class="wl-feature__column">
        <div class="wl-feature__title">2,356</div>
        <p class="wl-feature__text">listed companies over time. The International listing venue of choice for Mainland China companies </p>
    </div>
</div>
