<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">ATS TRANSACTIONS</h3>
	<p>The total turnover of automated trading services’ (ATS) transactions for July 2016 was $16,582 million (1.3% of the securities market total turnover).</p>
</div>
