<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">CLEARING AND SETTLEMENT</h3>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table monthlyHighlight__fix-table-gap">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th>CCASS Statistics (securities market)</th>
						<th>Jul 2016</th>
						<th>Jun 2016</th>
						<th>%Change</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Average daily number of exchange trades handled by CCASS</td>
						<td>1,924</td>
						<td>1,005,044</td>
						<td>-1.65%</td>
					</tr>
					<tr>
						<td>Average daily number of settlement instructions (SIs) settled by CCASS</td>
						<td>80,443</td>
						<td>81,927</td>
						<td>-1.81%</td>
					</tr>
					<tr>
						<td>Average daily number of investor SIs (ISIs) settled by CCASS</td>
						<td>288</td>
						<td>272</td>
						<td>5.88%</td>
					</tr>
					<tr>
						<td>Average daily settlement efficiency of CNS stock positions on due day (T+2)</td>
						<td>99.90</td>
						<td>99.91</td>
						<td>N/A</td>
					</tr>
					<tr class="parent">
						<td>Shares deposited in the CCASS depository</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="child">
						<td>&nbsp;&nbsp;&nbsp;&nbsp;– % of total issued shares</td>
						<td>73.80</td>
						<td>73.49</td>
						<td>N/A</td>
					</tr>
					<tr class="child last">
						<td>&nbsp;&nbsp;&nbsp;&nbsp;– % of the total market capitalisation</td>
						<td>56.51</td>
						<td>49.13</td>
						<td>N/A</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table monthlyHighlight__fix-table-gap">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th>DCASS Statistics (derivatives market)</th>
						<th>Jul 2016</th>
						<th>Jun 2016</th>
						<th>%Change</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Month-end Open Interest (contracts)</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>– Equity Index Futures</td>
						<td>696,507</td>
						<td>666,795</td>
						<td>4.5%</td>
					</tr>
					<tr>
						<td>– Stock Futures</td>
						<td>4,558</td>
						<td>5,648</td>
						<td>-19.3%</td>
					</tr>
					<tr>
						<td>– Interest Rates Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>– RMB Currency Futures</td>
						<td>27,738</td>
						<td>28,004</td>
						<td>-0.9%</td>
					</tr>
					<tr>
						<td>– London Metal Mini Futures</td>
						<td>293</td>
						<td>361</td>
						<td>-18.8%</td>
					</tr>
					<tr>
						<td>– Equity Index Options</td>
						<td>2,457,239</td>
						<td>2,319,704</td>
						<td>5.9%</td>
					</tr>
					<tr>
						<td>– Stock Options</td>
						<td>5,908,805</td>
						<td>5,550,885</td>
						<td>6.4%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
