<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">DERIVATIVES MARKET TURNOVER</h3>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th></th>
						<th>Jul 2016</th>
						<th>Jul 2015</th>
						<th>% Change</th>
					</tr>
				</thead>
				<tbody>
					<tr class="bolder">
						<td>Total Futures</td>
						<td>318,921</td>
						<td>365,950</td>
						<td>-12.9%</td>
					</tr>
					<tr>
						<td>Hang Seng Index Futures</td>
						<td>133,132</td>
						<td>138,885</td>
						<td>-4.1%</td>
					</tr>
					<tr>
						<td>Mini Hang Seng Index Futures</td>
						<td>50,580</td>
						<td>59,408</td>
						<td>-14.9%</td>
					</tr>
					<tr>
						<td>H-shares Index Futures</td>
						<td>116,224</td>
						<td>143,736</td>
						<td>-19.1%</td>
					</tr>
					<tr>
						<td>Mini H-shares Index Futures</td>
						<td>15,937</td>
						<td>20,487</td>
						<td>-22.2%</td>
					</tr>
					<tr>
						<td>HSI Dividend Point Index Futures</td>
						<td>0</td>
						<td>6</td>
						<td>-100.0%</td>
					</tr>
					<tr>
						<td>HSCEI Dividend Point Index Futures</td>
						<td>1,155</td>
						<td>891</td>
						<td>29.6%</td>
					</tr>
					<tr>
						<td>HSI Volatility Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>CES China 120 Index Futures</td>
						<td>4</td>
						<td>1</td>
						<td>300.0%</td>
					</tr>
					<tr>
						<td>CES Gaming Top 10 Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>Hang Seng Mainland Oil & Gas Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>Hang Seng Mainland Banks Index Futures</td>
						<td>0</td>
						<td>1</td>
						<td>-100.0%</td>
					</tr>
					<tr>
						<td>Hang Seng Mainland Healthcare Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>Hang Seng Mainland Properties Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>Hang Seng IT Hardware Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>Hang Seng Software & Services Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>IBOVESPA Futures </td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>MICEX Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>S&P BSE Sensex Index Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>FTSE/JSE Top40 Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>Stock Futures</td>
						<td>536</td>
						<td>824</td>
						<td>-35.0%</td>
					</tr>
					<tr>
						<td>3-Month HIBOR Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>1-Month HIBOR Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>RMB Currency Futures - USD/CNH Futures</td>
						<td>1,028</td>
						<td>1,512</td>
						<td>-32.0%</td>
					</tr>
					<tr>
						<td>RMB Currency Futures - EUR/CNH Futures</td>
						<td>7</td>
						<td>1</td>
						<td>600.0%</td>
					</tr>
					<tr>
						<td>RMB Currency Futures - JPY/CNH Futures</td>
						<td>10</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>RMB Currency Futures - AUD/CNH Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>RMB Currency Futures - CNH/USD Futures</td>
						<td>7</td>
						<td>12</td>
						<td>-41.7%</td>
					</tr>
					<tr>
						<td>London Aluminium Mini Futures</td>
						<td>7</td>
						<td>13</td>
						<td>-46.2%</td>
					</tr>
					<tr>
						<td>London Zinc Mini Futures</td>
						<td>38</td>
						<td>89</td>
						<td>-57.3%</td>
					</tr>
					<tr>
						<td>London Copper Mini Futures</td>
						<td>33</td>
						<td>9</td>
						<td>266.7%</td>
					</tr>
					<tr>
						<td>London Lead Mini Futures</td>
						<td>0</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr>
						<td>London Nickel Mini Futures</td>
						<td>224</td>
						<td>76</td>
						<td>194.7%</td>
					</tr>
					<tr>
						<td>London Tin Mini Futures</td>
						<td>1</td>
						<td>0</td>
						<td>-</td>
					</tr>
					<tr class="bolder">
						<td>Total Options</td>
						<td>688,341</td>
						<td>453,747</td>
						<td>-18.6%</td>
					</tr>
					<tr>
						<td>Hang Seng Index Options</td>
						<td>37,029</td>
						<td>44,575</td>
						<td>-16.9%</td>
					</tr>
					<tr>
						<td>Mini Hang Seng Index Options</td>
						<td>5,348</td>
						<td>5,467</td>
						<td>-2.2%</td>
					</tr>
					<tr>
						<td>Flexible Hang Seng Index Options</td>
						<td>0</td>
						<td>27</td>
						<td>-100.0%</td>
					</tr>
					<tr>
						<td>H-shares Index Options</td>
						<td>66,878</td>
						<td>44,575</td>
						<td>-15.4%</td>
					</tr>
					<tr>
						<td>Flexible H-shares Index Options</td>
						<td>0</td>
						<td>203</td>
						<td>-100.0%</td>
					</tr>
					<tr>
						<td>Stock Options</td>
						<td>260,164</td>
						<td>324,438</td>
						<td>-19.8%</td>
					</tr>
					<tr class="bolder">
						<td>Total Futures and Options</td>
						<td>688,341</td>
						<td>819,697</td>
						<td>-16.0%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
