<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">HIGHLIGHTS</h3>
	<div class="monthlyHighlight__subTitle">Securities Market</div>
	<img class="monthlyHighlight__img" src="images/monthlyHighlight/infograph2.png" alt="Securities Market">
	<p>The average daily turnover for the first seven months of 2016 was $66.7 billion, a decrease of 47 per cent when compared with $125.4 billion for the same period last year.</p>
	<p>The average daily turnover of CBBCs for the first seven months of 2016 was $6.0 billion, a decrease of 14 per cent when compared with $7.0 billion for the same period last year.</p>
	<p>There were 63* newly listed companies for the first seven months of 2016, a decrease of 9 per cent when compared with 69* for the same period last year.</p>
	<h3 class="monthlyHighlight__subTitle">Derivatives Market</h3>
	<img class="monthlyHighlight__img" src="images/monthlyHighlight/infograph1.png" alt="Securities Market">
	<p>The average daily turnover of futures and options for the first seven months of 2016 was 768,224 contracts, a decrease of 6 per cent when compared with the 817,018 contracts for the same period last year.</p>
	<p>The average daily turnover of equity index futures for the first seven months of 2016 was 355,992 contracts, an increase of 26 per cent when compared with the 282,343 contacts for the same period last year.</p>
	<p>The average daily turnover of equity index options for the first seven months of 2016 was 120,733 contracts, an increase of 32 per cent when compared with the 91,592 contacts for the same period last year.</p>
	<p>The average daily turnover of RMB Currency Futures for the first seven months of 2016 was 2,032 contracts, an increase of 169 per cent when compared with the 755 contracts for the same period last year.</p>
	<p>On 29 July 2016, the open interest of HSCEI Dividend Point Index Futures reached a record high of 177,539 contracts.</p>
	<p class="monthlyHighlight__note">* Includes any transfers of listing from GEM to Main Board</p>
</div>
