<div class="monthlyHighlight__section">
    <h3 class="monthlyHighlight__subHeader">HISTORICAL RECORDS</h3>
    <p>up to 31 July 2016</p>
    <div class="monthlyHighlight__subTitle">Top 10 Hang Seng Index Closes</div>
    <div class="fixed-freeze-tb-container sticky-header-table">
        <div class="fixed-freeze-tb--scroller-container">
            <div class="fixed-freeze-tb--scroll-bar">
                <div class="fixed-freeze-tb--bar"></div>
            </div>
        </div>
        <div class="fixed-freeze-tb--scroll-bts">
            <div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
            <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
        </div>
        <div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
            <table class="table fixed-freeze-tb table-full-width normal-bottom-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Date</th>
                        <th>Close</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2007/10/30</td>
                        <td>31638.22</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2007/10/29</td>
                        <td>31586.90</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2007/10/01</td>
                        <td>31492.88</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>2007/10/31</td>
                        <td>31352.58</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>2007/10/02</td>
                        <td>30468.34</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>2007/10/26</td>
                        <td>30405.22</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>2007/10/25</td>
                        <td>29854.49</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>2007/10/07</td>
                        <td>29708.93</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>2007/10/06</td>
                        <td>29558.92</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>2007/10/15</td>
                        <td>29540.78</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="monthlyHighlight__subTitle">Top 10 Daily Market Turnover (Main Board and GEM)</div>
    <div class="fixed-freeze-tb-container sticky-header-table">
        <div class="fixed-freeze-tb--scroller-container">
            <div class="fixed-freeze-tb--scroll-bar">
                <div class="fixed-freeze-tb--bar"></div>
            </div>
        </div>
        <div class="fixed-freeze-tb--scroll-bts">
            <div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
            <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
        </div>
        <div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
            <table class="table fixed-freeze-tb table-full-width normal-bottom-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Date</th>
                        <th>Turnover($)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2015/04/09</td>
                        <td>293,910,756,648</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2015/04/13</td>
                        <td>266,098,632,854</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2015/04/08</td>
                        <td>252,396,050,844</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>2015/04/14</td>
                        <td>239,903,336,931</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>2015/07/08</td>
                        <td>237,429,139,110</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>2015/04/10</td>
                        <td>222,888,834,174</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>2015/04/15</td>
                        <td>218,018,391,899</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>2015/04/17</td>
                        <td>215,953,404,099</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>2015/07/06</td>
                        <td>214,812,393,078</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>2015/07/09</td>
                        <td>213,825,663,405</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="monthlyHighlight__subTitle">Top 10 Market Capitalisation (Main Board and GEM)</div>
    <div class="fixed-freeze-tb-container sticky-header-table">
        <div class="fixed-freeze-tb--scroller-container">
            <div class="fixed-freeze-tb--scroll-bar">
                <div class="fixed-freeze-tb--bar"></div>
            </div>
        </div>
        <div class="fixed-freeze-tb--scroll-bts">
            <div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
            <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
        </div>
        <div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
            <table class="table fixed-freeze-tb table-full-width normal-bottom-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Date</th>
                        <th>Market Capitalisation ($)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2015/05/26</td>
                        <td>31,549,926,214,937</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2015/05/27</td>
                        <td>31,365,605,931,773</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2015/05/04</td>
                        <td>31,230,244,838,810</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>2015/04/27</td>
                        <td>31,207,701,541,939</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>2015/04/28</td>
                        <td>31,201,357,832,733</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>2015/04/29</td>
                        <td>31,147,874,933,908</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>2015/05/22</td>
                        <td>31,110,175,634,968</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>2015/05/19</td>
                        <td>31,108,059,908,400</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>2015/06/01</td>
                        <td>31,107,316,498,262</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>2015/04/30</td>
                        <td>30,995,152,430,547</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="monthlyHighlight__subTitle">Record High for Top-10 Derivatives Market Products (Based on Contract Volume)</div>
    <div class="table__wrapper">
    </div>
    <div class="fixed-freeze-tb-container sticky-header-table">
        <div class="fixed-freeze-tb--scroller-container">
            <div class="fixed-freeze-tb--scroll-bar">
                <div class="fixed-freeze-tb--bar"></div>
            </div>
        </div>
        <div class="fixed-freeze-tb--scroll-bts">
            <div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
            <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
        </div>
        <div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
            <table class="table fixed-freeze-tb table-full-width">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th colspan="2" class="header-align-center border-bottom-fix">Record High Daily Volume</th>
                        <th colspan="2" class="header-align-center border-bottom-fix">Record High Open Interest</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bolder">
                        <td>&nbsp;</td>
                        <td>Contracts</td>
                        <td>Date</td>
                        <td>Contracts</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Stock Options</td>
                        <td>1,221,324</td>
                        <td>2015/04/13</td>
                        <td>11,159,128</td>
                        <td>2015/05/27</td>
                    </tr>
                    <tr>
                        <td>H-shares Index Futures</td>
                        <td>467,559</td>
                        <td>2015/08/26</td>
                        <td>519,817</td>
                        <td>2015/12/29</td>
                    </tr>
                    <tr>
                        <td>Hang Seng Index Futures</td>
                        <td>271,426</td>
                        <td>2013/06/25</td>
                        <td>198,789</td>
                        <td>2007/06/27</td>
                    </tr>
                    <tr>
                        <td>H-shares Index Options</td>
                        <td>188,957</td>
                        <td>2015/09/04</td>
                        <td>2,878,193</td>
                        <td>2016/06/28</td>
                    </tr>
                    <tr>
                        <td>Mini Hang Seng Index Futures</td>
                        <td>141,519</td>
                        <td>2016/06/24</td>
                        <td>21,682</td>
                        <td>2011/06/17</td>
                    </tr>
                    <tr>
                        <td>Hang Seng Index Options</td>
                        <td>116,835</td>
                        <td>2011/08/05</td>
                        <td>560,087</td>
                        <td>2012/06/27</td>
                    </tr>
                    <tr>
                        <td>Mini H-shares Index Futures</td>
                        <td>74,511</td>
                        <td>2015/07/08</td>
                        <td>16,436</td>
                        <td>2014/12/11</td>
                    </tr>
                    <tr>
                        <td>Stock Futures</td>
                        <td>27,966</td>
                        <td>2007/03/28</td>
                        <td>47,050</td>
                        <td>2013/03/27</td>
                    </tr>
                    <tr>
                        <td>HSCEI Dividend Point Index Futures</td>
                        <td>25,553</td>
                        <td>2016/01/07</td>
                        <td>177,539</td>
                        <td>2016/07/29</td>
                    </tr>
                    <tr>
                        <td>Mini Hang Seng Index Options</td>
                        <td>14,726</td>
                        <td>2016/06/24</td>
                        <td>32,651</td>
                        <td>2012/05/29</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
