<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">INDEX PERFORMANCE MONTH-END FIGURES</h3>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th></th>
						<th>Jul 2016</th>
						<th>% Change over 1 Month</th>
						<th>% Change over 12 Months</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>S&P/HKEx LargeCap Index</td>
						<td>27056.74</td>
						<td>5.1%</td>
						<td>-10.8%</td>
					</tr>
					<tr>
						<td>S&P/HKEx GEM Index</td>
						<td>367.98</td>
						<td>-8.2%</td>
						<td>-38.2%</td>
					</tr>
					<tr>
						<td>Hang Seng Index</td>
						<td>21891.37</td>
						<td>5.3% </td>
						<td>-11.1%</td>
					</tr>
					<tr>
						<td>Hang Seng China Enterprises Index#</td>
						<td>8958.97</td>
						<td>2.8%</td>
						<td>-19.5%</td>
					</tr>
					<tr>
						<td>Hang Seng China-Affiliated Corporations Index*</td>
						<td>3713.94</td>
						<td>2.5%</td>
						<td>-16.0%</td>
					</tr>
					<tr>
						<td>CES China 120 Index ^</td>
						<td>4759.76</td>
						<td>1.9%</td>
						<td>-8.6%</td>
					</tr>
					<tr>
						<td>CES China HK Mainland Index +</td>
						<td>5400.15</td>
						<td>3.5%</td>
						<td>-11.0%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<p class="monthlyHighlight__note"># - tracks H shares<br>* - tracks Red chips<br>^ - tracks 80 Mainland-listed companies and 40 Hong Kong-listed Mainland enterprises<br>+ - tracks 40 Hong Kong-listed Mainland enterprises</p>
</div>
