<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">LISTED SECURITIES (MAIN BOARD AND GEM)</h3>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th></th>
						<th>Jul 2016</th>
						<th>Jul 2015</th>
						<th>End 2015</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>No. of listed companies</td>
						<td>1,924</td>
						<td>1,924</td>
						<td>1,924</td>
					</tr>
					<tr>
						<td>Total market capitalisation ($Bil.)</td>
						<td>24,054.5</td>
						<td>24,054.5</td>
						<td>24,054.5</td>
					</tr>
					<tr>
						<td>No. of newly listed companies *</td>
						<td>23</td>
						<td>23</td>
						<td>23</td>
					</tr>
					<tr>
						<td>No. of listed securities</td>
						<td>8,578</td>
						<td>8,578</td>
						<td>8,578</td>
					</tr>
					<tr>
						<td>No. of equity warrants</td>
						<td>13</td>
						<td>13</td>
						<td>13</td>
					</tr>
					<tr>
						<td>No. of derivatives warrants</td>
						<td>3,921</td>
						<td>3,921</td>
						<td>3,921</td>
					</tr>
					<tr>
						<td>No. of CBBCs</td>
						<td>1,740</td>
						<td>1,740</td>
						<td>1,740</td>
					</tr>
					<tr>
						<td>No. of unit trusts</td>
						<td>160</td>
						<td>160</td>
						<td>160</td>
					</tr>
					<tr>
						<td>No. of debt securities</td>
						<td>812</td>
						<td>812</td>
						<td>812</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<p class="monthlyHighlight__note">* Includes the number of transfer of listings from GEM to Main Board</p>
</div>
