<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">MAINLAND ENTERPRISES (MAIN BOARD AND GEM)</h3>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th></th>
						<th>Jul 2016</th>
						<th>Jul 2015</th>
						<th>End 2015</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>No. of H shares</td>
						<td>233</td>
						<td>212</td>
						<td>229</td>
					</tr>
					<tr>
						<td>No. of Red chips Stocks</td>
						<td>152</td>
						<td>144</td>
						<td>145</td>
					</tr>
					<tr>
						<td>No. of Mainland private enterprises</td>
						<td>595</td>
						<td>563</td>
						<td>577</td>
					</tr>
					<tr>
						<td>Market capitalisation (% of market total)</td>
						<td>62.6%</td>
						<td>61.6%</td>
						<td>62.1%</td>
					</tr>
					<tr>
						<td>Turnover value (% of equity turnover)</td>
						<td>69.9%</td>
						<td>73.3%</td>
						<td>72.7%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
