<div class="section__title-left-border quesitons__title monthlyHighlight__title">
    <h2>MONTHLY HIGHLIGHTS</h2>
</div>
<div class="monthlyHighlight__filter">
    <div class="select-group monthlyHighlight__select-group" data-width="180">
        <div class="select-target">
            <a id="select-target-input" data-select="true" data-expend="false" href="#">July 2016</a>
        </div>
        <div class="select-items">
            <div class="select-item" data-value="July2016" data-target="true"><a href="#">July 2016</a></div>
            <div class="select-item" data-value="June2016"><a href="#">June 2016</a></div>
             <div class="select-item" data-value="July2016"><a href="#">July 2016</a></div>
            <div class="select-item" data-value="June2016"><a href="#">June 2016</a></div>
             <div class="select-item" data-value="July2016" ><a href="#">July 2016</a></div>
            <div class="select-item" data-value="June2016"><a href="#">June 2016</a></div>
             <div class="select-item" data-value="July2016"><a href="#">July 2016</a></div>
            <div class="select-item" data-value="June2016"><a href="#">June 2016</a></div>
        </div>
    </div>
</div>
