<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">SECURITIES MARKET TURNOVER (MAIN BOARD AND GEM)</h3>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th></th>
						<th>Jul 2016</th>
						<th>Jul 2015</th>
						<th>%Change</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Monthly turnover ($Mil.) *</td>
						<td>1,234,945</td>
						<td>1,311,276</td>
						<td>-5.8%</td>
					</tr>
					<tr>
						<td>Average daily turnover by value ($Mil.) *</td>
						<td>61,747</td>
						<td>62,442</td>
						<td>-1.1%</td>
					</tr>
					<tr>
						<td>No. of trading days</td>
						<td>20</td>
						<td>21</td>
						<td>-</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<p class="monthlyHighlight__note">* Turnover value for securities traded in non-Hong Kong dollar currency have been included</p>
</div>
