<div class="monthlyHighlight__section">
	<h3 class="monthlyHighlight__subHeader">TURNOVER BY TYPE OF SECURITIES (MAIN BOARD AND GEM)</h3>

	<div class="table__wrapper">
	</div>

	<div class="fixed-freeze-tb-container sticky-header-table">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
		<div class="table-container fixed-freeze-tb-parent monthlyHighlightTable">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th></th>
						<th>Jul 2016 ($Mil)</th>
						<th>Jun 2016 ($Mil)</th>
						<th>%Change</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Equities</td>
						<td>821,421.86 (66.5%)</td>
						<td>894,471.77 (68.2%)</td>
						<td>-8.2%</td>
					</tr>
					<tr>
						<td>Derivative warrants</td>
						<td>219,924.57 (17.8%)</td>
						<td>231,252.38 (17.6%)</td>
						<td>-4.9%</td>
					</tr>
					<tr>
						<td>CBBCs</td>
						<td>114,329.20 (9.3%)</td>
						<td>107,327.77 (8.2%)</td>
						<td>6.5%</td>
					</tr>
					<tr>
						<td>Unit Trusts (include ETFs)</td>
						<td>77,215.15 (6.3%)</td>
						<td>73,725.03 (5.6%)</td>
						<td>4.7%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<p class="monthlyHighlight__note">( ) % of market total<br>Turnover value for securities traded in non-Hong Kong dollar currency have been included</p>
</div>
