.contactsUs__title {
    background-color: $white;
    @include susy-breakpoint(min-width $desktop-start) {
        display: none;
    }
}
.contactsUs__tab {
    background-color: $white;
    padding: 30px 10px 30px 30px;
    @include susy-breakpoint(max-width $large) {
        padding: 0 10px 30px 30px;
    }
    @include susy-breakpoint(max-width $medium) {
        background-color: $level9-color;
        padding: 0;
        margin-bottom: 20px;
    }

    // for desktop only
    &-dt {
        @include susy-breakpoint(max-width $large) {
            display: none;
        }
    }
    // for tablet only
    &-tb {
        @include susy-breakpoint(min-width $desktop-start) {
            display: none;
        }
        @include susy-breakpoint(max-width $medium) {
            display: none;
        }
    }
    // for mobile only
    &-mb {
        @include susy-breakpoint(min-width $tablet-start) {
            display: none;
        }
    }

    .contact-panel {
        width: 33.33%;
        float: left;
        @include susy-breakpoint(max-width $large) {
            width: 50%;
        }
        @include susy-breakpoint(max-width $medium) {
            width: 100%;
        }
    }
    &-example-content {
        padding: 20px;
        color: $level1-color;
        font-size: toRem(14);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
    }
    &-content {
        &-container {
            background-color: $white;
            border-bottom: 1px solid $level9-color;
            border-left: 1px solid $level9-color;
            border-right: 1px solid $level9-color;
            margin-bottom: 20px;
            margin-right: 20px;
            @include susy-breakpoint(max-width $medium) {
                margin: 0;
                border: none;
            }
        }
        &-leftpart {
            @include susy-breakpoint(min-width $desktop-start) {
                width: 65%;
                float: left;
            }
        }
        &-rightpart {
            @include susy-breakpoint(min-width $tablet-start) {
                .contact-us {
                    border: none;
                }
            }
            @include susy-breakpoint(min-width $desktop-start) {
                float: right;
                width: 34%;
                .contact-us {
                    width: 100%;
                    .btn-gray {
                        float: none;
                        margin-top: 20px;
                    }
                }
                .contact-us__form_column:first-child {
                    float: none;
                    width: 100%;
                }
                .contact-us__form_column:nth-child(2n) {
                    float: none;
                    width: 100%;
                    margin-left: 0;
                    margin-top: 20px;
                }

            }
            @include susy-breakpoint(max-width $large) {
                .contact-us {
                    .btn-gray {
                        margin-top: 0;
                    }
                    .checkbox-img {
                        margin-left: 37%;
                    }
                    .contact_us__form--error {
                        .btn-gray {
                            margin-top: 33px;
                        }
                    }
                }
            }
            @include susy-breakpoint(max-width $medium) {
                .contact-us {
                    .btn-gray {
                        margin-top: 20px;
                    }
                    .checkbox-img {
                        margin-left: auto;
                    }
                }
            }
        }
        &-text {
            padding: 0 20px;
            margin-top: 0;
            @include susy-breakpoint(max-width $medium) {
                &:first-child {
                    margin-top: 0;
                    padding-top: 20px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            color: $level1-color;
            font-size: toRem(14);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            &-bold {
                font-weight: bold;
            }
            &-tel {
                margin-top: 0;
                margin-bottom: 0;
            }
            a {
                text-decoration: underline;
            }
        }
        &-title {
            padding: 0 0 15px 20px;
            color: $level2-color;
            font-size: toRem(14);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
        }
        &-collapse-container {
            padding: 0 20px;
            hr {
                margin-top: 0;
            }
        }
        &-contact-us-container {
            margin-bottom: 0;
        }
    }
}

.checkbox-img {
    min-width: 188px;
    max-width: 224px;
    width: 188px;
    @include susy-breakpoint(max-width $large) {
        float: left;
    }
    @include susy-breakpoint(max-width $medium) {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.contact_us__form--error {
    @include susy-breakpoint(min-width $desktop-start) {
        .contact-us__form_column:last-child {
            margin-top: 40px;
        }
    }
    .checkbox-img {

        border: 1px solid $level2-color;
        padding: 6px;
        @include susy-breakpoint(max-width $medium) {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-rightpart {
        .contact-us {
            .btn-gray {
                margin-top: 33px;
            }
        }
    }
}
.fontsize-large {
    .contactsUs__tab {
        &-content {
            &-rightpart {
                @include susy-breakpoint(max-width $large) {
                    .contact-us {
                        .checkbox-img {
                            margin-left: 29%;
                            width: 207px;
                        }
                    }
                }
                @include susy-breakpoint(max-width $medium) {
                    .contact-us {
                        .checkbox-img {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
    .contactsUs__tab {
        &-content {
            &-rightpart {
                @include susy-breakpoint(max-width $large) {
                    .contact-us {
                        .contact_us__form--error {
                            .checkbox-img {
                                margin-left: 26%;
                                width: 224px;
                            }
                            .btn-gray {
                                margin-top: 38px;
                            }
                        }
                    }
                }
                @include susy-breakpoint(max-width $medium) {
                    .contact-us {
                        .contact_us__form--error {
                            .checkbox-img {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
.fontsize-small {
    .contactsUs__tab {
        &-content {
            &-rightpart {
                @include susy-breakpoint(max-width $large) {
                    .contact-us {
                        .checkbox-img {
                            margin-left: 47%;
                            width: 174px;
                            min-width: 174px;
                        }
                    }
                }
                @include susy-breakpoint(max-width $medium) {
                    .contact-us {
                        .checkbox-img {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
    .contactsUs__tab {
        &-content {
            &-rightpart {
                @include susy-breakpoint(max-width $large) {
                    .contact-us {
                        .contact_us__form--error {
                            .checkbox-img {
                                margin-left: 47%;
                                width: 174px;
                                min-width: 174px;
                            }
                            .btn-gray {
                                margin-top: 30px;
                            }
                        }
                    }
                }
                @include susy-breakpoint(max-width $medium) {
                    .contact-us {
                        .contact_us__form--error {
                            .checkbox-img {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
