.ContactsUsQuicklinks {
    margin-top: 0;
    .ls-process-ql {
        margin-top: 0;
        @include susy-breakpoint(max-width $medium) {
            &__list {
                margin: 10px 20px 20px;
            }
        }
    }
}
