.contactsUs__map {
    padding: 0 30px 30px;
    background-color: $white;
    @include susy-breakpoint(max-width $medium) {
        padding: 0;
        margin-top: 20px;
    }
    &-img {
        height: 420px;
        position: relative;
        @include susy-breakpoint(max-width $medium) {
            display: none;
        }
    }
    &-text {
        position: absolute;
        z-index: $z-index-map-text;
        margin: 40px 0 0 40px;
        width: 390px;
        background-color: $white;
        border-top: 4px solid $level2-color;
        @include susy-breakpoint(max-width $large) {
            margin: 20px 0 0 20px;
        }
        @include susy-breakpoint(max-width $medium) {
            width: 100%;
            margin: 0;
            position: relative;
        }
        &-title {
            @include susy-breakpoint(max-width $medium) {
                margin: 40px 0 20px 20px;
            }
            margin: 40px 0 20px 30px;
            font-size: 40px;
            font-weight: bold;
            line-height: 1;
            color: $button-gray;
        }
        &-context {
            margin-bottom: 30px;
            @include susy-breakpoint(max-width $medium) {
                margin-bottom: 20px;
                // p:first-child::after{
                //   content: '(map)'
                // }
                p:last-child {
                    padding-bottom: 30px;
                }
            }
            p {
                margin: 0;
                padding-left: 30px;
                @include susy-breakpoint(max-width $medium) {
                    padding-left: 20px;
                }
                font-size: toRem(14);
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                color: $level1-color;
            }
            &-bold {
                font-weight: bold;
            }
            &-map {
                display: none;
                @include susy-breakpoint(max-width $medium) {
                    display: inline;
                    &-icon {
                        background: url("../images/map-link.svg") no-repeat center center;
                        display: inline-block;
                        width: 9px;
                        height: 9px;
                    }
                }
            }
        }
    }
}
