<!DOCTYPE html>
<html lang="en" class="market-hkex">

<head>
    {{>header title="Bullet Point"}}
</head>

<body>

    <div class="section-side">
        <h2 class="title__side">
            <span>Bullet Point Sample</span>
        </h2>
        <div class="content-wrapper">
            <img src="images/homepage-banner-1.png" alt="homepageimage">
            <p class="defaultParagraph">
                Describe Mainboard: The principal function of the Exchange is to provide a fair, orderly and efficient market for the trading of securities. In furtherance of this, the Exchange has made the Exchange Listing Rules under section 23 of the Securities and
                Futures Ordinance prescribing the requirements for the listing of securities on the Exchange. These comprise both requirements which have to be met before securities may be listed and also continuing obligations with which an issuer and,
                where applicable, a guarantor must comply once listing has been granted.
            </p>
            <ul class="defaultBulletPoint">
                <li>
                    <p class="defaultParagraph">
                        An ‘exposure period’ of seven days starts from the date of lodgement. During this time the prospectus is made available for public review and comment, and during this period the company cannot accept any applications under the offer
                    </p>
                </li>
                <li>
                    <p class="defaultParagraph">
                        SFC can extend the exposure period to up to fourteen days after lodgement if it needs time to review the prospectus in detail.
                    </p>
                </li>
                <li>
                    <p class="defaultParagraph">
                        Applications from investors can be processed after the end of the exposure period. After this period, SFC has the power to issue an interim and/or final order to stop the offer if SFC has concerns about the disclosure in the prospectus.
                    </p>
                </li>
                <li>
                    <p class="defaultParagraph">
                        The formal listing application is lodged with HKEX within seven days of lodgement of the prospectus with SFC.
                    </p>
                </li>
                <li>
                    <p class="defaultParagraph">
                        The assets and liabilities, financial position and performance, profits and losses and prospects of the share issuer
                    </p>
                </li>
                <li>
                    <p class="defaultParagraph">
                        The offer to retail investors starts after the exposure period and usually is open for a period of three to five weeks.
                    </p>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>
