<!DOCTYPE html>
<html lang="en" class="market-hkex">
<head>
   {{>header title="Calendar"}}
</head>
<body>
    {{> topbar}}
    <!-- end of topbar -->
    {{> navigation2}}
    <!-- end of nav -->
    <div id="skip-to-content"></div>
    <!-- end: anchor only for accessibility -->
    {{> bannerMonthlyBulletin calendar}}
    <!-- end of banner section -->
    <div class="container content-container">
        {{> subscribeToCalendarTop }}
        <main class="cal-container">
          <!-- Put Calendar section here -->
          <section class="cal-calcander">
          </section>
          <!-- Put Agneda section here -->
          <section class="cal-agenda">
            {{> agenda}}
          </section>
          <section class="cal-subscribe">
            {{> subscribeToCalendar}}
          </section>
        </main>
        <!-- end of main content -->
    </div>

    <footer>
        <div class="container">
        {{> footer}}
        </div>
    </footer>

    {{> scripts}}

</body>
</html>
