<!doctype html>
<html lang="en" class="market-hkex">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Common Component Examples</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body style="margin-left:40px;margin-top:40px;background-color:white;">
    <div style="background:gray;width:400px;padding:20px;position:relative;top:10px;right:10px;margin-bottom:10px;">
        <div style="margin-bottom:20px; border-left: 1px solid #b5b2b2;height:100px;padding-top: 8px;">
            <span class="tag-yellow tag-yellow-triangle" style="margin-left: -11px;">STOCK CONNECT</span>
            <span class="tag-light-blue ">IPO</span>
            <span class="tag-gray tag-img-clock">IPO</span>
            <span class="tag-red ">IPO</span>
            <span class="tag-green ">MAINLAND PUBLIC HOLIDAY</span>
        </div>
        <div>
            <span class="tag-light-blue  tag-light-blue-triangle tag-img-notification">STOCK CONNECT</span>
            <span class="tag-yellow">IPO</span>
            <span class="tag-gray ">IPO</span>
            <span class="tag-red ">HONG KONG PUBLIC HOLIDAY</span>
            <span class="tag-green tag-img-trading">MAINLAND PUBLIC HOLIDAY</span>
        </div>
        {{!--
        <div style="border:1px solid red;">This is a div </div> --}}
    </div>
    <div style="background:gray;width:200px;height:200px;padding:20px;position:relative;top:10px;right:10px;">
         {{> shareGroup}}
    </div>
    <div style="width: 660px; border: 1px solid black">
        <div class="newsReleases">
            <div>
                <span>28</span>
                <span>Aug</span>
            </div>
            <div>
                <span>listing</span>
                <a>WHAT'S THE CONTENT, ARE YOU GOOD? NEED PDF?</a>
                <p>this is the content and i don't know the detail to input... this is the content and i don't know the detail to input... this is the content and i don't know the detail to input... this is the content and i don't know the detail to input</p>
            </div>
            <span class="share">share</span>
        </div>
    </div>
    <br />
    <br />
    <section style="margin-right: 40px;width: 400px;">
        <h2>Newsletter Module</h2>
        <div style="width: 100%">
            {{> newsletterModule}}
        </div>
    </section>
    <br />
    <br />
    <div style="width: 660px; border: 1px solid black">
        <p>STYLE ONE: base tab behaviour</p>
        <ul class="scroll_tabs scroll_tabs_container">
            <li data-value="one"><a href="#">First Item</a></li>
            <li data-value="two"><a href="#">Second Item</a></li>
            <li data-value="three"><a href="#">Third Item</a></li>
            <li data-value="four"><a href="#">Fourth Item</a></li>
            <li data-value="five"><a href="#">Fifth Item</a></li>
            <li data-value="six"><a href="#">Sixth Item</a></li>
            <li data-value="seven"><a href="#">Seventh Item</a></li>
            <li data-value="eight"><a href="#">Eighth Item</a></li>
        </ul>
        <div class="scroll_tabs_content">
            <div id="one">one</div>
            <div id="two">two</div>
            <div id="three">three</div>
            <div id="four">four</div>
            <div id="five">five</div>
            <div id="six">six</div>
            <div id="seven">seven</div>
            <div id="eight">eight</div>
        </div>
    </div>
    <div style="width: 660px; border: 1px solid black">
        <p>STYLE TWO: for left side section, 20px speace between li and edge, and 10px between arrow button and edge. add class "scroll_tabs_side"</p>
        <ul class="scroll_tabs scroll_tabs_container scroll_tabs_side">
            <li data-value="one"><a href="#">First Item</a></li>
            <li data-value="two"><a href="#">Second Item</a></li>
            <li data-value="three"><a href="#">Third Item</a></li>
            <li data-value="four"><a href="#">Fourth Item</a></li>
            <li data-value="five"><a href="#">Fifth Item</a></li>
            <li data-value="six"><a href="#">Sixth Item</a></li>
            <li data-value="seven"><a href="#">Seventh Item</a></li>
            <li data-value="eight"><a href="#">Eighth Item</a></li>
        </ul>
        <div class="scroll_tabs_content">
            <div id="one">one</div>
            <div id="two">two</div>
            <div id="three">three</div>
            <div id="four">four</div>
            <div id="five">five</div>
            <div id="six">six</div>
            <div id="seven">seven</div>
            <div id="eight">eight</div>
        </div>
    </div>
    <div style="width: 660px;" class="info-cards">
        <div class="info-card">
            <div>
                <div>
                    <img src="images/advantages/investor.svg" alt="investor confidence">
                </div>
                <div>
                    <span>Investor Confidence</span>
                </div>
            </div>
            <p>A listing gives you the opportunities to raise capital at the IPO stage and, throughout your listing to fund future growth. and add liquidity to HK market adding momentum to the market</p>
        </div>
        <div class="info-card">
            <div>
                <div>
                    <img src="images/advantages/investor.svg" alt="investor confidence">
                </div>
                <div>
                    <span>Investor Confidence</span>
                </div>
            </div>
            <p>A listing gives you the opportunities to raise capital at the IPO stage and, throughout your listing to fund future growth. and add liquidity to HK market adding momentum to the market</p>
        </div>
        <div class="info-card">
            <div>
                <div>
                    <img src="images/advantages/investor.svg" alt="investor confidence">
                </div>
                <div>
                    <span>Investor Confidence</span>
                </div>
            </div>
            <p>A listing gives you the opportunities to raise capital at the IPO stage and, throughout your listing to fund future growth. and add liquidity to HK market adding momentum to the market</p>
        </div>
    </div>
    <section name="chinaDimension">
        {{> filterForETPProducts}}
    </section>
    <section name="Common">
        <p>You may find all button styles in '/sass/components/_button.scss'</p>
        <div>
            <h2>1. Getting Started (why list in HK)</h2>
            <br>
            <a class="btn-red btn-arrow">Getting Started</a>
        </div>
        <div>
            <h2>2. Subscribe (why list in HK)</h2>
            <br>
            <a class="btn-blue">Subscribe</a>
        </div>
        <div>
            <h2>3. Send message (why list in HK)</h2>
            <br>
            <a class="btn-gray">send message</a>
        </div>
        <div>
            <h2>4. Send message (getting started)</h2>
            <br>
            <a class="btn-red">send message</a>
        </div>
        <div>
            <h2>5. Download (listing committee)</h2>
            <br>
            <a class="btn-gray">download</a>
        </div>
        <div>
            <h2>6.View Process (Getting started)</h2>
            <br>
            <a class="btn-blue btn-arrow">View Process</a>
        </div>
        <div>
            <h2>7.Download link (listing page)</h2>
            <br>
            <a class="download" href="files/ess.pdf" target="_blank">Download <span>example file here</span></a>
        </div>
        <div>
            <h2>8.input text (form)</h2>
            <div class="form-input-text">
                <input id="name" type="text" placeholder="Name" />
                <label for="name">Name</label>
            </div>
        </div>
        <div>
            <h2>9.input textarea (form)</h2>
            <br>
            <div class="form-input-textarea">
                <textarea id="message" placeholder="Message" required></textarea>
                <label for="message">Message</label>
            </div>
        </div>
        <div>
            <h2>10.checkbox (subscribe)</h2>
            <br>
            <div class="checkbox">
                <input type="checkbox" /><span class="subscribe">Subscribe to Newsletter</span>
            </div>
        </div>
        <div>
            <h2>11.Tab</h2>
        </div>
        <div style="width: 400px; border:1px solid black">
            <div>
                <!-- Nav tabs -->
                <ul class="hkex-nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">home home home home home home</div>
                    <div role="tabpanel" class="tab-pane" id="profile">profile profile profile profile profile</div>
                    <div role="tabpanel" class="tab-pane" id="messages">messages messages messages messages messages</div>
                    <div role="tabpanel" class="tab-pane" id="settings">settings settings settings settings settings</div>
                </div>
            </div>
            <div class="list-panel">
                <div class="list-panel__item">
                    <div class="list-panel__item-heading">
                        <div class="list-panel__item-heading-title ">
                            <span>...</span>
                            <a title="HKEX 2016 First Quarter Results" href="#">
                        HKEX 2016 First Quarter Results Re-appointment of Chairman Approved Re-appointment of Chairman Approved
                      </a>
                        </div>
                        <div class="list-panel__item-heading-date" title="Date of publish">May 10, 2016</div>
                    </div>
                </div>
                <div class="list-panel__item">
                    <div class="list-panel__item-heading">
                        <div class="list-panel__item-heading-title ">
                            <span>...</span>
                            <a title="Re-appointment of Chairman Approved" href="#">
                          Re-appointment of Chairman Approved Re-appointment of Chairman Approved Re-appointment of Chairman Approved
                       </a>
                        </div>
                        <div class="list-panel__item-heading-date" title="Date">May 09, 2016</div>
                    </div>
                </div>
            </div>
            <p>
                you can directly use the code below to integrate ETP page.
            </p>
            <div>
                <!-- Nav tabs -->
                <ul class="scroll_tabs scroll_tabs_container tabs-for-sidebar">
                    <li data-value="news-list">NEWS RELEASES</li>
                    <li data-value="news-update">UPDATES</li>
                </ul>
                <!-- Tab panes -->
                <div class="scroll_tabs_content">
                    <div id="news-list" class="list-panel">
                        <div class="list-panel__item">
                            <div class="list-panel__item-heading">
                                <div class="list-panel__item-heading-title ">
                                    <span>...</span>
                                    <a title="HKEX 2016 First Quarter Results" href="#">HKEX 2016 First Quarter Results</a></div>
                                <div class="list-panel__item-heading-date" title="Date of publish">May 10, 2016</div>
                            </div>
                        </div>
                        <div class="list-panel__item">
                            <div class="list-panel__item-heading">
                                <div class="list-panel__item-heading-title ">
                                    <span>...</span>
                                    <a title="Re-appointment of Chairman Approved" href="#">
                              Re-appointment of Chairman Approved
                            </a>
                                </div>
                                <div class="list-panel__item-heading-date" title="Date">May 09, 2016</div>
                            </div>
                        </div>
                        <div class="list-panel__item">
                            <div class="list-panel__item-heading">
                                <div class="list-panel__item-heading-title ">
                                    <span>...</span>
                                    <a title="Seven Sector Index Futures Contracts to" href="#">
                           HKEX to Offer Mini H-shares Index Options and Make Other Derivatives Market Changes
                          </a>
                                </div>
                                <div class="list-panel__item-heading-date">May 04,2016</div>
                            </div>
                        </div>
                        <div class="list-panel__item">
                            <div class="list-panel__item-heading">
                                <div class="list-panel__item-heading-title ">
                                    <span>...</span>
                                    <a title="Forfeiture of Unclaimed Final Dividend" href="#">
                            Forfeiture of Unclaimed Final Dividend
                          </a>
                                </div>
                                <div class="list-panel__item-heading-date">Apr 13, 2016</div>
                            </div>
                        </div>
                        <div class="list-panel__item">
                            <div class="list-panel__item-heading">
                                <div class="list-panel__item-heading-title ">
                                    <span>...</span>
                                    <a title="Exchange Launches Revamped ESG" href="#">
                            Changes of Designated Securities for Short Selling
                          </a>
                                </div>
                                <div class="list-panel__item-heading-date">Feb 22, 2016</div>
                            </div>
                        </div>
                    </div>
                    <div id="news-update">UPDATES</div>
                </div>
            </div>
        </div>
        <div>
            <h2>11.SearchBox</h2>
            <br>
            <br>
            <div>
                <input type="text" class="searchBox" name="searchBox" placeholder="Stock Code / Company Name" title="Stock Code / Company Name" />
            </div>
            <br>
        </div>
        <div>
            <h2>12.Radio Button</h2>
            <br>
            <div class="radioButton">
                <input type="radio" id="H Shares" name="radios" value="H Shares">
                <label for="H Shares">H Shares</label>
                <br>
            </div>
            <div class="radioButton">
                <input type="radio" id="Red Chip" name="radios" value="Red Chip">
                <label for="Red Chip">Red Chip</label>
                <br>
            </div>
            <br>
        </div>
        <div>
            <h2>13.Box for selected Item</h2>
            <br>
            <a class="btn-white btn-cross">Share Type: H Shares </a>
        </div>
        <div>
            <h2>14. Print Preview</h2>
            <br>
            <a class="btn-print-preview">Print Preview</a>
        </div>
    </section>
    <hr>
    <section style="width: 800px;">
        <h2>Table Component</h2>
        <table class="table table-sort" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th align="center">Heading 1</th>
                    <th align="center">Heading 2</th>
                    <th align="center">Heading 3</th>
                    <th align="center">Heading 4</th>
                    <th align="center">Heading 5</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="center" colspan="5"><span class="updated-date">Last Updated 11/5/2016</span></td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td align="center">Row 1 - Column 1</td>
                    <td align="center">Row 1 - Column 2</td>
                    <td align="center">Row 1 - Column 3</td>
                    <td align="center">Row 1 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 2 - Column 1</td>
                    <td align="center">Row 2 - Column 2</td>
                    <td align="center">Row 2 - Column 3</td>
                    <td align="center">Row 2 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 3 - Column 1</td>
                    <td align="center">Row 3 - Column 2</td>
                    <td align="center">Row 3 - Column 3</td>
                    <td align="center">Row 3 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 4 - Column 1</td>
                    <td align="center">Row 4 - Column 2</td>
                    <td align="center">Row 4 - Column 3</td>
                    <td align="center">Row 4 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 5 - Column 1</td>
                    <td align="center">Row 5 - Column 2</td>
                    <td align="center">Row 5 - Column 3</td>
                    <td align="center">Row 5 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 6 - Column 1</td>
                    <td align="center">Row 6 - Column 2</td>
                    <td align="center">Row 6 - Column 3</td>
                    <td align="center">Row 6 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 7 - Column 1</td>
                    <td align="center">Row 7 - Column 2</td>
                    <td align="center">Row 7 - Column 3</td>
                    <td align="center">Row 7 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 8 - Column 1</td>
                    <td align="center">Row 8 - Column 2</td>
                    <td align="center">Row 8 - Column 3</td>
                    <td align="center">Row 8 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 9 - Column 1</td>
                    <td align="center">Row 9 - Column 2</td>
                    <td align="center">Row 9 - Column 3</td>
                    <td align="center">Row 9 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
                <tr>
                    <td align="center">Row 10 - Column 1</td>
                    <td align="center">Row 10 - Column 2</td>
                    <td align="center">Row 10 - Column 3</td>
                    <td align="center">Row 10 - Column 4</td>
                    <td align="center">12345</td>
                </tr>
            </tbody>
        </table>
        <p>table with sticky header</p>
        <div class="sticky-header-table">
            <table>
                <thead>
                    <tr class="table__header">
                        <th>test1</th>
                        <th>test2</th>
                        <th>test3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td>con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con1</td>
                        <td>con2</td>
                        <td>con3</td>
                    </tr>
                    <tr>
                        <td> con111</td>
                        <td> con111</td>
                        <td>con1111</td>
                    </tr>
                </tbody>
            </table>
            <div class="table-footer">
                <p>1. Trading in CES Gaming Top 10 Index Futures commenced on 09 May 2016</p>
                <p>2. Trading in Hang Seng Mainland Oil &amp; Gas Index Futures commenced on 09 May 2016</p>
                <p>3. Trading in Hang Seng Mainland Banks Index Futures commenced on 09 May 2016</p>
                <span class="updated-date">Last Updated 11/5/2016</span>
            </div>
    </section>
    <section style="width: 400px;">
        <h2>video Control</h2>
        <div class="video-control">
            <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them -->
            <video class="video-control__embed-video" poster="images/news/n3.png" title="The Pioneer of the World’s Financial Markets">
                <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4"> Your browser does not support HTML5 video.
            </video>
            {{> centerPlayButton}} {{> ControlContainer}}
        </div>
        </section <br />
        <br />
        <h2>Table Component with sub headings</h2>
        <table class="table hasSubHeading table-sort" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th align="left" rowspan="2" class="borderRight">Heading 1</th>
                    <th align="center" colspan="3">Heading 2</th>
                    <th align="right" rowspan="2" class="borderLeft">Heading 5</th>
                </tr>
                <tr class="subheading">
                    <th align="left">Sub Heading 1</th>
                    <th align="left">Sub Heading 2</th>
                    <th align="left">Sub Heading 3</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="right" colspan="5"><span class="updated-date">Last Updated 11/5/2016</span></td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Row 1 - Column 1</td>
                    <td>Row 1 - Column 2</td>
                    <td>Row 1 - Column 3</td>
                    <td>Row 1 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 2 - Column 1</td>
                    <td>Row 2 - Column 2</td>
                    <td>Row 2 - Column 3</td>
                    <td>Row 2 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 3 - Column 1</td>
                    <td>Row 3 - Column 2</td>
                    <td>Row 3 - Column 3</td>
                    <td>Row 3 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 4 - Column 1</td>
                    <td>Row 4 - Column 2</td>
                    <td>Row 4 - Column 3</td>
                    <td>Row 4 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 5 - Column 1</td>
                    <td>Row 5 - Column 2</td>
                    <td>Row 5 - Column 3</td>
                    <td>Row 5 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 6 - Column 1</td>
                    <td>Row 6 - Column 2</td>
                    <td>Row 6 - Column 3</td>
                    <td>Row 6 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 7 - Column 1</td>
                    <td>Row 7 - Column 2</td>
                    <td>Row 7 - Column 3</td>
                    <td>Row 7 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 8 - Column 1</td>
                    <td>Row 8 - Column 2</td>
                    <td>Row 8 - Column 3</td>
                    <td>Row 8 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 9 - Column 1</td>
                    <td>Row 9 - Column 2</td>
                    <td>Row 9 - Column 3</td>
                    <td>Row 9 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
                <tr>
                    <td>Row 10 - Column 1</td>
                    <td>Row 10 - Column 2</td>
                    <td>Row 10 - Column 3</td>
                    <td>Row 10 - Column 4</td>
                    <td align="right">12345</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div class="collapse-container" style='width:400px;'>
        <div class="panel">
            <div class="section-title section-title__no-border">
                FOR INVESTORS
            </div>
            <a class="panel-heading" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                          How did HKEX develop into its exisitng framework?
                </a>
            <div id="collapseOne" class="collapse panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
        <div class="panel">
            <a class="panel-heading" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                          Where can investors access HKEX’s latest information,publications and market data
                </a>
            <div id="collapseTwo" class="collapse panel-body">
                Please refer to the <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">ESS Frequently Asked Questions</a>
            </div>
        </div>
        <div class="panel">
            <div class="section-title section-title__no-border">
                FOR INVESTORS
            </div>
            <a class="panel-heading" data-toggle="collapse" href="#headingThree" aria-expanded="false">
                          What is the investor mix in HKEX’s markets?
                </a>
            <div id="headingThree" class="collapse panel-body">
                <div class="faq-all-quesitons__item-section">
                    According to the most recent surveys by HKEx, local and overseas investors have similar contribution to the total turnover in the Hong Kong securities market. Among local investors, institutional investors and retail investors each account for about 20 per cent of the total turnover. Overseas investors, mainly institutional investors, represent about 40 per cent of all securities turnover. Overseas institutional investors are the largest contributor to the market turnover. This reflects Hong Kong is a developed and international market which has attracted investors from around the world.
                </div>
                <div class="faq-all-quesitons__item-section">
                    In the Hong Kong derivatives market, about 50 per cent of turnover is Exchange Participants’ principal trading, which comprises market maker trading and Exchange Participants’ proprietary trading, or trading for their own account. Overseas institutional investors and local retail investors account for 22 per cent and 17 per cent of the total derivatives turnover respectively.
                </div>
                <div class="faq-all-quesitons__item-section">
                    HKEx conducts cash, or securities, and derivatives markets transaction surveys annually. The surveys are available at “Research Reports” under “Statistics & Research” section of the HKEx website. Investors may refer to the surveys for a better understanding of the participants in Hong Kong's securities and derivatives markets.</div>
            </div>
        </div>
        <div class="panel">
            <a class="panel-heading" data-toggle="collapse" href="#headingThree-01" aria-expanded="false">
                           Where can investors obtain information about overseas stock exchanges?
                </a>
            <div id="headingThree-01" class="collapse panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <br>
    <br>
    <section style="width: 800px">
        <h2>data display in different style between desktop and mobile</h2>
        <div style="width: 660px">
            <p>in desktop as below, resize to see the ui in mobile</p>
            <div class="data-list">
                <dl>
                    <dt>Row 1 - key</dt>
                    <dd>Row 1 - value</dd>
                </dl>
                <dl>
                    <dt>Row 2 - key</dt>
                    <dd>Row 2 - value</dd>
                </dl>
                <dl>
                    <dt>Row 3 - key</dt>
                    <dd>Row 3 - value</dd>
                </dl>
                <dl>
                    <dt>Row 4 - key</dt>
                    <dd>Row 4 - value</dd>
                </dl>
                <dl>
                    <dt>Row 5 - key</dt>
                    <dd>Row 5 - value</dd>
                </dl>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div class="container content-container">
        <!-- this is for common side part -->
        <section class="nav-side side-content">
            <div class="section__title-left-border">
                <h2>this is title </h2>
            </div>
            <div class="side-content__dropdown">
                <div class="select-group">
                    <div class="select-target">
                        <a id="select-target-input" data-select="true" data-expend="false" href="#" data-value="report-2016">2016</a>
                    </div>
                    <div class="select-items">
                        <div class="select-item" data-value="report-2016" data-target="true"><a href="#">2016</a></div>
                        <div class="select-item" data-value="report-2015"><a href="#">2015</a></div>
                        <div class="select-item" data-value="report-2014"><a href="#">2014</a></div>
                    </div>
                </div>
            </div>
            <div class="side-content__report" id="reports">
                <div id="report-2014">
                    <div class="side-content__report--title"><a href="#">this is report 2014</a></div>
                    <div class="side-content__report--image">
                        <a href="#"><img src="./images/report-2016.png" alt="2014 report"></a>
                    </div>
                </div>
                <div id="report-2015">
                    <div class="side-content__report--title"><a href="#">this is report 2015</a></div>
                    <div class="side-content__report--image">
                        <a href="#"><img src="./images/report-2015.png" alt="2015 report"></a>
                    </div>
                </div>
                <div id="report-2016">
                    <div class="side-content__report--title"><a href="#">this is report 2016</a></div>
                    <div class="side-content__report--image">
                        <a href="#"><img src="./images/report-2016.png" alt="2016 report"></a>
                    </div>
                </div>
            </div>
            <div class="side-content__download"><a href="files/report.zip">DOWNLOAD</a>
            </div>
        </section>
        <!-- end of common side part -->
        <hr>
    </div>
    {{> scripts }}
</body>

</html>
