<!DOCTYPE html>
<html lang="en" class="market-hkex">

<head>
    {{>header title="ETP Liquidity Providers"}}
</head>

<body>
    {{> topbar}}
    <!-- end of topbar -->
    {{> navigation2}}
    <!-- end of nav -->
    <div id="skip-to-content"></div>
    <!-- end: anchor only for accessibility -->
    {{> etpOverViewBanner etpLiquidity}}
    <!-- end of banner section -->
    <div class="container content-container">
        <nav class="nav-side left-menu">
            <div class=" listing-committee-left-menu">
                {{> etpLeftMenu etpExchangeTraded='active' etpLiquidityProvidersMenu='active'}}
            </div>
            {{> monthlyBulletinBreadcrumb etpLiquidityBreadcrumb}}
            <!-- breadcrumb -->
        </nav>
        <!-- end of nav side -->
        <main class="nav-content-wrap listing-committee">
            <section class="section__panel ">
                {{> etpLiquidityRightPart}}
            </section>
        </main>
        <!-- end of main content -->
        <aside class="nav-side side-content">
          <div class="section__left_panel contact-us-aside">
              {{> contactUs}}
          </div>
          <div class="section__left_panel ">
              {{> etpOverViewSubscribe}}
          </div>
           <div class="section__left_panel ">
              {{> etpOverviewRelateNews}}
          </div>
           <div class="section__left_panel etp-overview">
              {{> etpOverviewReport}}
          </div>
        </aside>
    </div>
    <footer>
        <div class="container">
            {{> footer}}
        </div>
    </footer>
    {{> scripts}}
</body>

</html>
