<!DOCTYPE html>
<html lang="en" class="market-hkex">
<head>
   {{>header title="Products"}}
</head>
<body>
    {{> topbar}}
    <!-- end of topbar -->
    {{> navigation2}}
    <!-- end of nav -->
    <div id="skip-to-content"></div>
    <!-- end: anchor only for accessibility -->
    {{> bannerMonthlyBulletin etpProducts}}
    <!-- end of banner section -->
    <div class="container content-container">
        <nav class="nav-side left-menu">
            {{> etpLeftMenu etpExchangeTraded='active' etpProductsMenu='active'}}

            <!-- breadcrumb -->
            {{> monthlyBulletinBreadcrumb etpProducts}}
        </nav>
        <!-- end of nav side -->

        <main class="nav-content-wrap">
          <div class="section__title-left-border quesitons__title etp-products__title">
              <h2>Products</h2>
          </div>
          <section class="products-filter">
            {{> filterForETPProducts }}
          </section>
          <section class="products-table">
            <div class="container nonCMS-container">
            		Place holder for table.
            		<!-- end of main content -->
            </div>
          </section>
          <section class="products-table">
            {{> loadMore }}
          </section>
        </main>
        <!-- end of main content -->
        <aside class="nav-side side-content">
            <div class="section__left_panel ">
                {{> etpOverViewSubscribe}}
            </div>
              <div class="section__left_panel ">
                {{> etpOverviewRelateNews}}
            </div>
             <div class="section__left_panel etp-overview">
                {{> etpOverviewReport}}
            </div>
        </aside>
    </div>

    <footer>
        <div class="container">
        {{> footer}}
        </div>
    </footer>

    {{> scripts}}

</body>
</html>
