<!DOCTYPE html>
<html lang="en" class="market-hkex">

<head>
    {{>header title="Find a Partner"}}
</head>

<body>
    {{> topbar}}
    <!-- end of topbar -->
    {{> navigation2}}
    <!-- end of nav -->
    <div id="skip-to-content"></div>
    <!-- end: anchor only for accessibility -->
    {{> becomeParticipantBanner findPartner}} {{> becomeParticipantBreadcrumb findPartner}}
    <!-- end of banner section -->

    <div class="container">
        <div class="l-full-width findPartner">

          {{> findPartnerOverview}}
          
          {{> findPartnerVendorList}}
        </div>
        <!-- end of main content -->
    </div>
    <footer>
        <div class="container">
            {{> footer}}
        </div>
    </footer>

    {{> scripts}}

</body>

</html>
