<!DOCTYPE html>
<html lang="en" class="market-hkex">
<head>
{{>header title="Getting Started"}}
</head>
<body>
    {{> topbar}}
    <!-- end of topbar -->
    {{> navigation2}}
    <!-- end of nav -->
    <div id="skip-to-content"></div>
    <!-- end: anchor only for accessibility -->
    {{> listBanner listing.listingGettingStarted}} {{> listingBreadcrumb listingBreadcrumb.gettingStarted}}
    <!-- end of banner section -->

    <div class="container">
        <main class="l-full-width">
          <!-- Listing Prosecc Section Starts -->
          <section class="listing-process">
            {{> listingProcess}}
          </section>
          <!-- Listing Prosecc Section ends -->

          <!-- Contact Us Section Starts -->
          <section class="contact-us contact_us">
            {{> contactUs}}
          </section>
          <!-- Contact Us Section Ends -->

          <!-- Quick Links Section Starts -->
          <section class="quick-links">
            {{> quickLinks}}
          </section>
          <!-- Quick Links Section Ends -->

        </main>
    </div>

    <footer>
        <div class="container">
        {{> footer}}
        </div>
    </footer>

    {{> scripts}}

</body>
</html>
