<!DOCTYPE html>
<html lang="en" class="market-hkex">

<head>
	{{>header title="Listing Committee"}}
</head>

<body>
	{{> topbar}}
	<!-- end of topbar -->
	{{> navigation2}}
	<!-- end of nav -->
	<div id="skip-to-content"></div>
	<!-- end: anchor only for accessibility -->
	{{> listBanner listing.listingCommittee}}

	<!-- end of banner section -->
	<div class="container listing-page-content-container">
		<nav class="nav-side">
			<div class=" listing-committee-left-menu">
				{{> menu listingCommittee="active"}}
			</div>
			{{> listingBreadcrumb listingBreadcrumb.rulesGuidance}}
			<!-- breadcrumb -->
		</nav>
		<!-- end of nav side -->
		<main class="nav-content-wrap listing-committee">
			<section class="section__panel bottom-padding">
				{{> right-list}}
			</section>
		</main>
		<!-- end of main content -->

		<aside class="nav-side side-content">
			<div class="section__left_panel " id="listing-committee-left-report">
				{{> report}}
			</div>
			<div class="section__left_panel listing-committee-quick-link" id="listing-committee-quick-link">
				{{> quick-link}}
			</div>

		</aside>
	</div>
	<footer>
		<div class="container">
			{{> footer}}
		</div>
	</footer>
	{{> scripts}}

</body>

</html>
