<!DOCTYPE html>
<html lang="en" class="market-hkex">

<head>
	{{>header title="Monthly Highlight"}}
</head>

<body>
	{{> topbar}}
	<!-- end of topbar -->
	{{> navigation2}}
	<!-- end of nav -->
	<div id="skip-to-content"></div>
	<!-- end: anchor only for accessibility -->
	{{> bannerMonthlyBulletin monthlyHighlight}}
	<!-- end of banner section -->
	<div class="container content-container">
		<nav class="nav-side left-menu">
			<div class="monthlyHighlight__left-menu">
				{{> statisticsLeftMenu monthlyHighlightMenu='active'}}
			</div>
			<!-- breadcrumb -->
			{{> monthlyBulletinBreadcrumb monthlyHighlightBreadcrumb}}
		</nav>
		<!-- end of navigation -->

		<main class="nav-content-wrap">
			<section class="section__table monthlyHighlight">
			{{> monthlyHighlight-filter }} {{> highlights }} {{> listed-securities }} {{> securities-market-turnover }} {{> turnover-by-type
				}} {{> ats-transactions }} {{> mainland-enterprises }} {{> index-performance }} {{> derivatives-market-turnover }} {{>
				clearing-and-selltement }} {{> yearToDate-statistics }} {{> historical-records }}
			</section>
		</main>
		<!-- end of main content -->
		<aside class="nav-side">
			<div class="section__left_panel monthlyHighlight__report" id="monthlyHighlight-report">
				{{> monthlyHighlight-report}}
			</div>
		</aside>
	</div>

	<footer>
		<div class="container">
			{{> footer}}
		</div>
	</footer>

	{{> scripts}}

</body>

</html>
