<!DOCTYPE html>
<html lang="en" class="market-hkex">

<head>
    {{>header title="News Release"}}
</head>

<body>
    {{> topbar}}
    <!-- end of topbar -->
    {{> navigation2}}
    <!-- end of nav -->
    <div id="skip-to-content"></div>
    <!-- end: anchor only for accessibility -->
    <!--Banner and Breadcrumb goes here-->
    {{> bannerTopMenu news.newsRelease}}
    {{> newsBreadcrumb newsBreadcrumb.newsRelease}}
    <!-- end of banner section -->

    <div class="container">
        <div class="l-full-width">
            {{> featuredImage2}}
        </div>
        <!--end of featured image-->

        <div class="nav-content-wrap news-release-right">

           <section class="section__panel news">
                {{> newsReleases}}
            </section>
            <section class="news-loadMore">
            {{> loadMore}}
          </section>
        </div>
        <!--end of news release -->

        <div class="nav-side news-release-left">
            <div class="section__left_panel insert-filter">
                {{> filterNews}}
            </div>
            <div class="section__left_panel ">
                {{> etpOverViewSubscribe}}
            </div>
        </div>
        <!--end of side content-->

        <div class="l-full-width twitter-section">
            {{> twitterSection}}
        </div>
        <!--end of twitter component-->
    </div>

    <footer>
        <div class="container">
            {{> footer}}
        </div>
    </footer>

    {{> scripts}}

</body>

</html>
