<!doctype html>
<html lang="en" class="market-hkex">
  <head>
    {{>header title="Print Preview"}}
  </head>
  <body>
    <table class="table printPreview">
        <thead class="">
            <tr>
                <th rowspan="2" class="borderRight leftAlign">Type of listed securities</th>
                <th rowspan="2" class="rightAlign">Number of issues</th>
                <th colspan="2">Market value</th>
                <th colspan="2">Turnover</th>
            </tr>
            <tr>
                <th class="rightAlign">(HK$mil)</th>
                <th class="rightAlign">% of total</th>
                <th class="rightAlign">(HK$mil)</th>
                <th class="rightAlign">% of total</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">1. Trading in CES Gaming Top 10 Index Futures commenced on 09 May 2016</td>
            </tr>
            <tr>
                <td colspan="6">2. Trading in Hang Seng Mainland Oil &amp; Gas Index Futures commenced on 09 May 2016</td>
            </tr>
            <tr>
                <td colspan="6">3. Trading in Hang Seng Mainland Banks Index Futures commenced on 09 May 2016</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Ordinary Shares</td>
                <td class="rightAlign">1,683</td>
                <td class="rightAlign">24,915,298.34</td>
                <td class="rightAlign">96.07</td>
                <td class="rightAlign">1,042,190.62</td>
                <td class="rightAlign">69.59</td>
            </tr>
            <tr>
                <td>Preference shares</td>
                <td class="rightAlign">7</td>
                <td class="rightAlign">43.52</td>
                <td class="rightAlign">0.00</td>
                <td class="rightAlign">93.44</td>
                <td class="rightAlign">0.01</td>
            </tr>
            <tr>
                <td>Equity warrants</td>
                <td class="rightAlign">12</td>
                <td class="rightAlign">1,000.81</td>
                <td class="rightAlign">0.00</td>
                <td class="rightAlign">21.04</td>
                <td class="rightAlign">0.00</td>
            </tr>
            <tr>
                <td>Derivative warrants</td>
                <td class="rightAlign">3,936</td>
                <td class="rightAlign">71,988.70</td>
                <td class="rightAlign">0.28</td>
                <td class="rightAlign">210,188.02</td>
                <td class="rightAlign">14.04</td>
            </tr>
            <tr>
                <td>Equity linked instruments</td>
                <td class="rightAlign">0</td>
                <td class="rightAlign">N/A</td>
                <td class="rightAlign"></td>
                <td class="rightAlign">0.00</td>
                <td class="rightAlign">0.00</td>
            </tr>
            <tr>
                <td>Callable Bull/Bear Contracts</td>
                <td class="rightAlign">1,988</td>
                <td class="rightAlign">70,492.17</td>
                <td class="rightAlign">0.27</td>
                <td class="rightAlign">121,016.13</td>
                <td class="rightAlign">8.08</td>
            </tr>
            <tr>
                <td>Debt securities</td>
                <td class="rightAlign">821</td>
                <td class="rightAlign">N/A</td>
                <td class="rightAlign"></td>
                <td class="rightAlign">2,339.84</td>
                <td class="rightAlign">0.16</td>
            </tr>
            <tr>
                <td>Unit trusts</td>
                <td class="rightAlign">157</td>
                <td class="rightAlign">875,957.16</td>
                <td class="rightAlign">3.38</td>
                <td class="rightAlign">121,451.52</td>
                <td class="rightAlign">8.11</td>
            </tr>
            <tr>
                <td>Rights</td>
                <td class="rightAlign">1</td>
                <td class="rightAlign">N/A</td>
                <td class="rightAlign"></td>
                <td class="rightAlign">228.05</td>
                <td class="rightAlign">0.02</td>
            </tr>
            <tr>
                <td>Sub-total for listed securities</td>
                <td class="rightAlign">8,605</td>
                <td class="rightAlign">25,934,780.70</td>
                <td class="rightAlign">100.00</td>
                <td class="rightAlign">1,497,528.66</td>
                <td class="rightAlign">100.00</td>
            </tr>
            <tr>
                <td>Sub-total for listed securities</td>
                <td class="rightAlign">8,605</td>
                <td class="rightAlign">25,934,780.70</td>
                <td class="rightAlign">100.00</td>
                <td class="rightAlign">1,497,528.66</td>
                <td class="rightAlign">100.00</td>
            </tr>
            <tr>
                <td>Sub-total for listed securities</td>
                <td class="rightAlign">8,605</td>
                <td class="rightAlign">25,934,780.70</td>
                <td class="rightAlign">100.00</td>
                <td class="rightAlign">1,497,528.66</td>
                <td class="rightAlign">100.00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
