<!doctype html>
<html lang="en" class="market-hkex">

<head>
    {{>header title="tags"}}
    <style>
    .tag-first {
        margin-left: -10px !important;
    }
    </style>
</head>

<body>
    <div style="background:white;width:1200px;padding:20px;position:relative;top:10px;right:10px;margin: auto;">
        <div>
            <span class="tag-yellow  tag-yellow-triangle">STOCK CONNECT</span>
            <span class="tag-yellow">IPO</span>
            <span class="tag-yellow ">Tag3</span>
            <span class="tag-yellow tag-yellow-triangle  tag-img-notification">IPO LISTING DATE</span>
            <span class="tag-green tag-green-triangle  tag-img-clock">HKEX EVENTS</span>
            <span class="tag-light-blue tag-light-blue-triangle  tag-img-trading">TRADING OPERATINONS</span>
            <span class="tag-gray tag-gray-triangle">MAINLAND PUBLIC HOLIDAY</span>
            <span class="tag-red tag-red-triangle">HONG KONG PUBLIC HOLIDAY</span>
        </div>
        <div style="margin-bottom:20px; border-left: 1px solid #b5b2b2;height:100px;padding-top: 16px;">
            <span class="tag-yellow tag-yellow-triangle tag-first">STOCK CONNECT</span>
            <span class="tag-light-blue ">IPO</span>
            <span class="tag-gray tag-img-clock">IPO</span>
            <span class="tag-red ">IPO</span>
            <span class="tag-green ">MAINLAND PUBLIC HOLIDAY</span>
        </div>
        <div style="margin-bottom:20px; border-left: 1px solid #b5b2b2;height:100px;padding-top: 16px;">
            <span class="tag-yellow">STOCK CONNECT</span>
            <span class="tag-light-blue ">IPO</span>
            <span class="tag-gray tag-img-clock">IPO</span>
            <span class="tag-red ">IPO</span>
            <span class="tag-green ">MAINLAND PUBLIC HOLIDAY</span>
        </div>
    </div>
</body>

</html>
