<!doctype html>
<html lang="en" class="market-hkex">

<head>
    {{>header title="Tickers"}}
</head>

<body style="background-color:#fff">
    <div class="ticker ticker--error">
        <div class="container ticker__wrapper">
            <h1 class="ticker__error-img ticker__header">Error Status</h1>
            <p class="ticker__body">
                The notification will be gone in 5 seconds.
            </p>
        </div>
    </div>

    <br>
    <br>
    <div class="ticker ticker--success">
        <div class="container ticker__wrapper">
            <h1 class="ticker__success-img ticker__header">Success status</h1>
            <p class="ticker__body">
                The notification will be gone in 5 seconds.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="ticker ticker--info">
        <div class="container ticker__wrapper">
            <h1 class="ticker__info-img ticker__header">Information Status</h1>
            <p class="ticker__body">
                Hong Kong Exchange Group uses cookies to improve its website. <a href="#" title="View our cookie policy"
                    class="ticker__highlight">View our cookie policy.</a> <br>The cookies are for analytical purpose have already
                been set. For more details please see our privacy and cookie policy.
            </p>
            <a class="ticker__btn btn-blue">continue</a>
        </div>
        <div class="ticker__close"></div>
    </div>
    <br>
    <br>
    <div class="ticker ticker--warn">
        <div class="container ticker__wrapper">
            <h1 class="ticker__warn-img ticker__header">Warning status</h1>
            <p class="ticker__body">
                Typhoon Signal No. 8 is in force, market open will be delayed, all order activity will be terminated as practically as possible
                and no trade will be novated.
            </p>
        </div>

        <div class="ticker__close"></div>
    </div>
    {{> scripts }}

</body>

</html>