<!DOCTYPE html>
<html lang="en" class="market-hkex">
<head>
    {{>header title="Why List in Hong Kong"}}
</head>
<body>
    {{> topbar}}
    <!-- end of topbar -->
    {{> navigation2}}
    <!-- end of nav -->
    <div id="skip-to-content"></div>
    <!-- end: anchor only for accessibility -->
    {{> listBanner listing.listingWhyHKList}}
    {{> listingBreadcrumb listingBreadcrumb.whyHKlist}}

    <!-- end of banner section -->

    <div class="container">
        <main class="l-full-width">
            <section class="wl-feature">
                {{> topSection}}
            </section>
            <section class="wl-summary">
                {{> summary}}
            </section>
            <section class="wl-newsletter">
                {{> newsLetter}}
            </section>
            <section class="show-reel">
                {{> showReel}}
            </section>
            <section class="wl-advantages">
                {{> advantages}}
            </section>
            <section class="wl-caseStudies">
                {{> caseStudies}}
            </section>
            <section class="wl-nextstep">
                {{> nextStep}}
            </section>
            <section class="wl-contact contact_us">
                {{> contactUs}}
            </section>
        </main>
        <!-- end of main content -->
    </div>

    <footer>
        <div class="container">
        {{> footer}}
        </div>
    </footer>

    {{> scripts}}

</body>
</html>
