<div class="contact-us__title">
    <h2>CONTACT US</h2>
</div>
<div class="contact-us__body">
  <div class="contact-us__wrapper">
      <form action="#" class="contact-us__form" method="post" autocomplete="off">
        <div class="contact-us__form_column">
            <div class="contact-us__form_text form-input-text">
                <input type="text" name="name" id="name" placeholder="Name" />
                <label for="name">Name</label>
            </div>
            <div class="contact-us__form_text form-input-text">
                <input type="text" name="email" id="email" placeholder="Email Address" />
                <label for="email">Email</label>
            </div>
        </div>

        <div class="contact-us__form_column form-input-textarea">
            <textarea name="message" id="message" placeholder="Your Message" class=""></textarea>
            <label for="message">Your Message</label>
        </div>
        <div class="contact-us__form_column checkbox">
            <input type="checkbox" id="subscribe"/><label class="subscribe" for="subscribe">Subscribe to Newsletter <span class="optional_text">(optional)</span></label>
            <button type="button" class="btn-gray">Send Message</button>
        </div>
    </form>
  </div>
</div>
