<div class="listing-process__title">
    <h2>LISTING PROCESS</h2>
</div>
<a class="download listing-process__download" href="files/ess.pdf" target="_blank">Download <span>Guide to Listing</span></a>
<div class="listing-process__body">
  <div class="content">
    <h3 class="label">MAINBOARD</h3>
    <p class="descripttion">Describe Mainboard: The principal function of the Exchange is to provide a fair, orderly and efficient market for the
      trading of securities. In furtherance of this, the Exchange has made the Exchange Listing Rules under section 23 of the Securities and Futures Ordinance
      prescribing the requirements for the listing of securities on the Exchange. </p>
      <a class="btn btn-blue btn-arrow" href="listingprocess.html" title="View Process">View Process</a>
  </div>
  <div class="content">
    <h3 class="label">GEM BOARD</h3>
    <p class="descripttion">Describe Mainboard: The principal function of the Exchange is to provide a fair, orderly and efficient market for the
      trading of securities. In furtherance of this, the Exchange has made the Exchange Listing Rules under section 23 of the Securities and Futures Ordinance
      prescribing the requirements for the listing of securities on the Exchange. </p>
      <a class="btn btn-blue btn-arrow" href="listingprocess.html" title="View Process">View Process</a>
  </div>
</div>
