    <div class="banner__breadcrumb-tablet-mobile">
      <div>
        <ul>
          <li><a href="#">{{title}}</a></li>
          {{#if subTitle}}
            <li><a href="#">{{subTitle}}</a></li>
          {{/if}}
          {{#if headerText}}
            <li><a href="#"><h1 class="banner__breadcrumb__pageTitle">{{headerText}}</h1></a></li>
          {{/if}}
        </ul>
    </div>
    </div>
