<div class="quick-links__title">
    <h2>QUICK LINKS</h2>
</div>
<div class="quick-links__body">
  <div>
  	<ul class="quick-link-list quick-link-list-tablet-mobile">
  		<li><a href="#" title="Upcoming Listings"><span>Upcoming Listings</span><i></i></a></li>
      <li><a href="#" title="Recent Listings"><span>Recent Listings</span><i></i></a></li>
      <li><a href="#" title="HKEX Listed Companies"><span>HKEX Listed Companies</span><i></i></a></li>
      <li><a href="#" title="China companies listed on HKEX"><span>China companies listed on HKEX</span><i></i></a></li>
      <li><a href="#" title="Listing Guide"><span>Listing Guide</span><i></i></a></li>
      <li><a href="#" title="FAQ"><span>FAQ</span><i></i></a></li>
  	</ul>
  </div>
</div>
