<div class="collapse-container filter__container">
  <div class="filter__searchPanel">
    <div class="filter__searchBox">
      <input type="text" class="searchBox" name="searchBox"  placeholder="Stock Code / Company Name" title="Stock Code / Company Name" />
    </div>
    <div class="filter__moreFilter">
      <div class="filter__moreFilter__label">
        <a class="filter__moreFilterText" aria-expanded="false" data-toggle="collapse" href="#checkboxForm">
            More filters
        </a>
      </div>
    </div>
  </div>
  <div class="collapse filter__checkboxForm" id="checkboxForm">
    {{> checkBox filterConditions.etpProducts}}
    <div class="filter__buttonGroup">
      <a class="btn-disable filter__btn-applyFilters-js" tabindex="0">Apply Filters</a>
      <a class="btn-white filter__btn-cancelFilters-js" tabindex="0">Cancel</a>
  </div>
  </div>
  <div class="filter__selectedItem">
  </div>
</div>
