<section class="banner">
  <div class="banner__container banner-light__container">
    <div class="banner__background banner-light__background" style="background-image: url(../images/inner-banner.png);">
      <div class="container  banner__breadcrumb">
        <ul><li><a href="#">Products</a></li><li><a href="#">Derivaties</a></li><li><a href="#">Equity Index</a></li></ul></div>
      <h1 class="container  banner__pageheading">HANG SENG INDEX FUTURES & OPTIONS</h1>
    </div>
  </div>
</section>
