<div class="section__title-left-border">
     <h2>DISK MANAGEMENT</h2>
</div>
<div class="resource__content">
	<ul class="quick-link-list-tablet-mobile quick-link-list">
            <li><a href=""><span>Risk Management for Index Futures</span><i></i></a></li>
            <li><a href=""><span>Collateral Policy</span><i></i></a></li>
            <li><a href=""><span>Holiday Arrangements</span><i></i></a></li>
            <li><a href=""><span>Know More</span><i></i></a></li>
	</ul>
</div>
