<div class="left-menu__title menu-title">
    <h2 id="menuTitle" data-mobile-title="inner navigation" data-pc-title='DERIVATIVES'>DERIVATIVES</h2>
    <div class="nav-icon">
        <img class="icon-nav" src="images/menu.svg" alt="Navigation Icon" />
        <img class="nav-close" src="images/CANCEL.svg" alt="Navigation Icon" />
    </div>
</div>
<div class="left-menu__wrapper">
    <ul class="left-menu__level1">
        <li class="left-menu__item showChildren">
            <a href="javascript:void(0)" class="left-menu__link" title="data">Equity Index</a>
            <ul class="left-menu__level2">
                {{!--
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to Main menu">Back</a></li>
                <li class="leftside-menu_item menutitle">Equity Index</li> --}}
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to Equity Index">Back To 
                    <span class='left-menu__item--back-to-target'>Equity Index</span> </a></li>
                <li class="leftside-menu__item active">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Hang Seng Index Futures & Options">Hang Seng Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="H-shares Index Futures & Options">H-shares Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Dividend Future">Dividend Future</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="HSI Volatility Index (VHSI) Futures">HSI Volatility Index (VHSI) Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="CES China 120 Index Futures">CES China 120 Index Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="BRICS Futures">BRICS Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Sector Index Futures">Sector Index Futures</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item hasChildren">
            <a href="javascript:void(0)" class="left-menu__link" title="data">Single Stock</a>
            <ul class="left-menu__level2">
                {{!--
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to Main menu">Back</a></li>
                <li class="leftside-menu_item menutitle">Single Stock</li> --}}
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to Single Stock">Back To 
                    <span class='left-menu__item--back-to-target'>Single Stock</span> </a></li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Hang Seng Index Futures & Options">Hang Seng Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="H-shares Index Futures & Options">H-shares Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Dividend Future">Dividend Future</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="HSI Volatility Index (VHSI) Futures">HSI Volatility Index (VHSI) Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="CES China 120 Index Futures">CES China 120 Index Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="BRICS Futures">BRICS Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Sector Index Futures">Sector Index Futures</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item hasChildren">
            <a href="javascript:void(0)" class="left-menu__link" title="data">Currency</a>
            <ul class="left-menu__level2">
                {{!--
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to Main menu">Back</a></li>
                <li class="leftside-menu_item menutitle">Currency</li> --}}
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back toCurrency">Back To 
                    <span class='left-menu__item--back-to-target'>Currency</span> </a></li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Hang Seng Index Futures & Options">Hang Seng Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="H-shares Index Futures & Options">H-shares Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Dividend Future">Dividend Future</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="HSI Volatility Index (VHSI) Futures">HSI Volatility Index (VHSI) Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="CES China 120 Index Futures">CES China 120 Index Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="BRICS Futures">BRICS Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Sector Index Futures">Sector Index Futures</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item hasChildren">
            <a href="javascript:void(0)" class="left-menu__link" title="data">Interest Rate</a>
            <ul class="left-menu__level2">
                {{!--
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to Main menu">Back</a></li>
                <li class="leftside-menu_item menutitle">Interest Rate</li> --}}
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back Interest Rate">Back To 
                    <span class='left-menu__item--back-to-target'>Interest Rate</span> </a></li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Hang Seng Index Futures & Options">Hang Seng Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="H-shares Index Futures & Options">H-shares Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Dividend Future">Dividend Future</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="HSI Volatility Index (VHSI) Futures">HSI Volatility Index (VHSI) Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="CES China 120 Index Futures">CES China 120 Index Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="BRICS Futures">BRICS Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Sector Index Futures">Sector Index Futures</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item hasChildren">
            <a href="javascript:void(0)" class="left-menu__link" title="data">Commodities</a>
            <ul class="left-menu__level2">
                {{!--
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to Main menu">Back</a></li>
                <li class="leftside-menu_item menutitle">Commodities</li> --}}
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back Commodities">Back To 
                    <span class='left-menu__item--back-to-target'>Commodities</span> </a></li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Hang Seng Index Futures & Options">Hang Seng Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="H-shares Index Futures & Options">H-shares Index Futures & Options</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Dividend Future">Dividend Future</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="HSI Volatility Index (VHSI) Futures">HSI Volatility Index (VHSI) Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="CES China 120 Index Futures">CES China 120 Index Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="BRICS Futures">BRICS Futures</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Sector Index Futures">Sector Index Futures</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
