<div class="section__title-left-border">
    <h2>Market Data</h2>
    <span class="equityIndex-market-data__updated-date">
      Last Updated: 11/5/2016 16:02:00 HKT
    </span>
</div>
<div class="equityIndex-market-data__tab">
    <ul class="scroll_tabs scroll_tabs_container">
      <li data-value="indexLevel"><a href="#">INDEX LEVEL</a></li>
      <li data-value="futuresPrices"><a href="#">FUTURES PRICES</a></li>
      <li data-value="optionsPrices"><a href="#">OPTIONS PRICES</a></li>
    </ul>
    <div class="scroll_tabs_content">
      <div id="indexLevel">
        <div role="tabpanel" class="equityIndex-market-data__img"></div>
      </div>
      <div id="futuresPrices">
        <div role="tabpanel" class="equityIndex-market-data__img"></div>
      </div>
      <div id="optionsPrices">
        <div role="tabpanel" class="equityIndex-market-data__img"></div>
      </div>
    </div>
</div>