<div class="section__title-left-border">
    <h2>Margin Table</h2>
</div>

<div class="fixed-freeze-tb-container sticky-header-table">
    <div class="fixed-freeze-tb--scroller-container">
        <div class="fixed-freeze-tb--scroll-bar">
            <div class="fixed-freeze-tb--bar"></div>
        </div>
    </div>
    <div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>

    <div class="table-container fixed-freeze-tb-parent">
<table class="table table-sort marginTable fixed-freeze-tb">
				<thead>
					<tr>
						<th rowspan="2">HKATS Code</th>
						<th rowspan="2">Effective Date</th>
						<th rowspan="2" class="sorter-false">Rates</th>
						<th colspan="2" class="header-align-center sorter-false">Client Margin</th>
						<th rowspan="2" class="rightAlign">Clearing House Margin($)</th>
					</tr>
					<tr>
						<th class="rightAlign">Initial($)</th>
						<th class="rightAlign">Maintenance($)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">HSI</td>
						<td rowspan="2">2016/06/01</td>
						<td>Full Rate/Lot</td>
						<td class="rightAlign">62,100</td>
						<td class="rightAlign">49,700</td>
						<td class="rightAlign">49,700</td>
					</tr>
					<tr class="marginTable__rowspan-tr tablesorter-childRow">
						<td data-first-col="false">Spread Rate/Spread</td>
						<td class="rightAlign">12,450</td>
						<td class="rightAlign">9,950</td>
						<td class="rightAlign">9,950</td>
					</tr>
					<tr>
						<td rowspan="2">HSI01</td>
						<td rowspan="2">2016/06/01</td>
						<td>Full Rate/Lot</td>
						<td class="rightAlign">62,100</td>
						<td class="rightAlign">49,700</td>
						<td class="rightAlign">49,700</td>
					</tr>
					<tr class="marginTable__rowspan-tr tablesorter-childRow">
						<td data-first-col="false">Spread Rate/Spread</td>
						<td class="rightAlign">12,450</td>
						<td class="rightAlign">9,950</td>
						<td class="rightAlign">9,950</td>
					</tr>
				</tbody>
			</table>

    </div>
</div>
