<div class="section__title-left-border">
    <h2>CONTRACT SPECIFICATIONS & FEES</h2>
</div>


<div class="collapse-container equityIndex-contract__content">
    <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#HSIF" aria-expanded="false">HANG SENG INDEX FUTURES</a>
        <div id="HSIF" class="collapse panel-body">
            <div class="data-list">
                <dl>
                    <dt>Underlying Index</dt>
                    <dd>Hang Seng Index</dd>
                </dl>
                <dl>
                    <dt>HKATS Code</dt>
                    <dd>HSI</dd>
                </dl>
                <dl>
                    <dt>Contract Multiplier</dt>
                    <dd>HK$50 per index point</dd>
                </dl>
                <dl>
                    <dt>Minimum Fluctuation</dt>
                    <dd>One index point</dd>
                </dl>
                <dl>
                    <dt>Contract Months</dt>
                    <dd>Spot, next calendar month & next two calendar quarter months</dd>
                </dl>
                <dl>
                    <dt>Pre-Market Opening Period</dt>
                    <dd>8:45 am - 9:15 am & 12:30 pm - 1:00 pm</dd>
                </dl>
                <dl>
                    <dt>Trading Hours</dt>
                    <dd>9:15 am - 12:00 noon, 1:00 pm - 4:15 pm & 5:00 pm - 11:45 pm Expiring contract month closes at 4:00 pm on the Last Trading Day</dd>
                </dl>
                <dl>
                    <dt>Last Trading Day</dt>
                    <dd>The Business Day immediately preceding the last Business Day of the Contract Month</dd>
                </dl>
                <dl>
                    <dt>Final Settlement Price</dt>
                    <dd>The average of quotations taken at (i) five (5) minute intervals from five (5) minutes after the start of, and up to five (5) minutes before the end of, the Continuous Trading Session of SEHK; and (ii) the close of trading on SEHK on the Last Trading Day.</dd>
                </dl>
                <dl>
                    <dt>Transaction Costs</dt>
                    <dd>Exchange Fee: HK$10.00<br>Commission Levy: HK$0.54<br>Commission Rate: Negotiable</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#HSIO" aria-expanded="false">HANG SENG INDEX OPTIONS</a>
        <div id="HSIO" class="collapse panel-body">
            <div class="data-list">
                <dl>
                    <dt>Underlying Index</dt>
                    <dd>Hang Seng Index</dd>
                </dl>
                <dl>
                    <dt>HKATS Code</dt>
                    <dd>HSI</dd>
                </dl>
                <dl>
                    <dt>Contract Multiplier</dt>
                    <dd>HK$50 per index point</dd>
                </dl>
                <dl>
                    <dt>Minimum Fluctuation</dt>
                    <dd>One index point</dd>
                </dl>
                <dl>
                    <dt>Contract Months</dt>
                    <dd>Spot, next calendar month & next two calendar quarter months</dd>
                </dl>
                <dl>
                    <dt>Pre-Market Opening Period</dt>
                    <dd>8:45 am - 9:15 am & 12:30 pm - 1:00 pm</dd>
                </dl>
                <dl>
                    <dt>Trading Hours</dt>
                    <dd>9:15 am - 12:00 noon, 1:00 pm - 4:15 pm & 5:00 pm - 11:45 pm Expiring contract month closes at 4:00 pm on the Last Trading Day</dd>
                </dl>
                <dl>
                    <dt>Last Trading Day</dt>
                    <dd>The Business Day immediately preceding the last Business Day of the Contract Month</dd>
                </dl>
                <dl>
                    <dt>Final Settlement Price</dt>
                    <dd>The average of quotations taken at (i) five (5) minute intervals from five (5) minutes after the start of, and up to five (5) minutes before the end of, the Continuous Trading Session of SEHK; and (ii) the close of trading on SEHK on the Last Trading Day.</dd>
                </dl>
                <dl>
                    <dt>Transaction Costs</dt>
                    <dd>Exchange Fee: HK$10.00<br>Commission Levy: HK$0.54<br>Commission Rate: Negotiable</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#miniHSIF" aria-expanded="false">MINI - HANG SENG INDEX FUTURES</a>
        <div id="miniHSIF" class="collapse panel-body">
            <div class="data-list">
                <dl>
                    <dt>Underlying Index</dt>
                    <dd>Hang Seng Index</dd>
                </dl>
                <dl>
                    <dt>HKATS Code</dt>
                    <dd>HSI</dd>
                </dl>
                <dl>
                    <dt>Contract Multiplier</dt>
                    <dd>HK$50 per index point</dd>
                </dl>
                <dl>
                    <dt>Minimum Fluctuation</dt>
                    <dd>One index point</dd>
                </dl>
                <dl>
                    <dt>Contract Months</dt>
                    <dd>Spot, next calendar month & next two calendar quarter months</dd>
                </dl>
                <dl>
                    <dt>Pre-Market Opening Period</dt>
                    <dd>8:45 am - 9:15 am & 12:30 pm - 1:00 pm</dd>
                </dl>
                <dl>
                    <dt>Trading Hours</dt>
                    <dd>9:15 am - 12:00 noon, 1:00 pm - 4:15 pm & 5:00 pm - 11:45 pm Expiring contract month closes at 4:00 pm on the Last Trading Day</dd>
                </dl>
                <dl>
                    <dt>Last Trading Day</dt>
                    <dd>The Business Day immediately preceding the last Business Day of the Contract Month</dd>
                </dl>
                <dl>
                    <dt>Final Settlement Price</dt>
                    <dd>The average of quotations taken at (i) five (5) minute intervals from five (5) minutes after the start of, and up to five (5) minutes before the end of, the Continuous Trading Session of SEHK; and (ii) the close of trading on SEHK on the Last Trading Day.</dd>
                </dl>
                <dl>
                    <dt>Transaction Costs</dt>
                    <dd>Exchange Fee: HK$10.00<br>Commission Levy: HK$0.54<br>Commission Rate: Negotiable</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#miniHSIO" aria-expanded="false">MINI - HANG SENG INDEX OPTIONS</a>
        <div id="miniHSIO" class="collapse panel-body">
            <div class="data-list">
                <dl>
                    <dt>Underlying Index</dt>
                    <dd>Hang Seng Index</dd>
                </dl>
                <dl>
                    <dt>HKATS Code</dt>
                    <dd>HSI</dd>
                </dl>
                <dl>
                    <dt>Contract Multiplier</dt>
                    <dd>HK$50 per index point</dd>
                </dl>
                <dl>
                    <dt>Minimum Fluctuation</dt>
                    <dd>One index point</dd>
                </dl>
                <dl>
                    <dt>Contract Months</dt>
                    <dd>Spot, next calendar month & next two calendar quarter months</dd>
                </dl>
                <dl>
                    <dt>Pre-Market Opening Period</dt>
                    <dd>8:45 am - 9:15 am & 12:30 pm - 1:00 pm</dd>
                </dl>
                <dl>
                    <dt>Trading Hours</dt>
                    <dd>9:15 am - 12:00 noon, 1:00 pm - 4:15 pm & 5:00 pm - 11:45 pm Expiring contract month closes at 4:00 pm on the Last Trading Day</dd>
                </dl>
                <dl>
                    <dt>Last Trading Day</dt>
                    <dd>The Business Day immediately preceding the last Business Day of the Contract Month</dd>
                </dl>
                <dl>
                    <dt>Final Settlement Price</dt>
                    <dd>The average of quotations taken at (i) five (5) minute intervals from five (5) minutes after the start of, and up to five (5) minutes before the end of, the Continuous Trading Session of SEHK; and (ii) the close of trading on SEHK on the Last Trading Day.</dd>
                </dl>
                <dl>
                    <dt>Transaction Costs</dt>
                    <dd>Exchange Fee: HK$10.00<br>Commission Levy: HK$0.54<br>Commission Rate: Negotiable</dd>
                </dl>
            </div>
        </div>
    </div>
    <hr>
</div>
