<div class="section__title-left-border">
    <h2>OVERVIEW</h2>
</div>

<div class="collapse-container">
    <div class="panel-group equityIndex-overview-container" id="accordion" role="tablist" aria-multiselectable="false">
            <h3 class="section-title section-title__no-border equityIndex-securities__title">
                HANG SENG INDEX
            </h3>
            <div class="equityIndex-securities__context">
                <p>
                    Hang Seng Index (HSI), the benchmark of the Hong Kong stock market, is one of the best known indices in Asia and widely used by fund managers as their performance benchmark.
                </p>
                <p>The HSI is a market capitalisation-weighted index (shares outstanding multiplied by stock price) of the constituent stocks. The influence of each stock on the index's performance is directly proportional to its relative market value. Constituent
                    stocks with higher market capitalisation will have greater impact on the index's performance than those with lower market capitalisation. The constituent stocks are grouped under Commerce and Industry, Finance, Properties and Utilities
                    sub-indices.
                </p>
            </div>
            <h3 class="section-title section-title__no-border equityIndex-securities__title">
                HANG SENG INDEX FUTURES
            </h3>
            <div class="equityIndex-securities__context">
                <p>
                    To meet the growing interests in the Hong Kong stock market and rising demand for related hedging tools, the Hong Kong Futures Exchange (HKFE) first introduced HSI futures contracts in May 1986.
                </p>
            </div>
            <h3 class="section-title section-title__no-border equityIndex-securities__title">
                HANG SENG INDEX OPTIONS
            </h3>
            <div class="equityIndex-securities__context">
                <p>Following the success of HSI futures, HSI options contracts were introduced in March 1993. On 8 February 2010, Flexible Index Options with flexibility in setting strike prices and expiry months were introduced to facilitate the booking
                    of customized over-the-counter option contracts.
                </p>
            </div>
        <ul class="quick-link-list quick-link-list-tablet-mobile">
            <li class="equityIndex-securities__quicklinks-item">
                <a href="#" title="Compare Products">
                    <span>Compare Products</span><i></i>
                </a>
            </li>
            <li class="equityIndex-securities__quicklinks-item">
                <a href="#" title="Find a Broker">
                    <span>Find a Broker</span><i></i>
                </a>
            </li>
        </ul>
    </div>
</div>
