<div class="section__title-left-border">
     <h2>Resource</h2>
</div>
<div class="resource__content">
	<ul class="quick-link-list-tablet-mobile quick-link-list">
            <li><a href=""><span>Trading Flexible Index Options</span><i></i></a></li>
            <li><a href=""><span>Options / Warrants Calculator</span><i></i></a></li>
            <li><a href=""><span>Portfolio Analyser</span><i></i></a></li>
            <li><a href=""><span>Monthly Reports</span><i></i></a></li>
	</ul>
</div>
