<section class="banner">
  <div class="banner__container">
    <div class="banner__background" style="background-image: url(../images/inner-banner.png);">
      <div class="container  banner__breadcrumb">
        <ul><li><a href="#">FAQ</a></li><li><a href="#">Categories</a></li></ul></div>
      <h3 class="container  banner__pageheading">TOP QUESTIONS</h3>
    </div>
  </div>
</section>
