

<!-- focus -->
<div class="right-panel-sections focus-section" title="FOCUS">
	<div class="right-panel-sections-label">
		<h2>FOCUS</h2>
	</div>
	<div class="right-panel-sections-content">
		<div class="focus-body">
			<div class="focus-single">
				<a href="#" title="CHARLES LI DIRECT">
					<img class="focus-img" src="images/focus/01.png" title="CHARLES LI DIRECT" alt="CHARLES LI DIRECT">
		  		<p class="focus-title" title="CHARLES LI DIRECT">CHARLES LI DIRECT</p>
				</a>
	  	</div>
			<div class="focus-single">
				<a href="#" title="STOCK CONNECT">
	      	<img class="focus-img" src="images/focus/02.png" title="STOCK CONNECT" alt="STOCK CONNECT">
	  			<p class="focus-title" title="STOCK CONNECT">STOCK CONNECT</p>
				</a>
			</div>
			<div class="focus-single">
				<a href="#" title="USING DERIVATIVES">
					<img class="focus-img" src="images/focus/03.png" title="USING DERIVATIVES" alt="USING DERIVATIVES">
	  			<p class="focus-title" title="USING DERIVATIVES">USING DERIVATIVES</p>
				</a>
	  	</div>
			<div class="focus-single">
				<a href="#" title="HKEXNEWS">
					<img class="focus-img" src="images/focus/04.png" title="HKEXNEWS" alt="HKEXNEWS">
	  			<p class="focus-title" title="HKEX NEWS">HKEX NEWS</p>
				</a>
			</div>
		</div>
	</div>
</div>
