<div class="market-overview__detail-title">
    <h1 class="title">MARKET OVERVIEW</h1>
    <span class="last-update">Last Updated: 11/5/2016   16:02:00 HKT</span>
</div>
<div class="market-overview__index-type">
    {{!--
    <div class="market-overview__up-bt"><span></span></div> --}}
    <div class="market-overview_left-bt" id="market-overview__left-bt">
        <i>	</i></div>
    <ul class="nav nav-tabs" id="index-type-tabs">
        <li class="active" data-id="1">
            <a href="#hs01" data-toggle="tab">
                <div class="index-type">hang seng index</div>
                <div class="value">20,467.52</div>
                <div class="percent percentage-up ">+79.99 (0.39%)</div>
                <div class="index-last-update">15 jun,4:01 pm</div>
                {{!--
                <div class="target-index"></div> --}}
            </a>
        </li>
        <li data-id="2">
            <a href="#hs02" data-toggle="tab">
                <div class="index-type"> hs h-shares index</div>
                <div class="value">8,685.11</div>
                <div class="percent percentage-up ">+43.6 (0.5%)</div>
                <div class="index-last-update">15 jun,4:01 pm</div>
            </a>
        </li>
        <li data-id="3" >
            <a href="#hs03" data-toggle="tab">
                <div class="index-type">csi 300 index</div>
                <div class="value">3,106.32</div>
                <div class="percent percentage-low ">-6.36 (0.2%)</div>
                <div class="index-last-update">15 jun,4:01 pm</div>
            </a>
        </li>
        <li data-id="4">
            <a href="#hs04" data-toggle="tab">
                <div class="index-type">tr/hkex rmb index</div>
                <div class="value">407.61</div>
                <div class="percent percentage-low">-1.75 (0.43%)</div>
                <div class="index-last-update">15 jun,4:01 pm</div>
            </a>
        </li>
        <li data-id="5">
            <a href="#hs05" data-toggle="tab">
                <div class="index-type">tr/hkex index 05</div>
                <div class="value">407.61</div>
                <div class="percent percentage-low">-1.75 (0.43%)</div>
                <div class="index-last-update">15 jun,4:01 pm</div>
            </a>
        </li>
        <li data-id="6">
            <a href="#hs06" data-toggle="tab">
                <div class="index-type">tr/hkex index 06</div>
                <div class="value">407.61</div>
                <div class="percent percentage-low">-1.75 (0.43%)</div>
                <div class="index-last-update">15 jun,4:01 pm</div>
            </a>
        </li>
        <li data-id="7">
            <a href="#hs07" data-toggle="tab">
                <div class="index-type">tr/hkex index 07</div>
                <div class="value">407.61</div>
                <div class="percent percentage-low">-1.75 (0.43%)</div>
                <div class="index-last-update">15 jun,4:01 pm</div>
            </a>
        </li>
    </ul>
    <div class="market-overview_right-bt" id="market-overview__right-bt"><i></i></div>
    <div class="market-overview-bts">
        <div class="market-overview__down-bt market-overview__bt-enable" id="market-overview__down-bt"><span></span></div>
        <div class="market-overview__up-bt market-overview__bt-enable" id="market-overview__up-bt"><span></span></div>
    </div>
</div>
<div class="market-overview__detail">
    <div class="tab-content main-tab ">
        <div class="tab-content__pane active" id="hs01" >
            <div class="market-overview__detail-main-info">
                <div class="title">hang seng index</div>
                <div class="market-overview__detail-main-data">
                    <span>20,467.52</span>
                    <span class="percentage-up">+79.99 (0.39%)</span>
                </div>
            </div>
            <div class="market-overview__detail-data-chart"><img class="pc" src="images/market-ov-chart-pc-1.png" alt="chart for pc">
            	<img class="mobile" src="images/market-ov-chart-mobile.png" alt="chart for mobile"></div>

        </div>
        <div class="tab-content__pane  " id="hs02">
            <div class="market-overview__detail-main-info">
                <div class="title feture-title">hs h-shares index</div>
                <div class="market-overview__detail-main-data">
                    <span>8,685.11</span>
                    <span class="percentage-up">+43.6 (0.5%)</span>
                </div>
            </div>
            <div class="market-overview__detail-data-chart"><img class="pc" src="images/market-ov-chart-pc-1.png" alt="chart for pc">
            	<img class="mobile" src="images/market-ov-chart-mobile.png" alt="chart for mobile"></div>

        </div>
        <div class="tab-content__pane  " id="hs03">
            <div class="market-overview__detail-main-info">
                <div class="title">csi 300 index</div>
                <div class="market-overview__detail-main-data">
                    <span>3,106.32</span>
                    <span class="percentage-low">-6.36 (0.2%)</span>
                </div>
            </div>
            <div class="market-overview__detail-data-chart"><img class="pc" src="images/market-ov-chart-pc-1.png" alt="chart for pc">
            	<img class="mobile" src="images/market-ov-chart-mobile.png" alt="chart for mobile"></div>

        </div>
        <div class="tab-content__pane " id="hs04">
            <div class="market-overview__detail-main-info">
                <div class="title">tr/hkex rmb indexe</div>
                <div class="market-overview__detail-main-data">
                    <span>407.61</span>
                    <span class="percentage-low">-1.75 (0.43%)</span>
                </div>
            </div>
            <div class="market-overview__detail-data-chart"><img src="images/market-ov-chart-pc-1.png" alt="chart for pc">
            <img class="mobile" src="images/market-ov-chart-mobile.png" alt="chart for mobile"></div>

        </div>
        <div class="tab-content__pane " id="hs05">
            <div class="market-overview__detail-main-info">
                <div class="title">tr/hkex rmb indexe 05</div>
                <div class="market-overview__detail-main-data">
                    <span>407.61</span>
                    <span class="percentage-low">-1.75 (0.43%)</span>
                </div>
            </div>
            <div class="market-overview__detail-data-chart"><img class="pc" src="images/market-ov-chart-pc-1.png" alt="chart for pc">
            	<img class="mobile" src="images/market-ov-chart-mobile.png" alt="chart for mobile"></div>

        </div>
        <div class="tab-content__pane " id="hs06">
            <div class="market-overview__detail-main-info">
                <div class="title">tr/hkex rmb indexe 06</div>
                <div class="market-overview__detail-main-data">
                    <span>407.61</span>
                    <span class="percentage-low">-1.75 (0.43%)</span>
                </div>
            </div>
            <div class="market-overview__detail-data-chart"><img class="pc" src="images/market-ov-chart-pc-1.png" alt="chart for pc">
            	<img class="mobile" src="images/market-ov-chart-mobile.png" alt="chart for mobile"></div>

        </div>
        <div class="tab-content__pane " id="hs07">
            <div class="market-overview__detail-main-info">
                <div class="title">tr/hkex rmb indexe 07</div>
                <div class="market-overview__detail-main-data">
                    <span>407.61</span>
                    <span class="percentage-low">-1.75 (0.43%)</span>
                </div>
            </div>
            <div class="market-overview__detail-data-chart"><img class="pc" src="images/market-ov-chart-pc-1.png" alt="chart for pc">
            	<img class="mobile" src="images/market-ov-chart-mobile.png" alt="chart for mobile"></div>

        </div>
        <div class="market-overview__detail-last-update">
            <span class="last-update">Last Updated: 11/5/2016   16:02:00 HKT</span>
        </div>
    </div>
</div>
