<div class="market-turnover">
  <div class="market-turnover_left-top">
    <h2>MARKET TURNOVER</h2>
  </div>
  <div class="market-turnover_left">
    <img src="images/mt-left.png" alt="Market Turnover Chart">
  </div>
  <div class="market-turnover_right">
    <img src="images/mt-chart.png" alt="Market Turnover Chart">
  </div>
</div>
