<!-- News -->
<div class="right-panel-sections news-section" title="NEWS">
	<div class="right-panel-sections-label">
		<div class="right-panel-sections-label-right">
			<h2>NEWS</h2>
		</div>
		<div class="right-panel-sections-label-left">
			<a title="Read More" href="#">Read More &nbsp;</a>
		</div>
	</div>
	<div class="top-news">

		<ul class="scroll_tabs scroll_tabs_container scroll_tabs_side tabs-for-sidebar">
			<li data-value="news-list"><a href="#">NEWS RELEASES</a></li>
			<li data-value="circulars"><a href="#">CIRCULARS</a></li>
		</ul>
		<!-- Tab panes -->

		<div class="scroll_tabs_content list-panel">
			<div id="news-list">
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a title="HKEX 2016 First Quarter Results" href="#">HKEX 2016 First Quarter Results</a></div>
						<div class="list-panel__item-heading-date" title="Date of publish">May 10, 2016</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a title="Re-appointment of Chairman Approved" href="#">Re-appointment of Chairman Approved</a>
						</div>
						<div class="list-panel__item-heading-date" title="Date">May 09, 2016</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a title="HKEX to Offer Mini H-shares Index Options and Make Other Derivatives Market Changes" href="#">HKEX to Offer Mini H-shares Index Options and Make Other Derivatives Market Changes</a>
						</div>
						<div class="list-panel__item-heading-date">May 04,2016</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a title="Forfeiture of Unclaimed Final Dividend" href="#">Forfeiture of Unclaimed Final Dividend</a>
						</div>
						<div class="list-panel__item-heading-date">Apr 13, 2016</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a title="Exchange Launches Revamped ESG" href="#">Changes of Designated Securities for Short Selling</a>
						</div>
						<div class="list-panel__item-heading-date">Feb 22, 2016</div>
					</div>
				</div>
			</div>
			<div id="circulars" class="circulars">
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a class="circulars-for-pdf" title="HKEX 2016 First Quarter Results" href="#">Display of Adjusted Previous Closing Price of Daohe Global Group Limited on Hong Kong</a>
						</div>
						<div class="list-panel__item-heading-date" title="Date of publish">
							Sep 23, 2016 ·
							<span class="list-panel__item-heading-category">SEHK</span>
						</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a class="circulars-for-pdf" title="Re-appointment of Chairman Approved" href="#">Second Market Rehearsal for the Implementation of the Volatility</a>
						</div>
						<div class="list-panel__item-heading-date" title="Date">
							Sep 22, 2016 ·
							<span class="list-panel__item-heading-category">SEHK</span>
						</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a class="circulars-for-pdf" title="HKEX to Offer Mini H-shares Index Options and Make Other Derivatives Market Changes"
								href="#">Stock Admission - New Listing of Securities</a>
						</div>
						<div class="list-panel__item-heading-date">
							Sep 20,2016 ·
							<span class="list-panel__item-heading-category">HKSCC</span>
						</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a class="circulars-for-pdf" title="Forfeiture of Unclaimed Final Dividend" href="#">SEOCH Reserve Fund Variable Contributions</a>
						</div>
						<div class="list-panel__item-heading-date">
							Apr 13, 2016 ·
							<span class="list-panel__item-heading-category">SEOCH</span>
						</div>
					</div>
				</div>
				<div class="list-panel__item">
					<div class="list-panel__item-heading">
						<div class="list-panel__item-heading-title ">
							<a class="circulars-for-pdf" title="Exchange Launches Revamped ESG" href="#">New Clearing Member - Agriculture Bank of China Limited, Hong Kong Branch</a>
						</div>
						<div class="list-panel__item-heading-date">
							Feb 22, 2016 ·
							<span class="list-panel__item-heading-category">OTC CLEAR</span>
						</div>
					</div>
				</div>
				<div class="list-panel__item__topbar" data-toggle="nav-popover">
					<a class="topbar__link topbar__about-link" href="#" title="Read Circulars by">Read Circulars by</a>
					<div class="popover list-panel-popover">
						<div class="popover__content list-panel__popover__content">
							<ul class="popover__content-list quick-link-list list-panel__content-list">
								<li class="popover__list-item list-panel__list-item">
									<a class="popover__link" href="#" title="SEHK"><span>SEHK</span><i></i></a></li>
								<li class="popover__list-item list-panel__list-item">
									<a class="popover__link" href="#" title="HKSCC"><span>HKSCC</span><i></i></a></li>
								<li class="popover__list-item list-panel__list-item">
									<a class="popover__link" href="#" title="HKFE"><span>HKFE</span><i></i></a></li>
								<li class="popover__list-item list-panel__list-item">
									<a class="popover__link" href="#" title="HKCC"><span>HKCC</span><i></i></a></li>
								<li class="popover__list-item list-panel__list-item">
									<a class="popover__link" href="#" title="SEOCH"><span>SEOCH</span><i></i></a></li>
								<li class="popover__list-item list-panel__list-item">
									<a class="popover__link" href="#" title="OTC Clear"><span>OTC Clear</span><i></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!--<div class="news-company-panel">
		<div class="twitter-section__title">
			<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo"></div>
			<div class="twitter-name">
				<h6>HKEX</h6><span>@HKEXGroup</span></div>
			<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter"></div>
		</div>

	</div>--}}
	<div class="news-carousel">
		<div id="carousel-news" class="carousel slide" data-ride="carousel" data-interval="5000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-news" data-slide-to="0" class="active"><a href="javascript:void(0)">&nbsp;</a></li>
				<li data-target="#carousel-news" data-slide-to="1"><a href="javascript:void(0)">&nbsp;</a></li>
				<li data-target="#carousel-news" data-slide-to="2"><a href="javascript:void(0)">&nbsp;</a></li>
				<li data-target="#carousel-news" data-slide-to="3"><a href="javascript:void(0)">&nbsp;</a></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="twitter-content">
						<div class="twitter-title">
							<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
							<div class="twitter-name">
								<h6>HKEX</h6><span>@HKEXGroup</span></div>
							<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter" /></div>
						</div>
						<p class="twitter-text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
						<div class="twitter-image">
							<img src="images/news1.jpg" alt="News Title" title="News Title" />
						</div>
						<div class="twitter-date">01/07/2016 16:18</div>
						<div class="twitter-sharing-icons">
							<img class="share" alt="Share" src="images/share.svg" />
							<img class="retweet" alt="Retweet" src="images/retweet.svg" />
							<span class="retweet-count">1</span>
							<img class="heart-like" alt="Like" src="images/heart-like.svg" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="twitter-content">
						<div class="twitter-title">
							<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
							<div class="twitter-name">
								<h6>HKEX</h6><span>@HKEXGroup</span></div>
							<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter" /></div>
						</div>
						<p class="twitter-text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
						<div class="twitter-image">
							<img src="images/news2.jpg" alt="News Title" title="News Title" />
						</div>
						<div class="twitter-date">01/07/2016 16:18</div>
						<div class="twitter-sharing-icons">
							<img class="share" alt="Share" src="images/share.svg" />
							<img class="retweet" alt="Retweet" src="images/retweet.svg" />
							<span class="retweet-count">1</span>
							<img class="heart-like" alt="Like" src="images/heart-like.svg" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="twitter-content">
						<div class="twitter-title">
							<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
							<div class="twitter-name">
								<h6>HKEX</h6><span>@HKEXGroup</span></div>
							<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter" /></div>
						</div>
						<p class="twitter-text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
						<div class="twitter-image">
							<img src="images/news3.jpg" alt="News Title" title="News Title" />
						</div>
						<div class="twitter-date">01/07/2016 16:18</div>
						<div class="twitter-sharing-icons">
							<img class="share" alt="Share" src="images/share.svg" />
							<img class="retweet" alt="Retweet" src="images/retweet.svg" />
							<span class="retweet-count">1</span>
							<img class="heart-like" alt="Like" src="images/heart-like.svg" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="twitter-content">
						<div class="twitter-title">
							<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
							<div class="twitter-name">
								<h6>HKEX</h6><span>@HKEXGroup</span></div>
							<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter" /></div>
						</div>
						<p class="twitter-text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
						<div class="twitter-image">
							<img src="images/news2.jpg" alt="News Title" title="News Title" />
						</div>
						<div class="twitter-date">01/07/2016 16:18</div>
						<div class="twitter-sharing-icons">
							<img class="share" alt="Share" src="images/share.svg" />
							<img class="retweet" alt="Retweet" src="images/retweet.svg" />
							<span class="retweet-count">1</span>
							<img class="heart-like" alt="Like" src="images/heart-like.svg" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{!--<div id="twitter-section__carousel" class="twitter-section__carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-news" data-slide-to="0" class="active"><a href="javascript:void(0)">&nbsp;</a></li>
			<li data-target="#carousel-news" data-slide-to="1"><a href="javascript:void(0)">&nbsp;</a></li>
			<li data-target="#carousel-news" data-slide-to="2"><a href="javascript:void(0)">&nbsp;</a></li>
			<li data-target="#carousel-news" data-slide-to="3"><a href="javascript:void(0)">&nbsp;</a></li>
		</ol>

		<div class="carousel-inner">
			<div class="active item">
				<div class="twitter-section__content">
					<div class="twitter-section__title">
						<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
						<div class="twitter-name">
							<h6>HKEX</h6><span>@HKEXGroup</span></div>
						<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter" /></div>
					</div>
					<p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
					<div class="twitter-section__image">
						<img src="images/news1.jpg" alt="News Title" title="News Title" />
					</div>
					<div class="twitter-section__date">01/07/2016 16:18</div>
					<div class="twitter-section__sharing-icons">
						<img class="share" alt="Share" src="images/share.svg" />
						<img class="retweet" alt="Retweet" src="images/retweet.svg" />
						<span class="retweet-count">1</span>
						<img class="heart-like" alt="Like" src="images/heart-like.svg" />
					</div>
				</div>
			</div>
			<div class="item">
				<div class="twitter-section__content">
					<div class="twitter-section__title">
						<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
						<div class="twitter-name">
							<h6>HKEX</h6><span>@HKEXGroup</span></div>
						<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter" /></div>
					</div>
					<p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
					<div class="twitter-section__image">
						<img src="images/news2.jpg" alt="News Title" title="News Title" />
					</div>
					<div class="twitter-section__date">01/07/2016 16:18</div>
					<div class="twitter-section__sharing-icons">
						<img class="share" alt="Share" src="images/share.svg" />
						<img class="retweet" alt="Retweet" src="images/retweet.svg" />
						<span class="retweet-count">1</span>
						<img class="heart-like" alt="Like" src="images/heart-like.svg" />
					</div>
				</div>
			</div>
			<div class="item">
				<div class="twitter-section__content">
					<div class="twitter-section__title">
						<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
						<div class="twitter-name">
							<h6>HKEX</h6><span>@HKEXGroup</span></div>
						<div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter" /></div>
					</div>
					<p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
					<div class="twitter-section__image">
						<img src="images/news3.jpg" alt="News Title" title="News Title" />
					</div>
					<div class="twitter-section__date">01/07/2016 16:18</div>
					<div class="twitter-section__sharing-icons">
						<img class="share" alt="Share" src="images/share.svg" />
						<img class="retweet" alt="Retweet" src="images/retweet.svg" />
						<span class="retweet-count">1</span>
						<img class="heart-like" alt="Like" src="images/heart-like.svg" />
					</div>
				</div>
			</div>
			<div class="item">
				<div class="twitter-section__content">
					<div class="twitter-section__title">
						<div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo" /></div>
						<div class="twitter-name">
							<h6>HKEX</h6><span>@HKEXGroup</span></div>
						<div class="twitter-icon">
							<img src="images/news2.jpg" alt="News Title" title="News Title" />
						</div>
					</div>
					<p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
					<div class="twitter-section__date">01/07/2016 16:18</div>
					<div class="twitter-section__sharing-icons">
						<img class="share" alt="Share" src="images/share.svg" />
						<img class="retweet" alt="Retweet" src="images/retweet.svg" />
						<span class="retweet-count">1</span>
						<img class="heart-like" alt="Like" src="images/heart-like.svg" />
					</div>
				</div>
			</div>
		</div>
	</div>--}}


</div>