<div class="slider__wrapper">
    <ul class="slider__slides" id="slider">
        <li class="slider__slide">
            <a href="#"><div></div><img src="images/slider/banner01.png" alt="Banner 1"></a>
            <div class="slider__caption">
              <div class="slider__caption__year">2016</div> <div class="slider__caption__subtitle">Annual results</div> <p>HKEX's financial performance for the year 2016</p>
                <a href="#" class="slider__read_more" title="Read more">Read more <span class="caret"></span></a>

            </div>
        </li>
        <li class="slider__slide">
            <a href="#"><div></div><img src="images/slider/banner02.png" alt="Banner 2"></a>
            <div class="slider__caption">
              <div class="slider__caption__year">2015</div> <div class="slider__caption__subtitle">Annual results</div> <p>HKEX's financial performance for the year 2015</p>
                <a href="#" class="slider__read_more" title="Read more">Read more <span class="caret"></span></a>

            </div>
        </li>
        <li class="slider__slide">
            <a href="#"><div></div><img src="images/slider/banner03.png" alt="Banner 3"></a>
            <div class="slider__caption">
              <div class="slider__caption__year">2014</div> <div class="slider__caption__subtitle">Annual results</div> <p>HKEX's financial performance for the year 2014</p>
                <a href="#" class="slider__read_more" title="Read more">Read more <span class="caret"></span></a>
            </div>
        </li>
        <li class="slider__slide">
            <a href="#"><div></div><img src="images/slider/banner02.png" alt="Banner 2"></a>
            <div class="slider__caption">
              <div class="slider__caption__year">2015</div> <div class="slider__caption__subtitle">Annual results</div> <p>HKEX's financial performance for the year 2015</p>
                <a href="#" class="slider__read_more" title="Read more">Read more <span class="caret"></span></a>
            </div>
        </li>
        <li class="slider__slide">
            <a href="#"><div></div><img src="images/slider/banner04.png" alt="Banner 4"></a>
            <div class="slider__caption">
              <div class="slider__caption__year">2013</div> <div class="slider__caption__subtitle">Annual results</div> <p>HKEX's financial performance for the year 2013</p>
                <a href="#" class="slider__read_more" title="Read more">Read more <span class="caret"></span></a>

            </div>
        </li>
        <li class="slider__slide">
            <a href="#"><div></div><img src="images/slider/banner03.png" alt="Banner 3"></a>
            <div class="slider__caption">
              <div class="slider__caption__year">2014</div> <div class="slider__caption__subtitle">Annual results</div> <p>HKEX's financial performance for the year 2014</p>
                <a href="#" class="slider__read_more" title="Read more">Read more <span class="caret"></span></a>
            </div>
        </li>
    </ul>
</div>
