
<!-- Stock quote lookup -->
<div class="right-panel-sections stock-quote-section" title="STOCK QUOTE LOOKUP">
	<div class="right-panel-sections-label">
		<h2>STOCK QUOTE LOOKUP</h2>
	</div>
	<div class="right-panel-sections-content">
		<input type="text" class="searchBox quote-lookup-search" name="searchText"  placeholder="Stock Code / Keywords" title="Stock Code / Keywords" />
	</div>
</div>
