<div class="whats-on">
  <div class="whats-on__title"><h2>WHAT’S ON</h2></div>
  <div class="video-img-thumbnail">
     <ul>
       <li>
          <img src="images/news/n1.png"
                   title="LME Week Asia Gala Dinner 2016"
                   alt="LME Week Asia Gala Dinner 2016">
              <div class="video-title"><a href="#">LME Week Asia Gala Dinner 2016</a></div>
              <span>16 Jun 2016</span>
              <p>
                  <a href="#">Black-ties and formal gowns were the order of the day as metals industry professionals gathered at the annual LME Week Asia dinner 2016.
                  </a>
              </p>
       </li>
       <li>
         <img  src="images/news/n2.png"
                 title="Market Opening Ceremony"
                 alt="Market Opening Ceremony">
            <div class="video-title"><a href="#">Market Opening Ceremony</a></div>
            <span>29 Apr 2016</span>
            <p>
                <a href="#">Welcome to the first 4 Leveraged and Inverse Products that listed on the Main Board today.
                </a>
            </p>
       </li>
       <li>
          <div class="video-control">
            <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
           <video preload="none" class="video-control__embed-video" poster="images/news/n3.png" title="The Pioneer of the World’s Financial Markets">
              <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
           </video>
             <button class="video-control__play-pause-button">1</button>
            <div class="video-control__barcontainer">
             <button class="video-control__mute-button" title="mute or unmute">mute</button>
             <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
             <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
             <div class="video-control__timebar">
               <span class="video-control__timebar-currenttime"></span>
               <span class="video-control__timebar-totaltime"></span>
             </div>
             <div  class="video-control__progressbar">
                <div class="video-control__progressbar-time"></div>
                <div class="video-control__progressbar-seekdiv">
                  <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
                </div>
                <label for="seekbar">progress bar</label><input type="range" id="seekbar" name="seekbar" class="video-control__progressbar-seekbar" value="0" />
             </div>
             <div  class="video-control__volumebar">
                <label for="volumebar">volume bar</label><input type="range" id="volumebar" name="volumebar" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
             </div>
             <div class="video-control__volumediv">
               <div class="video-control__volumediv-innerbar">volume</div>
             </div>
           </div>
          </div>
          <div class="video-title"><a href="#">The Pioneer of the World’s Financial Markets</a></div>
          <span>22 Mar 2016</span>
          <p>
              <a href="#">HKEX employees demonstrate how they live out the company’s values in their jobs each day.
              </a>
          </p>
       </li>
       <li>
         <div class="video-control">
           <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
          <video preload="none" class="video-control__embed-video" poster="images/news/n4.png" title="The Pioneer of the World’s Financial Markets">
             <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                   Your browser does not support HTML5 video.
          </video>
            <button class="video-control__play-pause-button">1</button>
           <div class="video-control__barcontainer">
            <button class="video-control__mute-button" title="mute or unmute">mute</button>
            <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
            <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
            <div class="video-control__timebar">
              <span class="video-control__timebar-currenttime">20:30/</span>
              <span class="video-control__timebar-totaltime">40:00</span>
            </div>
            <div  class="video-control__progressbar">
               <div class="video-control__progressbar-time"></div>
               <div class="video-control__progressbar-seekdiv">
                 <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
               </div>
               <label for="seekbar1">progress bar</label><input type="range" id="seekbar1" name="seekbar1" class="video-control__progressbar-seekbar" value="0" />
            </div>
            <div  class="video-control__volumebar">
               <label for="volumebar1">volume bar</label><input type="range" id="volumebar1" name="volumebar1" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1" />
            </div>
            <div class="video-control__volumediv">
              <div class="video-control__volumediv-innerbar">volume</div>
            </div>
          </div>
         </div>
          <div class="video-title"><a href="#">HKEX Unveils Strategic Plan, New Identity at Media Lunch</a></div>
          <span>22 Mar 2016</span>
          <p>
              <a title="HKEX Unveils Strategic Plan, New Identity at Media Lunch" href="#">At HKEX annual media lunch, Chief Executive Charles Li outlined HKEX’s Strategic Plan for 2016-2018 and a brand new corporate identity.
              </a>
          </p>
       </li>
       <li>
         <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
         <div class="video-control">
          <video preload="none" class="video-control__embed-video" poster="images/news/n5.png" title="The Pioneer of the World’s Financial Markets">
             <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                   Your browser does not support HTML5 video.
          </video>
            <button class="video-control__play-pause-button">1</button>
           <div class="video-control__barcontainer">
            <button class="video-control__mute-button" title="mute or unmute">mute</button>
            <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
            <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
            <div class="video-control__timebar">
              <span class="video-control__timebar-currenttime">20:30/</span>
              <span class="video-control__timebar-totaltime">40:00</span>
            </div>
            <div  class="video-control__progressbar">
               <div class="video-control__progressbar-time"></div>
               <div class="video-control__progressbar-seekdiv">
                 <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
               </div>
               <label for="seekbar2">progress bar</label><input type="range" id="seekbar2" name="seekbar2" class="video-control__progressbar-seekbar" value="0" />
            </div>
            <div  class="video-control__volumebar">
               <label for="volumebar2">volume bar</label> <input type="range" id="volumebar2" name="volumebar2" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
            </div>
            <div class="video-control__volumediv">
              <div class="video-control__volumediv-innerbar">volume</div>
            </div>
          </div>
         </div>
          <div class="video-title"><a href="#">Learn How the VCM Works</a></div>
          <span>22 Mar 2016</span>
          <p title="News Content">
              <a href="#">The HKEX Volatility Control Mechanism will cool the market for five minutes when there are abrupt price changes on individual stocks or futures.
              </a>
          </p>
       </li>
        <li>
          <div class="video-control">
            <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
           <video preload="none" class="video-control__embed-video" poster="images/news/n6.png" title="The Pioneer of the World’s Financial Markets">
             <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
           </video>
             <button class="video-control__play-pause-button">1</button>
             <div class="video-control__barcontainer">
             <button class="video-control__mute-button" title="mute or unmute">mute</button>
             <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
             <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
             <div class="video-control__timebar">
               <span class="video-control__timebar-currenttime">20:30/</span>
               <span class="video-control__timebar-totaltime">40:00</span>
             </div>
             <div  class="video-control__progressbar">
                <div class="video-control__progressbar-time"></div>
                <div class="video-control__progressbar-seekdiv">
                  <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
                </div>
                <label for="seekbar3">progress bar</label><input type="range" id="seekbar3" name="seekbar3" class="video-control__progressbar-seekbar" value="0" />
             </div>
             <div  class="video-control__volumebar">
                 <label for="volumebar3">volume bar</label><input type="range" id="volumebar3" name="volumebar3" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1" />
             </div>
             <div class="video-control__volumediv">
               <div class="video-control__volumediv-innerbar">volume</div>
             </div>
           </div>
          </div>
          <div class="video-title"><a href="#">HKEX Staff Live the Company’s Values</a></div>
          <span>22 Mar 2016</span>
          <p>
              <a href="#">HKEX employees demonstrate how they live out the company’s values in their jobs each day.
              </a>
          </p>
        </li>
      </ul>
  </div>
</div>
