<div class="blueBannerWithBtn">
  <div class="blueBannerWithBtn-text">
    NEXT STEP, SEE THE LISTING PROCESS
  </div>
  <div class="blueBannerWithBtn-btn">
    <div class="btn-red-two-lines">
      <a href="#" class="btn-for-2lines btn-arrow">Getting Started</a>
    </div>
  </div>
</div>
