<h2 class="title__main"><span>WHY LIST IN HONG KONG</span></h2>

<div class="etpIssuers__whyListInHK-tab">
  <ul class="scroll_tabs scroll_tabs_container">
    <li data-value="etf"><a href="#">LIST AN ETF</a></li>
    <li data-value="leveraged"><a href="#">LIST A LEVERAGED OR INVERSED PRODUCT</a></li>
  </ul>
  <div class="scroll_tabs_content">
    <div id="etf">
      <h3 class="etpIssuers__tab-titile">HOW TO LIST IN HONG KONG</h3>
      <p>The principal function of the Exchange is to provide a fair, orderly and efficient market for the trading of securities. In furtherance of this, the Exchange has made the Exchange Listing Rules under section 23 of the Securities and Futures Ordinance prescribing the requirements for the listing of securities on the Exchange. These comprise both requirements which have to be met before securities may be listed and also continuing obligations with which an issuer and, where applicable, a guarantor must comply once listing has been granted.</p>
    </div>
    <div id="leveraged">
      <h3>HOW TO LIST IN HONG KONG</h3>
      <p>The principal function of the Exchange is to provide a fair, orderly and efficient market for the trading of securities. In furtherance of this, the Exchange has made the Exchange Listing Rules under section 23 of the Securities and Futures Ordinance prescribing the requirements for the listing of securities on the Exchange. These comprise both requirements which have to be met before securities may be listed and also continuing obligations with which an issuer and, where applicable, a guarantor must comply once listing has been granted.</p>
    </div>
  </div>
</div>
