<div class="section__title-left-border">
    <h2>RELATED DOWNLOADS</h2>
</div>
<div class="side-content__dropdown related-downloads__content">
    <div class="select-group">
        <div class="select-target">
            <a id="select-target-etp" data-select="true" data-expend="false" href="#" data-value="report-2016">ETF and L&I Product Market Perspective</a>
        </div>
        <div class="select-items">
            <div class="select-item" data-value="report-2016" data-target="true"><a href="#">ETF and L&I Product Market Perspective</a></div>
            <div class="select-item" data-value="report-2015"><a href="#">ETF and L&I Product Market Perspective</a></div>
            <div class="select-item" data-value="report-2014"><a href="#">ETF and L&I Product Market Perspective</a></div>
        </div>
    </div>
</div>
<div class="side-content__report" id="reports-etp">
    <div id="report-2014" data-target-report="true">
        <div class="side-content__report--title"><a href="#">ETF AND L&I PRODUCT MARKET PERSPECTIVE</a></div>
        <div class="side-content__report--image">
            <a href="#"><img src="./images/report-2016.png" alt="2014 report"></a>
        </div>
    </div>
    <div id="report-2015">
        <div class="side-content__report--title"><a href="#">ETF AND L&I PRODUCT MARKET PERSPECTIVE</a></div>
        <div class="side-content__report--image">
            <a href="#"><img src="./images/report-2015.png" alt="2015 report"></a>
        </div>
    </div>
    <div id="report-2016" data-target-report="ture">
        <div class="side-content__report--title"><a href="#">ETF AND L&I PRODUCT MARKET PERSPECTIVE</a></div>
        <div class="side-content__report--image">
            <a href="#"><img src="./images/report-2016.png" alt="2016 report"></a>
        </div>
    </div>
</div>
<div class="side-content__download">
	<a href="files/report.zip">DOWNLOAD</a>
</div>
