<div class="etp-education-right__tab-part">
  <!-- Nav tabs -->
  <ul class="scroll_tabs scroll_tabs_container" role="tablist">
    <li data-value="videos"><a href="#">VIDEOS</a></li>
    <li data-value="webinars"><a href="#">WEBINARS</a></li>
    <li data-value="pdfs"><a href="#">PDFS</a></li>
    <li data-value="presentations"><a href="#">PRESENTATIONS</a></li>
    <li data-value="videos2"><a href="#">VIDEOS</a></li>
    <li data-value="webinars2"><a href="#">WEBINARS</a></li>
    <li data-value="pdfs2"><a href="#">PDFS</a></li>
    <li data-value="presentations2"><a href="#">PRESENTATIONS</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="scroll_tabs_content">
    <div id="videos">{{> videoTab}}</div>
    <div id="webinars">webnars</div>
    <div id="pdfs">pdfs</div>
    <div id="presentations">presentations</div>
    <div id="videos2">videos2</div>
    <div id="webinars2">webnars</div>
    <div id="pdfs2">pdfs</div>
    <div id="presentations2">presentations</div>
  </div>

</div>
