<div class="side-content__dropdown">
    <div class="select-group">
        <div class="select-target">
            <a id="select-target-input" data-select="true" data-expend="false" href="#" data-value="allVideos">All Videos</a>
        </div>
        <div class="select-items">
            <div class="select-item" data-value="allVideos" data-target="true"><a href="#">All Videos</a></div>
            <div class="select-item" data-value="report-2015"><a href="#">2015</a></div>
            <div class="select-item" data-value="report-2014"><a href="#">2014</a></div>
        </div>
    </div>
</div>
<div class="video-img-thumbnail">
  <ul>
    <li>
       <div class="video-control">
         <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
        <video preload="none" class="video-control__embed-video" poster="images/news/n3.png" title="INVESTMENT BASICS: Options">
           <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
        </video>
          <button class="video-control__play-pause-button">1</button>
         <div class="video-control__barcontainer">
          <button class="video-control__mute-button" title="mute or unmute">mute</button>
          <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
          <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
          <div class="video-control__timebar">
            <span class="video-control__timebar-currenttime"></span>
            <span class="video-control__timebar-totaltime"></span>
          </div>
          <div  class="video-control__progressbar">
             <div class="video-control__progressbar-time"></div>
             <div class="video-control__progressbar-seekdiv">
               <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
             </div>
             <label for="seekbar">progress bar</label><input type="range" id="seekbar" name="seekbar" class="video-control__progressbar-seekbar" value="0" />
          </div>
          <div  class="video-control__volumebar">
             <label for="volumebar">volume bar</label><input type="range" id="volumebar" name="volumebar" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
          </div>
          <div class="video-control__volumediv">
            <div class="video-control__volumediv-innerbar">volume</div>
          </div>
        </div>
       </div>
       <div class="video-title">INVESTMENT BASICS: Options</div>
       <p>
           HKEX employees demonstrate how they live out the company’s values in their jobs each day. HKEX employees demonstrate how they live out the company’s values in their jobs each day. HKEX employees demonstrate how they live out the company’s values in their jobs each day. HKEX employees demonstrate how they live out the company’s values in their jobs each day.
       </p>
    </li>
    <li>
      <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
      <div class="video-control">
       <video preload="none" class="video-control__embed-video" poster="images/news/n5.png" title="What is the Blockchain">
          <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
       </video>
         <button class="video-control__play-pause-button">1</button>
        <div class="video-control__barcontainer">
         <button class="video-control__mute-button" title="mute or unmute">mute</button>
         <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
         <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
         <div class="video-control__timebar">
           <span class="video-control__timebar-currenttime">20:30/</span>
           <span class="video-control__timebar-totaltime">40:00</span>
         </div>
         <div  class="video-control__progressbar">
            <div class="video-control__progressbar-time"></div>
            <div class="video-control__progressbar-seekdiv">
              <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
            </div>
            <label for="seekbar2">progress bar</label><input type="range" id="seekbar2" name="seekbar2" class="video-control__progressbar-seekbar" value="0" />
         </div>
         <div  class="video-control__volumebar">
            <label for="volumebar2">volume bar</label> <input type="range" id="volumebar2" name="volumebar2" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
         </div>
         <div class="video-control__volumediv">
           <div class="video-control__volumediv-innerbar">volume</div>
         </div>
       </div>
      </div>
       <div class="video-title">What is the Blockchain</div>
       <p title="News Content">
           The HKEX Volatility Control Mechanism will cool the market for five minutes when there are abrupt price changes on individual stocks or futures.
       </p>
    </li>
    <li>
       <div class="video-control">
         <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
        <video preload="none" class="video-control__embed-video" poster="images/news/n6.png" title="What is Bitcoin">
          <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
        </video>
          <button class="video-control__play-pause-button">1</button>
          <div class="video-control__barcontainer">
          <button class="video-control__mute-button" title="mute or unmute">mute</button>
          <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
          <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
          <div class="video-control__timebar">
            <span class="video-control__timebar-currenttime">20:30/</span>
            <span class="video-control__timebar-totaltime">40:00</span>
          </div>
          <div  class="video-control__progressbar">
             <div class="video-control__progressbar-time"></div>
             <div class="video-control__progressbar-seekdiv">
               <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
             </div>
             <label for="seekbar3">progress bar</label><input type="range" id="seekbar3" name="seekbar3" class="video-control__progressbar-seekbar" value="0" />
          </div>
          <div  class="video-control__volumebar">
              <label for="volumebar3">volume bar</label><input type="range" id="volumebar3" name="volumebar3" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1" />
          </div>
          <div class="video-control__volumediv">
            <div class="video-control__volumediv-innerbar">volume</div>
          </div>
        </div>
       </div>
       <div class="video-title">What is Bitcoin</div>
       <p>
           HKEX employees demonstrate how they live out the company’s values in their jobs each day.
       </p>
    </li>
     <li>
        <div class="video-control">
          <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
         <video preload="none" class="video-control__embed-video" poster="images/news/n4.png" title="INVESTMENT BASICS: Futures">
            <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
         </video>
           <button class="video-control__play-pause-button">1</button>
          <div class="video-control__barcontainer">
           <button class="video-control__mute-button" title="mute or unmute">mute</button>
           <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
           <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
           <div class="video-control__timebar">
             <span class="video-control__timebar-currenttime"></span>
             <span class="video-control__timebar-totaltime"></span>
           </div>
           <div  class="video-control__progressbar">
              <div class="video-control__progressbar-time"></div>
              <div class="video-control__progressbar-seekdiv">
                <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
              </div>
              <label for="seekbar4">progress bar</label><input type="range" id="seekbar4" name="seekbar4" class="video-control__progressbar-seekbar" value="0" />
           </div>
           <div  class="video-control__volumebar">
              <label for="volumebar4">volume bar</label><input type="range" id="volumebar4" name="volumebar4" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
           </div>
           <div class="video-control__volumediv">
             <div class="video-control__volumediv-innerbar">volume</div>
           </div>
         </div>
        </div>
        <div class="video-title">INVESTMENT BASICS: Futures</div>
        <p>
           HKEX employees demonstrate how they live out the company’s values in their jobs each day.
        </p>
     </li>
     <li>
       <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
       <div class="video-control">
        <video preload="none" class="video-control__embed-video" poster="images/news/n5.png" title="Risks and Returns in Commodity investing">
           <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
        </video>
          <button class="video-control__play-pause-button">1</button>
         <div class="video-control__barcontainer">
          <button class="video-control__mute-button" title="mute or unmute">mute</button>
          <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
          <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
          <div class="video-control__timebar">
            <span class="video-control__timebar-currenttime">20:30/</span>
            <span class="video-control__timebar-totaltime">40:00</span>
          </div>
          <div  class="video-control__progressbar">
             <div class="video-control__progressbar-time"></div>
             <div class="video-control__progressbar-seekdiv">
               <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
             </div>
             <label for="seekbar5">progress bar</label><input type="range" id="seekbar5" name="seekbar5" class="video-control__progressbar-seekbar" value="0" />
          </div>
          <div  class="video-control__volumebar">
             <label for="volumebar5">volume bar</label> <input type="range" id="volumebar5" name="volumebar5" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
          </div>
          <div class="video-control__volumediv">
            <div class="video-control__volumediv-innerbar">volume</div>
          </div>
        </div>
       </div>
        <div class="video-title">Risks and Returns in Commodity investing</div>
        <p title="News Content">
            The HKEX Volatility Control Mechanism will cool the market for five minutes when there are abrupt price changes on individual stocks or futures.
        </p>
     </li>
     <li>
        <div class="video-control">
          <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
         <video preload="none" class="video-control__embed-video" poster="images/news/n3.png" title="INVESTMENT BASICS: Forex">
           <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
         </video>
           <button class="video-control__play-pause-button">1</button>
           <div class="video-control__barcontainer">
           <button class="video-control__mute-button" title="mute or unmute">mute</button>
           <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
           <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
           <div class="video-control__timebar">
             <span class="video-control__timebar-currenttime">20:30/</span>
             <span class="video-control__timebar-totaltime">40:00</span>
           </div>
           <div  class="video-control__progressbar">
              <div class="video-control__progressbar-time"></div>
              <div class="video-control__progressbar-seekdiv">
                <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
              </div>
              <label for="seekbar6">progress bar</label><input type="range" id="seekbar6" name="seekbar6" class="video-control__progressbar-seekbar" value="0" />
           </div>
           <div  class="video-control__volumebar">
               <label for="volumebar6">volume bar</label><input type="range" id="volumebar6" name="volumebar6" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1" />
           </div>
           <div class="video-control__volumediv">
             <div class="video-control__volumediv-innerbar">volume</div>
           </div>
         </div>
        </div>
        <div class="video-title">INVESTMENT BASICS: Forex</div>
        <p>
          HKEX employees demonstrate how they live out the company’s values in their jobs each day.
        </p>
    </li>
      <li>
         <div class="video-control">
           <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
          <video preload="none" class="video-control__embed-video" poster="images/news/n6.png" title="Portfolio Diversification">
             <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                   Your browser does not support HTML5 video.
          </video>
            <button class="video-control__play-pause-button">1</button>
           <div class="video-control__barcontainer">
            <button class="video-control__mute-button" title="mute or unmute">mute</button>
            <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
            <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
            <div class="video-control__timebar">
              <span class="video-control__timebar-currenttime"></span>
              <span class="video-control__timebar-totaltime"></span>
            </div>
            <div  class="video-control__progressbar">
               <div class="video-control__progressbar-time"></div>
               <div class="video-control__progressbar-seekdiv">
                 <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
               </div>
               <label for="seekbar7">progress bar</label><input type="range" id="seekbar7" name="seekbar7" class="video-control__progressbar-seekbar" value="0" />
            </div>
            <div  class="video-control__volumebar">
               <label for="volumebar7">volume bar</label><input type="range" id="volumebar7" name="volumebar7" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
            </div>
            <div class="video-control__volumediv">
              <div class="video-control__volumediv-innerbar">volume</div>
            </div>
          </div>
         </div>
         <div class="video-title">Portfolio Diversification</div>
         <p>
            HKEX employees demonstrate how they live out the company’s values in their jobs each day.
         </p>
      </li>
      <li>
        <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
        <div class="video-control">
         <video preload="none" class="video-control__embed-video" poster="images/news/n5.png" title="Mutual Funds Commissions and Fees">
            <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
         </video>
           <button class="video-control__play-pause-button">1</button>
          <div class="video-control__barcontainer">
           <button class="video-control__mute-button" title="mute or unmute">mute</button>
           <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
           <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
           <div class="video-control__timebar">
             <span class="video-control__timebar-currenttime">20:30/</span>
             <span class="video-control__timebar-totaltime">40:00</span>
           </div>
           <div  class="video-control__progressbar">
              <div class="video-control__progressbar-time"></div>
              <div class="video-control__progressbar-seekdiv">
                <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
              </div>
              <label for="seekbar8">progress bar</label><input type="range" id="seekbar8" name="seekbar8" class="video-control__progressbar-seekbar" value="0" />
           </div>
           <div  class="video-control__volumebar">
              <label for="volumebar8">volume bar</label> <input type="range" id="volumebar8" name="volumebar8" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
           </div>
           <div class="video-control__volumediv">
             <div class="video-control__volumediv-innerbar">volume</div>
           </div>
         </div>
        </div>
         <div class="video-title">Mutual Funds Commissions and Fees</div>
         <p title="News Content">
           The HKEX Volatility Control Mechanism will cool the market for five minutes when there are abrupt price changes on individual stocks or futures.
         </p>
      </li>
      <li>
         <div class="video-control">
           <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
          <video preload="none" class="video-control__embed-video" poster="images/news/n2.png" title="Risks and Returns in Commodity investing">
            <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                   Your browser does not support HTML5 video.
          </video>
            <button class="video-control__play-pause-button">1</button>
            <div class="video-control__barcontainer">
            <button class="video-control__mute-button" title="mute or unmute">mute</button>
            <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
            <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
            <div class="video-control__timebar">
              <span class="video-control__timebar-currenttime">20:30/</span>
              <span class="video-control__timebar-totaltime">40:00</span>
            </div>
            <div  class="video-control__progressbar">
               <div class="video-control__progressbar-time"></div>
               <div class="video-control__progressbar-seekdiv">
                 <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
               </div>
               <label for="seekbar9">progress bar</label><input type="range" id="seekbar9" name="seekbar9" class="video-control__progressbar-seekbar" value="0" />
            </div>
            <div  class="video-control__volumebar">
                <label for="volumebar9">volume bar</label><input type="range" id="volumebar9" name="volumebar9" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1" />
            </div>
            <div class="video-control__volumediv">
              <div class="video-control__volumediv-innerbar">volume</div>
            </div>
          </div>
         </div>
         <div class="video-title">Risks and Returns in Commodity investing</div>
         <p>
            HKEX employees demonstrate how they live out the company’s values in their jobs each day.
         </p>
       </li>
      <li>
          <div class="video-control">
            <!-- Please use at least two video type for video source to support different browsers to decode video,recommand to use MP4 with ogg/WebM, or all three of them-->
           <video preload="none" class="video-control__embed-video" poster="images/news/n1.png" title="Portfolio Diversification">
             <source src="http://hkexvideo.blob.core.windows.net/video/LMEWeekAsia2016highlights.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
           </video>
             <button class="video-control__play-pause-button">1</button>
             <div class="video-control__barcontainer">
             <button class="video-control__mute-button" title="mute or unmute">mute</button>
             <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
             <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
             <div class="video-control__timebar">
               <span class="video-control__timebar-currenttime">20:30/</span>
               <span class="video-control__timebar-totaltime">40:00</span>
             </div>
             <div  class="video-control__progressbar">
                <div class="video-control__progressbar-time"></div>
                <div class="video-control__progressbar-seekdiv">
                  <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
                </div>
                <label for="seekbar10">progress bar</label><input type="range" id="seekbar10" name="seekbar10" class="video-control__progressbar-seekbar" value="0" />
             </div>
             <div  class="video-control__volumebar">
                 <label for="volumebar10">volume bar</label><input type="range" id="volumebar10" name="volumebar10" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1" />
             </div>
             <div class="video-control__volumediv">
               <div class="video-control__volumediv-innerbar">volume</div>
             </div>
           </div>
          </div>
          <div class="video-title">Portfolio Diversification</div>
          <p>
                HKEX employees demonstrate how they live out the company’s values in their jobs each day.
          </p>
        </li>
  </ul>
</div>
