<div class="faqWidget">
    <div class="section__title-left-border">
        <h2>RELATED FAQS</h2>
    </div>
    <div class="faqWidget__content">
      <div class="faqWidget__content__searchBox-container">
        <input type="text" class="searchBox" name="searchBox" placeholder="Enter a question, keyword, or topic" title="Enter a question, keyword, or topic">

      </div>
        <div class="faqWidget__content-container">
            <ul class="faqWidget__content-item">
                <li><a href=""><span>How did HKEX develop into its existing framework?</span><i></i></a></li>
            </ul>
        </div>
        <div class="faqWidget__content-container">
            <ul class="faqWidget__content-item">
                <li><a href=""><span>Where can investors access HKEX’s latest information, publications and market data?</span><i></i></a></li>
            </ul>
        </div>
        <div class="faqWidget__content-container">
            <ul class="faqWidget__content-item">
                <li><a href=""><span>How can investor request prices from an Liquidity Provider?</span><i></i></a></li>
            </ul>
        </div>
        <div class="faqWidget__content-container">
            <ul class="faqWidget__content-item">
                <li><a href=""><span>When and how is a cash-settled derivative warrant exercised?</span><i></i></a></li>
            </ul>
        </div>
        <div class="faqWidget__content-container">
            <ul class="faqWidget__content-item">
                <li><a href=""><span>What are the procedures for a vist to the Exchange Exhibition Hall?</span><i></i></a></li>
            </ul>
        </div>
        <div class="view-all" title="VIEW ALL FAQS">
            <a href="#">view all faqs &nbsp;</a>
        </div>
    </div>
</div>
