<div class="pollWidget-radio">
    <div class="section__title-left-border">
        <h2>SAMPLE POLL WIDGET02</h2>
    </div>
    <div class="pollWidget-radio__content ">
        <p class="pollWidget-radio__content__subtitle">
            How did HKEX develop into its existing framework?
        </p>
        <div class="radio-custom">
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id1" value="value1" data-value="displayValue1" tabindex="-1">
                <label for="radio_id1" tabindex="0" class="filter__checkBox__tab-js">The Stock Exchange of Hong Kong Limited (SEHK)</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id2" value="value2" data-value="displayValue2" tabindex="-1">
                <label for="radio_id2" tabindex="0" class="filter__checkBox__tab-js">Hong Kong Securities Clearing Company Limited (HKSCC)</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id3" value="value3" data-value="displayValue3" tabindex="-1">
                <label for="radio_id3" tabindex="0" class="filter__checkBox__tab-js">Hong Kong Futures Exchange Limited (HKFE)</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id4" value="value4" data-value="displayValue4" tabindex="-1">
                <label for="radio_id4" tabindex="0" class="filter__checkBox__tab-js">HKFE Clearing Corporation Limited (HKCC)</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id5" value="value5" data-value="displayValue5" tabindex="-1">
                <label for="radio_id5" tabindex="0" class="filter__checkBox__tab-js">The SEHK Options Clearing House Limited (SEOCH)</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id6" value="value6" data-value="displayValue6" tabindex="-1">
                <label for="radio_id6" tabindex="0" class="filter__checkBox__tab-js">OTC Clearing Hong Kong Limited (OTC Clear)</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id7" value="value7" data-value="displayValue7" tabindex="-1">
                <label for="radio_id7" tabindex="0" class="filter__checkBox__tab-js">Stock Connect related circulars</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id8" value="value8" data-value="displayValue8" tabindex="-1">
                <label for="radio_id8" tabindex="0" class="filter__checkBox__tab-js">IPO</label>
            </div>
            <hr>
            <div class="radio-custom__wrapper">
                <input type="radio" name="groupName" id="radio_id9" value="value9" data-value="displayValue9" tabindex="-1">
                <label for="radio_id9" tabindex="0" class="filter__checkBox__tab-js">Tag3</label>
            </div>
        </div>
        <div class="btn-align-middle">
            <button type="button" class="btn-blue">Submit</button>
        </div>
    </div>
</div>
