.findPartner {
    color: $hkex-blue;
    .findPartner__overview {
        background-color: $white;
        margin-top: 20px;
        @include susy-breakpoint(max-width $large) {
            margin-top: 0;
        }
        .overview-container {
            padding: 0 30px 25px 30px;
            @include susy-breakpoint(max-width $medium) {
                padding: 0 20px 20px 20px;
            }
            p {
                margin: 0;
                line-height: 20px;
                font-size: toRem(14);
                color: $hkex-blue;
            }
            hr {
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: 0;
                border: 0;
                border-top: 1px solid $separate-line2;
                height: 0;
                width: 130px;
            }
            .overview-tips {
                font-size: toRem(14);
                color: $hkex-blue;
                h3:before {
                    content: '';
                    background: url('../images/tips.png') no-repeat center;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                    margin-bottom: -1px;
                }
                ol {
                    padding-left: 16px;
                    margin-bottom: 0;
                    li a {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
                .iconInTips {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .findPartner__vendorList {
        background-color: $white;
        margin-top: 20px;

        .findParter__Table {
            @include susy-breakpoint(min-width $desktop-start) {
                width: 100%;
            }
            .fixed-freeze-tb-parent {
                @include susy-breakpoint(min-width $desktop-start) {
                    width: 100%;
                }
            }
            .leftAlign th {
                text-align: left;
            }
            .vendorName {
                font-size: toRem(12);
                font-weight: bold;
                color: $hkex-blue;
                margin-top: 0;
                margin-bottom: 10px;
            }
            .vendorInfo {
                font-size: toRem(12);
                color: $hkex-blue;
                padding-left: 0;
                margin: 0;
                list-style-type: none;
                li {
                    line-height: 21px;
                    padding-left: 20px;
                    word-wrap: break-word;
                }
            }
            .vendorHome:before {
                content: '';
                background: url('../images/ic-home.png') no-repeat center;
                display: inline-block;
                width: 12px;
                height: 10px;
                margin-right: 5px;
                margin-bottom: -1px;
                margin-left: -20px;
            }
            .vendorPerson:before {
                content: '';
                background: url('../images/ic-person.png') no-repeat center;
                display: inline-block;
                width: 12px;
                height: 10px;
                margin-right: 5px;
                margin-bottom: -1px;
                margin-left: -20px;
            }
            .vendorCall:before {
                content: '';
                background: url('../images/ic-call.png') no-repeat center;
                display: inline-block;
                width: 12px;
                height: 10px;
                margin-right: 5px;
                margin-bottom: -1px;
                margin-left: -20px;
            }
            .vendorPrint:before {
                content: '';
                background: url('../images/ic-print.png') no-repeat center;
                display: inline-block;
                width: 12px;
                height: 10px;
                margin-right: 5px;
                margin-bottom: -1px;
                margin-left: -20px;
            }
            .vendorEmail:before {
                content: '';
                background: url('../images/ic-email.png') no-repeat center;
                display: inline-block;
                width: 12px;
                height: 10px;
                margin-right: 5px;
                margin-bottom: -1px;
                margin-left: -20px;
            }
            table tbody tr td {
                text-align: center;
                font-size: 12px;
                color: $vendorList-NA;
            }
            table tbody tr td:first-child {
                text-align: left;
            }
            .checkedWithoutInfo {
                display: inline-block;
                width: 23px;
                height: 23px;
                background: url('../images/checked-mark-icon2.png') no-repeat center;
            }            
            .checkedWithInfo {
                display: inline-block;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background: url('../images/checked-mark-icon.png') no-repeat center;
                background-size: 23px;
            }
            .checkedWithInfo:hover, .checkedWithInfo:active {
                box-shadow: 0 0 2px 1px $checkedMark-box-shadow;
            }
            .vendorListPopover {
                z-index: 11;
                .popover__content {
                    right: 53px;
                }
				.popover__content:before, 
				.popover__content:after {
					left: 50%;
				}
                .vendorInfo {
                    padding: 15px 20px;
                    text-align: left;
                }
            }
        }
    }

}
