<div class="section__title-left-border quesitons__title monthly-bulletin__title">
    <h2>MONTHLY BULLETIN</h2>
</div>
<div class="monthly-bulletin__filter-input">
    <div class="select-group monthly-bulletin__select-group" data-width="180">
        <div class="select-target monthly-bulletin__select-target">
            <a id="select-target-input" data-select="true" data-expend="false" href="#">June 2016</a>
        </div>
        <div class="select-items monthly-bulletin__select-items-date">
            <div class="select-item monthly-bulletin__select-item" data-value="report-2016" data-target="true"><a href="#">June 2016</a></div>
            <div class="select-item monthly-bulletin__select-item" data-value="report-2015"><a href="#">June 2015</a></div>
            <div class="select-item monthly-bulletin__select-item" data-value="report-2014"><a href="#">June 2014</a></div>
        </div>
    </div>
    <div class="select-group monthly-bulletin__select-group">
        <div class="select-target monthly-bulletin__select-target">
            <a id="select-target-input" data-select="true" data-expend="false" href="#">Trading Summary for Equity Warrants</a>
        </div>
        <div class="select-items">
            <div class="select-item monthly-bulletin__select-item" data-value="report-2016" data-target="true"><a href="#">Trading Summary for Equity Warrants</a></div>
        </div>
    </div>
</div>

<div class="fixed-freeze-tb-container sticky-header-table">
  <div class="fixed-freeze-tb--scroller-container">
    <div class="fixed-freeze-tb--scroll-bar">
        <div class="fixed-freeze-tb--bar">
        </div>
    </div>
  </div>

    <div class="table-container fixed-freeze-tb-parent">
        <table class="fixed-freeze-tb table hasSubHeading table-sort table-scroll">
            <thead>
                <tr>
                    <th rowspan=2 align="left" class="is-fix-col borderRight">Stock</th>
                    <th rowspan=2>Code1</th>
                    <th rowspan=2 width="3%" align="left">Trading Currency</th>
                    <th colspan=4 width="10%">This Month</th>
                    <th rowspan=2 align="left">Column 1</th>
                    <th rowspan=2 align="left">Column 2</th>
                    <th rowspan=2 align="left">Column 3</th>
                    <th rowspan=2 align="left">Column 4</th>
                </tr>
                <tr class="subheading">
                    <th width="3%">High</th>
                    <th width="3%">Low</th>
                    <th width="3%">Close</th>
                    <th width="8%">Turnover ($)</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="left" colspan="11"><a class="btn-print-preview">Print Preview</a>
                        <p>A = Adjusted, if applied
                            <br /> (*) No calculation for securities traded less than 6 months.</p>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Allied Properties (HK) Ltd. Warrants 2016</td>
                    <td align="right">1183</td>
                    <td align="right">HKD</td>
                    <td align="right">-</td>
                    <td align="right">-</td>
                    <td align="right">0.010</td>
                    <td align="right">0</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Cheuk Nang (Holdings) Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Culturecom Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>HengTen Networks Group Ltd. Warrants 2017</td>
                    <td align="right">1493</td>
                    <td align="right">HKD</td>
                    <td align="right">0.085</td>
                    <td align="right">0.055</td>
                    <td align="right">0.065</td>
                    <td align="right">40,142</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Hong Kong Resources Holdings Co. Ltd. Warrants 2018</td>
                    <td align="right">1350</td>
                    <td align="right">HKD</td>
                    <td align="right">0.030</td>
                    <td align="right">0.010</td>
                    <td align="right">0.024</td>
                    <td align="right">222,093</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>International Standard Resources Holdings Ltd. Warrants 2016</td>
                    <td align="right">1425</td>
                    <td align="right">HKD</td>
                    <td align="right">0.045</td>
                    <td align="right">0.024</td>
                    <td align="right">0.027</td>
                    <td align="right">1,363,837</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Ju Teng International Holdings Ltd. Warrants 2016</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Miramar Hotel & Investment Co. Ltd. Warrants 2018</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Orient Victory China Holdings Ltd. Warrants 2017</td>
                    <td align="right">1350</td>
                    <td align="right">HKD</td>
                    <td align="right">0.030</td>
                    <td align="right">0.010</td>
                    <td align="right">0.024</td>
                    <td align="right">222,093</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Sinoref Holdings Ltd. Warrants 2017</td>
                    <td align="right">964</td>
                    <td align="right">HKD</td>
                    <td align="right">0.020</td>
                    <td align="right">0.010</td>
                    <td align="right">0.020</td>
                    <td align="right">3,129</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Skyway Securities Group Ltd. Warrants 2017</td>
                    <td align="right">1457</td>
                    <td align="right">HKD</td>
                    <td align="right">1.700</td>
                    <td align="right">1.300</td>
                    <td align="right">1.700</td>
                    <td align="right">278,573</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
                <tr>
                    <td>Styland Holdings Ltd. Warrants 2016</td>
                    <td align="right">1453</td>
                    <td align="right">HKD</td>
                    <td align="right">0.400</td>
                    <td align="right">0.260</td>
                    <td align="right">0.260</td>
                    <td align="right">440,250</td>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
