  <div class="banner__breadcrumb-tablet-mobile">
    <div><ul>
      <li><a href="#">{{title}}</a></li>
      {{#each subTitles}}
        <li><a href="#">{{this}}</a></li>
      {{/each}}
      {{#if headerText}}
        <li><a href="#"><h1 class="banner__breadcrumb__pageTitle">{{headerText}}</h1></a></li>
      {{/if}}
      </ul>
  </div>
</div>
