<div class="section__title-left-border quesitons__title monthly-bulletin__title">
    <h2>MONTHLY BULLETIN</h2>
</div>
<div class="monthly-bulletin__filter-input">
    <div class="select-group monthly-bulletin__select-group1">
        <div class="select-target monthly-bulletin__select-target">
            <a id="select-target-input-1" data-select="true" data-expend="false" href="#">June 2016</a>
        </div>
        <div class="select-items monthly-bulletin__select-items-date">
            <div class="select-item monthly-bulletin__select-item" data-value="report-2016" data-target="true"><a href="#">June 2016</a></div>
            <div class="select-item monthly-bulletin__select-item" data-value="report-2015"><a href="#">June 2015</a></div>
            <div class="select-item monthly-bulletin__select-item" data-value="report-2014"><a href="#">June 2014</a></div>
        </div>
    </div>
    <div class="select-group monthly-bulletin__select-group2">
        <div class="select-target monthly-bulletin__select-target">
            <a id="select-target-input" class="select-target-input-2" data-select="true" data-expend="false" href="#">Type of listed securities</a>
        </div>
        <div class="select-items">
            <div class="select-item monthly-bulletin__select-item" data-value="0" data-target="true"><a href="#">Type of listed securities</a></div>
            <div class="select-item monthly-bulletin__select-item" data-value="1" data-target="false"><a href="#">Trading only stocks</a></div>
        </div>
    </div>
</div>
<div class="table__wrapper">
</div>
<div class="fixed-freeze-tb-container sticky-header-table">
    <div class="fixed-freeze-tb--scroller-container">
        <div class="fixed-freeze-tb--scroll-bar">
            <div class="fixed-freeze-tb--bar"></div>
        </div>
    </div>
    <div class="fixed-freeze-tb--scroll-bts">
    	<div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>

    <div class="table-container fixed-freeze-tb-parent">
    </div>
</div>
{{!--
<div class="fixed-freeze-tb-parent"></div> --}}
<div class="content__footer">
	<a href="tablePrintPreview.html" class="btn-print-preview">Print Preview</a>
</div>
