.equityIndex-contract {
	margin-top: 20px;
}
div.equityIndex-contract__content {
	padding-left: 0 !important;
	padding-right: 0 !important;
	div.panel {
		a {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	.panel-heading {
		font-size: toRem(14);
	}
	.panel-body {
		margin-bottom: 0;
		dt,dd{
			font-size: 12px;
			font-size: toRem(12);
		}
	}
	& hr {
		margin-top: 0;
		border-top: 1px solid $level8-color;
		margin-left: 30px;
		margin-right: 30px;
	}
}
