.equityIndex-marginTable {
    margin-top: 20px;
}

.marginTable {
    &__content {
        padding-bottom: 20px;
    }
    tbody {
        tr {
            td {
                border-bottom: 1px solid $level9-color;
                // border-left: 1px solid $level9-color;
                &:not(.is-fix-col) {
                    border-right: 1px solid $level9-color;
                }
                &.is-fix-col {
                    vertical-align: middle;
                    .fix-border {
                        padding: 40px 12px 40px 0px;
                    }
                }
                & .freeze-col-context {
                    border-bottom: 1px solid $level9-color;
                    bottom: -1px;
                    @media screen and (-webkit-min-device-pixel-ratio: 0) {
                        //Chrome、Safari、Opera,Edge
                        border-bottom: none;
                        bottom: 0px;
                    }
                    @media screen\0 {
                        //ie
                        border-bottom: 1px solid $level9-color;
                        bottom: 10px;
                    }
                }
                &.is-fix-col {
                    @media screen\0 {
                        //ie
                        position: absolute;
                        top: 1px;
                    }
                }
            }
        }
        tr.marginTable__rowspan-tr {
            td {
                background: $white;
                border-bottom: 1px solid $level9-color;
                border-right: 1px solid $level9-color;
            }
            td:last-child {
                // border-right: none;
            }
        }
    }
    .rightAlign {
        text-align: right;
    }
}
