.equityIndex-market-data {
    padding-bottom: 20px;
    &__updated-date {
        padding-top: 5px;
        font-size: toRem(11);
        float: right;
        color: $hkex-gray-deep;
        @include susy-breakpoint(max-width $medium) {
            display: none;
        }
    }
    &__tab {
        text-transform: uppercase;
    }
    &__img {
        content: "";
        background-image: url('../images/marketdata2.png');
        width: 100%;
        height: 303px;
        background-repeat: no-repeat;
        background-position: center;
        @include susy-breakpoint(max-width $medium) {
            background-image: url('../images/marketdata1.png');
            height: 351px;
        }
    }
    .scroll_tabs_container{
        .scroll_tab_inner{
            li{
                font-size: toRem(14);
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 40px;
                letter-spacing: 0.5px;
                text-align: center;
                color: $level13-color;
                padding-left: 21.5px;
                padding-right: 16.5px;

                &.tab_selected{
                    color: $level12-color;
                }
            }
        }

    }
}

