.equityIndex-overview {
    margin-bottom: 20px;
    &-container {
        padding-top: 6px;
        padding-bottom: 10px;
    }
}
.equityIndex-securities {
    &__title {
        padding-top: 6px !important;
        padding-bottom: 0 !important;
        text-transform: uppercase;
    }
    &__context {
        margin-top: 15px;
    }
    &__context p {
        color: $level1-color;
        width: 96%;
        font-size: toRem(14);
        line-height: 1.43;
        margin: 14px 0;
        @include susy-breakpoint(max-width $medium) {
            width: 100%;
            padding: 0;
        }
    }
    &__collapse-title[aria-expanded='true'] {
        background: url("../images/arrow_up.svg") no-repeat right center;
    }
    &__collapse-title[aria-expanded='false'] {
        background: url("../images/down-arrow-red.svg") no-repeat right center;
    }
    &__quicklinks-item {
        display: inline-block;
        width: 46%;
        margin-right: 20px;
    }
}
