<div class="fixed-freeze-tb-container sticky-header-table">
    <div class="fixed-freeze-tb--scroller-container">
        <div class="fixed-freeze-tb--scroll-bar">
            <div class="fixed-freeze-tb--bar"></div>
        </div>
    </div>
    <div class="fixed-freeze-tb--scroll-bts">
        <div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
    <div class="table-container fixed-freeze-tb-parent">
        <table class="table fixed-freeze-tb circulars-table-1 table-sort ">
            <thead>
                <tr>
                    <th>Date (dd/mm/yyyy)</th>
                    <th class="circulars-table__dropdown">Issued by
                        <div class="select-group" data-width="80">
                            <div class="select-target">
                                <a id="circulars-table-filter" data-select="true" data-expend="false" href="#">All</a>
                            </div>
                            <div class="select-items" data-height="300">
                                <div class="select-item" data-value="report-2016" data-target="true"><a href="#">All</a></div>
                                <div class="select-item" data-value="report-2015"><a href="#">SEHKS</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">HKSCC</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">HKFE</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">HKCC</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">SEOCH</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">OTCC</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">SEHK</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">HKSCC</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">HKFE</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">SEOCH</a></div>
                                <div class="select-item" data-value="report-2014"><a href="#">OTCC</a></div>
                            </div>
                        </div>
                    </th>
                    <th class="table-text__left">Subject</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01 Dec 2017</td>
                    <td>SEHK</td>
                    <td class="circulars-table__subject">
                        <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank"> Adoption of the revised ISDA Offshore Deliverable CNY Transaction Disruption Fallback Matrix published by the International Swaps and Derivatives Association, Inc. (ISDA) by OTC Clear</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/007/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>08/07/2018</td>
                    <td>SEHK</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank"> SFC designates OTC Clear as a central counterparty for OTC derivative transactions mandated for clearing</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/007/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>11 Nov 2017</td>
                    <td>HKSCC</td>
                    <td class="circulars-table__subject  table-tags__td">
                        <span class="tag-yellow tag-yellow-triangle">STOCK CONNECT</span>
                        <span class="tag-yellow">IPO</span>
                        <span class="tag-yellow">Tag 3</span>
                        <span class="tag-yellow">Tag 3</span>
                        <span class="tag-yellow">STOCK CONNECT</span>
                        <span class="tag-yellow">Tag 3</span>
                        <span class="tag-yellow">Tag 3</span>
                        <span class="tag-yellow">Tag 3</span>
                        <div class="table-tags__td--content">
                            <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank"> New Clearing Member – Agricultural Bank of China Limited, Hong Kong </a>
                            <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>17/06/2016</td>
                    <td>HKSCC</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank"> Shenzhen-Hong Kong Stock Connect Investor Roadshow</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>13/06/2016</td>
                    <td>HKFE</td>
                    <td class="circulars-table__subject table-tags__td">
                        <span class="tag-yellow tag-yellow-triangle">IPO</span>
                        <span class="tag-yellow">Tag 3</span>
                        <div class="table-tags__td--content">
                            <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">Routine re-calculation of Rates and FX Guarantee Fund and request for additional Collateral</a>
                            <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>06/07/2016</td>
                    <td>HKFE</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">Service launch of Cross Currency Swap clearing on 15th August 2016 and related system enhancements</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>06/07/2016</td>
                    <td>HKSCC</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">Data for Calculating Capital Requirements under Basel III Accord</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>06/07/2016</td>
                    <td>SEHK</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">Routine Collateral Haircut Review and Adjustment</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>06/07/2016</td>
                    <td>HKSCC</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">Service launch of Cross Currency Swap clearing on 15th August 2016 and related system enhancements</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>06/07/2016</td>
                    <td>HKFE</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">Amendments to the Clearing Rules and Clearing Procedures of OTC Clearing Hong Kong Limited (“OTC Clear”)</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                    </td>
                </tr>
                <tr>
                    <td>06/07/2016</td>
                    <td>SEHK</td>
                    <td class="circulars-table__subject"> <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank">Data for Calculating Capital Requirements under Basel III Accord</a>
                        <div class="circulars-table__ref--number">Ref Number: OTCO/005/2016</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
