<h2 class="title__side"><span>ETP RELATED NEWS</span></h2>
<div class="etp-overview-relate-news">
    <!-- Nav tabs -->
    <ul class="scroll_tabs scroll_tabs_container scroll_tabs_side tabs-for-sidebar">
      <li data-value="news-list"><a href="#">NEWS RELEASES</a></li>
      <li data-value="news-update"><a href="#">UPDATES</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="scroll_tabs_content list-panel">
        <div id="news-list">
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">
                      <a title="HKEX 2016 First Quarter Results" href="#">
                        HKEX 2016 First Quarter Results</a></div>
                    <div class="list-panel__item-heading-date" title="Date of publish">May 10, 2016</div>
                </div>
            </div>
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">
                        <a title="Re-appointment of Chairman Approved" href="#">
                              Re-appointment of Chairman Approved
                            </a>
                    </div>
                    <div class="list-panel__item-heading-date" title="Date">May 09, 2016</div>
                </div>
            </div>
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">

                        <a title="HKEX to Offer Mini H-shares Index Options and Make Other Derivatives Market Changes" href="#">
                           HKEX to Offer Mini H-shares Index Options and Make Other Derivatives Market Changes
                          </a>
                    </div>
                    <div class="list-panel__item-heading-date">May 04,2016</div>
                </div>
            </div>
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">

                        <a title="Forfeiture of Unclaimed Final Dividend" href="#">
                            Forfeiture of Unclaimed Final Dividend
                          </a>
                    </div>
                    <div class="list-panel__item-heading-date">Apr 13, 2016</div>
                </div>
            </div>
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">

                        <a title="Exchange Launches Revamped ESG" href="#">
                            Changes of Designated Securities for Short Selling
                          </a>
                    </div>
                    <div class="list-panel__item-heading-date">Feb 22, 2016</div>
                </div>
            </div>
        </div>
       {{!--  <div role="tabpanel" class="tab-pane" id="news-update">UPDATES</div> --}}
        <div id="news-update">
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title "><a title="HKEX 2016 First Quarter Results" href="#">HKEX 2016 First Quarter Results-1</a></div>
                    <div class="list-panel__item-heading-date" title="Date of publish">May 10, 2017</div>
                </div>
            </div>
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">
                        <a title="Re-appointment of Chairman Approved" href="#">
                              Re-appointment of Chairman Approved
                            </a>
                    </div>
                    <div class="list-panel__item-heading-date" title="Date">May 09, 2016</div>
                </div>
            </div>
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">
                        <a title="Seven Sector Index Futures Contracts to" href="#">
                           HKEX to Offer Mini H-shares Index Options and Make Other Derivatives Market Changes
                          </a>
                    </div>
                    <div class="list-panel__item-heading-date">May 04,2016</div>
                </div>
            </div>
            <div class="list-panel__item">
                <div class="list-panel__item-heading">
                    <div class="list-panel__item-heading-title ">
                        <a title="Forfeiture of Unclaimed Final Dividend" href="#">
                            Forfeiture of Unclaimed Final Dividend
                          </a>
                    </div>
                    <div class="list-panel__item-heading-date">Apr 13, 2016</div>
                </div>
            </div>
        </div>

    </div>
</div>
