<section class="banner banner-light">
  <div class="banner__container banner-light__container backgroudColor-monthly-bulletin">
    <div class="banner__background top-menu banner-light__background backgroudimg-monthly-bulletin" style="background-image: url(.././images/banner-monthly-bulletin.png);">
      <div class="container banner__breadcrumb ">
        <ul><li><a href="#">{{title}}</a></li>
          {{#each subTitles}}
            <li><a href="#">{{this}}</a></li>
          {{/each}}
        </ul></div>
      <h1 class="container banner__pageheading">{{headerText}}</h1>
    </div>
  </div>
</section>
