<div class="collapse-container">
    <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#collapse-1" aria-expanded="false">
                     <span class="etp-overview-data-list__date">2001</span><span class="etp-overview-data-list__title--context">Fusce ac turpus quis liqula lacinia aliquet Fusce ac turpus quis liqula lacinia aliquet Fusce ac turpus quis liqula lacinia aliquet</span>
            </a>
        <div id="collapse-1" class="collapse panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
     <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#collapse-2" aria-expanded="false">
                     <span class="etp-overview-data-list__date">2004</span><span class="etp-overview-data-list__title--context">Vestibulum lacinia arcu eget nulla Vestibulum lacinia arcu eget nulla Vestibulum lacinia arcu eget nulla Vestibulum lacinia arcu eget nulla Vestibulum lacinia arcu eget nulla</span>
            </a>
        <div id="collapse-2" class="collapse panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
        <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#collapse-3" aria-expanded="false">
                     <span class="etp-overview-data-list__date">2007</span><span class="etp-overview-data-list__title--context">Praesent mauris sed nisi consectetur adipiscing elit</span>
            </a>
        <div id="collapse-3" class="collapse panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>

        <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#collapse-4" aria-expanded="false">
                     <span class="etp-overview-data-list__date">2012</span><span class="etp-overview-data-list__title--context">Curabitor sodales liqula in libero morbi lectus risus iaculis vel</span>
            </a>
        <div id="collapse-4" class="collapse panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
    <div class="panel">
        <a class="panel-heading" data-toggle="collapse" href="#collapse-5" aria-expanded="false">
                     <span class="etp-overview-data-list__date">2014</span><span class="etp-overview-data-list__title--context">Aenean quam in scelerisque sem at dolor</span>
            </a>
        <div id="collapse-5" class="collapse panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>

   <div class="panel" data-bottom='border-bottom'>
        <a class="panel-heading" data-toggle="collapse" href="#collapse-6" aria-expanded="false">
                     <span class="etp-overview-data-list__date">2017</span><span class="etp-overview-data-list__title--context">Proin ut liqula vel nunc egestas porttitor</span>
            </a>
        <div id="collapse-6" class="collapse panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>


</div>
