<h2 class="title__side"><span>RELATED DOWNLOADS</span></h2>
<div class="side-content__dropdown">
    <div class="select-group" data-z-index='17'>
        <div class="select-target">
            <a id="select-target-etp" data-select="true" data-expend="false" href="#" data-value="report-2016">ETF and L&I Product Market Perspective</a>
        </div>
        <div class="select-items" data-height='300'>
            <div class="select-item" data-value="report-2016" data-target="true"><a href="#">ETF and L&I Product Market Perspective 2016</a></div>
            <div class="select-item" data-value="report-2015"><a href="#">ETF and L&I Product Market Perspective 2015</a></div>
            <div class="select-item" data-value="report-2014"><a href="#">ETF and L&I Product Market Perspective 2014</a></div>
            <div class="select-item" data-value="report-2016" data-target="true"><a href="#">ETF and L&I Product Market Perspective 2013</a></div>
            <div class="select-item" data-value="report-2015"><a href="#">ETF and L&I Product Market Perspective 2012</a></div>
            <div class="select-item" data-value="report-2014"><a href="#">ETF and L&I Product Market Perspective 2011</a></div>
        </div>
    </div>    
      <div class="select-group" data-z-index='16'>
        <div class="select-target">
            <a id="select-target-etp" data-select="true" data-expend="false" href="#" data-value="report-2016">ETF and L&I Product Market Perspective</a>
        </div>
        <div class="select-items" >
            <div class="select-item" data-value="report-2016" data-target="true"><a href="#">ETF and L&I Product Market Perspective 2016</a></div>
            <div class="select-item" data-value="report-2015"><a href="#">ETF and L&I Product Market Perspective 2015</a></div>
            <div class="select-item" data-value="report-2014"><a href="#">ETF and L&I Product Market Perspective 2014</a></div>
            
        </div>
    </div>    
</div>
<div class="side-content__report" id="reports-etp">
    <div id="report-2014" data-target-report="true">
        <div class="side-content__report--title"><a href="#">ETF AND L&I PRODUCT MARKET PERSPECTIVE</a></div>
        <div class="side-content__report--image">
            <a href="#"><img src="./images/report-2016.png" alt="2014 report"></a>
        </div>
    </div>
    <div id="report-2015">
        <div class="side-content__report--title"><a href="#">ETF AND L&I PRODUCT MARKET PERSPECTIVE</a></div>
        <div class="side-content__report--image">
            <a href="#"><img src="./images/report-2015.png" alt="2015 report"></a>
        </div>
    </div>
    <div id="report-2016" data-target-report="ture">
        <div class="side-content__report--title"><a href="#">ETF AND L&I PRODUCT MARKET PERSPECTIVE</a></div>
        <div class="side-content__report--image">
            <a href="#"><img src="./images/report-2016.png" alt="2016 report"></a>
        </div>
    </div>
</div>
<div class="side-content__download"><a href="files/report.zip">DOWNLOAD</a>
</div>
