<div class="info-cards">
    <div class="info-card">
        <div>
            <div>
                <img src="images/advantages/access.svg" alt="access to capital for growth">
            </div>
            <div>
                <span>ACCESS TO CAPITAL FOR GROWTH</span>
            </div>
        </div>
        <p>A listing gives you the opportunities to raise capital at the IPO stage and, throughout your listing to fund future growth</p>
    </div>
    <div class="info-card">
        <div>
            <div>
                <img src="images/advantages/china.svg" alt="China connection">
            </div>
            <div>
                <span>CHINA CONNECTION</span>
            </div>
        </div>
        <p>Shanghai-Hong Kong Stock Connect will allow Mainland Chinese investors to invest directly in HK listed stocks for 1st time. Expected to broaden investor base and add liquidity to HK market adding momentum to the market </p>
    </div>
    <div class="info-card">
        <div>
            <div>
                <img src="images/advantages/investor.svg" alt="investor confidence">
            </div>
            <div>
                <span>Investor Confidence</span>
            </div>
        </div>
        <p>A listing gives you the opportunities to raise capital at the IPO stage and, throughout your listing to fund future growth. and add liquidity to HK market adding momentum to the market</p>
    </div>
    <div class="info-card">
        <div>
            <div>
                <img src="images/advantages/branding.svg" alt="branding opportunities in luxury sector">
            </div>
            <div>
                <span>BRANDING OPPORTUNITIES IN LUXURY SECTOR</span>
            </div>
        </div>
        <p>Shanghai-Hong Kong Stock Connect will allow Mainland Chinese investors to invest directly in HK listed stocks for 1st time. Expected to broaden investor base</p>
    </div>
    <div class="info-card">
        <div>
            <div>            
                <img src="images/advantages/establish.svg" alt="established legal system">
            </div>
            <div>
                <span>ESTABLISHED LEGAL SYSTEM</span>
            </div>
        </div>
        <p>A listing gives you the opportunities to raise capital at the IPO stage and, throughout your listing to fund future growth. and add liquidity to HK market adding momentum to the market</p>
    </div>
</div>
