<div class="contactsUs__map">
    <div class="contactsUs__map-text">
        <div class="contactsUs__map-text-title">
            HONG KONG
        </div>
        <div class="contactsUs__map-text-context">
            <p class="contactsUs__map-text-context-bold">Registered Office
                <a href="http://cn.bing.com/ditu/#JnE9Lmhvbmdrb25nJTJiZXhjaGFuZ2UlMmJzcXVhcmUlN2Vzc3QuMCU3ZXBnLjEmYmI9MjIuMjg2NDk1NDk1MTUzJTdlMTE0LjE2MTU1ODM4NTk0NCU3ZTIyLjI4MjUyNDQ4NTY4OTUlN2UxMTQuMTUzMTQxNjE0MDU2" target="_blank">
                    <span class="contactsUs__map-text-context-map">
              (map
              <i class="contactsUs__map-text-context-map-icon"></i>
              )</span></a>:</p>
            <p>12/F,</p>
            <p>One International Finance Centre,</p>
            <p>1 Harbour View Street, Central,</p>
            <p>Hong Kong</p>
            <br>
            <p><span class="contactsUs__map-text-context-bold">Tel:</span>+852 2522 1122</p>
            <p><span class="contactsUs__map-text-context-bold">Fax:</span>+852 2295 3106</p>
            <p><span class="contactsUs__map-text-context-bold">Email:</span>info@hkex.com.hk</p>
        </div>

    </div>
    <div class="contactsUs__map-img">
        <div id="appMap"></div>
    </div>
</div>
