<div class="ls-process-ql">
    <h2 class="ls-process-ql__title">quick links</h2>

    <ul class="ls-process-ql__list quick-link-list quick-link-list-tablet-mobile quick-link-3-cols">
        <li>
            <a href="#" title="Exchange Exhibition Hall and Auditorium">
              <span>Exchange Exhibition Hall and Auditorium</span><i></i>
            </a>
        </li>
        <li>
            <a href="#" title="Job Seekers">
              <span>Job Seekers</span><i></i>
            </a>
        </li>
        <li>
            <a href="#" title="Subscribe to Newsletter">
              <span>Subscribe to Newsletter</span><i></i>
            </a>
        </li>
    </ul>
</div>
