<div class="section__title-left-border contactsUs__title">
    <h2>  contact us </h2>
</div>

<div class="contactsUs__tab contactsUs__tab-dt">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <img class="tab-box__icon" src="images/tabbox-1.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> GENERAL Enquiries</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <img class="tab-box__icon" src="images/tabbox-2.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> Media</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img class="tab-box__icon" src="images/tabbox-3.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> issuers / listed companies</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- content for above 3 tab in desktop -->
        <div id="collapseOne" class="contact-collapse panel-collapse collapse" role="tabpanel">
            <div class="panel-body panel-content">
                {{> ContactsUsFirstTabContent}}
            </div>
        </div>
        <div id="collapseTwo" class="contact-collapse panel-collapse collapse" role="tabpanel">
            <div class="panel-body panel-content">
                {{> ContactsUsExampleTabContent}}
            </div>
        </div>
        <div id="collapseThree" class="contact-collapse panel-collapse collapse" role="tabpanel">
            <div class="panel-body panel-content">
                {{> ContactsUsExampleTabContent}}
            </div>
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <img class="tab-box__icon" src="images/tabbox-4.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> exchange participants</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <img class="tab-box__icon" src="images/tabbox-5.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> information vendors</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <img class="tab-box__icon" src="images/tabbox-6.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> hkex investors</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="collapseFour" class="contact-collapse panel-collapse collapse" role="tabpanel">
            <div class="panel-body panel-content">
                {{> ContactsUsExampleTabContent}}
            </div>
        </div>
        <div id="collapseFive" class="contact-collapse panel-collapse collapse" role="tabpanel">
            <div class="panel-body panel-content">
                {{> ContactsUsExampleTabContent}}
            </div>
        </div>
        <div id="collapseSix" class="contact-collapse panel-collapse collapse" role="tabpanel">
            <div class="panel-body panel-content">
                {{> ContactsUsExampleTabContent}}
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

</div>
<!-- end of desktop -->

<div class="contactsUs__tab  contactsUs__tab-tb">
    <div class="panel-group" id="accordion-tb" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-tb" href="#collapseOne-tb" aria-expanded="false" aria-controls="collapseOne">
                        <img class="tab-box__icon" src="images/tabbox-1.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> GENERAL Enquiries</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-tb" href="#collapseTwo-tb" aria-expanded="false" aria-controls="collapseTwo">
                        <img class="tab-box__icon" src="images/tabbox-2.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> Media</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="collapseOne-tb" class="contact-collapse panel-collapse collapse" role="tabpanel">
        </div>
        <div id="collapseTwo-tb" class="contact-collapse panel-collapse collapse" role="tabpanel">
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-tb" href="#collapseThree-tb" aria-expanded="false" aria-controls="collapseThree">
                        <img class="tab-box__icon" src="images/tabbox-3.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> issuers / listed companies</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-tb" href="#collapseFour-tb" aria-expanded="false" aria-controls="collapseFour">
                        <img class="tab-box__icon" src="images/tabbox-4.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> exchange participants</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="collapseThree-tb" class="contact-collapse panel-collapse collapse" role="tabpanel">
        </div>
        <div id="collapseFour-tb" class="contact-collapse panel-collapse collapse" role="tabpanel">
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-tb" href="#collapseFive-tb" aria-expanded="false" aria-controls="collapseFive">
                        <img class="tab-box__icon" src="images/tabbox-5.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> information vendors</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-tb" href="#collapseSix-tb" aria-expanded="false" aria-controls="collapseSix">
                        <img class="tab-box__icon" src="images/tabbox-6.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> hkex investors</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="collapseFive-tb" class="contact-collapse panel-collapse collapse" role="tabpanel">
        </div>
        <div id="collapseSix-tb" class="contact-collapse panel-collapse collapse" role="tabpanel">
        </div>

    </div>

    <div class="clearfix"></div>

</div>

<div class="contactsUs__tab contactsUs__tab-mb">
    <div class="panel-group" id="accordion-mb" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-mb" href="#collapseOne-mb" aria-expanded="false" aria-controls="collapseOne">
                        <img class="tab-box__icon" src="images/tabbox-1.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> GENERAL Enquiries</span>
                    </a>
                </div>
            </div>
            <div id="collapseOne-mb" class="contact-collapse panel-collapse collapse" role="tabpanel">
            </div>
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-mb" href="#collapseTwo-mb" aria-expanded="false" aria-controls="collapseTwo">
                        <img class="tab-box__icon" src="images/tabbox-2.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> Media</span>
                    </a>
                </div>
            </div>
            <div id="collapseTwo-mb" class="contact-collapse panel-collapse collapse" role="tabpanel">
            </div>
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-mb" href="#collapseThree-mb" aria-expanded="false" aria-controls="collapseThree">
                        <img class="tab-box__icon" src="images/tabbox-3.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> issuers / listed companies</span>
                    </a>
                </div>
            </div>
            <div id="collapseThree-mb" class="contact-collapse panel-collapse collapse" role="tabpanel">
            </div>
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-mb" href="#collapseFour-mb" aria-expanded="false" aria-controls="collapseFour">
                        <img class="tab-box__icon" src="images/tabbox-4.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> exchange participants</span>
                    </a>
                </div>
            </div>
            <div id="collapseFour-mb" class="contact-collapse panel-collapse collapse" role="tabpanel">
            </div>
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-mb" href="#collapseFive-mb" aria-expanded="false" aria-controls="collapseFive">
                        <img class="tab-box__icon" src="images/tabbox-5.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> information vendors</span>
                    </a>
                </div>
            </div>
            <div id="collapseFive-mb" class="contact-collapse panel-collapse collapse" role="tabpanel">
            </div>
        </div>

        <div class="panel panel-default contact-panel">
            <div class="tab-box" role="tab">
                <div class="tab-box__title">
                    <a class="collapsed tab-box-a" role="button" data-parent="#accordion-mb" href="#collapseSix-mb" aria-expanded="false" aria-controls="collapseSix">
                        <img class="tab-box__icon" src="images/tabbox-6.svg" alt="tabbox-message" />
                        <span class="tab-box__title--text"> hkex investors</span>
                    </a>
                </div>
            </div>
            <div id="collapseSix-mb" class="contact-collapse panel-collapse collapse" role="tabpanel">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>
