<div class="contactsUs__tab-content-container">
    <div class="contactsUs__tab-content-leftpart">
        <p class="contactsUs__tab-content-text">
            We encourage investors to check the Investors page on the HKEX website particularly the <a href="#">Frequently Asked Questions</a> section before submitting an enquiry because the information being sought is often available on our HKEX website.
        </p>
        <p class="contactsUs__tab-content-text">
            To enable us to respond to your enquiries and follow up on your complaints more efficiently, please note HKEX's Policy in Handling Investor Enquiry and Complaint and refer to Notes for Enquirers and Complainants.

        </p>
        <p class="contactsUs__tab-content-text contactsUs__tab-content-text-bold">
            Complaints in relation to the Listing Rules and Regulations
        </p>

        <p class="contactsUs__tab-content-text">
            The Stock Exchange of Hong Kong Limited (the Exchange), a wholly owned subsidiary of HKEX, is the frontline regulator of listed companies. The Exchange welcomes comments and enquiries from investors because investor complaints may alert the Exchange to
            serious breaches of the Listing Rules or practices which undermine investor confidence in the markets. Please click here to know more about filing a complaint on listing regulatory matters.
        </p>

        <p class="contactsUs__tab-content-text contactsUs__tab-content-text-bold">
            Investor Account Service
        </p>

        <p class="contactsUs__tab-content-text">
            Investors interested in Investor Account Service please call (852) 2979 7000 or email to clearingps@hkex.com.hk
        </p>

        <p class="contactsUs__tab-content-text contactsUs__tab-content-text-tel">
            Contacts for existing Investor Account holders:
        </p>
        <p class="contactsUs__tab-content-text contactsUs__tab-content-text-tel">
            IP CCASS Phone Operations Hotline: (852) 2979 7888

        </p>
        <p class="contactsUs__tab-content-text contactsUs__tab-content-text-tel">
            SSA CCASS Phone Operations Hotline: (852) 2979 7333

        </p>
        <p class="contactsUs__tab-content-text contactsUs__tab-content-text-bold">
            Website Feedback
        </p>
        <p class="contactsUs__tab-content-text">
            If you have any suggestion to our website please call (852) 2979 7000 or email to websitefeedback@hkex.com.hk
        </p>

        <div class="contactsUs__tab-content-title">
            Frequently Asked Questions
        </div>
        <div class="collapse-container contactsUs__tab-content-collapse-container">
            <div class="panel">
                <a href="#" class="panel-heading" data-collapse="innerCollapse" aria-expanded="false">How did HKEX develop into its exisitng framework?</a>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Anim pariatur cliche reprehenderit, enim
                    eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
            <div class="panel">
                <a href="#" class="panel-heading" data-collapse="innerCollapse" aria-expanded="false">Where can investors access HKEX’s latest information, publications and market data?</a>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Anim pariatur cliche reprehenderit, enim
                    eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
            <div class="panel">
                <a href="#" class="panel-heading" data-collapse="innerCollapse" aria-expanded="false">Where can investors obtain information about overseas stock exchanges?</a>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Anim pariatur cliche reprehenderit, enim
                    eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="contactsUs__tab-content-rightpart">


        <div class="contactsUs__tab-content-title">
            SEND AN ENQUIRY
        </div>
        <div class="contact-us contact-us__body contactsUs__tab-content-contact-us-container">
            <div class="contact-us__wrapper">
                <form action="#" class="contact-us__form" id="contact_us__form" method="post" autocomplete="off">
                    <div class="contact-us__form_column">
                        <div class="contact-us__form_text form-input-text">
                            <input type="text" name="name" id="name" placeholder="Name" data-verify-form="true">
                            <label for="name">Name</label>
                            <div class="contact_us__form_text--error-msg">
                                Please fill in this field.
                            </div>
                        </div>
                        <div class="contact-us__form_text form-input-text">
                            <input type="text" name="email" id="email" placeholder="Email Address" data-verify-form="true"/>
                            <label for="email">Email</label>
                              <div class="contact_us__form_text--error-msg">
                               The email address is invalid.
                             </div>
                        </div>
                    </div>

                    <div class="contact-us__form_column form-input-textarea" data-verify-form="true">
                        <textarea name="message" id="message" placeholder="Your Message" class="" ></textarea>
                        <label for="message">Your Message</label>
                        <div class="contact_us__form_text--error-msg">
                            Please fill in this field.
                           </div>
                    </div>

                    <div class="contact-us__form_column checkbox ">
                    <div class="checkbox-img">
                           <img class="robotcheck" src="images/robotcheck.png" alt="robotcheck" />
                         <div class="contact_us__form_text--error-msg">
                           Please Verify with reCAPTCHA
                           </div>
                    </div>

                        <button type="button" class="btn-gray contact-us-bt">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
</div>
