.cd-dashboard {
  background-color: $white;
  &__title {
		@include susy-breakpoint(max-width $large) {
			display: none;
		}
    h2 {
		    font-size: toRem(18);
    }
	}
  &__selectFilter {
    padding: 10px 30px 12px 30px;
    font-size: toRem(14);
    font-weight: bold;
    @include susy-breakpoint(max-width $large) {
      padding: 20px 20px 17px 20px;
      width: 100%;
    }
  }
  &__tab-container {
    padding-left: 30px;
    padding-right: 30px;
    @include susy-breakpoint(max-width $medium) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__select-group {
    width: 100% !important;
  }
  &__select-item {
    height: auto !important;
  }
}
