.monthlyHighlight {
	h2, h3, p, img {
		padding-left: 30px;
		padding-right: 30px;
	}
	&__section {
		margin-bottom: 35px;
	}
	&__left-menu {
		overflow: hidden;
    background: $white;
    border-bottom: 1px solid #AEB4C5;
	}
	&__report {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__report-title {
    padding-top: 13px;
    text-transform: uppercase;
    color: #6a6a6a;
    font-size: toRem(14);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
    p {
    	margin-top: 0;
    	font-weight: normal;
    	text-transform: capitalize;
    }
	}
	&__report-download {
	  min-height: 50px;
    line-height: 50px;
    word-wrap: break-word;
	  background-color: $hkex-blue;
    text-align: center;
    cursor: pointer;
    margin-bottom: 21px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
	  a {
		  color: #ffffff;
	    text-transform: uppercase;
	    font-size: 0.875rem;
	    font-weight: bold;
	    font-style: normal;
    	font-stretch: normal;
    	text-decoration: none;
	  }
	  a:hover, a:focus {
	  	color: #ffffff;
	  	text-decoration: none;
	  }
	}
	&__drop-down {
		display: inline-block;
		&-2nd {
			margin-left: 17px;
		}
	}

	&__title h2 {
		padding-left: 0;
		padding-right: 0;
		font-size: toRem(18);
	}
	&__filter {
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 9px;
		margin-bottom: 21px;
		// .select-group {
		// 	.select-target, .select-items>.select-item{
		// 		height: auto;
		// 		min-height: 44px;
		// 		line-height: 44px;
		// 	}
		// }
	}
	&__select-group {
		display: inline-block;
	}
	&__subHeader {
		color: $hkex-red;
		text-transform: uppercase;
		padding-bottom: 19px;
		font-size: toRem(14);
	}
	&__subTitle {
		color: $hkex-blue;
		font-size: toRem(14);
		padding: 13px 30px;
		font-weight: 700;
	}
	p {
		color: $hkex-blue;
	  font-size: toRem(14);
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	}
	&__note {
		font-size: toRem(12);
	}
	&__img {
		width: 100%;
	}
	&__fix-table-gap {
		display: block;
	}
}
div.listing-committee-left-report__date.monthlyHighlight__report-filter {
	padding-left: 0;
	padding-right: 0;
}
.table-fixed-width {
	width: 320px;
	border-collapse:collapse;
	border:none;
	th, td {
		text-align: right;
		padding-right: 15px;
	}
	thead {
		tr {
			th {
				height: 35px;
				padding-top: 11px;
				padding-bottom: 11px;
			}
			th:first-child {
				width: 63px;
			}
			th:nth-child(2) {
				width: 98px;
			}
		}
	}
	tbody {
		tr {
			td:nth-child(3) {
				border-right: 1px solid $level9-color;
			}
		}
	}
}

table.table-full-width {
	width: 100%;
	border-collapse:collapse;
	border:none;
	th, td {
		text-align: right;
		padding-right: 15px;
	}
	thead {
		tr {
			th {
				padding-top: 11px;
				padding-bottom: 11px;
			}
			th:first-child {
				// width: 33%;
				text-align: left;
			}
			th.header-align-center {
				text-align: center;
			}
			th.header-align-center.border-bottom-fix {
				border-bottom: none;
			}
		}
	}
	tbody {
		tr {
			td:first-child {
				text-align: left;
			}
		}
		tr.bolder {
			font-weight: bold;
		}
		tr.parent {
			div{
				padding-bottom: 0;
			}
		}
		tr.child {
			background-color: $white;
			td {
				background-color: $white;
				padding-top: 0;
				padding-bottom: 0;
				div {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
		tr.last {
			td {
				vertical-align: top;
				div {
					padding-bottom: 12px;
				}
			}
		}
	}
}
