.section__table{
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    background: $white;
    border-bottom: 1px solid #AEB4C5;
}
.table{
    p{
        font-size: toRem(12);
        color: $level1-color;
        line-height: 1.67;

    } 
    tfoot{
        td{
            padding-left: 28px;
            padding-top: 30px;
            p{
                margin-top: 25px;
            }
        }
    }

}