<div class="left-menu__title menu-title">   
    <h2 id="menuTitle" data-mobile-title="inner navigation" data-pc-title='Statistics & Research'>Statistics & Research</h2>
    <div class="nav-icon">
        <img class="icon-nav" src="images/menu.svg" alt="Navigation Icon" />
        <img class="nav-close" src="images/CANCEL.svg" alt="Navigation Icon" />
    </div>
</div>
<div class="left-menu__wrapper">
    <ul class="left-menu__level1">
        <li class="left-menu__item {{#if monthlyHighlightMenu}} active {{/if}} ">
            <a href="monthlyHighlight.html" class="left-menu__link" title="data">STATISTICS REPORTS</a>
        </li>
        <li class="left-menu__item">
            <a href="javascript:void(0)" class="left-menu__link" title="data">PARTICIPANT STATISTICS</a>
        </li>
        
        <li class="left-menu__item {{#if marketStatistics}} showChildren {{else}} hasChildren {{/if}}">
            <a href="javascript:void(0)" class="left-menu__link" title="data">SECURITIES MARKET STATISTICS</a>
            <ul class="left-menu__level2">           
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="javascript:void(0)" title="Go back to SECURITIES MARKET STATISTICS">Back To 
                    <span class='left-menu__item--back-to-target'>SECURITIES MARKET STATISTICS</span> </a></li>            
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Funds Raised by Type">Funds Raised by Type</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Placings">Placings</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Takeovers">Takeovers</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Daily Quotations">Daily Quotations</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Short Selling Turnover Today">Short Selling Turnover Today</a>
                </li>
                <li class="leftside-menu__item {{#if monthlyBulletinMenu}} active {{/if}}">
                    <a class="leftside-menu__level2-text" href="monthlybulletin.html" title="Monthly Bulletin">Monthly Bulletin</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Securities Statistics Archive">Securities Statistics Archive</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Financial Data for Exchange Traded Funds">Financial Data for Exchange Traded Funds</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Growth Enterprise Market">Growth Enterprise Market</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="javascript:void(0)" title="Exchange Traded Funds (ETFs)">Exchange Traded Funds (ETFs)</a>
                </li>
                <li class="leftside-menu__item {{#if chinaDimensionMenu}} active {{/if}}">
                    <a class="leftside-menu__level2-text" href="chinaDimension.html" title="China Dimension">China Dimension</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item">
            <a href="javascript:void(0)" class="left-menu__link" title="DERIVATIVES MARKET STATISTICS">DERIVATIVES MARKET STATISTICS</a>
        </li>
        <li class="left-menu__item">
            <a href="javascript:void(0)" class="left-menu__link" title="CLEARING STATISTICS">CLEARING STATISTICS</a>
        </li>
        <li class="left-menu__item">
            <a href="javascript:void(0)" class="left-menu__link" title="RESEARCH REPORTS">RESEARCH REPORTS</a>
        </li>
        
    </ul>
</div>
