.search-results {
	background-color: $white;
	&__title {
		margin: 0;
	}
	&__content {
		width: 100%;
		font-size: 14px;
		font-size: toRem(14);
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
		@include susy-breakpoint(max-width $medium) {
			padding-left: 0;
			padding-right: 0;
		}
		@include susy-breakpoint(min-width $desktop-start) {
			position: relative;
		}

		&-container {
			@include susy-breakpoint(max-width $medium) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		.sortingOnMobile {
			// display: none;
			display: block;
			min-height: 40px;
			line-height: 30px;
			background-color: $hkex-paleblue;
			font-size: 14px;
			font-size: toRem(14);
			font-weight: bold;
			color: $hkex-blue;
			@include susy-breakpoint(min-width $desktop-start) {
				position: absolute;
				left: 50px;
				top: 0;
				z-index: 1;
				width: 50%;
				span:first-child {
					display: inline-block;
					vertical-align: top;
					margin-top: 5px;
					margin-bottom: 5px;
					font-weight: normal;
				}
				.sortOptions {
					display: inline-block;
					text-align: center;
					vertical-align: middle;
					border-right: 2px solid $hkex-blue;
					margin-top: 5px;
					// margin-bottom: 5px;
					padding-left: 15px;
					padding-right: 15px;
					cursor: pointer;
					span {
						display: none;
					}

				}
				.sortOptions, .sortOptions:hover, .sortOptions:focus {
					text-decoration: none;
				}
				.sortOptions.last {
					border-right: none;
				}
				.sortOptions.active {
					color: $hkex-red;
				}
			}
			@include susy-breakpoint(max-width $large) {
				width: 100%;
				margin-bottom: 10px;
				span:first-child {
					display: none;
				}
				.sortOptions {
					display: inline-block;
					width: 49%;
					text-align: center;
					vertical-align: middle;
					border-right: 2px solid $hkex-blue;
					line-height: 1.43;
					margin-top: 5px;
					// margin-bottom: 5px;
					padding-left: 30px;
					padding-right: 30px;
					cursor: pointer;
					span {
						display: inherit;
					}
				}
				.sortOptions, .sortOptions:hover, .sortOptions:focus {
					text-decoration: none;
				}
				.sortOptions.last {
					border-right: none;
				}
				.sortOptions.active {
					color: $hkex-red;
				}
			}
		}

		&-criteria {
			width: 100%;
			min-height: 40px;
			background-color: $hkex-paleblue;
			font-size: 14px;
			font-size: toRem(14);
			color: $hkex-blue;
			position: relative;
			li.selected {
				background-color: $tag-selected;
			}
			.filter__checkBox__item {
				@include susy-breakpoint(max-width $medium){
					&:nth-child(2n+1) {
						margin-right: 0;
					}
					&:nth-child(2n){
						padding-left: 20px;
					}
				}

			}


			.changePosition {
				bottom: 0;
				top: auto !important;
				@include susy-breakpoint(max-width $medium){
					bottom: 40px;
				}
			}
			.dateFiltering {
				display: block;
				position: absolute;
				right: 20px;
				top: 0;
				line-height: 40px;
				height: 40px;
				.dateFilter {
					text-decoration: none;
					font-weight: bold;
					margin-left: 10px;
				}
				.dateFilter:hover, .dateFilter:focus {
					text-decoration: none;
				}
				.dateFilter:after {
					content: ' ';
					display: inline-block;
					width: 9px;
					height: 9px;
					margin-left: 5px;
					background: url('../images/triangle-1.svg') no-repeat right center;
	    		background-size: 8px 6px;
				}
				.popover {
					right: -20px;
					z-index: 10;
				}
				.popover__content {
					top: 0;
				}
				.popover__content-list {
					width: 105px;
				}
				.popover__list-item {
					width: 105px;
					font-weight: bold;
				}
				.popover__content:before,
				.popover__content:after {
					left: 78%;
				}
			}
			.filteringMobile {
				display: none;
				@include susy-breakpoint(max-width $large) {
					display: block;
					padding: 0 20px;
					color: $hkex-blue;
					.filter__selectedItem {
						padding-bottom: 0;
						padding-top: 20px;
						margin-bottom: 0;
					}
					.filter__moreFilter {
						/*display: block !important;*/
						padding: 0;
						position: static;
						margin-right: 205px;
			      span a[aria-expanded='false'] {
			          background: url(../images/triangle-1.svg) no-repeat right center;
			          background-size: 8px 6px;
			          padding-right: 14px;
			      }
			      span a[aria-expanded='true'] {
			          background: url(../images/arrow-up.svg) no-repeat right center;
			          background-size: 8px 6px;
			          padding-right: 14px;
			      }
						@include susy-breakpoint(max-width $medium){
							margin-top: 40px;
							margin-right: 0;
						}
					}
					.filter__searchPanel:after {
						content: '';
						display: block;
						clear: both;
					}
					span {
						line-height: 40px;
						padding-top: 0;
						padding-bottom: 0;
						a, a:hover, a:focus {
							color: $hkex-blue;
							text-decoration: none;
						}
					}
					.refinedSearch {
						label {
							display: block;
							font-weight: bold;
							margin-bottom: 15px;
							font-size: 12px;
							font-size: toRem(12);
						}
						input {
							margin-bottom: 20px;
							width: 280px;
						}
					}
				}
				@include susy-breakpoint(max-width $medium) {
					#cd-applyFilters {
						margin-left: 0;
					}
				}
				.filter__checkBox {
					color: $hkex-blue;
					border-top: none;
					ul li label {
						color: $hkex-blue;;
					}
				}
				.filter__checkBox--custom {
					margin-left: 0;
					margin-top: 15px;
					span {
						color: $hkex-blue;
					}
				}
			}
		}

		&-totalResult {
			height: 20px;
			line-height: 20px;
			font-size: 12px;
			font-size: toRem(12);
			color: $category;
			margin-top: 13px;
			text-align: right;
		}

		&-result {
			margin-top: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $separate-line;
			p, a {
				margin-top: 5px;
				margin-bottom: 5px;
				line-height: 20px;
			}
			.category {
				text-transform: uppercase;
				color: $category;
				font-size: 12px;
				font-size: toRem(12);
			}
			a {
				text-decoration: none;
				font-size: 14px;
				font-size: toRem(14);
				color: $hkex-blue;
			}
			a:hover, a:focus {
				text-decoration: underline;
			}
			a.pdfIcon:after {
				content: ' ';
				background: url('../images/pdf.png') no-repeat center;
				margin-left: 10px;
				margin-bottom: -2px;
				display: inline-block;
				width: 23px;
				height: 15px;
			}
			.fileInfo {
				font-size: 12px;
				font-size: toRem(12);
				color: $category;
			}
			.result {
				font-size: 14px;
				font-size: toRem(14);
				color: $hkex-blue;
				span.date {
					color: $category;
				}
				span.keyword {
					font-weight: bold;
				}
			}
		}

		&-noResult {
			margin-top: 15px;
			padding-bottom: 15px;
			font-size: 14px;
			font-size: toRem(14);
			color: $hkex-blue;
			p {
				line-height: 20px;
				margin-top: 5px;
				margin-bottom: 5px;
				position: relative;
			}
			.message {
				margin-bottom: 30px;
			}
			.keywordNoFound {
				color: $hkex-red-1;
			}
			.suggestions {
				font-weight: bold;
			}
			p:not(.message,.suggestions){
                margin-left: 10px;
                padding-left: 4px;
			}
			p:not(.message,.suggestions):before {
				content: '';
				display: inline-block;
				width: 8px;
				height: 8px;
				background-color: $hkex-blue;
				border: 1px solid $hkex-blue;
				border-radius: 4px;
				margin-right: 8px;
				margin-bottom: 1px;
				position: absolute;
				left:-10px;
				top:5px;
			}
		}

		&-pagenation {
			width: 100%;
			height: 55px;
			line-height: 55px;
			text-align: center;
			font-size: 14px;
			font-size: toRem(14);
			color: $hkex-blue;
			border-top: 2px solid $background-blue-1;
			.previousPage {
				width: 15px;
				height: 20px;
				display: inline-block;
				margin-bottom: -5px;
				background: url('../images/left-arrow-red.png') no-repeat left center;
			}
			.nextPage {
				width: 15px;
				height: 20px;
				display: inline-block;
				margin-bottom: -5px;
				background: url('../images/right-arrow-red.png') no-repeat right center;
			}
			input {
				width: 36px;
				padding: 2px;
				line-height: 18px;
				overflow-x:visible;
			}
			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}
			input[type="number"] {
				-moz-appearance: textfield;
			}
		}
	}

}

.fontsize-large {
	.search-results__content-criteria {
		.filteringMobile {
			.filter__moreFilter {
				@include susy-breakpoint(min-width $tablet-start){
					margin-right: 250px;
				}
			}
		}
	}
	.search-results__content-pagenation input {
		width: 41px;
	}
}
.fontsize-small {
	.search-results__content-criteria {
		.filteringMobile {
			.filter__moreFilter {
				@include susy-breakpoint(min-width $tablet-start){
					margin-right: 150px;
				}
			}
		}
	}
	.search-results__content-pagenation input {
		width: 26px;
	}
}

.filteringMobile {
	@include susy-breakpoint(min-width $desktop-start) {
		display: block;
		background-color: $white;
		padding: 0 20px;
		.filter__searchPanel {
			display: none;
		}
		#resultFilter {
			display: block;
		}
		.filter__checkBox__title {
			display: none;
		}
		.filter__checkBox--custom {
			border: none;
			ul li {
				display: block;
				width: 100%;
				label {
					font-size: toRem(14);
					color: $hkex-blue;
				}
			}
		}
		.refinedSearch {
			label {
				font-weight: bold;
			}
		}
		.filter__buttonGroup, .filter__selectedItem {
			position: absolute;
			left: -999px;
			opacity: 0;
		}
	}
}
