.twitter-section{
    &__wrapper{
        background: $white;
        padding-bottom: 5px;
        @include susy-breakpoint(max-width $medium) {
            padding-bottom: 40px;
        }
    }
    &__tweets{
        margin-left: 30px;
        margin-right: 10px;
        @include susy-breakpoint(max-width $medium) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &__title{
        width: 100%;
        float: left;

        .hklogo-icon{
            float: left;
            width: 33px;
            margin-top: 4px;
        }
        .twitter-name{
            float: left;
            width: 100px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.5px;
            color: $level12-color;
            h6{
                font-size: toRem(13);
                font-weight: bold;
                padding: 0;
                margin: 0;
                float: left;
            }
            span{
                font-size: 12px;
                float: left;
            }
        }
        .twitter-icon{
            float: right;
            width: 15px;
        }
    }
    &__content{
        padding: 15px 20px 16px 20px;
        @include susy-breakpoint(max-width $medium) {
            padding: 15px 0px 16px 0px;
        }
    }
    &__text{
        color: $level12-color;
        font-size: toRem(14);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        width: 100%;
        padding-top: 0px;
        // margin-bottom: 10px;
        overflow-y: auto;
        float: left;
    }
    &__date{
        font-size: toRem(12);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        color: $level14-color;
        width: 100%;
        margin-top: 11px;
        margin-bottom: 11px;
        float: left;

    }

    &__sharing-icons{
        padding: 11px 0 11px 0;
        border-top: 1px solid $level9-color;
        width: 100%;
        float: left;
        .share{
            margin-right: 32.7px;
        }
        .retweet{
            margin-right: 4.7px;
        }
        .retweet-count{
            margin-right: 21px;
            font-size: toRem(12);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            color: $level15-color;
        }
    }
    .item{
        width: 300px;
        float: left;
        border: solid 1px $hkex-border-gray;
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 20px;
        @include susy-breakpoint(max-width $large) {
            width: 290px;
        }
        @include susy-breakpoint(min-width $tablet-start) {
            position: absolute;
        }

        .twitter-section__image{
            width: 100%;
            @include susy-breakpoint(max-width $medium) {
                float: none;
                text-align: center;
            }
            img{
                @include susy-breakpoint(max-width $medium) {
                    width: 258px;
                }
            }
        }

        @include susy-breakpoint(max-width $medium) {
            border: none;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

    }

    .carousel-inner {
        overflow: visible;
        @include susy-breakpoint(max-width $medium) {
            overflow: hidden;
        }
        > .item{
            @include susy-breakpoint(min-width $medium) {
                display: block !important;
            }
        }
        @include susy-breakpoint(min-width $large) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .carousel-indicators{
        position: absolute;
        bottom: -36px;
        left: 50%;
        z-index: 15;
        width: 60%;
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center;
        li{
            background-color: #9d9d9d;
            text-indent: 0px;
            &.active{
                background-color: $level2-color;
                width: 10px;
                height: 10px;
                margin: 1px;
            }

            a{
                padding: 3px;
                &:hover, &:focus, &:focus{
                    text-decoration: none;
                }
            }
        }
        @include susy-breakpoint(min-width $medium) {
            display: none;
        }
    }

}

.fontsize-large{
    .twitter-section{
        &__title {
            .hklogo-icon{
                margin-top: 4px;
            }
        }
    }
}
.fontsize-small{
    .twitter-section{
        &__title {
            .hklogo-icon{
                margin-top: 2px;
            }
        }
    }
}
