<section class="advanced-search__main-filter">
  <div class="advanced-search__main-filter-searchBox">
      <input type="text" class="searchBox" name="searchBox" placeholder="Stock Code / Company Name" title="Stock Code / Company Name" />
  </div>
   <div class="filter__searchPanel">
    <div class="filter__moreFilter">
      <div class="filter__moreFilter__label">
        <a class="panel-heading" aria-expanded="false" data-toggle="collapse" href="#checkboxForm">
            Advanced Search
        </a>
      </div>
    </div>
  </div>
  <div class="collapse collapse-container  filter__checkboxForm advanced-search__filter-container"  id="checkboxForm">
    <div class="filter__container-find-content">
      <h3>Find content with…</h3>
      <ul>
        <li class="filter__container-input">
          <div class="form-input-text">
            <input id="keyword1" type="text" placeholder="All of these words:" class="advanced-search__input--js" name="Key Word1"/>
            <label for="keyword1">All of these words:</label>
          </div>
        </li>
        <li class="filter__container-input">
          <div class="form-input-text">
            <input id="keyword2" type="text" placeholder="Any of these words:" class="advanced-search__input--js" name="Key Word2"/>
            <label for="keyword2">Any of these words:</label>
          </div>
        </li>
        <li class="filter__container-input">
          <div class="form-input-text">
            <input id="keyword3" type="text" placeholder="The exact phrase:" class="advanced-search__input--js" name="Exact Key Word"/>
            <label for="keyword3">The exact phrase:</label>
          </div>
        </li>
        <li class="filter__container-input">
          <div class="form-input-text">
            <input id="keyword4" type="text" placeholder="None of these words:" class="advanced-search__input--js" name="None of Key Words"/>
            <label for="keyword4">None of these words:</label>
          </div>
        </li>
      </ul>

    </div>
    <div>
      <h3>Narrow the search…</h3>
      {{> checkBox filterConditions.advanceSearch}}
      <div class="filter__dropdown filter__dropdown-js">
        <span>File type:</span>
        <div class="side-content__dropdown">
            <div class="select-group">
                <div class="select-target">
                    <a id="select-target-input" data-select="true" data-expend="false" href="#" data-value="All File Types" name="File_Type">All File Types</a>
                </div>
                <div class="select-items">
                    <div class="select-item" data-value="All File Types" data-target="true"><a href="#">All File Types</a></div>
                    <div class="select-item" data-value="Pdf"><a href="#">Pdf</a></div>
                    <div class="select-item" data-value="Doc"><a href="#">Doc</a></div>
                </div>
            </div>
        </div>
      </div>
      <div class="filter__buttonGroup">

        <a class="btn-disable filter__btn-applyFilters-js" tabindex="0">SEARCH</a>
        <a class="btn-white filter__btn-cancelFilters-js" tabindex="0">Cancel</a>

      </div>
    </div>
  </div>

  <div class="advanced-search__main-filter-others">
    <img src="images/book@2x.png" alt="search icon" />
    <a class="advanced-search__others-content" href="#">
      Search the <span>Listing Rules,</span> <span>Amendments,</span> <span>Listing Decisions,</span> <span> Interpretive Letters </span>and
      <span> Guidance Letters </span>here
    </a>
  </div>
  <div class="filter__selectedItem advanced-search__selectedItem">
  </div>
</section>
