<h2 class="title__main"><span>SEARCH RESULTS FOR 'SAAAAMSUNG'</span></h2>

<div class="search-results__content">

	<div class="search-results__content-noResult">
		<p class="message">
			Your search - <span class="keywordNoFound">saaaamsung</span> - did not match any documents.
		</p>
		<p class="suggestions">Suggestions:</p>
		<p>Make sure that all words are spelled correctly.</p>
		<p>Try different keywords.</p>
		<p>Try more general keywords.</p>
		<p>Try fewer keywords.</p>
	</div>

</div>