<h1 class="title__main search-results__title"><span>SEARCH RESULTS FOR 'SAMSUNG'</span></h1>

<div class="search-results__content">
	<div class="sortingOnMobile">
		<span>Sort by:</span>
		<a href="#" class="sortOptions active"><span>Sort by&nbsp;</span>Modified&nbsp;Date</a>
		<a href="#" class="sortOptions last"><span>Sort by&nbsp;</span>Relativity</a>
	</div>
	<div class="search-results__content-criteria">
		<div class="collapse-container filter__container filteringMobile">
		  <div class="filter__selectedItem">
		  </div>
		  <div class="filter__searchPanel">
		    <div class="filter__moreFilter">
		      <span class="filter__moreFilter__label">
		        <a class="filter__moreFilterText" aria-expanded="false" data-toggle="collapse" href="#resultFilter">
		            Refine Results
		        </a>
		      </span>
		    </div>
		  </div>
		  <div class="collapse filter__checkboxForm" id="resultFilter">
		    {{> checkBox filterConditions.resultFilterCheckbox}}
				<div class="filter__checkBox filter__checkBox--custom refinedSearch">
			    <label for="refinedSearch">REFINED SEARCH</label>
			    <input class="searchBox advanced-search__input--js" type="text" id="refinedSearch" name="Refined Search" placeholder="keywords" title="Refined Search">
				</div>
		    <div class="filter__buttonGroup">
		      <a class="btn-disable forFilter filter__btn-applyFilters-js" tabindex="0">Apply Filters</a>
		      <a class="btn-white filter__btn-cancelFilters-js" tabindex="0">Cancel</a>
		    </div>
		  </div>
		</div>
		<div data-toggle="nav-popover" class="dateFiltering">
			<span>Date Range:</span>
			<a class="dateFilter" href="#" title="Anytime">Anytime</a>
			<div class="popover">
			    <div class="popover__content">
			        <ul class="popover__content-list">
			            <li class="popover__list-item selected">
			                <a class="popover__link" href="#" title="Anytime">Anytime</a>
			            </li>
			            <li class="popover__list-item">
			                <a class="popover__link" href="#" title="Past 24 Hours">Past 24 Hours</a>
			            </li>
			            <li class="popover__list-item">
			                <a class="popover__link" href="#" title="Past Week">Past Week</a>
			            </li>
			            <li class="popover__list-item">
			                <a class="popover__link" href="#" title="Past Month">Past Month</a>
			            </li>
			            <li class="popover__list-item">
			                <a class="popover__link" href="#" title="Past Year">Past Year</a>
			            </li>
			        </ul>
			    </div>
			</div>
		</div>
	</div>
	<div class="search-results__content-container">
		<div class="search-results__content-totalResult">
			Results 1-10 of 155
		</div>

		<div class="search-results__content-result">
			<p class="category">MARKET DATA</p>
			<a href="#">Company Information - Detailed Search</a>
			<p class="result">
				<span class="date">15 Sep 2016</span> - Company information - Detailed Search - HKEX
			</p>
		</div>
		<div class="search-results__content-result">
			<p class="category">PRODUCTS</p>
			<a href="#">Stock Market - Invest in Shares</a>
			<p class="result">
				<span class="date">9 Aug 2016</span> - Shares are easy to buy and sell and can help you diversify your investment portfolio. Learn more about the stock market with HKEX today.
			</p>
		</div>
		<div class="search-results__content-result">
			<a href="#" class="pdfIcon">List of ISIN codes</a>
			<p class="fileInfo">873k - Adobe PDF</p>
			<p class="result">
				<span class="date">15 Sep 2016</span> - AU000XINAAV0 XINAAW ANNA UNQUOTED ISIN'S MACQUARIE P-1495 <span class="keyword">SAMSUNG</span> ENGINEERING CO LTD AU000XINAAW8 XINAAX ANNA UNQUOTED ISIN'S MACQUARIE P-1535 SAMSUNG ELECTRO-MECHANICS CO LTD AU000XINAAX6 XINAAY ANNA UNQUOTED ... INC AU000XINADG5 XINADH ANNA UNQUOTED
			</p>
		</div>
		<div class="search-results__content-result">
			<p class="category">LISTING</p>
			<a href="#">List of ETF Managers and Contact Details </a>
			<p class="result">
				<span class="date">9 Dec 2015</span> - <span class="keyword">SAMSUNG</span> Asset Management (Hong Kong) Limited … contactus.samhk@samsung.com
			</p>
		</div>
		<div class="search-results__content-result">
			<a href="#" class="pdfIcon">The Stock Exchange of Hong Kong Limited</a>
			<p class="fileInfo">873k - Adobe PDF</p>
			<p class="result">
				<span class="date">9 Jul 2016</span> - … the “<span class="keyword">SAMSUNG</span> ETFs”) Enquiry: Hotline at 2979 7111 …
			</p>
		</div>
		<div class="search-results__content-result">
			<p class="category">LISTING</p>
			<a href="#">Market Making Obligations for Each Leveraged and Inverse Product</a>
			<p class="result">
				<span class="date">9 Dec 2015</span> - <span class="keyword">SAMSUNG</span> KOSPI 200 Daily (-1x) Inverse Product (7326) … <span class="keyword">SAMSUNG</span> TOPIX Daily (2x) Leveraged Product (7255) … <span class="keyword">SAMSUNG</span> TOPIX Daily (-1x) Inverse Product (7311)
			</p>
		</div>
		<div class="search-results__content-result">
			<p class="category">NEWS</p>
			<a href="#">HKEX News Release</a>
			<p class="result">
				<span class="date">1 Apr 2016</span> - <span class="keyword">SAMSUNG</span> KOSPI 200 Daily (-1x) Inverse Product (7326) … <span class="keyword">SAMSUNG</span> TOPIX Daily (2x) Leveraged Product (7255) … <span class="keyword">SAMSUNG</span> TOPIX Daily (-1x) Inverse Product (7311)
			</p>
		</div>
		<div class="search-results__content-result">
			<p class="category">NEWS</p>
			<a href="#">HKEX News Release</a>
			<p class="result">
				<span class="date">1 Apr 2015</span> - <span class="keyword">SAMSUNG</span> Electronics Company Limited (SAM) … <span class="keyword">SAMSUNG</span> Electronics Company Limited (SSE)
			</p>
		</div>
		<div class="search-results__content-result">
			<p class="category">SERVICES</p>
			<a href="#">Participant Information Changes (SEHK) </a>
			<p class="result">
				<span class="date">9 Dec 2015</span> - <span class="keyword">SAMSUNG</span> Securities ( Asia) Ltd … <span class="keyword">SAMSUNG</span> Securities ( Asia) Ltd
			</p>
		</div>
	</div>

</div>
<div class="search-results__content-pagenation">
	<span class="previousPage"></span>
	<span>Page </span>
	<input type="number" value="1" title="page number">
	<span> of </span>
	<span class="total">16</span>
	<span class="nextPage"></span>
</div>
