<div class="ls-process">
    <div class="ls-process__wrapper">
        <div class="ls-process__header">
            <p class="ls-process__header-title">
                LISTING PROCESS FOR LISTING ON
                <br />
                <span>THE MAINBOARD</span>
            </p>
            <p class="ls-process__header-title-sub">For
                <span>GEM board</span> listing process, please click <a title="click here for more details" href="#">here</a> </p>
         </div>
    <div class="ls-process__description">
        <p class="ls-process__description-text">
            Describe Mainboard: The principal function of the Exchange is to provide a fair, orderly and efficient market for the trading of securities. In furtherance of this, the Exchange has made the Exchange Listing Rules under section 23 of the Securities and Futures Ordinance prescribing the requirements for the listing of securities on the Exchange. These comprise both requirements which have to be met before securities may be listed and also continuing obligations with which an issuer and, where applicable, a guarantor must comply once listing has been granted.
        </p>
        <a class="ls-process__download download" target="_blank" href="files/ess.pdf">Download <span>Guide to Listing</span></a>
    </div>
    </div>
    {{> lsExpandAllBtn}}
</div>
