<div class="listing-step__option">
    <div class="listing-step__circle">5</div>
    <div class="listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionFive">
            <h3>Lodge listing application with HKEX</h3>
        </a>
        <div id="stepOptionFive" class="collapse listing-step__content listing-step__content-full">
            <div class="ls-process__step-half">
                <div class="ls-process__step-half__img">
                    <img src="../images/pic05_01.png" alt="Seven days"/>
                </div>
                <p class="ls-process__step-half__subtitle">
                    Seven days
                </p>
                <p class="ls-process__step-half__disc">
                    The formal listing application is lodged with HKEX within seven days of lodgement of the prospectus with SFC.
                </p>
            </div>
            <div class="ls-process__step-half">
                <div class="ls-process__step-half__img">
                    <img src="../images/pic05_02.png" alt="Six weeks"/>
                </div>
                <p class="ls-process__step-half__subtitle">
                    Six weeks
                </p>
                <p class="ls-process__step-half__disc">
                    The assets and liabilities, financial position and performance, profits and losses and prospects of the share issuer
                </p>
            </div>
        </div>
          <hr class="listing-step__rule">
    </div>
</div>


<div class="listing-step__option">
    <div class="listing-step__circle">6</div>
    <div class="listing-step__wrapper listing-step__wrapper--last">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionSix">
            <h3>Marketing and offer period</h3>
        </a>
        <div id="stepOptionSix" class="collapse listing-step__content">
            <p class="listing-step__desc">
                The offer to retail investors starts after the exposure period and usually is open for a period of three to five weeks.
            </p>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>
