<div class="listing-step__option">
    <div class="listing-step__circle">1</div>
    <div class="listing-step__wrapper listing-step__members">
        <a class="listing-step__header" aria-expanded="true" data-toggle="collapse" href="#stepOptionOne">
            <h3>Appointing advisers</h3>
        </a>
        <div id="stepOptionOne" class="collapse listing-step__content in">
             <p class="listing-step__desc">
            Appointing an experienced team of advisers is essential to the success of an IPO.
        </p>
        <p class="listing-step__desc">
            Professional advisers typically include:
        </p>
        <div class="ls-process__gallery">
            <div class="ls-process__gallery-item">
                <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                <p class="ls-process__gallery-desc">A lead manager or corporate adviser</p>
            </div>
             <div class="ls-process__gallery-item">
                <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                <p class="ls-process__gallery-desc">Investment bank and/or stockbroker</p>
            </div>
             <div class="ls-process__gallery-item">
                <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                <p class="ls-process__gallery-desc">Lawyer</p>
            </div>
             <div class="ls-process__gallery-item">
                <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                <p class="ls-process__gallery-desc">Accountant</p>
            </div>
             <div class="ls-process__gallery-item">
                <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                <p class="ls-process__gallery-desc">Advisers required to provide expert reports in relation to the IPO</p>
            </div>
        </div>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>


<div class="listing-step__option">
    <div class="listing-step__circle">2</div>
    <div class="listing-step__members listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionTwo">
            <h3>Appointing advisers</h3>
        </a>
       <div id="stepOptionTwo" class="listing-step__content collapse">
            <p class="listing-step__desc">
            The due diligence process is run at the same time as the prospectus is drafted. The Hong Kong Act contains a general disclosure test for prospectuses. It stipulates a prospectus must contain all the information that investors and their professional advisers would reasonably require to make an informed assessment about:
            </p>
            <div class="ls-process__gallery">
                <div class="ls-process__gallery-item">
                    <div class="ls-process__gallery-img"></div>
                    <p class="ls-process__gallery-desc">A lead manager or corporate adviser</p>
                </div>
                <div class="ls-process__gallery-item">
                    <div class="ls-process__gallery-img"></div>
                    <p class="ls-process__gallery-desc">Investment bank and/or stockbroker</p>
                </div>
            </div>

            <p class="listing-step__desc">
                The due diligence process is run at the same time as the prospectus is drafted. The Hong Kong Act contains a general disclosure test for prospectuses. It stipulates a prospectus must contain all the information that investors and their professional advisers would reasonably require to make an informed assessment about:
            </p>
       </div>
        <hr class="listing-step__rule">
    </div>
</div>
