<div class="listing-step__option">
        <div class="listing-step__circle">3</div>
    <div class="listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionThree">
            <h3>Listing fee calculator</h3>
        </a>
        <div id="stepOptionThree" class="collapse clearfix">
            <p class="listing-step__desc listing-step__content">
                The HKEX equity listing fee calculator is designed to provide you
                with a guide to HKEX's Equity Listing Fees that apply as of 1 July
                2016*. Please note that fee quotes are indicative only. If you are
                interested in listing and/or require confirmation of a fee quote,
                you should contact HKEX.
            </p>
            <p class="listing-step__desc listing-step__content">
                HKEX Equity Listing Fees are linked to your organisation’s value -
                that is, the amount of capital raised and the total market
                capitalisation of your organisation.
            </p>
            <div class="ls-process__step3__component">
                <div class="ls-process__step3__table">
                    <table>
                      <thead>
                        <tr>
                            <th>Market Capitalisation</th>
                            <th>Initial Fee</th>
                            <th>Annual Fee</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>$10m</td>
                            <td>$6500m</td>
                            <td>$23,373m</td>
                        </tr>
                        <tr>
                            <td>$10m</td>
                            <td>$105,000m</td>
                            <td>$32,022m</td>
                        </tr>
                        <tr>
                            <td>$10m</td>
                            <td>$135,000m</td>
                            <td>$41,582m</td>
                        </tr>
                        <tr>
                            <td>$10m</td>
                            <td>$295,000m</td>
                            <td>$56,760m</td>
                        </tr>
                      </tbody>
                    </table>
                </div>

                <div class="ls-process__step3__cal">
                    <ul>
                        <li class="ls-process__step3__cal__title">
                          <div>HKEX Equity Listings Fee Calculator</div>
                        </li>
                        <li class="ls-process__step3__cal__child">
                            <span class="ls-process__step3__cal__subTitle">CHOOSE A FEE CACULATION</span>
                            <div class="ls-process__step3__cal__subPanel">
                              <div class="select-group">
                                  <div class="select-target">
                                      <a data-select="true" data-expend="false" href="#" >Initial Listing Fee</a>
                                  </div>
                                  <div class="select-items">
                                      <div class="select-item" data-target="true" style="display: none;"><a href="#">Initial Listing Fee</a></div>
                                      <div class="select-item" style="display: none;"><a href="#">Initial Listing Fee2</a></div>
                                      <div class="select-item" style="display: none;"><a href="#">Initial Listing Fee3</a></div>
                                  </div>
                              </div>
                            </div>
                        </li>
                        <li class="ls-process__step3__cal__child">
                            <label class="ls-process__step3__cal__subTitle " for="calculator_securities">NUMBER OF SECURITIES</label>
                            <div class="ls-process__step3__cal__subPanel">
                                <input type="text" value="1000" id="calculator_securities" class="ls-process__step3__cal__input-number" onkeyup="value=this.value.replace(/\D+/g,'')">
                                <span class="ls-process__step3__cal__show-result">1,000</span>
                            </div>
                        </li>
                        <li class="ls-process__step3__cal__child">
                            <span class="ls-process__step3__cal__subTitle">VALUE PER SECURITY</span>
                            <div class="ls-process__step3__cal__subPanel">
                                <div class="ls-process__step3__cal__panel-wrapper">
                                  <label class="ls-process__step3__cal__symbol" for="calculator_dollar">$</label>
                                  <input type="text" value="1" id="calculator_dollar" class="ls-process__step3__cal__input-value" onkeyup="value=this.value.replace(/\D+/g,'')">
                                  <label class="ls-process__step3__cal__symbol" for="calculator_point">·</label>
                                  <input type="text" value="000" id="calculator_point" class="ls-process__step3__cal__input-value" onkeyup="value=this.value.replace(/\D+/g,'')">
                                </div>
                                <span class="ls-process__step3__cal__show-result">$1,000</span>
                            </div>
                        </li>
                        <li class="ls-process__step3__cal__child">
                            <div class="ls-process__step3__cal__subPanel">
                                <span class="ls-process__step3__cal__subTitle">TOTAL VALUE</span>
                                <span class="ls-process__step3__cal__show-value">$1,000.00</span>
                            </div>
                        </li>
                        <li class="ls-process__step3__cal__child">
                            <div class="ls-process__step3__cal__subPanel">
                                <span class="ls-process__step3__cal__subTitle">INITIAL FEE PAYABLE $</span>
                                <span class="ls-process__step3__cal__show-value">$1,000.00</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
          <hr class="listing-step__rule">
    </div>
</div>

<div class="listing-step__option">
        <div class="listing-step__circle">4</div>
    <div class="listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionFour">
            <h3>Lodge prospectus with SFC</h3>
        </a>
        <div id="stepOptionFour" class="collapse">
                <p class="listing-step__desc listing-step__content">
                    An ‘exposure period’ of seven days starts from the date of lodgement. During this time the prospectus is made available for public review and comment, and during this period the company cannot accept any applications under the offer.
                </p>
                <div class="ls-process__step__img">
                    <img src="images/pic04.png" alt="Lodge prospectus with SFC" />
                </div>
                <p class="listing-step__desc listing-step__content">
                    SFC can extend the exposure period to up to fourteen days after lodgement if it needs time to review the prospectus in detail.
                </p>
                <p class="listing-step__desc listing-step__content">
                    Applications from investors can be processed after the end of the exposure period. After this period, SFC has the power to issue an interim and/or final order to stop the offer if SFC has concerns about the disclosure in the prospectus.
                </p>
        </div>
          <hr class="listing-step__rule">
    </div>
</div>
