<div class="becomeParticipant__content">
    <div class="becomeParticipant__content__wrapper">
        <div class="becomeParticipant__content__header">
            <p class="becomeParticipant__content__header-title">
                PROCESS TO BECOME OUR
                <span>PARTICIPANT</span>
            </p>
            <p class="becomeParticipant__content__header-title-sub">For
                <span>Market Makers</span> - please <a title="click here for more details" href="#">click here</a> </p>
        </div>
        <div class="becomeParticipant__content__description">
            <p class="becomeParticipant__content__description-text">
                Any broker-dealer that intends to operate a brokerage business for products available on HKEx, using the trading facilities of the Stock Exchange and/or Futures Exchange, must be admitted and registered as an Exchange Participant of that Exchange.
            </p>
            <ul class="defaultBulletPoint">
                <li>
                    <p class="becomeParticipant__content__description-text">
                        Stock Exchange Participants are entitled to deal in securities products such as equity securities, equity warrants, Exchange Traded Funds, derivative warrants and Callable Bull/Bear Contracts, etc.
                    </p>
                </li>
                <li>
                    <p class="becomeParticipant__content__description-text">
                        Brokers that intend to offer stock options brokerage services have to apply to the StockExchange to become Stock Options Exchange Participants. Stock Exchange has two types of options participantship: Options Trading Exchange Participant (OTEP) and Options
                        Broker Exchange Participant (OBEP). OTEP can directly trade options through HKATS while OBEP can only trade options through an OTEP
                    </p>
                </li>

            </ul>

            {{> becomeParticipantDownload}}
        </div>
    </div>
    {{> becomeParticipantAccess}}
</div>
