<div class="listing-step__option">
    <div class="listing-step__circle">1</div>
    <div class="listing-step__wrapper listing-step__members">
        <a class="listing-step__header" aria-expanded="true" data-toggle="collapse" href="#stepOptionOne">
          <h3>Apply to the SFC and HKEX <span class="step-header__time-stamp"> (2 weeks)</span></h3>
        </a>
        <div id="stepOptionOne" class="collapse listing-step__content in">
                <p class="listing-step__desc">
                    - Cash </p>
                <p class="listing-step__desc">
                    - Futures / Options </p>
                <div class="ls-process__step__img">
                    <img src="images/becomeParticipant-1.png" alt="Lodge prospectus with SFC" />
                </div>

                <p class="listing-step__desc">
                    The due diligence process is run at the same time as the prospectus is drafted. The Hong Kong Act contains a general disclosure test for prospectuses. It stipulates a prospectus must contain all the information that investors and their professional advisers
                    would reasonably require to make an informed assessment about: </p>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>

<div class="listing-step__option">
    <div class="listing-step__circle">2</div>
    <div class="listing-step__members listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionTwo">
            <h3>Trading Infrastructure Set-up<span class="step-header__time-stamp"> (2 weeks)</span></h3>
        </a>
        <div id="stepOptionTwo" class="listing-step__content collapse">
            <p class="listing-step__desc">
                The due diligence process is run at the same time as the prospectus is drafted. The Hong Kong Act contains a general disclosure test for prospectuses. It stipulates a prospectus must contain all the information that investors and their professional advisers
                would reasonably require to make an informed assessment about:
            </p>
            <div class="ls-process__gallery">
                <div class="ls-process__gallery-item">
                    <div class="ls-process__gallery-img"></div>
                    <p class="ls-process__gallery-desc">The rights and liabilities attaching to shares offered</p>
                </div>
                <div class="ls-process__gallery-item">
                    <div class="ls-process__gallery-img"></div>
                    <p class="ls-process__gallery-desc">The assets and liabilities, financial position and performance, profits and losses and prospects of the share issuer</p>
                </div>
            </div>

            <p class="listing-step__desc">
                The due diligence process is run at the same time as the prospectus is drafted. The Hong Kong Act contains a general disclosure test for prospectuses. It stipulates a prospectus must contain all the information that investors and their professional advisers
                would reasonably require to make an informed assessment about:
            </p>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>

<div class="listing-step__option">
    <div class="listing-step__circle">3</div>
    <div class="listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionThree">
          <h3>Clearing Arrangement<span class="step-header__time-stamp"> (2 weeks)</span></h3>
        </a>
        <div id="stepOptionThree" class="collapse">
                <p class="listing-step__desc listing-step__content">
                    An ‘exposure period’ of seven days starts from the date of lodgement. During this time the prospectus is made available for public review and comment, and during this period the company cannot accept any applications under the offer.
                </p>
                <div class="ls-process__step__img">
                    <img src="images/pic04.png" alt="Lodge prospectus with SFC" />
                </div>
                <p class="listing-step__desc listing-step__content">
                    SFC can extend the exposure period to up to fourteen days after lodgement if it needs time to review the prospectus in detail.
                </p>
                <p class="listing-step__desc listing-step__content">
                    Applications from investors can be processed after the end of the exposure period. After this period, SFC has the power to issue an interim and/or final order to stop the offer if SFC has concerns about the disclosure in the prospectus.
                </p>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>

<div class="listing-step__option">
    <div class="listing-step__circle">4</div>
    <div class="listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionFour">
            <h3>Lodge prospectus with SFC<span class="step-header__time-stamp"> (1 weeks)</span></h3>
        </a>
        <div id="stepOptionFour" class="collapse listing-step__content listing-step__content-full">

            <div class="ls-process__step-half">
                <div class="ls-process__step-half__img">
                    <img src="../images/pic05_01.png" alt="Seven days" />
                </div>
                <p class="ls-process__step-half__subtitle">
                    Seven days
                </p>
                <p class="ls-process__step-half__disc">
                    The formal listing application is lodged with HKEX within seven days of lodgement of the prospectus with SFC.
                </p>
            </div>
            <div class="ls-process__step-half">
                <div class="ls-process__step-half__img">
                    <img src="../images/pic05_02.png" alt="Six weeks" />
                </div>
                <p class="ls-process__step-half__subtitle">
                    Six weeks
                </p>
                <p class="ls-process__step-half__disc">
                    The assets and liabilities, financial position and performance, profits and losses and prospects of the share issuer
                </p>
            </div>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>

<div class="listing-step__option">
    <div class="listing-step__circle">5</div>
    <div class="listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionFive">
            <h3>Lodge listing application with HKEX<span class="step-header__time-stamp"> (3 weeks)</span></h3>
        </a>
        <div id="stepOptionFive" class="collapse listing-step__content">
            <p class="listing-step__desc">
                Appointing an experienced team of advisers is essential to the success of an IPO.
            </p>
            <p class="listing-step__desc">
                Professional advisers typically include:
            </p>
            <div class="ls-process__gallery">
                <div class="ls-process__gallery-item">
                    <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                    <p class="ls-process__gallery-desc">A lead manager or corporate adviser</p>
                </div>
                <div class="ls-process__gallery-item">
                    <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                    <p class="ls-process__gallery-desc">Investment bank and/or stockbroker</p>
                </div>
                <div class="ls-process__gallery-item">
                    <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                    <p class="ls-process__gallery-desc">Lawyer</p>
                </div>
                <div class="ls-process__gallery-item">
                    <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                    <p class="ls-process__gallery-desc">Accountant</p>
                </div>
                <div class="ls-process__gallery-item">
                    <img class="ls-process__gallery-img" src="images/oval.svg" alt="Person1">
                    <p class="ls-process__gallery-desc">Advisers required to provide expert reports in relation to the IPO</p>
                </div>
            </div>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>

<div class="listing-step__option">
    <div class="listing-step__circle">6</div>
    <div class="listing-step__wrapper">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionSix">
            <h3>Marketing and offer period<span class="step-header__time-stamp"> (1 weeks)</span></h3>
        </a>
        <div id="stepOptionSix" class="collapse listing-step__content">
            <p class="listing-step__desc">
                The offer to retail investors starts after the exposure period and usually is open for a period of three to five weeks.
            </p>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>

<div class="listing-step__option">
    <div class="listing-step__circle">7</div>
    <div class="listing-step__wrapper listing-step__wrapper--last">
        <a class="listing-step__header" aria-expanded="false" data-toggle="collapse" href="#stepOptionSeven">
            <h3>Closing the offer<span class="step-header__time-stamp"> (2 weeks)</span></h3>
        </a>
        <div id="stepOptionSeven" class="collapse listing-step__content">
            <p class="listing-step__desc">
                In the final step, the offer closes, shares are allocated and trading commences.
            </p>
        </div>
        <hr class="listing-step__rule">
    </div>
</div>
