    <div class="banner__breadcrumb-tablet-mobile">
      <div>
        <ul>
          <li><a href="#">Products</a></li>
          <li><a href="#">Securities</a></li>
          <li><a href="#"><h1 class="banner__breadcrumb__pageTitle">Equities</h1></a></li>
        </ul>
      </div>
    </div>
