<div class="section__title-left-border">
    <h2>OVERVIEW</h2>
</div>

<div class="collapse-container">
    <div class="panel-group equity-overview-container" id="accordion" role="tablist" aria-multiselectable="false">
        <div class="section-title section-title__no-border equity-securities__title">
          <h3>EUUITY SECURITIES</h3>
        </div>
        <div class="equity-securities__context">
            <p>
                Equity securities, generally referred to as shares, comprise ordinary shares and preference shares. Most of the equity securities listed on the Exchange are ordinary shares that account for most of the turnover of the Exchange.
            </p>
            <p>
                Ordinary shares and preferred shares are equity shares issued by the company to shareholders. Ordinary or common shareholders (i.e. holders of ordinary shares), being owners of the company, have voting rights and receive dividends at the discretion of
                the company. However, the payment of dividends is not mandatory even if a company records a profit in the year.
            </p>
            <p>
                Preferred shareholders are entitled to a preferential distribution out of profits prior to any distribution to the ordinary shareholders. Preferred shareholders have no voting rights and receive fixed dividends (i.e. the dividend does not increase even
                if the company's profit increases). Preferred shareholders also have a claim on corporate assets, in the event of liquidation, which ranks ahead of ordinary shareholders, but behind that of the company's creditors. Participating preference
                shareholders may receive additional dividends if the profits are sufficient. Meanwhile, cumulative preference shares carry forward the right to profits to following years, if there are insufficient profits to pay the holders in any one
                year.
            </p>
        </div>
          <ul class="quick-link-list quick-link-list-tablet-mobile">
              <li class="equity-securities__quicklinks-item">
                  <a href="#" title="See list of securities">
                    <span>See list of securities</span><i></i>
                  </a>
              </li>
            </ul>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="section-title section-title__no-border equity-securities__title">
                    <a class="equity-securities__collapse-title" href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                      <h3>DEPOSITARY RECEIPTS</h3>
                    </a>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body equity-securities__context">
                    <p>
                        Depositary receipts (DRs) are securities issued by a depositary representing underlying shares of a corporation which have been placed with the depositary or its nominated custodian. DRs are purchased by investors (DR holders) in accordance with the terms
                        of the deposit agreement. The depositary acts as a bridge between the DR holders and the issuer.
                    </p>
                    <p>
                        DRs are issued to investors in the target market (the host market) where they are traded, cleared and settled in host market currency in accordance with host market procedures. One DR will represent a number of underlying shares (or a fraction of a single
                        share), according to the DR ratio. The depositary converts dividends into the host market currency and pays the amounts (net of its own fees) to the DR holders. The depositary also transmits other entitlements and corporate communications
                        from the issuer to the DR holder, and transmits the DR holder’s instructions back to the issuer. The respective rights and obligations of the issuer, the depositary and the DR holders are set out in the deposit agreement.
                    </p>
                    <p>
                        ‘HDR’ is the informal name for a depositary receipt programme listed on the Exchange.
                    </p>
                </div>
                <ul class="quick-link-list quick-link-list-tablet-mobile">
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="List of Depositary Receipts">
                          <span>List of Depositary Receipts</span><i></i>
                        </a>
                    </li>
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="Risk Statement">
                          <span>Risk Statement</span><i></i>
                        </a>
                    </li>
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="Framework">
                          <span>Framework</span><i></i>
                        </a>
                    </li>
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="FAQs">
                          <span>FAQs</span><i></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <div class="section-title section-title__no-border equity-securities__title">
                    <a class="equity-securities__collapse-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      <h3>STAPLED SECURITIES</h3>
                    </a>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body equity-securities__context">
                    <p>
                        Depositary receipts (DRs) are securities issued by a depositary representing underlying shares of a corporation which have been placed with the depositary or its nominated custodian. DRs are purchased by investors (DR holders) in accordance with the terms
                        of the deposit agreement. The depositary acts as a bridge between the DR holders and the issuer.
                    </p>
                    <p>
                        DRs are issued to investors in the target market (the host market) where they are traded, cleared and settled in host market currency in accordance with host market procedures. One DR will represent a number of underlying shares (or a fraction of a single
                        share), according to the DR ratio. The depositary converts dividends into the host market currency and pays the amounts (net of its own fees) to the DR holders. The depositary also transmits other entitlements and corporate communications
                        from the issuer to the DR holder, and transmits the DR holder’s instructions back to the issuer. The respective rights and obligations of the issuer, the depositary and the DR holders are set out in the deposit agreement.
                    </p>
                    <p>
                        ‘HDR’ is the informal name for a depositary receipt programme listed on the Exchange.
                    </p>
                </div>
                <ul class="quick-link-list quick-link-list-tablet-mobile">
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="List of Depositary Receipts">
                          <span>List of Depositary Receipts</span><i></i>
                        </a>
                    </li>
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="Risk Statement">
                          <span>Risk Statement</span><i></i>
                        </a>
                    </li>
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="Framework">
                          <span>Framework</span><i></i>
                        </a>
                    </li>
                    <li class="equity-securities__quicklinks-item">
                        <a href="#" title="FAQs">
                          <span>FAQs</span><i></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>
