<div class="left-menu__title menu-title">  
    <h2 id="menuTitle" data-mobile-title="inner navigation" data-pc-title='Securities'>Securities</h2>
    <div class="nav-icon">
        <img class="icon-nav" src="images/menu.svg" alt="Navigation Icon" />
        <img class="nav-close" src="images/CANCEL.svg" alt="Navigation Icon" />
    </div>
</div>
<div class="left-menu__wrapper">
    <ul class="left-menu__level1">
        <li class="left-menu__item active">
            <a href="#" class="left-menu__link" title="Equities">Equities</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link" title="EXCHANGE TRADED PRODUCT">EXCHANGE TRADED PRODUCT</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link" title="DERIVATIVE WARRANTS">DERIVATIVE WARRANTS</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link" title="CALLABLE BULL/BEAR CONTRACTS">CALLABLE BULL/BEAR CONTRACTS</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link" title="REAL ESTATE INVESTMENT TRUSTS">REAL ESTATE INVESTMENT TRUSTS</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link" title="BONDS">BONDS</a>
        </li>
        
    </ul>
</div>