<div class="section__title-left-border">
     <h2>Market Making Schemes</h2>
</div>
<div class="market-making__content">
    <h3>Introduction</h3>
    <p>
        A Market Making Security (MMS) refers to an automatch stock designated by the Exchange to be traded with securities market making facilities.
        A MMS can also be admitted as a Designated Security for short selling and for tick rule exemption.
    </p>
    <ul class="quick-link-list-tablet-mobile quick-link-list">
	<li><a href=""><span>See More</span><i></i></a></li>
    </ul>
</div>
