<div class="section__title-left-border">
  <h2>NAMING CONVENTIONS FOR EQUITY SECURITIES</h2>
</div>
<div class="naming-conventions">
    <div class="naming-conventions__title-part">
      <div class="naming-conventions__title-part-note">
        <span>Note: The following naming conventions are applicable in most cases but are not exclusive for all circumstances.</span>
      </div>
    </div>
    <div class="naming-conventions__item">
      <h3>PRIMARY LISTING</h3>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span>
      </div>
      <p>
        X - Up to 15 characters representing the name of the listed company / fund
      </p>
    </div>
    <div class="naming-conventions__item">
      <h3>SECONDARY LISTING</h3>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>-</span><span>S</span>
      </div>
      <p>
        S - Secondary listing indicator
      </p>
    </div>
    <div class="naming-conventions__item">
      <h3>PRODUCTS TRADED IN RENMINBI</h3>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>-</span><span>R</span>
      </div>
      <p>
      R - Indicator for products traded in Renminbi (RMB)
      </p>
    </div>
    <div class="naming-conventions__item">
      <h3>PRIMARY LISTING</h3>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>-</span><span>D</span><span>R</span>
      </div>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>-</span><span>D</span><span>R</span><span>S</span>
      </div>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>-</span><span>D</span><span>R</span><span>-</span><span>R</span><span>S</span>
      </div>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>-</span><span>D</span><span>R</span><span>S</span><span>-</span><span>R</span><span>S</span>
      </div>
      <p>X - Up to 15 characters representing the name of the listed company / fund </p>
      <p>DR - Depositary Receipts indicator</p>
      <p>S - Secondary listing indicator</p>
      <p>RS - Depositary Receipts which are restricted securities (RS) under US federal securities laws.</p>
    </div>
    <div class="naming-conventions__item">
      <h3>PRIMARY LISTING</h3>
      <div class="X-content-container">
         <span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>X</span><span>-</span><span>S</span><span>S</span>
      </div>
      <p>X - Up to 12 characters representing the name of the listed Stapled Securities</p>
      <p>SS - Indicator for Stapled Securities</p>
    </div>
    <div class="naming-conventions__foot-note">
      <span>Note: The above naming convention for products traded in Renminbi comes into effect on 23 May 2012.
        The stock short name of respective product types listed before 23 May 2012 will remain unchanged.
        During the parallel trading period, if any, there will be indicators used to distinguish the original
         and the temporary trading stock counters.</span>
    </div>
</div>
