<div class="section__title-left-border">
     <h2>Resource</h2>
</div>
<div class="resource__content">
    <ul class="quick-link-list-tablet-mobile quick-link-list">
        <li><a href="files/ess.pdf" target="_blank"><span class="pdf">Stock Code Allocation Plan</span><i></i></a></li>
        <li><a href="#"><span>Risk Management Measures</span><i></i></a></li>
        <li><a href="#"><span>Pilot Trading Programme for Overseas</span><i></i></a></li>
        <li><a href="#"><span>Securities</span><i></i></a></li>
    </ul>
</div>
