<div class="section__title-left-border">
    <h2>STOCK CODE ALLOCATION PLAN FOR EQUITY SECURITIES</h2>
</div>
<div class="fixed-freeze-tb-container sticky-header-table">
    <div class="fixed-freeze-tb--scroller-container">
        <div class="fixed-freeze-tb--scroll-bar">
            <div class="fixed-freeze-tb--bar"></div>
        </div>
    </div>
    <div class="fixed-freeze-tb--scroll-bts">
        <div class="fixed-freeze-tb--scroll-bts-left"><img src="images/left-arrow-inactive.svg" data-active-img="images/left-arrow-active.svg" data-inactive-img="images/left-arrow-inactive.svg" alt="left"></div>
        <div class="fixed-freeze-tb--scroll-bts-right"><img src="images/right-arrow-active.svg" data-active-img="images/right-arrow-active.svg" data-inactive-img="images/right-arrow-inactive.svg" alt="right"></div>
    </div>
    <div class="table-container fixed-freeze-tb-parent">
        <table class="table fixed-freeze-tb table-sort sticky-header-table" id="stockTable">
            <thead>
                <tr>
                    <th colspan="2" class="sorter-false hideborder">
                        Stock Codes
                    </th>
                    <th rowspan="2" class="leftAlign">To Be Allocated For New Listing Of</th>
                </tr>
                <tr class="tablesorter-childRow">
                    <th class="ranges sorter-false">Ranges</th>
                    <th class="sub-ranges sorter-false">Sub-ranges</th>
                </tr>
            </thead>
            <tbody class="no-background">
                <tr>
                    <td rowspan="4" class="topAlign">00001-09999</td>
                    <td></td>
                    <td>Securities listed on the Main Board and Growth Enterprise Market (GEM) and information pages *</td>
                </tr>
                <tr class="tablesorter-childRow">
                    <td>06200-06499</td>
                    <td>Hong Kong Depositary Receipts (HDRs)</td>
                </tr>
                <tr class="tablesorter-childRow">
                    <td>06300-06399</td>
                    <td>HDRs which are restricted securities (RS) under US federal securities laws. Please click here for explanation of RS.</td>
                </tr>
                <tr class="tablesorter-childRow">
                    <td>08000-08999</td>
                    <td>GEM securities and GEM information pages</td>
                </tr>
                <tr>
                    <td rowspan="4" class="topAlign">80000-89999</td>
                    <td></td>
                    <td>Products traded in Renminbi</td>
                </tr>
                <tr class="tablesorter-childRow">
                    <td>06200-06499</td>
                    <td>Equity and Equity warrants listed on the Main Board and Growth Enterprise Market (GEM)</td>
                </tr>
                <tr class="tablesorter-childRow">
                    <td>06300-06399</td>
                    <td>Equity and Equity warrants</td>
                </tr>
                <tr class="tablesorter-childRow">
                    <td>08000-08999</td>
                    <td>Temporary counters</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-footer">
        <p>* Other than the sub-ranges allocated for debt securities, exchange traded funds and depositary receipts</p>
        <a class="download" href="files/ess.pdf" target="_blank">Download Table</a>
    </div>
</div>
