<!-- Top 5 stocks -->
<div  class="right-panel-sections top-stocks-section" title="TOP STOCKS">
    <div  class="right-panel-sections-label">
        <a href="#" data-toggle="nav-popover" class="right-panel-sections-label-right" title="TOP 5 STOCKS">
            <h2>TOP 5 STOCKS</h2>
            <div class="arrow-down-red" title="Drop Down Options" ></div>
        </a>
        <div class="right-panel-sections-label-left" title="View all options">
            <a href="#">View All &nbsp;</a>
        </div>

    </div>
    <!-- PopUp -->
      <div class="popover" >
          <div class="popover__content">
              <ul class="popover__content-list">
                  <li class="popover__list-item">
                      <a class="popover__link" href="#" title="TOP 5 ETPS">TOP 5 ETPS</a>
                  </li>
                  <li class="popover__list-item">
                      <a class="popover__link" href="#" title="TOP 5 DWs">TOP 5 DWs</a>
                  </li>
                  <li class="popover__list-item">
                      <a class="popover__link" href="#" title="TOP 5 CBBCs">TOP 5 CBBCs</a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- end of PopUp -->

    <div class="right-panel-sections-label-content top-stocks">
        <img class="top-stocks-desktop" src="images/top-stocks-desktop.png" title="Top Stocks" alt="Top Stocks" />
        <img class="top-stocks-tablet" src="images/top-stocks-tablet.png" title="Top Stocks" alt="Top Stocks" />
    </div>
        <div class="view-all" title="View all options">
            <a href="#">View All &nbsp;</a>
        </div>
</div>
