<div class=" listing-committee-left-menu">
	  {{> menu}}
</div>
<div class="section__left_panel listing-committee-left-report">
	  {{> report}}
</div>
<div class="section__left_panel listing-committee-quick-link">
	  {{> quick-link}}
</div>