<div class="left-menu__wrapper">
    <ul class="left-menu__level1">
        <li class="left-menu__item back"><a class="leftside-menu__level1-back" href="javascript:void(0)" title="Go back to HOW WE REGULATE ">Back To<span class='left-menu__item--back-to-target'>HOW WE REGULATE </span></a></li>
        <li class="left-menu__item"><a href="#">OVERVIEW</a></li>
        <li class="left-menu__item"><a href="#">THE RULES, INTERPRETATION AND GUIDANCE</a></li>
        <li class="left-menu__item hasChildren"><a href="#" class="left-menu__link">PROCEDURES AND OTHER GUIDANCE MATERIALS</a>
            <ul class="left-menu__level2">
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="#" title="Go back to PROCEDURES AND OTHER GUIDANCE MATERIALS">Back To
                <span class='left-menu__item--back-to-target'>PROCEDURES AND OTHER GUIDANCE MATERIALS</span></a>
                </li>
               {{!--  <li class="leftside-menu_item menutitle">PROCEDURES AND OTHER GUIDANCE MATERIALS</li> --}}
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Lorem ipsum dolor">Lorem ipsum dolor sit</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Sed ut perspiciatis unde">Sed ut perspiciatis unde</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item hasChildren"><a href="#" class="left-menu__link">ADMINISTRATIVE MATTERS/TOOLS</a>
            <ul class="left-menu__level2">
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="#" title="Go back toADMINISTRATIVE MATTERS/TOOLS">Back To
                 <span class='left-menu__item--back-to-target'>ADMINISTRATIVE MATTERS/TOOLS </span></a>
               </li>
              {{!--   <li class="leftside-menu_item menutitle">ADMINISTRATIVE MATTERS/TOOLS</li> --}}
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Lorem ipsum dolor">Lorem ipsum dolor sit</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Sed ut perspiciatis unde">Sed ut perspiciatis unde</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item hasChildren"><a href="#" class="left-menu__link">SPECIAL TOPICS</a>
            <ul class="left-menu__level2">
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="#" title="Go back to SPECIAL TOPICS">Back To
                <span class='left-menu__item--back-to-target'>SPECIAL TOPICS </span></a>
                </li>
            {{!--     <li class="leftside-menu_item menutitle">SPECIAL TOPICS</li> --}}
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Lorem ipsum dolor">Lorem ipsum dolor sit</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Sed ut perspiciatis unde">Sed ut perspiciatis unde</a>
                </li>
            </ul>
        </li>

        <li class="left-menu__item hasChildren"><a href="#" class="left-menu__link">ARCHIVE</a>
            <ul class="left-menu__level2">
                <li class="leftside-menu_item back"><a class="leftside-menu__level2-back" href="#" title="Go back to ARCHIVE">Back To 
                <span class='left-menu__item--back-to-target'>ARCHIVE </span></a>
                </li>
              {{!--   <li class="leftside-menu_item menutitle">ARCHIVE</li> --}}
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Lorem ipsum dolor">Lorem ipsum dolor sit</a>
                </li>
                <li class="leftside-menu__item">
                    <a class="leftside-menu__level2-text" href="#" title="Sed ut perspiciatis unde">Sed ut perspiciatis unde</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item {{#if listingCommittee}} active {{/if}}"><a href="#" class="left-menu__link">LISTING COMMITTEE </a></li>
    </ul>
</div>