<div class="section__title-left-border">
     <h2>QUICK LINKS </h2>
</div>
<div>
	<ul class="quick-link-list-tablet-mobile quick-link-list">
		<li><a href=""><span>Why List in Hong Kong</span><i></i></a></li>
		<li><a href=""><span>Getting Started</span><i></i></a></li>
	</ul>
</div>
