.banner {
    width: 100%;

    @include susy-breakpoint(min-width $desktop-start){
        display: block !important;
    }

    @include susy-breakpoint(max-width $large){
        height: auto;
    }

    &__container{
        height: 165px;
        @include susy-breakpoint(max-width $large){
            height: auto;
        }
        text-align: center;
        background-color: $level1-color;
        @include susy-breakpoint(min-width $tablet-start){
            width: 100%;
        }
        @include susy-breakpoint(max-width $large){
            margin: 20px auto 0 auto;
            background: none;
        }
        @include susy-breakpoint(max-width $medium){
            margin: 0;

        }

    }
    &__background{
        width: 100%;
        max-width: 1440px;
        height: 100%;
        /*background-image:url(../images/inner-banner.png);*/
        background-size:100% 100%;
        margin:0 auto;
        padding-top: 31px;
        position: relative;
        @include susy-breakpoint(max-width $large){
            background-image: none !important;
            padding-top: 0;
        }

    }
    &__breadcrumb{
        font-weight: bold;
        color: $white;
        text-align: left;
        @include susy-breakpoint(max-width $large){
            display: none;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline;
                margin-right: 5px;
                font-size: toRem(14);
                &:last-child{
                    a:after {
                        content:"";
                    }
                }
                a{
                    color: #FFF;
                    text-decoration: none;
                    &:after{
                        content: '\\';
                        margin-left: 6px;
                    }
                }
                &:first-child{
                    a:after {
                        content:'\\';
                    }
                }
            }
        }
    }
    &__pageheading{
        font-size: toRem(30);
        font-weight: bold;
        letter-spacing: 1px;
        color: $white;
        text-align: left;
        margin-top: 4px;
        text-transform: uppercase;
        @include susy-breakpoint(max-width $large){
            display: none;
        }
    }

}
.banner__menu{
    width: 100%;
    list-style-type: none;
    // padding-left: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 4.8%;
    left: 0;
    right: 0;
    padding: 0 30px;
    li{
        float: left;
        margin-right: 69px;
        padding-bottom: toRem(13);
        padding-left: 7px;
        padding-right: 7px;
        a{
            font-size: toRem(14);
            color: $white;
            &:hover, &:focus, &:visited{
                text-decoration: none;
            }
        }
    }
    li.active{
        border-bottom: 4px solid #e72742;
    }
    @include susy-breakpoint(max-width $large){
        margin-top: 0;
        padding: 0;
    }

}
.banner__breadcrumb-tablet-mobile{
    width: 100%;
    font-size: 12px;
    font-size: toRem(12);
    line-height: 2.8;
    margin-left: 18px;
    color: $level1-color;
    display: none;
    padding-left: 18px;
    ul{
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        padding: 6px 0 7px 0;
        line-height: 1;
        li{
            display: inline;
            margin-right: 5px;
            &:last-child{
                a:after {
                    content:"";
                }
            }
            a{
                text-decoration: none;
                &:after{
                    content: '\\';
                    margin-left: 6px;
                }

            }
        }
    }
    @include susy-breakpoint(max-width $large){
        display: block;
        margin: 0 auto;
        max-width: 660px;
    }
}
.banner__breadcrumb__pageTitle {
    font-size: toRem(12) !important;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
}

.banner-light{
    &__container{
        height: 218px;
    }
    &__background{
        padding-top: 44px;
    }
}
.backgroudColor-monthly-bulletin{
    background-color: $background-darkblue;
}
.backgroudimg-monthly-bulletin{
    background-image:url(../images/banner-monthly-bulletin.png);
}

.fontsize-large{
    .banner__menu{
        margin-top: 3%;
        @include susy-breakpoint(max-width $large){
            margin-top: 0;
        }
        li{
            @include susy-breakpoint(min-width $large){
                margin-right: 40px;
            }
        }
    }
}
.fontsize-small{
    .banner__menu{
        margin-top: 7.3%;
        @include susy-breakpoint(max-width $large){
            margin-top: 0;
        }
    }
}
