.section-side {
    background-color: $white;
    margin-bottom: 20px;
    @include susy-breakpoint(min-width $tablet-start) {
         @include span(4);
    }
    @include susy-breakpoint(max-width $large) {
         @include span(12);
    }
}
.content-wrapper {
    @include susy-breakpoint(min-width $tablet-start) {
        padding: 0 30px 20px;
    }
    @include susy-breakpoint(max-width $medium) {
        padding: 0 20px 20px;
    }
}
.defaultParagraph {
    color: $hkex-blue;
    font-size: toRem(14);
    line-height: 20px;
}
.defaultBulletPoint {
    color: $level1-color;
    font-size: toRem(14);
    padding-left: 0;
    margin-left: 0;
    li {
        list-style-type: none;
        &:before{
          content: '\2022';
          position: absolute;
        }
        p {
            padding-left: 20px;
        }
    }
}
