// -----------------------------------------------------------------------------
// This file contains all styles related to the collapse component.
// -----------------------------------------------------------------------------
.collapse-container {
    // for collapse
    & .panel:last-child {
        border-bottom: 1px solid #e3e3e3;
    }
    .panel-heading {
        border-top: 1px solid #e3e3e3;
        display: block;
        font-size: toRem(14);
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        @include susy-breakpoint(max-width $large) {
            padding-top: 13.5px;
            padding-bottom: 13.5px;
        }
    }
    .panel[data-bottom='border-bottom'] {
        border-bottom: 1px solid #e3e3e3;
    }
    a.panel-heading {
        display: block;
        text-decoration: none;
    }
    a[aria-expanded='false'].panel-heading {
        // background: url(../images/triangle-1.svg) no-repeat right center;
        background: url(../images/triangle-1.svg) no-repeat right 8px top 20px;
        background-size: 8px 6px;
        padding-right: 25px;
    }
    a[aria-expanded='true'].panel-heading {
        background: url(../images/arrow-up.svg) no-repeat right 8px top 20px;
        background-size: 8px 6px;
        padding-right: 25px;
    }
    a.panel-heading:hover {
        @include susy-breakpoint(min-width $large) {
            color: #4AB1E2;
        }
    }
    .panel-body {
        margin-bottom: 19px;
        font-size: toRem(14);
        font-weight: 400;
        line-height: 1.43;
        color: $level1-color;
        a {
            color: #729ee7;
        }
        a[data-file-type] {
            @include file-icon;
        }
    }
    .section-title {
        font-size: toRem(14);
        font-weight: 700;
        letter-spacing: toRem(1);
        color: $hkex-red;
        padding-top: 47px;
        padding-bottom: 30px;
        border-top: 1px solid #e3e3e3;
        margin: 0;
        &__no-border {
            border-top: none;
        }
    }
}

.fontsize-small {
    .collapse-container a[aria-expanded='false'].panel-heading {
        background: url(../images/triangle-1.svg) no-repeat right 8px top 18px;
    }
    .collapse-container a[aria-expanded='true'].panel-heading {
        background: url(../images/arrow-up.svg) no-repeat right 8px top 16px;
        background-size: 6px 6px;
    }
}

// .collapse-last {
//     border-bottom: 1px solid $level8-color;
// }
