.contact_us {
    &__wrapper {
        background: $white;
        float: left;
        width: 100%;
    }
    & .form-input-textarea {
        .contact_us__form_text--error-msg {
            margin-top: 14px;
        }
    }
    &__form {
        padding: 0 30px 30px 20px;
        float: left;
        width: 100%;
        @include susy-breakpoint(max-width $medium) {
            padding: 0 20px 20px 20px;
        }
        &--error {
            .checkbox {
                @include susy-breakpoint(max-width $large) {
                    margin-top: 32px !important;
                }
            }
        }
        &--item-error {
            border: 1px solid $level2-color !important;
        }
        &_subscription{
            float: left;
            width: 40%;
            @include susy-breakpoint(max-width $large) {
                width: 60%;
            }
            @include susy-breakpoint(max-width $medium) {
                float: none;
                width: 100%;
            }
        }

        &_captcha{
            float: left;
            min-width: 188px;
            max-width: 193px;
            @include susy-breakpoint(max-width $medium) {
                margin-top: 20px;
                margin: 0 auto;
                float: none;
                width: 100%;
            }
        }
    }
    &__right_part{
        @include susy-breakpoint(min-width $desktop-start) {
            float: right;
            width: 350px;
        }
        @include susy-breakpoint(max-width $large) {
            float: right;
            width: 189px;
        }
        @include susy-breakpoint(max-width $medium) {
            float: none;
            width: 100%;
            margin-top: 20px;
        }
    }
    &__form_column {
        input,
        textarea {
            width: 100%;
        }
        .optional_text {
            color: $level6-color;
        }
        &:first-child {
            float: left;
            width: 35%;
            @include susy-breakpoint(max-width $large) {
                width: 100%;
            }
            @include susy-breakpoint(max-width $medium) {
                width: 100%;
            }
        }
        &:nth-child(2n) {
            float: right;
            width: 62.5%;
            margin-left: 2%;
            height: 136px;
            @include susy-breakpoint(max-width $large) {
                width: 100%;
                margin-top: 20px;
            }
            @include susy-breakpoint(max-width $medium) {
                width: 100%;
                margin-left: 0;
            }
        }
        &:last-child {
            margin-top: 20px;
            float: right;
            width: 60%;
            @include susy-breakpoint(max-width $large) {
                width: 100%;
            }
            @include susy-breakpoint($medium $large) {
                padding-top: 11px;
            }
        }
    }
    &__form_text {
        &--error-msg {
            display: none;
            font-size: toRem(12);
            color: $level2-color;
            min-height: 16px;
            line-height: 1.33;
            margin-top: 6px;
        }
        &:nth-of-type(2n) {
            margin-top: 20px;
            float: right;
            float: none;
            @include susy-breakpoint(max-width $large) {
                margin-top: 0;
                margin-left: 20px;
                float: right;
            }
            @include susy-breakpoint(max-width $medium) {
                margin-top: 20px;
            }
        }
        @include susy-breakpoint(max-width $large) {
            @include span(5.9);
            margin-right: 0;
            margin-top: 0;
        }
        @include susy-breakpoint(max-width $medium) {
            @include span(12);
            margin-right: 0;
        }
    }
    &__checkbox{
        margin-top: 20px;
        &:first-child{
            margin-top: 0px;
        }
        .contact_us__form_text--error-msg{
            padding-left: 22px;
        }
    }

    &__form--error{
        .contact_us__form_captcha {
            border: 1px solid #e72742;
            padding: 6px;
        }
        @include susy-breakpoint(min-width $desktop-start) {
            .btn-gray{
                margin-top: 33px;
            }
        }
    }

    .checkbox {
        width: 100%;
        @include susy-breakpoint(max-width $large) {
            padding-top: 9px;
        }
        @include susy-breakpoint(max-width $large) {
            padding-top: 0;
            margin-top: 15px;
        }
        label {
            font-size: toRem(13);
            color: $level1-color;
            letter-spacing: 0.2px;
        }
        input {
            border: 1px solid $checkbox-border-color;
        }
        .btn-gray {
            padding: 15px 20px 15px 20px;
            float: right;
            background: $level1-color;
            color: $white;

            @include susy-breakpoint(max-width $large) {
                margin-top: 20px;
                float: right;
            }
            @include susy-breakpoint(max-width $medium) {
                float: none;
                margin: 20px auto 0 auto;
                display: block;
            }
        }
    }
    .form-input-text {
        label {
            margin-top: 3px;
        }
        input {
            margin-top: 0;
        }
    }

    div.checkbox {
        input[type=checkbox] {
            width: toRem(20);
            height: toRem(20);
            vertical-align: middle;
        }
        label.subscribe {
            color: $hkex-blue;
            @include font-type;
            font-size: toRem(14);
            padding-left: 22px;
        }


    }
    .filter__checkBox--custom [type="checkbox"] + label{
        display: inline-block;
        &:before{
            border-radius: 0px;
        }
        &:hover{
            &:before{
                border: 1px solid $checkbox-border-color !important;
            }
        }
    }

}
.form-input-textarea {
    .contact_us__form_text--error-msg {
        margin-top: 8px;
    }
}
.contact-us-aside{
    @include susy-breakpoint(min-width $desktop-start) {
        .contact_us__form_subscription{
            width: 100%;
            float: none;

        }
        .contact_us__form_captcha{
            margin: 20px auto 0;
            float: none;
        }
        .contact_us__form--error .checkbox-img{
            display: block;
        }
        .contact_us__right_part{
            width: 100%;
        }
    }

    .filter__checkBox--custom [type="checkbox"] + label{
        display: inline-block;
        &:before{
            border-radius: 0px;
        }
        &:hover{
            &:before{
                border: 1px solid $checkbox-border-color !important;
            }
        }
    }
}
.fontsize-small {
    .contact_us__form_subscription {

        @include susy-breakpoint(max-width $large) {
            width: 69%;
        }
    }
    .contact_us__right_part{


        @include susy-breakpoint(min-width $medium) {
            width: 167px;
        }
        @include susy-breakpoint(min-width $desktop-start) {
            width: 285px;
        }
    }
    .contact_us__form_captcha{
        width: 167px;
        min-width: 167px;
    }
    .contact-us-aside{
        .contact_us__right_part{
            @include susy-breakpoint(min-width $desktop-start) {
                width: 100%;
            }
        }
    }

}
.fontsize-large{
    .contact_us {
        &__form {
            &_subscription{

                @include susy-breakpoint(max-width $large) {
                    width: 69%;
                }
            }
            &_captcha{
                max-width: 210px;
                @include susy-breakpoint(max-width $medium) {
                    margin-top: 0;
                }
            }

        }
        &__checkbox{
            @include susy-breakpoint(max-width $medium) {
                margin-top: 0;
            }
        }
        &__right_part{

            @include susy-breakpoint(min-width $medium) {
                width: 189px;
            }
            @include susy-breakpoint(min-width $desktop-start) {
                width: 400px;
            }
        }
    }
    .contact_us__form--error{
        .contact_us__form_subscription{
            width: 50%;
            @include susy-breakpoint(max-width $large) {
                width: 63%;
            }
            @include susy-breakpoint(max-width $medium) {
                width: 100%;
            }
        }
        .checkbox-img{
            width: 224px;
        }
        .form-input-textarea{
            @include susy-breakpoint(max-width $medium) {
                margin-bottom: 20px;
            }
        }
        .contact_us__form_captcha{
            @include susy-breakpoint(max-width $medium) {
                margin-top: 42px;
            }
        }
        .btn-gray{
            @include susy-breakpoint(min-width $desktop-start) {
                margin-top: 55px;
            }
        }
    }

    .contact-us-aside{
        .contact_us__form_subscription{
            @include susy-breakpoint(min-width $desktop-start) {
                width: 100%;
            }
            @include susy-breakpoint(max-width $medium) {
                width: 100%;
            }
        }
        .contact_us__form_captcha{
            margin-top: 20px;
            @include susy-breakpoint(max-width $large) {
                margin-top: 0px;
            }
            @include susy-breakpoint(max-width $medium) {
                margin-top: 20px;
            }

        }

        .contact_us__right_part{
            @include susy-breakpoint(min-width $desktop-start) {
                width: 100%;
            }
        }

        .form-input-textarea{
            @include susy-breakpoint(min-width $desktop-start) {
                margin-bottom: 20px;
            }
        }
        .contact_us__form--error{
            .btn-gray{
                @include susy-breakpoint(min-width $desktop-start) {
                    margin-top: 20px;
                }
            }
        }
    }
}
