.filter {
    //filter__container
    &__container {
      background-color: $hkex-paleblue;
      padding: 0 30px;
      width: 100%;
      position: relative;
      @include susy-breakpoint(max-width $medium) {
        display: inline-block;
        padding: 0 20px;
      }
    }
    //filter__searchBox
    &__searchBox {
      margin: 20px 0;
      display: inline-block;
      width: 280px;
      @include susy-breakpoint(max-width $medium) {
        margin-bottom: 15px;
        display: block;
        width: 100%;
      }
    }
    //filter__moreFilter
    &__moreFilter {
      float: right;
      //filter__moreFilter--float-down
      &--float-down {
        @include susy-breakpoint(max-width $medium) {
          position: absolute;
          right: 14px;
          bottom: 0;
        }
      }
      &__label {
        padding: 30px 0px 30px 0;
        margin: 0;
        font-weight: normal;
        font-size: toRem(14);
        line-height: 1.43;
        color: $hkex-blue;
        @include susy-breakpoint(max-width $medium) {
          padding: 0;
        }
        a {
            background: url(../images/triangle-1.svg) no-repeat right center;
            background-size: 8px 6px;
            padding-right: 14px;
        }
      }
      @include susy-breakpoint(max-width $medium) {
        padding: 0 10px 15px 0;
      }
    }
    //filter__moreFilterText
    &__moreFilterText {
      font-weight: normal;
    }
    //filter__checkBox
    &__checkBox {
      border-top: 1px solid $border-gray;
      border-bottom: 1px solid $border-gray;
      padding-top: 15px;
      display: inline-block;
      width: 100%;
      //filter__checkBox__list
      &__list {
        list-style: none;
        display: inline-block;
        width: 100%;
        padding: 15px 0 0 0;
        margin: 0;
      }
      //filter__checkBox__item
      &__item {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        min-height: 38px;
        padding-bottom: 12px;

        @include susy-breakpoint(max-width $medium) {
          width: 100%;
        }
        label {
          font-size: toRem(12);
          line-height: 1.33;
          color: $hkex-blue-1;
          display: block;
        }
      }
      //filter__checkBox--custom
      //ref: http://codepen.io/CreativeJuiz/pen/BiHzp
      &--custom {
        /* Base for label styling */
        [type="checkbox"]  {
          position: absolute;
          left: -9999px;
        }
        [type="checkbox"]+ label{
          position: relative;
          padding-left: 22px;
          cursor: pointer;
        }

        /* checkbox aspect */
        [type="checkbox"] + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 15px;
          height: 15px;
          border: 1px solid $checkbox-border-color;
          background: $white;
          border-radius: 2px;
        }
        /* checked mark aspect */
        [type="checkbox"] + label:after {
          background: url(../images/checked.svg) no-repeat 0 center;
          background-size: 50% 50%;
          content: '';
          display: inline-block;
          position: absolute;
          left: 1px;
          top: -4px;
          transition: all .2s;
          width: 26px;
          height: 24px;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
          opacity: 0;
          transform: scale(0);
        }
        [type="checkbox"]:checked + label:after {
          opacity: 1;
          transform: scale(1);
        }
      }
      //filter__checkBox__title
      &__title {
        font-size: toRem(12);
        font-weight: bold;
        line-height: 1.17;
        color: $hkex-blue;
        text-transform: uppercase;
        vertical-align: top;
      }
      //filter__checkBox__text
      &__text {
        display: inline-block;
        margin: 0;
        max-width: 120px;
      }
    }
    //filter__buttonGroup
    &__buttonGroup {
      padding: 20px 0;
      display: inline-block;
      width: 100%;
      a {
        float: right;
        margin-left: 20px;
        @include susy-breakpoint(max-width $medium) {
          &:last-child {
            margin-left: 0;
          }
        }
      }
      .filter__btn-cancelFilters-js {
        color: $hkex-subTitle;
        @include susy-breakpoint(max-width $medium) {
          float: left;
        }
      }
    }
    //filter__selectedItem
    &__selectedItem {
      padding-bottom: 10px;
      display: inline-block;
      display: none;
      width: 100%;
      //filter__selectedItem--stretched
      &--stretched {
        @include susy-breakpoint(max-width $medium) {
          margin-bottom: 30px;
        }
      }
      //filter__selectedItem__button
      &__button {
        padding: 10px 27px 10px 10px;
        text-transform: none;
        font-size: toRem(12);
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 280px;
        text-overflow: ellipsis;
        position: relative;
        text-align: left;
        &:hover {
          background-color: #f0f0f0;
        }
        &::after {
          margin-left: 10px;
          position: absolute;
          right: 10px;
          top: 11px;
        }
      }
    }
}


/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}



.fontsize-large {
  .btn {
    &-white, &-disable, &-blue {
      padding: 10px 15px;
    }
  }
  .filter__selectedItem__button {
    padding-right: 25px;
    &::after {
      top: 13px;
    }
  }
  .filter__checkBox--custom [type="checkbox"] + label:before {
    top: 1px;
  }
}
.fontsize-small {
  .filter {
    &__checkBox__text {
      padding-top: 7px;
    }
    //filter__checkBox--custom
    &__checkBox--custom {
      [type="checkbox"] + label:before {
        top: -3px;
      }
      [type="checkbox"] + label:after {
        top: -7px;
      }
    }
    //filter__selectedItem__button
    &__selectedItem__button {
      &::after {
        top: 9px;
      }
    }
  }

}
