.fixed-freeze-tb-container { 
    $container-width: 661px;
    width: 100%;
    position: relative;
    // mobile layout
    @include susy-media($small $medium) {
        width: 100%;
    }
    .fixed-freeze-tb--scroller-container {
        background-color: $level1-color;
        height: 12px;
        overflow: hidden;
        width: 100%;
    }
    table {
        empty-cells: show;
        border-collapse: collapse;
        border-spacing: 0
    }
    .fixed-freeze-tb-parent {
        width: 100%;   
        @include susy-media($small $medium) {
            width: 100%;
        }
    }
    .fixed-freeze-tb {
        min-width: 100% !important;
    }
    tbody {
        tr {
            td.is-fix-col{
               border-right: none;
            }
        }
        tr:nth-child(odd) {
            background-color: $white;
            td {
                background-color: $white;
            }
        }
        tr:nth-child(even) {
            background-color: $tag-selected;
            td {
                background-color: $tag-selected;
            }
        }
    }
    thead td,
    thead th {
        background: $level1-color;
    } 
    .fixed-freeze-tb--scroll-bar {
        background: $level1-color;
        float: right;
        width: 50%;
        position: relative;
        height: 12px;
    }
    .fixed-freeze-tb--bar {
        background: $level5-color;
        height: 10px;
        width: 133px;
        @include susy-media($small $medium) {
            width: 74px;
        }
        position: absolute;
        z-index: $z-index-scroll-bar;
        border-radius: 8px;
    }
    .fixed-freeze-tb--scroll-bts {
        position: absolute;
        z-index: 11;
        width: 660px;
        div {
            display: inline-block;
        }
        &-left {
            margin-left: toRem(5);
            position: relative;
        }
        &-right {
            float: right;
            margin-right: toRem(5);
        }
    }
}
