.info-cards:after {
	content: '';
	display: block;
	clear: both;
}

.info-card {
	width: 48.5%;
	height: auto;
	padding: 20px 21px;
	color: $hkex-blue;
	background-color: $background-gray;
	float: left;
	margin-bottom: 20px;
	@include susy-breakpoint(max-width $medium){
		width: 100%;
		float:none;
		margin-left: auto;
		margin-right: auto;
	}
	> div {
		display: block;
		div:first-child {
			float: left;
		}
		div:last-child {
			margin-left: 40px;
		}
		img {
			width: 25px;
			float: left;
		}
		span {
			vertical-align: top;
			font-weight: bold;
			font-size: toRem(14);
			@include susy-breakpoint(max-width $medium){
				float: none;
			}
		}		
	}
	p {
		clear: both;
		width: 100%;
		margin-top: 25px;
		margin-bottom: 0;
		font-size: toRem(14);
		line-height: 20px;
	}
}
.info-card:nth-child(odd) {
	margin-right: 3%;
	@include susy-breakpoint(max-width $medium){
		margin-right: auto;
	}
}
