.form-input-text {
    position: relative;
    input {
        color: $hkex-blue;
        height: 58px;
        padding-left: 20px;
        border: solid 1px $hkex-border-gray;
        -webkit-appearance: none;
        border-radius: 0;
        font-size: toRem(14);
        margin-top: 20px;
        padding: 0 20px;
        display: block;
        & + label {
            position: absolute;
            padding-left: 20px;
            margin-top: 3px;
            transition: top 0.2s linear;
            opacity: 0;
            font-size: toRem(10);
            color: #898989;
        }
        &:focus + label {
            color: #898989;
            opacity: 1;
            top: 3px;
        }
        &:focus::-webkit-input-placeholder {
            opacity: 0;
        }
        &:focus:-moz-placeholder {
            opacity: 0;
        }
        &:focus::-moz-placeholder {
            opacity: 0;
        }
        &:focus:-ms-input-placeholder {
            opacity: 0;
        }
        &:-ms-input-placeholder{
            color: #898989;
        }

        &::-ms-clear {
            display: none !important;
        }

    }
    .hint-label{
      color: #898989;
      opacity: 1;
      top: 3px;
    }


}
