.listing-step {
    color: $level1-color;
    a[aria-expanded='false'] {
        background: url("../images/triangle-1.svg") no-repeat right center;
        background-size: 8px 6px;
        padding-right: 14px;
    }
    a[aria-expanded='true'] {
        background: url("../images/arrow-up.svg") no-repeat right center;
        background-size: 8px 6px;
        padding-right: 14px;
    }
    .collapse {
        display: none;
    }
    //listing-step__option
    &__option {
        position: relative;
        @include clearfix;
    }
    // listing-step__rule
    &__rule {
        margin: 30px 43px 30px 0;
        @include susy-breakpoint(max-width $medium) {
            margin: 20px 19px;
        }
    }
    //listing-step__circle
    &__circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $level1-color;
        position: absolute;
        top: -7px;
        left: 75.5px;
        color: #fff;
        text-align: center;
        line-height: 35px;
        z-index: $z-index-step-circle;
        @include susy-breakpoint(max-width $large) {
            width: 30px;
            height: 30px;
            left: 55.5px;
            line-height: 30px;
        }
        @include susy-breakpoint(max-width $medium) {
            font-size: toRem(12);
            width: 20px;
            height: 20px;
            top: -1px;
            left: 23px;
            line-height: 20px;
        }
        &::before {
            content: "STEP";
            position: absolute;
            display: inline-block;
            left: -48px;
            top: 0;
            font-size: toRem(14);
            color: $level1-color;
            @include susy-breakpoint(max-width $large) {
                font-size: toRem(14);
                left: -40px;
            }
            @include susy-breakpoint(max-width $medium) {
                display: none;
            }
        }
    }
    //listing-step__wrapper
    &__wrapper {
        margin-left: 92.5px;
        border-left: 3px solid $level1-color;
        padding-left: 37px;
        @include clearfix;
        @include susy-breakpoint(max-width $large) {
            margin-left: 70px;
            padding-left: 32px;
        }
        @include susy-breakpoint(max-width $medium) {
            border-left: none;
            margin-left: 0;
            padding-left: 0;
        }
    }
    //listing-step__wrapper--last
    &__wrapper--last {
        border-left: none;
    }
    &__content {
        margin-right: 43px;
        @include clearfix;
        @include susy-breakpoint(max-width $medium) {
            margin-left: 19px;
            margin-right: 19px;
        }
    }
    //listing-step__content-full
    &__content-full {
        @include susy-breakpoint(max-width $medium) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    //listing-step__header
    &__header {
        margin-right: 43px;
        font-weight: bold;
        margin-top: 0;
        display: block;
        text-decoration: none;
        h3 {
          font-size: toRem(16);
        }
        @include susy-breakpoint(max-width $medium) {
            padding-left: 33px;
            margin-left: 19px;
            margin-right: 19px;
        }
        &:hover {
            @include susy-breakpoint(min-width $desktop-start){
              color: #4AB1E2;
            };
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
    //listing-step__desc
    &__desc {
        font-size: toRem(14);
        font-weight: normal;
        padding-right: 69px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        @include susy-breakpoint(max-width $medium) {
            padding-right: 0;
        }
    }
}
.fontsize-small {
    .listing-step__circle {
        @include susy-breakpoint(max-width $medium) {
            top: -5px;
        }
        &::before {
            left: -36px;
        }
    }
    .listing-step__desc {
        margin-top: 18px;
    }
}
.fontsize-large {
    .listing-step__circle {
        &::before {
            left: -63px;
            @include susy-breakpoint(max-width $large) {
                left: -47px;
            }
        }
    }
}
