.loadMore {
    &__container {
        float: left;
        width: 100%;
        min-height: 55px;
        background-color: $white;
        text-align: center;
        position: relative;
        a {
            &:active,
            &:focus,
            &:hover,
            &:visited {
                text-decoration: none;
            }
        }
    }
    &-leftPart__container {
        display: inline-block;
    }
    &__wrapper {
        &-container {
            padding-top: 17px;
        }
        margin-top: 10px;
        display: inline-block;
        font-size: toRem(14);
        color: $level1-color;
        margin: 0;
    }
    &__icon {
        display: inline-block;
        width: 17px;
        height: 16px;
        margin-right: 4px;
        vertical-align: middle;
        background: url("../images/loadmore-img.png") no-repeat right center;
        background-size: 15.8px 14.4px;
    }
    &__timetag {
        &-container {
            text-align: right;
            margin-bottom: 20px;
        }
        color: $level1-color;
        margin-top: 10px;
        margin-bottom: 0;
        display: inline-block;
        font-size: toRem(11);
        line-height: 1.36;
        &-icon {
            background: url('../images/time-tag-clock.png') no-repeat right center;
            display: inline-block;
            width: 17px;
            height: 16px;
            margin-right: 4px;
            vertical-align: middle;
        }
    }
    &__dropdown-container {
        float: right;
        width: 120px;
        font-size: toRem(12);
        .select-group {
            border-left: 1px solid #d5e2e8;
            border-top: none;
            border-right: 1px solid #d5e2e8;
            border-bottom: none;
        }
        .select-target {
            line-height: 27px;
            a {
                font-weight: normal;
            }
        }
        .select-items {
            text-align: left;
        }
    }
}
.fontsize-large {
    .loadMore__dropdown-container {
        .select-target {
            line-height: 30px;
        }
    }
}
