.searchBox {
    line-height: 30px;
    padding: 0px 0px 0px 46px;
    font-size: 14px !important;
    letter-spacing: 0.2px;
    color: $level1-color;
    width: 100%;
    height: 44px;
    border: solid 1px $hkex-border-gray;
    background-image: url("../images/search-icon-blue.svg");
    background-repeat: no-repeat;
    background-position: 14px 12px;
    -webkit-appearance: none;
    border-radius: 0;
}

.searchBox::-webkit-input-placeholder,
.searchBox:-moz-placeholder,
.searchBox:-ms-input-placeholder {
    line-height: 2.5;
    font-size: toRem(13);
    color: $hkex-gray;
}
.searchBox::-ms-clear {
  display: none;
}
//
// .fontsize-large {
//     .searchBox {
//         font-size: 16px !important;
//     }
// }
