// -----------------------------------------------------------------------------
// This file contains all styles related to the section panel component.
// -----------------------------------------------------------------------------
@mixin panel($padding:20px) {
    overflow: hidden;
    background: $white;
    border-bottom: 1px solid #AEB4C5;
    >:nth-child(n) {
        padding-left: $padding;
        padding-right: $padding;
        @include susy-breakpoint(max-width $medium) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .quesitons__title {
        padding-left: $section-panel-padding - $section-title-left-border-widht;
        @include susy-breakpoint(max-width $large) {
            padding-left: $section-left-panel-padding - $section-title-left-border-widht;
        }
    }
}

.section__panel {
    @include panel($section-panel-padding);
}
.section__left_panel{
    @include panel($section-left-panel-padding);
    margin-bottom: 20px;    
}

