.tab-container {
    width: 100%;
    min-height: 42px;
    // background-color: lightgray;
    &__item {
        width: 100%;
        list-style-type: none;
        padding-left: 0;
        position: absolute;
        margin-top: 11px;
        li {
            float: left;
            margin-right: 12%;
            min-height: 31px;
            &.selected {
                border-bottom: 4px solid $level2-color;
                a {
                    color: $level1-color;
                }
            }
            a {
                color: #636363;
                font-weight: bold;
                font-size: toRem(14);
                line-height: 1.93;
                &:focus,
                &:hover,
                &:visited {
                    text-decoration: none;
                }
            }
        }
    }
}
