.content__footer{
    background: $white;
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 28px;
    font-size: toRem(12);
    line-height: 1.67;
    color: $level1-color;
    p{
        margin-top: 30px;
    }
    
}