// -----------------------------------------------------------------------------
// This file contains all styles related to the tags component.
// -----------------------------------------------------------------------------
// tags color map
$tags-map: (name:'yellow', bg-color:'#ffb205', triangle-color:'#ff8305'),
(name:'light-blue', bg-color:'#899bac', triangle-color:'#10416c'),
(name:'gray', bg-color:'#a5a5a5', triangle-color:'#7d7d7d'),
(name:'red', bg-color:'#e72742', triangle-color:'#cb2424'),
(name:'green', bg-color:'#24803e', triangle-color:'#0f451e');
// imgs map
$tags-img-map: (name:'clock', url:"../images/tagIcons/clock.svg"),
(name:'notification', url:"../images/tagIcons/notification-bell.svg"),
(name:'trading', url:"../images/tagIcons/trading.svg");
%base-tag {
    display: inline-block;
    min-height: toRem(19);
    position: relative;
    font-size: toRem(11);
    color: $white;
    padding: toRem(6) toRem(6) toRem(4) toRem(6);
    margin-right: toRem(5);
    margin-bottom: toRem(5);
}

%base-tag-triangle {
    content: '';
    width: 0;
    height: 0;
    border-bottom: toRem(10) solid;
    border-left: toRem(10) solid transparent;
    position: absolute;
    top: toRem(-10);
    left: 0px;
}

%base-tag-img {
    content: '';
    width: toRem(12);
    height: 100%;
    position: absolute;
    left: toRem(6);
    top: toRem(3);
    background: no-repeat top;
}


/*
 Demo:
 base tag:.tag-yellow 
 with triangle tag: .tag-yellow-triangle
 with image tag: 
 */

@each $tag in $tags-map {
    .tag-#{map-get($tag,name)} {
        @extend %base-tag;
        background:#{map-get($tag,bg-color)};
    }
    .tag-#{map-get($tag,name)}-triangle::before {
        @extend %base-tag-triangle;
        border-bottom-color:#{map-get($tag,triangle-color)};
    }
}


/*
 Demo: .tag-img-notification
 */

@each $img in $tags-img-map {
    .tag-img-#{map-get($img,name)} {
        padding-left: toRem(22);
    }
    .tag-img-#{map-get($img,name)}::after {
        @extend %base-tag-img;
        background-image:url(#{map-get($img,url)
    }
    )
}


}
// large font size
.fontsize-large {
    @each $img in $tags-img-map {
        .tag-img-#{map-get($img,name)}::after {
            top: toRem(5);
        }
    }
}
