.ticker {

    color: $level1-color;
    position: relative;
    font-style: normal;
    font-stretch: normal;

    // ticker__header, ticker__body
    &__header, &__body {
        margin: 0;
        padding: 0;
    }

    //ticker__wrapper
    &__wrapper {
        padding: 30px 30px 30px 80px;
        position: relative;

        @include susy-breakpoint(max-width $medium) {
            padding: 20px 60px 20px 70px;
        }
    }

    //ticker__header 
    &__header {
        margin-bottom: 10px;
        line-height: 0.89;
    }

    // ticker__body
    &__body {
        line-height: 1.14;
    }

    // ticker--error
    &--error {
        background-color: #f9dede;
    }

    // ticker--success
    &--success {
        background-color: #e7f4e4;
    }

    // ticker--info
    &--info {
        background-color: #d5e2e8;
    }

    // ticker--warn
    &--warn {
        background-color: #fff1d2;
    }

    //ticker__error-img, ticker__success-img,  &__info-img, ticker__warn-img 
      &__error-img:before, &__success-img:before,  &__info-img:before,  &__warn-img:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        left: 30px;
    }

    //ticker__error-img
    &__error-img:before {
        background: url(../images/tickers/icon-error-ticker.svg) no-repeat;
    }

    //ticker__success-img 
    &__success-img:before {
        background: url(../images/tickers/icon-success-ticker.svg) no-repeat;
    }

     //ticker__info-img
    &__info-img:before {
        background: url(../images/tickers/icon-info-ticker.svg) no-repeat;
    }

    // ticker__warn-img 
    &__warn-img:before {
        background: url(../images/tickers/icon-warning-ticker.svg) no-repeat;
    }

    //ticker__highlight
    &__highlight {
        text-decoration: underline;
        font-weight: bold;
    }

    //ticker__close-btn
    &__close {
        position: absolute;
        background: url(../images/cancel.svg) no-repeat;
        top: 0;
        right: 0;
        width: 50px; height: 50px;
        text-align: center;
        cursor: pointer;
        border: none;

        span {
            line-height: 50px;
            font-size: toRem(14);
            color: #fff;
        }
    }

    // ticker__btn
    &__btn {
        margin-top: 15px;
        padding: 10px 20px;
        text-transform: uppercase;
    }
    
}