.top-menu {
    &__title {
        @include susy-breakpoint(min-width $desktop-start) {
            display: none;
        }
    }
    &__wrapper {
        .left-menu__wrapper {
            display: none;
            box-shadow: none;
        }
    }
    &__items {
        display: none;
        li {
            @include susy-breakpoint(max-width $large) {
                width: 100%;
                text-align: left;
                padding: 16px 35px 16px 0px;
                background-color: $white;
                border-bottom: 1px solid $level8-color;
                cursor: pointer;
                &.active {
                    border-bottom: 1px solid $level8-color;
                    background-color: $level3-color;
                    font-weight: 700;
                }
                &.hasChildren {
                    background-image: url(../images/arrow-left-tablet.svg);
                    background-repeat: no-repeat;
                       background-position: right 20px top 20px;
                }
                &.showChildren {
                    padding: 0px;
                    > a {
                        display: none;
                    }
                }
                a {
                    color: $level1-color;
                    margin-left: 21px;
                    &:hover,
                    &:visited,
                    &:focus {
                        text-decoration: none;
                    }
                }
                &.back a{
                    // margin-left:0px;
                }
            }
        }
        @include susy-breakpoint(max-width $large) {
            width: 100%;
            position: inherit;
        }
        @include susy-breakpoint(max-width $medium) {
            margin-left: 0;
            margin-right: 0;
        }
        @include susy-breakpoint(min-width $desktop-start) {
            display: block !important;
        }
    }
}

.sub-menu__level1 {
    padding: 0;
    margin: 0;
    @include susy-breakpoint(max-width $large) {
        display: none;
        padding-left: 32px;
        padding-right: 32px;
    }
    @include susy-breakpoint(max-width $medium) {
        padding-left: 0px;
    }
    li {
        padding: 16px 35px 16px 21px;
        list-style: none;
        list-style-type: none;
        border-bottom: 1px solid $level8-color;
        float: left;
        width: 100%;
        &:hover {
            @include susy-breakpoint(min-width $large) {
                background-color: $level3-color;
            }
        }
        &.hasChildren {
            padding-left: 21px;
            padding-right: 26px;
            padding-bottom: 16px;
            @include susy-breakpoint(max-width $large) {
                padding-bottom: 16px;
                padding-left: 0;
            }
            @include susy-breakpoint(max-width $medium) {
                padding-left: 23px;
            }
            &::after {
                content: "";
                background-image: url('../images/arrow-down.svg');
                background-repeat: no-repeat;
                width: 13px;
                height: 11px;
                float: right;
                margin-right: -13px;
                margin-top: 8px;
                @include susy-breakpoint(max-width $large) {
                    display: none;
                }
            }
            a {
                display: inline;
                @include susy-breakpoint(max-width $large) {
                    padding-left: 0;
                }
            }
        }
        &.back {
            width: 100%;
            border-bottom: none;
            color: $level1-color;
            @include susy-breakpoint(min-width $large) {
                display: none !important;
            }
            &::before {
                content: "";
                background: url('../images/arrow-right-tablet.svg') no-repeat;
                height: 13px;
                width: 13px;
                float: left;
                display: inline-block;
                margin-top: 2px;
                margin-right: 6px;
            }
            a {
                color: $level1-color;
            }
        }
        &.menutitle {
            width: 100%;
            border-bottom: none;
            color: $level1-color;
            font-weight: 700;
            font-size: 0.875rem;
            text-transform: uppercase;
            @include susy-breakpoint(min-width $large) {
                display: none !important;
            }
        }
        &.active {
            font-weight: 700;
            &::before {
                content: "";
                background: url('../images/arrow-left.svg') no-repeat;
                width: 13px;
                height: 11px;
                display: inline-block;
                padding-right: 20px;
                float: left;
                margin-top: 5px;
                @include susy-breakpoint(max-width $large) {
                    display: none;
                }
            }
            a {
                padding-left: 0;
                display: inline-block;
                width: 90%;
                @include susy-breakpoint(max-width $large) {
                    color: $level2-color;
                    width: auto;
                }
            }
            @include susy-breakpoint(min-width $large) {
                background-color: $level3-color;
            }
        }
        a {
            display: inherit;
            float: left;
            @include susy-breakpoint(max-width $large) {
                padding-left: 0;
            }
            &:hover,
            &:focus,
            &:visited {
                text-decoration: none;
            }
        }
        @include susy-breakpoint(max-width $large) {
            width: 100%;
            float: left;
            border-bottom: 1px solid #e3e3e3;
            margin-right: 30px;
            margin-left: 0px;
            padding: 16px 13px 16px 0px;
            background: $white;
            a {
                font-size: 0.875rem;
                font-weight: 400;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                color: #7d7d7d;
            }
        }
        @include susy-breakpoint(max-width $medium) {
            width: 100%;
            padding-left: 23px;
        }
        list-style-type: none;
    }
    @include susy-breakpoint(max-width $large) {
        width: 100%;
        position: relative;
        margin-top: -54px;
        background: $white;
        float: left;
    }
    @include susy-breakpoint(max-width $medium) {
        margin-right: 0;
        margin-left: 0;
    }
}

.fontsize-large {
    .top-menu {
        &__title {
            .nav-icon {
                height: 54px;
            }
        }
    }
    .sub-menu__level1 {
        li.back {
            a {
                margin-top: -2px;
            }
        }
        @include susy-breakpoint(max-width $large) {
            margin-top: -58px;
        }
    }
}

.fontsize-small {
    .top-menu {
        &__title {
            @include susy-breakpoint(max-width $large) {
                min-height: 43px;
            }
            h2 {
                padding: 20px 20px 15px 20px;
            }
        }
        li.hasChildren {
            &::after {
                margin-top: 3px;
            }
        }
    }
    .sub-menu__level1 {
        li.hasChildren {
            &::after {
                margin-top: 0px;
            }
        }
        li.active {
            &::before {
                margin-top: 0;
            }
        }
        li.back {
            a {
                padding-top: 3px;
            }
        }
    }
    .top-menu__items li.hasChildren{
      background-position: right 20px top 16px;
    }
}
