.banner{
    width: 100%;
    height: 218px;
    @include susy-breakpoint(max-width $large){
        display: none;
    }
    &__container{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $level1-color;

    }
    &__background{
        width: 100%;
        max-width: 1440px;
        height: 100%;
        background-image:url(../images/inner-banner.png);
        background-size:100% 100%;
        margin:0 auto;
        padding-top: 44px
    }
    &__breadcrumb{
        font-weight: bold;
        color: $white;
        text-align: left;
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline;
                margin-right: 5px;
                &:last-child{
                    a:after {
                        content:"";
                    }
                }
                a{
                    color: #FFF;
                    text-decoration: none;
                    &:after{
                        content: '\\';
                        margin-left: 6px;
                    }

                }
            }
        }
    }
    &__pageheading{
        font-size: toRem(30);
        font-weight: bold;
        letter-spacing: 1px;
        color: $white;
        text-align: left;
        margin-top: 14px;
    }
}

.banner__breadcrumb-tablet-mobile{
    width: 100%;
    font-size: toRem(10);
    line-height: 2.8;
    margin-left: 18px;
    color: $level1-color;
    display: none;
    ul{
            margin: 0;
            padding: 0;
            li{
                display: inline;
                margin-right: 5px;
                &:last-child{
                    a:after {
                        content:"";
                    }
                }
                a{
                    text-decoration: none;
                    &:after{
                        content: '\\';
                        margin-left: 6px;
                    }
                }
            }
        }
    @include susy-breakpoint(max-width $large){
        display: block;
    }
}
