.faq-all-quesitons {
    @include susy-breakpoint(min-width $medium) {
        .title-for-tab-only {
            display: block;
        }
    }
    &__section-title {
      padding: 0 !important;
    }
    &__search-title {
        text-transform: uppercase;
        font-size: toRem(13);
        font-weight: 700;
        letter-spacing: 0.5px;
        color: $level1-color;
        margin-top: 16px;
    }
    @include susy-breakpoint(min-width $medium) {
        .search-title-for-tab-only {
            display: block;
        }
    }
    &__search-input {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.5px;
        color: $level1-color;
        margin-top: 16px;
        margin-bottom: 30px;
        input {
            line-height: 30px;
            padding: 0px 0px 0px 46px;
            font-size: 0.8125rem;
            width: 93.4%;
            height: 44px;
            font-size: 13px;
            border: solid 1px #dadada;
            background-image: url(../images/search-icon-blue.svg);
            background-repeat: no-repeat;
            background-position: 14px 14px;
            -webkit-appearance: none;
            border-radius: 0;
        }
    }
    &__item-section {
        margin-bottom: 20px;
    }
    &__item-title-section {
        line-height: 24px;
        margin-top: 12px;
    }
    .load-more {
        font-size: toRem(11);
        font-weight: bold;
        color: $level1-color;
        text-align: center;
        line-height: 55px;
        border-top: 1px solid #cdd8e1;
        padding-left: 0;
        padding-right: 0;
        a {
            cursor: pointer;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        img {
            margin-right: 5px;
        }
    }
}

.bottom-padding {
    padding-bottom: 42px;
}
