footer {
    background-color: $level1-color;
    height: 193px;
    padding-top: 58px;
    @include susy-breakpoint(max-width $large) {
        padding-top: 21px;
    }
    @include susy-breakpoint(max-width $medium) {
        height: 298px;
        text-align: center;
    }

    @include susy-breakpoint(max-width 435px) {
        height: 330px;
    }

     @include susy-breakpoint(max-width 300px) {
        height: 380px;
    }
}

.footer {
    // footer__logo
    &__logo {
        margin-left: 44px;
        display: inline-block;
        width: 105px;
        height: 49px;

        @include susy-breakpoint(max-width $desktop-padding-remove) {
            margin-left: 30px;
        }

        @include susy-breakpoint(max-width $large) {
            margin-left: 0px;
        }
        img {
            width: 105px;
            height: 48px;
            @include susy-breakpoint(max-width $large) {
                width: 79px;
            }
        }
        @include susy-breakpoint(max-width $medium) {
            margin: 0 0 22px;
        }
    }
    // footer__social-icons
    &__social-icons {
        float: right;
        margin: 0 44px 15px 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin-left: 31px;
        }

        @include susy-breakpoint(max-width $large) {
            margin-right: 0;
            margin-top: 16px;
        }
        @include susy-breakpoint(max-width $medium) {
            float: none;
            margin: 0 0 28px;
        }
    }
    // footer__nav
    &__nav {
        float: right;
        list-style: none;
        display: block;
        margin: 0 44px 0 0;
        padding: 0;
        @include susy-breakpoint(max-width $large) {
            margin: 23px 12px 0 12px;
            float: none;
            text-align: center;
        }
    }
    // footer__links-item
    &__nav-item {
        position: relative;
        display: inline-block;
        &:last-child a {
            border-right: none;
            padding-right: 0;
        }
    }
    // footer__nav-link
    &__nav-link {
        font-size: 0.8125rem;
        color: #d5e2e8;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 2.31;
        padding-left: 10px;
        position: relative;
        border-right: 1px solid #d5e2e8;
        padding-right: 10px;
        text-transform: capitalize;
        &:hover {
            text-decoration: underline;
            color: #d5e2e8;
        }
    }
    //footer__links-faq
    &__nav-faq {
        text-transform: uppercase;
    }
    // footer__privacy
    &__privacy {
        float: right;
        color: #d5e2e8;
        font-size: 0.75rem;
        line-height: 2.5;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin: 0 44px 0 0;
        padding: 0;
        @include susy-breakpoint(max-width $large) {
            margin: 0;
            float: none;
            text-align: center;
        }

        @include susy-breakpoint(max-width $medium) {
            margin: 0 14px 0 14px;
        }
    }
    &__clearBoth {
        clear: both;
    }
}

.fontsize-large {
    .footer {
        &__nav {
            @include susy-breakpoint(max-width $large) {
                margin-top: 5px;
            }
        }
    }
}