
.market-turnover{
    box-shadow: 0 1px 0 0 $background-blue;
    
    margin-top: 20px;
    float: left;
    width: 100%;
    img{
        width: 100%;
    }
.market-turnover_left-top{
    @extend %title;
    float: left;
    line-height: 28px;
    width: 42.6%;
    background-color:$white;
    h2{
        margin:0;
        color: $level1-color;
        display: block;
    }
    @include susy-breakpoint(max-width $large){
        background-color: $level1-color;
        width:100%;
        h2{
            color: $white;
        }
    }

}
.market-turnover_left{
    background-color:$white;
    float: left;
    clear: left;
    width: 42.6%;
    margin-right: 0;
    border-right: 1px solid #dcdcdc;
    img{
        height: 267px;
        @include susy-breakpoint(max-width $large){
            height: 315px;
        }
        @include susy-breakpoint(max-width $medium){
            height: 100%;
        }
    }

    @include susy-breakpoint(max-width $medium){
        width:100%;
    }
}


.market-turnover_right{
    float: right;
    margin-top: -3rem;
    width: 57.4%;
    background-color:$white;
    height: 100%;
    img{
        height: 315px;
        @include susy-breakpoint(max-width $medium){
            height: 100%;
        }
    }

    @include susy-breakpoint(max-width $large){
        margin-top:0;
    }
    @include susy-breakpoint(max-width $medium){
        width:100%;
        margin-top:0;
    }
}


}
.fontsize-large {
    .market-turnover_right{
        @include susy-breakpoint(min-width $large){
            margin-top: -48px;
        }
        img{
            @include susy-breakpoint(min-width $large){
                height: 317px;
            }
        }
    }
    .market-turnover_left{
        img{
            @include susy-breakpoint(min-width $large){
                height: 269px;
            }
        }
    }
}
.fontsize-small{
    .market-turnover_right{

        @include susy-breakpoint(min-width $large){
            margin-top: -48px;
            img{
                height: 317px;
            }
        }
    }

    .market-turnover_left{
        img{
            @include susy-breakpoint(min-width $large){
                height: 269px;
            }
        }
    }
}
