$grid-columns : 12;

@mixin make-grid-columns() {
    @for $i from  (1) through $grid-columns {
         .mega-nav__col-#{$i} {
            margin-right: gutter();
            float: left;
            position: relative;
            min-height: 1px;
            width: span($i);

            @include susy-breakpoint(max-width $large) {
                width: 100%;
            }
        }
    }
}

@mixin make-grid-offset() {
    @for $i from  (1) through $grid-columns {
         .mega-nav__col-offset-#{$i} {
            margin-left: span($i) +  gutter();

            @include susy-breakpoint(max-width $large) {
                margin-left: 0;
            }
        }
    }
}

@include make-grid-columns();
@include make-grid-offset();

.mega-nav {

    // mega-nav__cb
    &__cb {
        clear: both;
    }

    // mega-nav__cr
    &__cr {
        clear: right
    }

    // mega-nav__cl
    &__cl {
        clear: left;
    }

    //mega-nav--last
    &--last {
        margin-right: 0;

    }

    //mega-nav__fl
    &__fl {
        float: left;
    }

    //mega-nav__fr
    &__fr {
        float: right;
    }

    //mega-nav__level2-list
    &__level2-list {
        padding: 0;
    }

    //mega-nav__level2-item
    &__level2-item {
        margin-bottom: 36px;

        @include susy-breakpoint(max-width $large) {
            margin-bottom: 0;
            border-bottom: 1px solid #EAEAEA;
        }
    }

    //mega-nav__level2-link
    &__level2-link {
         margin: 0;
        text-transform: uppercase;
        color: $level1-color;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: toRem(13);
        @include susy-breakpoint(max-width $large) {
            padding: 11px 0 12px 35px;
            display: inline-block;
        }
    }

    //mega-nav__level3-list
    &__level3-list {
        margin: 8px 0 11px 0;
        padding-left: 0;
        padding-top: 13.5px;
        border-top: 1px solid $level2-color;

        @include susy-breakpoint(max-width $large) {
            padding-top: 0;
            border-top: 1px solid #EAEAEA;
            margin:0;
        }
    }

    //mega-nav__level3-item
    &__level3-item {
        font-weight: 700;
        padding-top: 11px;

        @include susy-breakpoint(max-width $large) {
            padding-top: 0;
        }

        a {
            font-size: toRem(13);
            color: $level1-color;
            @include susy-breakpoint(max-width $large) {
                display:inline-block;
                font-size: toRem(14);
                padding: 11px 0 12px 35px;
            }
        }
    }

    //mega-nav__level4-list
    &__level4-list {
        padding: 6px 0 0 0;
    }

    //mega-nav__item
    &__item {
         list-style: none;
         margin-bottom: 9px;
      
        a {
            font-size: toRem(13);
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.5px;
            color: $hkex-gray-deep;
            @include susy-breakpoint(max-width $large) {
                padding: 7px 45px 7px 35px;
                font-size: toRem(14);
                line-height: 1.43;
            }
        }

    }
}
