.monthly-bulletin {
	&__title {
		@include susy-breakpoint(max-width $large) {
			display: none;
		}
	}
	&__title h2 {
		font-size: toRem(18);
	}
	&__filter-input {
		padding-left: 30px;
		padding-right: 30px;
		@include susy-breakpoint(max-width $large) {
			margin-top: 18px;
		}
		@include susy-breakpoint(max-width $medium) {
			margin-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__select-group1 {
		display: inline-block;
		margin-right: 4%;
		font-size: toRem(14);
		font-weight: bold;
		width: 30%;
		@include susy-breakpoint(max-width $medium) {
			margin-bottom: 10px;
			min-width: 180px;
		}
		div.monthly-bulletin__select-items-date {
			z-index: $z-index-monthly-bulletin-filter-date;
		}
	}
	&__select-group2 {
		display: inline-block;
		font-size: toRem(14);
		font-weight: bold;
		width: 65%;
		@include susy-breakpoint(max-width $medium) {
			width: 100%;
		}
	}	
	&__timestamp {
		color: $hkex-subTitle;	 
		font-size: toRem(11);
		text-align: right;
	}
	&__img{
		text-align:center;
	}
}
