/*-- Common sections --*/

.stock-quote-section {
    height: 124px;
}

.top-stocks-section {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.focus-section {
    height: auto;
    padding-bottom: 5px;
    margin-top: 20px;
}

.caret {
    margin-right: 10px;
    display: inline-block;
    border-top: 1px solid red;
    border-right: 1px solid red;
    @include susy-breakpoint($small $large) {
        border-top: 1px solid white;
        border-right: 1px solid white;
    }
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}


/*--  css for search section --*/

.right-panel-sections {
    position: relative;
    background-color: $white;
    box-shadow: 0 1px 0 0 $level5-color;
    .right-panel-sections-label {
        @extend %title;
        text-transform: uppercase;
        .right-panel-sections-label-right {
            float: left;
            text-align: left;
        }
        .right-panel-sections-label-right:hover{
            cursor: pointer;
        }
        .right-panel-sections-label-left {
            // width: 54%;
            background: url(../images/arrow-right.svg) no-repeat 85% center;
            float: right;
            text-align: right;
            font-size: toRem(12);
            padding: 0px 17px 0px 0px;
            text-transform: capitalize;
            margin-top: 4px;
            a,
            a:hover,
                a:focus {
                color: $hkex-blue;
            }
            @include susy-media($medium $large) {
                a,
                a:hover,
                    a:focus {
                    text-decoration: none;
                    color: $white;
                }
            }
            @include susy-media($small $medium) {
                a,
                a:hover,
                    a:focus {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
        .arrow-down-red {
            float: right;
            text-align: left;
            margin-top: 7px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 7px solid $level2-color;
            cursor: pointer;
            cursor: hand;
            margin-left: 10px;
        }
    }
    .right-panel-sections-content {
        padding: 0px 20px 0px 20px;
    }
}

.quote-lookup-search {
    font-size: 12px !important;
}

/*--  css for top stocks --*/

.top-stocks {
    .top-stocks-tablet {
        display: none;
    }
    .top-stocks-desktop {
        width: 100%;
    }
    .top-stocks-tablet {
        width: 100%;
    }
}

.top5-stocks {
    @include susy-breakpoint(max-width $large) {
        .right-panel-sections-label-right h2 {
            color: $white;
        }
    }

}

@media (min-width: $desktop-start) and (max-width: 1200px) {
    .fontsize-large .top5-stocks .right-panel-sections-label-left {
        float: left;
    }
}

/*--  css for news --*/

.news-section {

    @include susy-breakpoint(max-width $large) {
        margin-top: 20px;
    }
    .hk-text {
        width: 100px;
        float: left;
        padding-top: 22px;
        font-size: toRem(14);
        line-height: 20px;
        color: $hkex-blue;
        padding-left: 5px;
        .company {
            font-size: 0.75rem;
            font-weight: 700;

        }
        .group {
            font-size: 0.75rem;
            font-weight: 400;

        }
    }
    .news-twitter-icon {
        float: right;
        width: 36px;
        margin-top: 17px;
    }
    .minutes {
        float: right;
        width: 45px;
        font-size: 0.75rem;
        color: $hkex-blue;
    }
    .news-detail {
        line-height: 1.4;
        width: 100%;
        float: left;
        font-size: toRem(14);
        font-weight: 400;
        color: $level12-color;
        padding-bottom: 10px;
        height: 70px;
        overflow-y: auto;
    }

    .news-carousel {
        max-width:420px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 28px;
        margin-top: 20px;
        #carousel-news {
            top: 0px;
        }
    }

    .carousel-inner {
        cursor: pointer;
    }

    .glyphicon {
        color: $level2-color;
    }
    .carousel-indicators {
        bottom: -30px;
        li {
            background-color: $tabs;
            width: 10px;
            height: 10px;
            margin-left: 16.2px;
            text-indent: 0px;
            a{
                padding: 3px;
                &:hover, &:focus, &:focus{
                    text-decoration: none;
                }
            }
        }
        li.active {
            background-color: $level2-color;
            margin: 1px;
            margin-left: 16.2px;
        }
    }
}

.top-news {
    padding-bottom: 5px;
    border-bottom: 2px solid $level9-color;

}

.news-carousel {
    .carousel-indicators{
        width: 64%;
        margin-left: -34%;
    }  
}

/*--  css for focus --*/

.focus-body {
    @include clearfix;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
    // margin-left: -15px;
    .focus-single {
        cursor: pointer;
        text-align: center;
        @include gallery(2 of 4);
        .focus-img {
            border: solid 1px $background-blue-1;
            width: 95px;
            height: 95px;
            text-align: center;
            border-radius: 50%;
            margin-bottom: 14px
        }
        .focus-title {
            font-size: 0.75rem;
            font-weight: normal;
            line-height: 1.33;
            text-align: center;
            color: #10416c;
            padding: 0 0 24px 0;
            margin: 0 auto;
            max-width: 100px;
        }
    }
}


/*-- MediaQuery for Tablet/iPad --*/

@include susy-breakpoint(max-width $large) {
    .caret:before {
        border-left: 5px solid $white;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
    .caret:after {
        border-left: 4px solid $level1-color;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    .focus-body {
        .focus-single {
            @include gallery(3 of 12);
        }
    }
    .top-stocks-section {
        margin-top: 20px;
    }
    .top-stocks {
        .top-stocks-desktop {
            display: none;
        }
        .top-stocks-tablet {
            display: block;
            height: 380px;
        }
    }
    .right-panel-sections {
        .right-panel-sections-content {
            margin-top: 15px;
        }
        .right-panel-sections-label {
            background-color: $level1-color;
            color: $white;
            // .right-panel-sections-label-left {
            //     width: 57%;
            // }
            /*.label-left-read-more {
                width: 60%;
            }*/
        }
        .arrow-down-red {
            display: none;
        }
    }
}


/*-- MediaQuery only for Tablet/iPad --*/

@media only screen and (min-width: 768px) and (max-width: $large) {
    .market-overview {
        margin-top: 20px;
    }
    .stock-quote-section {
        height: 48px;
        margin-top: 1px;
        .right-panel-sections-label {
            width: 316px;
            float: left;
        }
        .right-panel-sections-content {
            float: right;
            width: 327px;
            margin-top: 0px;
            .quote-lookup-search {
                border: none;
                width: 100%;
                margin: 2px 0px 0px -20px;
            }
        }
    }
}


/*-- MediaQuery for Tablet/iPad 600px --*/

@include susy-breakpoint(max-width 600px) {
    .focus-body {
        .focus-single {
            @include gallery(6 of 12);
        }
    }
}


/*-- MediaQuery for iPhone --*/

@include susy-breakpoint(max-width $medium) {
    .caret:before {
        border-left: 5px solid $white;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
    .caret:after {
        border-left: 4px solid $level1-color;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    .top-stocks {
        .top-stocks-desktop {
            display: block;
        }
        .top-stocks-tablet {
            display: none;
        }
    }
    .stock-quote-section {
        margin-top: toRem(20);
    }
    .right-panel-sections {
        .right-panel-sections-content {
            margin-top: 15px;
        }
        .right-panel-sections-label {
            background-color: $level1-color;
            color: $white;
        }
        .right-panel-sections-label {
            .arrow-down-red {
                display: block;
                border-top: 7px solid $white;
            }
        }
    }
    .stock-quote-section {
        .right-panel-sections-content {
            .quote-lookup-search {
                width: 100%;
                height: 44px;
                border: solid 1px $hkex-border-gray;
            }
        }
    }
}


/*-- MediaQuery for Large screen --*/

@media screen and (max-width: $large) {
    .stock-quote {
        z-index: $z-index-stock-quote-tablet;
    }
    .fontsize-large {
        .stock-quote {
            top: -4px;
        }
    }
    .fontsize-small {
        .stock-quote {
            top: 6px;
        }
    }
}


.top-stocks-section {

    .popover {
        top:38px;
        left: 19px;

        @media (min-width: 768px) and (max-width: $large) {
            display: none!important;
        }
        @include susy-breakpoint(max-width $medium) {
            position: relative;
            top: -10px;;
            left: 0;
            width: 100%;
        }
    }

    .popover__content:after,
        .popover__content:before {
        left: 56%;

        @include susy-breakpoint(max-width $medium) {
            left: 134px;
        }
    }

    .popover__link {
        @include susy-breakpoint(max-width $medium) {

            font-size: toRem(14);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.43;
        }
    }


    .popover__content-list {
        @include susy-breakpoint(max-width $medium) {
            width: 100%;
            background: #f2f6f8;

        }
    }

    .popover__list-item {

        @include susy-breakpoint(max-width $medium) {
            width: 100%;
        }
    }


}



// Font sizes fix

.fontsize-small {

    .top-stocks-section {

        .popover__content:after, .popover__content:before {
            left: 40%;

            @include susy-breakpoint(max-width $medium) {
                left: 100px;

            }
        }
    }

    .right-panel-sections{
        &-label{
            .arrow-down-red{
                margin-top: 4px;
            }
        }
    }
    .carousel-indicators {
        bottom: -20px;
    }    
}


.fontsize-large {

    .top-stocks-section {

        .popover__content:after, .popover__content:before {
            left: 67%;

            @include susy-breakpoint(max-width $medium) {
                left: 155px;

            }
        }
    }
    .right-panel-sections{
        &-label{
            .arrow-down-red{
                margin-top: 10px;
            }
        }
    }
    .carousel-indicators {
        bottom: -40px;
    }    
}
