.lg-topbar__side.topbar__side {
    float: right;
    @include susy-breakpoint(max-width $large) {
        display: none;
    }
}



//ticker-btn
%ticker-btn {
    vertical-align: middle;
    margin-left: 15px;
    outline: none;
    border: none;
    background-color:$level4-color;
    cursor: pointer;

    &:focus, &:active, &:hover {
        outline: none;
        border-width: 0;
        border-color: rgba(0,0,0,.6);
    }


    &:focus svg, &:active svg, &:hover svg {
            fill: #4AB1E2;
        }
}
.m-topbar {
    margin: 24px 0 0 0;

    @include susy-breakpoint(min-width $large) {
        display: none;
    }

    .popover {
        position: relative;
        top: auto;
        left: 0;
        width: 100%;
    }

    .popover__content-list {
        width: 100%;
    }

    .popover__content {
        border-bottom: none;
    }

    .popover__list-item {
        width: 100%;
        margin-bottom: 0;
    }

    .popover__link {
        margin-left: 22px;
        padding: 8px 0
    }


    //m-topbar__language
    &__language {
        margin-left: 22px;
    }

    &__language-one {
        border-right: 1px solid #dadada;
        padding-right: 10px;
    }
    //m-topbar__language-two
    &__language-two {
        margin-left: 10px;
    }
    //m-topbar__nav
    &__nav {
        list-style: none;
        margin-top: 0;
        color: $level1-color;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.3;
        display: inline-block;
        padding: 0;
        font-size: toRem(14);
        margin-top: 40px;
        text-align: left;
        padding: 0;
        width: 100%;
        li {
            display: block;
            margin-bottom: 26px;
        }
    }

    // m-topbar__font-sizes
    &__font-sizes {

        margin-left: 22px;
        a {
            text-transform: uppercase;
            margin-right: 9px;
            @include susy-breakpoint(max-width $large) {
                margin-right: 37px;
            }
        }
        span {
            text-transform: capitalize;
            margin-right: 11px;
            @include susy-breakpoint(max-width $large) {
                display: block;
                font-size: toRem(14);
                font-weight: 700;
                line-height: 1.14;
                margin-bottom: 7px;
            }
        }
    }
    // m-topbar__about
    &__about {
        display: inline-block;
        text-transform: capitalize;
        position: relative;

        .popover__content:after,
        .popover__content:before {
            left: 73px;
        }
    }
    // m-topbar__about-link
    &__about-link {
        margin-left: 22px;
        background: url(../images/triangle-1.svg) no-repeat right center;
        background-size: 8px 6px;
        padding-right: 14px;
    }

    &__related-sites {
        .popover__content:after,
        .popover__content:before {
            left: 116px;
        }
    }

    //m-topbar__related-sites
    &__related-sites .m-topbar {
        margin-right: 36px;
        text-transform: capitalize;
        display: inline-block;
        position: relative;


    }
    //m-topbar__related-sites-link
    &__related-sites-link {
        margin-left: 22px;
        background: url(../images/triangle-1.svg) no-repeat right center;
        background-size: 8px 6px;
        padding-right: 14px;
    }

     //m-topbar__ticker
      &__ticker {
           @extend %ticker-btn;
          background-color: #ebebeb;
         span {
              color: $level1-color;
              padding-left: 6px;
              font-size: toRem(14);
              line-height: 14px;
          }
        }
}

.topbar {
    position: relative;
    background-color: $level4-color;
    @include susy-breakpoint(max-width $large) {
        background-color: #fff;
        height: 54px;
    }
    &__container{
      padding-top: 13px;
    }
    // topbar__link
    &__link {
        color: $level1-color;
    }
    // topbar__logo
    &__logo {
        z-index: $z-index-header-logo;
        background: url(../images/hkex-logo.png) no-repeat 0 0;
        background-size: contain;
        width: 88px;
        height: 40px;
        display: inline-block;
        margin: 18px 40px 16px 0px;
        & span {
            display: none;
        }
        // topbar__logo
        @include susy-breakpoint(max-width $large) {
            margin: 0px auto;
            display: block;
            width: 63px;
        }
    }

    // topbar__side
    &__side {
        text-align: right;
        @include susy-breakpoint(max-width $large) {
            float: left;
            margin: 23px 0 0 20px;
        }
    }
    //topbar__nav
    &__nav {
        list-style: none;
        margin-top: 0;
        margin-right: 20px;
        color: $level1-color;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.3;
        display: inline-block;
        padding: 0;
        li {
            display: inline-block;
            position: relative;
            @include susy-breakpoint(max-width $large) {
                display: block;
                margin-bottom: 26px;
            }
        }
    }
    // topbar__font-sizes
    &__font-sizes {
        margin-right: 15px;
        border-right: solid 1px #d5e2e8;
        padding-right: 15px;
        a {
            text-transform: uppercase;
            margin-right: 9px;
            @include susy-breakpoint(max-width $large) {
                margin-right: 37px;
            }
        }
        span {
            text-transform: capitalize;
            margin-right: 11px;
            @include susy-breakpoint(max-width $large) {
                display: block;
                font-size: toRem(14);
                font-weight: 700;
                line-height: 1.14;
                margin-bottom: 7px;
            }
        }
    }
    &__about {
        display: inline-block;
        padding-right: 35px;
        text-transform: capitalize;
        border-right: solid 1px #d5e2e8;
        margin-right: 20px;
    }
    // topbar__about-link
    &__about-link {
        background: url(../images/triangle-1.svg) no-repeat right center;
        background-size: 8px 6px;
        padding-right: 14px;
    }
    //topbar__related-sites
    &__related-sites .m-topbar {
        margin-right: 36px;
        text-transform: capitalize;
        display: inline-block;
        position: relative;
    }
    //topbar__related-sites
    &__related-sites {
        .popover__content:after,
        .popover__content:before {
            left: 47%;
        }
        .popover__content-list {
            width: 174px;
        }
        .popover__list-item {
            width: 174px;
        }
    }
    //topbar__related-sites-icon
    &__related-sites-icon {
        &:after {
            padding-left: 10px;
            content: url(../images/icon-connect-red.svg);
        }
    }
    //topbar__related-sites-link
    &__related-sites-link {
        background: url(../images/triangle-1.svg) no-repeat right center;
        background-size: 8px 6px;
        padding-right: 14px;
    }

    //topbar__search-input
    &__search-input {
        outline: none;
        width: 195px;
        height: 34px;
        line-height: 24px;
        margin-top: 21px;
        margin-right: 10px;
        padding-left: 45px;
        border: 1px solid #dadada;
        background: #fff url(../images/search-icon-blue.svg) no-repeat 9px center;
        color:$level1-color;
        font-size: 12px !important;
        @include placeholder {
            color: $level6-color;
            font-weight: 400;
            line-height: 2.33;
            font-size: 12px;
        }
    }
    &__search-input::-ms-clear {
      display: none;
    }

    //topbar__ic-group
    &__ic-group {
        display: inline-block;
        font-size: 0.75rem;

        a {
            color: $level1-color;
        }
    }

    //topbar__language-one
    &__language-one {
        border-right: 1px solid #dadada;
        padding-right: 10px;
    }


    //topbar__language-two
    &__language-two {
        padding-left: 10px;
    }


    //topbar__ticker
    &__ticker {
        @extend %ticker-btn;

    }

    // topbar__bell
    &__bell {
        fill: #A5A5A5;

    }

    // topbar__mobile-menu
    &__mobile-menu {
        display: none;
        @include susy-breakpoint(max-width 1000px) {
            display: block;
            position: absolute;
            top: 19px;
            left: 20px;
            cursor: pointer;
        }
    }

    //topbar__mobile-search
    &__mobile-search {
        display: none;
        @include susy-breakpoint(max-width $large) {
            width: 18px;
            height: 18px;
            display: inline-block;
            position: absolute;
            top: 19px;
            right: 23px;
        }
    }

    //topbar__icon-bar
    &__icon-bar {
        display: block;
        width: 26px;
        height: 2.8px;
        background-color: #003465;
        margin: 0 0 4.3px 0;
    }
}

.font-sizes {
    // font-sizes__link
    &__link {
        color: #a1b4c5;
    }
    // font-sizes--small
    &--small {
        font-size: 11px;
        line-height: 1.45;
    }
    // font-sizes--medium
    &--medium {
        font-size: 13px;
        line-height: 1.23;
    }
    // font-sizes--large
    &--large {
        font-size: 0.9375rem;
        line-height: 1.07;
        font-size: 15px;
    }
    &--active {
        color: $level2-color !important;
        text-decoration: underline;
    }
}

//for mobile/tablet serach form
.mobile-search {
    //desktop
    @include susy-breakpoint(min-width $large) {
        display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: $z-index-mobile-search-layer;
    display: none;
    &__container {
        width: 100%;
        background: #fff;
        height: 54px;
    }
    &__close {
        max-width: 100%;
        cursor: pointer;
        position: absolute;
        right: 20.3px;
        top: 20px;
    }
    &__form {
        width: 100%;
    }

    &__input {
        margin-top: 10px;
        width:80%;
        border: none;
        border-bottom: 2px solid $hkex-blue;
        margin-left: 60px;
        height: 36px;
        line-height: 36px;
        color: $level1-color;
        -webkit-appearance: none;
        border-radius: 0;
        &:focus {
            outline: none;
        }
        @include susy-breakpoint(max-width $medium) {
            margin-left: 20px;
        }
    }

    &__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $level1-color;
    }
    &__input::-moz-placeholder { /* Firefox 19+ */
        color: $level1-color;
    }
    &__input:-ms-input-placeholder { /* IE 10+ */
        color: $level1-color;
    }
    &__input:-moz-placeholder { /* Firefox 18- */
        color: $level1-color;
    }

    &__input::-ms-clear {
      display: none;
    }
}


// Font sizes fix

.fontsize-small {

    .topbar__about {
        .popover {
            top: 14px;
        }
        .popover__content:after, .popover__content:before {
            left: 15%;
        }
    }

    .topbar__related-sites {
        .popover {
            top: 14px;
        }
        .popover__content:after, .popover__content:before {
            left: 32%;
        }
    }

    .m-topbar__about {
        .popover__content:after, .popover__content:before {
            left: 56px;
        }
    }

     .m-topbar__related-sites {
        .popover__content:after, .popover__content:before {
            left: 85px;
        }
    }

    .topbar__search-label {
      height: 17px;
    }

}

.fontsize-large {
        .topbar__about {

        .popover__content:after, .popover__content:before {
            left: 26%;
        }
    }

    .topbar__related-sites {

        .popover__content:after, .popover__content:before {
            left: 58%;
        }
    }

    .m-topbar__about {
        .popover__content:after, .popover__content:before {
            left: 82px;
        }
    }

     .m-topbar__related-sites {
        .popover__content:after, .popover__content:before {
            left: 137px;
        }
    }
}

.skip-to-content {
    position: absolute;
    top: -9999px;
}
.skip-to-content:focus {
    position: absolute;
    top: 55px;
    right: 35px;
    @include susy-breakpoint(max-width $large) {
        top: 15px;
        right: 50px;
    }
}

.topbar-sticky {
    @include susy-breakpoint(max-width $large) {
        position: fixed;
        width: 100%;
        z-index: $z-index-sticky-header-mobile-tablet;
        top: 0;
        border-bottom: 1px solid $sticky-header-border;
    }
}
