	<div class="fixed-freeze-tb-container sticky-header-table findParter__Table">
		<div class="fixed-freeze-tb--scroller-container">
			<div class="fixed-freeze-tb--scroll-bar">
				<div class="fixed-freeze-tb--bar"></div>
			</div>
		</div>
		<div class="table-container fixed-freeze-tb-parent">
			<table class="table fixed-freeze-tb table-full-width">
				<thead>
					<tr>
						<th rowspan="2">Vendor</th>
						<th colspan="2" class="hideborder"><div>Trading</div></th>
						<th colspan="2" class="hideborder"><div>Market Data</div></th>
						<th colspan="4" class="hideborder"><div>Hosting</div></th>
					</tr>
                    <tr class="leftAlign">
                        <th>Broker Supplied Systems</th>
                        <th>Open Application Prog. Interface Device</th>
                        <th>Information Software Vendor</th>
                        <th>Information Vendor</th>
                        <th>Exchange Participant</th>
                        <th>Application Service Provider</th>
                        <th>Fin-Tech Service Provider</th>
                        <th>Network Service Provider</th>
                    </tr>
				</thead>
				<tbody>
					<tr>
						<td>
                            <div>
                                <p class="vendorName">2GoTrade Limited</p>
                                <ul class="vendorInfo">
                                    <li class="vendorHome"><a href="http://www.2gotrade.com">www.2gotrade.com</a></li>
                                    <li class="vendorPerson">Sales Department</li>
                                    <li class="vendorCall">(852) 2232 0300</li>
                                    <li class="vendorPrint">(852) 2232 0299</li>
                                    <li class="vendorEmail"><a href="#">sales@2gotrade.com</a></li>
                                </ul>
                            </div>
                        </td>
						<td>
                            <span class="checkedWithInfo" data-toggle="nav-popover"></span>
                            <div class="popover vendorListPopover">
                                <div class="popover__content">
                                    <ul class="vendorInfo">
                                        <li class="vendorHome"><a href="http://www.2gotrade.com">www.2gotrade.com</a></li>
                                        <li class="vendorPerson">Sales Department</li>
                                        <li class="vendorCall">(852) 2232 0300</li>
                                        <li class="vendorPrint">(852) 2232 0299</li>
                                        <li class="vendorEmail"><a href="#">sales@2gotrade.com</a></li>
                                    </ul>
                                </div>
                            </div>                            
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td>
                            <div>
                                <p class="vendorName">Trading Technologies</p>
                                <ul class="vendorInfo">
                                    <li class="vendorHome"><a href="http://www.tradingtechnologies.com">www.tradingtechnologies.com</a></li>
                                    <li class="vendorPerson">N/A</li>
                                    <li class="vendorCall">(852) 2232 0300</li>
                                    <li class="vendorPrint">(852) 2232 0299</li>
                                    <li class="vendorEmail"><a href="#">georgina@tatacommunications.com</a></li>
                                </ul>
                            </div>                           
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td>
                            <div>
                                <p class="vendorName">Interactive Brokers LLC</p>
                                <ul class="vendorInfo">
                                    <li class="vendorHome"><a href="http://www.interactivebrokers.com.hk">www.interactivebrokers.com.hk</a></li>
                                    <li class="vendorPerson">John Doe</li>
                                    <li class="vendorCall">(852) 2232 0300</li>
                                    <li class="vendorPrint">(852) 2232 0299</li>
                                    <li class="vendorEmail"><a href="#">sales@interactivebrokers.com.hk</a></li>
                                </ul>
                            </div>                            
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td>
                            <div>
                                <p class="vendorName">Head & Shoulders Securities Limited</p>
                                <ul class="vendorInfo">
                                    <li class="vendorHome"><a href="http://www.headandshoulders.com.hk">www.headandshoulders.com.hk</a></li>
                                    <li class="vendorPerson">John Doe</li>
                                    <li class="vendorCall">(852) 2232 0300</li>
                                    <li class="vendorPrint">(852) 2232 0299</li>
                                    <li class="vendorEmail"><a href="#">cs@headandshoulders.com.hk</a></li>
                                </ul>
                            </div>                            
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>N/A</td>
					</tr>
					<tr>
						<td>
                            <div>
                                <p class="vendorName">Igoldenbeta Network Financial Technology (Shenzhen) Co., Ltd</p>
                                <ul class="vendorInfo">
                                    <li class="vendorHome"><a href="http://www.interactivebrokers.com.hk">www.interactivebrokers.com.hk</a></li>
                                    <li class="vendorPerson">John Doe</li>
                                    <li class="vendorCall">(852) 2232 0300</li>
                                    <li class="vendorPrint">(852) 2232 0299</li>
                                    <li class="vendorEmail"><a href="#">sales@interactivebrokers.com.hk</a></li>
                                </ul>
                            </div>                            
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>N/A</td>
					</tr>
					<tr>
						<td>
                            <div>
                                <p class="vendorName">TTHK LLC</p>
                                <ul class="vendorInfo">
                                    <li class="vendorHome"><a href="http://www.tradingtechnologies.com">www.tradingtechnologies.com</a></li>
                                    <li class="vendorPerson">John Doe</li>
                                    <li class="vendorCall">
                                        US: (1)877 424 8844<br >
                                        Asia Pacific: (65) 6395 7002<br >
                                        Europe/Middle East: (44) 20 7621 8181<br >
                                        Australia: (61) 2 8022 1702<br >
                                        Japan: (81) 3 4577 8123
                                    </li>
                                    <li class="vendorPrint">N/A</li>
                                    <li class="vendorEmail"><a href="#">support@tradingtechnologies.com</a></li>
                                </ul>
                            </div>                            
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithInfo"></span>
                        </td>
						<td>
                            <span class="checkedWithoutInfo"></span>
                        </td>
						<td>N/A</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>