<div class="findPartner__overview">
    <h2 class="ls-process-ql__title">OVERVIEW</h2>

    <div class="overview-container">
        <p>Find the perfect vendor that provides the technologies and resources necessary to facilitate all of the requirements of an exchange as required by law. Vendor partnerships that combine solid collaboration with the ability to effectively execute will be necessary to facilitate all the requirements of an exchange.</p>
        <hr>
        <div class="overview-tips">
            <h3>TIPS</h3>
            <ol>
                <li><p>Use <a href="#findPartnerFilter">filters</a> to quickly find elligible vendors match your needs from our vendor list table</p></li>
                <li><p>Click on <img src="images/checked-mark-icon.png" class="iconInTips" alt="checked"> for addtional vendor information</p></li>
            </ol>
        </div>
    </div>
</div>
