<div class="collapse-container filter__container">
    <div class="filter__searchPanel">
        <div class="filter__searchBox">
            <input type="text" class="searchBox" name="searchBox"  placeholder="Company Name" title="Company Name" />
        </div>
        <div class="filter__moreFilter">
            <h3>
                <a class="filter__moreFilterText" aria-expanded="false" data-toggle="collapse" href="#vendorList">
                    More filters
                </a>
            </h3>
        </div>
    </div>
    <div class="collapse filter__checkboxForm" id="vendorList">
        {{> checkBox filterConditions.etpProducts}}
        <div class="filter__buttonGroup">
            <a class="btn-disable filter__btn-applyFilters-js" tabindex="0">Apply Filters</a>
            <a class="btn-white filter__btn-cancelFilters-js" tabindex="0">Cancel</a>
        </div>
    </div>
    <div class="filter__selectedItem"></div>
</div>