.cal-subscribe-top {
    position: absolute;
    width: 206px;
    right: 0;
    top: -102px;
    .quick-link-list li a span {
      color: $white;
      font-weight: normal;
    }
    @include susy-breakpoint(max-width $large){
      display: none;
    }
}

.cal-subscribe {
  display: none;
  @include susy-breakpoint(max-width $large){
    display: block;
    background-color: $white;
    .quick-link-list-tablet-mobile {
      margin: 0;
    }
  }
}
