.agenda__filter {
  .filter {
    //filter__searchBox
    &__searchBox {
      input {
        width: 420px;
        @include susy-breakpoint(max-width $medium){
          width: 280px;
        };
      }
    }
    //filter__checkBox
    &__checkBox {
      padding-top: 15px;
      span {
        font-size: toRem(14);
      }
    }
    //filter__checkBox__list
    &__checkBox__list {
      padding-top: 25px;
      @include susy-breakpoint(max-width $medium){
        padding-top: 20px;
      };
    }
    //filter__checkBox__item
    &__checkBox__item {
      padding-right: 3%;
      width: 33%;
      @include susy-breakpoint(max-width $large){
        width: 100%;
      };
    }
    //filter__event-filter-group__list
    &__event-filter-group__list {
      list-style: none;
      padding-left: 0;
    }
    //filter__event-filter-group__item
    &__event-filter-group__item {
      padding-bottom: 13px;
      label {
        font-size: toRem(14);
        color: $hkex-blue;
        font-weight: bold;
        padding-left: 35px;
      }
      @include susy-breakpoint(max-width $large){
        &:not(:nth-child(1)){
          width: 50%;
          float: left;
          padding-right: 15px;
        }
      };
      @include susy-breakpoint(max-width $large){
        padding-bottom: 10px;
        &:not(:nth-child(1)){
          width: 280px;
          padding-right: 0;
        }
      };
    }
    //filter__event-filter-group__icon
    &__event-filter-group__icon {
      position: absolute;
      left: 20px;
    }
    //filter__dropdown-wrapper
    &__dropdown-wrapper {
      .select-group {
        background-color: $white;
        &-1 {
          z-index: 2;
        }
        &-2 {
          z-index: 1;
        }
      }
      .select-target, .select-item{
        line-height: 0.8;
        a{
          font-size: toRem(14);
        }
      }
    }
    //filter-disabled
    &-disabled {
      color: #a5a5a5 !important;
    }
  }
}
