.etpLiquidity {
    &__context {
        color: $level1-color;
        margin: 12px 0 20px;
        font-size: toRem(14);
        line-height: 1.43;
    }
    &__title {
        text-transform: uppercase;
        font-size: toRem(14);
        font-weight: 700;
        letter-spacing: toRem(1);
        color: $hkex-red;
        margin: 10px 0 20px;
    }
    &__panel {
        &-text {
            margin: 0 0 10px;
            color: $level1-color;
            font-size: toRem(14);
            line-height: 1.43;
        }
        & hr {
            margin-top: 0;
            border-top: 1px solid $level8-color;
        }
    }
}
