<div class="video-control__barcontainer">
 <button class="video-control__mute-button" title="mute or unmute">mute</button>
 <button class="video-control__fullscreen-button" title="fullScreen or cancelFullScreen">fullScreen</button>
 <button class="video-control__fullscreen-play-pause-button" title="play">play</button>
 <div class="video-control__timebar">
   <span class="video-control__timebar-currenttime"></span>
   <span class="video-control__timebar-totaltime"></span>
 </div>
 <div  class="video-control__progressbar">
    <div class="video-control__progressbar-time"></div>
    <div class="video-control__progressbar-seekdiv">
      <div class="video-control__progressbar-seekdivInnerbar">playtime</div>
    </div>
    <label for="seekbar">progress bar</label><input type="range" id="seekbar" name="seekbar" class="video-control__progressbar-seekbar" value="0" />
 </div>
 <div  class="video-control__volumebar">
    <label for="volumebar">volume bar</label><input type="range" id="volumebar" name="volumebar" class="video-control__volumebar-seekbar" min="0" max="1" step="0.1" value="1">
 </div>
 <div class="video-control__volumediv">
   <div class="video-control__volumediv-innerbar">volume</div>
 </div>
</div>
