<div class="footer__logo">
    <a href="#" title="HKEX Logo"><img src="images/logo-1.svg" alt="HKEX Logo"></a>
</div>
	<ul class="footer__social-icons">
		<li>
			<a href="#" title="LinkedIn">
				<img src="images/linkedin.svg" alt="LinkedIn">
			</a>
		</li>
		<li>
			<a href="#" title="twitter">
				<img src="images/twitter.svg" alt="Twitter">
			</a>
		</li>
		<li>
			<a href="#" title="Youtube">
				<img src="images/youtube.svg" alt="YouTube">
			</a>
		</li>
		<li>
			<a href="#" title="wechat">
				<img src="images/wechat.svg" alt="WeChat">
			</a>
		</li>
		<li>
			<a href="#" title="rss feed">
				<img src="images/rss.svg" alt="RSS feeds">
			</a>
		</li>
	</ul>
	<div class="footer__clearBoth"></div>
	<ul class="footer__nav">
		<li class="footer__nav-item">
			<a class="footer__nav-link" href="#" title="Contact">contact
			</a>
		</li>
		<li class="footer__nav-item">
			<a class="footer__nav-link" href="#" title="Career">career</a>
		</li>
		<li class="footer__nav-item">
			<a class="footer__nav-link footer__nav-faq" href="faq.html" target="_blank" title="FAQ">faq</a>

		</li>
		<li class="footer__nav-item">
			<a class="footer__nav-link" href="#" title="Site Map">site map</a>
		</li>
		<li class="footer__nav-item">
			<a class="footer__nav-link" href="#" title="Glossary">glossary</a>

		</li>
		<li class="footer__nav-item">
			<a  class="footer__nav-link" href="#" title="Disclaimer">disclaimer</a>

		</li>
		<li class="footer__nav-item">
			<a class="footer__nav-link" href="#" title="Hyperlink Policy">hyperlink policy</a>
		</li>
		<li class="footer__nav-item">
			<a class="footer__nav-link" href="#" title="Privacy Policy">privacy policy</a>
		</li>
	</ul>
	<div class="footer__clearBoth"></div>
	<p class="footer__privacy">
		©2016 Hong Kong Exchanges and Clearing Limited. All rights reserved
	</p>
