<script id = "errorTemplate" type="text/template">
    <div class="ticker ticker--error">
        <div class="container ticker__wrapper">
            <h1 class="ticker__error-img ticker__header">Error Status</h1>
            <p class="ticker__body">
                {content}
            </p>
        </div>
    </div>
</script>
<script id = "tickerSucessTmpl" type="text/template">
    <div class="ticker ticker--success">
        <div class="container ticker__wrapper">
            <h1 class="ticker__success-img ticker__header">Success status</h1>
            <p class="ticker__body">
                {content}
            </p>
        </div>
    </div>
</script>
<script id = "tickerInfoTmpl" type="text/template">
    <div class="ticker ticker--info">
        <div class="container ticker__wrapper">
            <h1 class="ticker__info-img ticker__header">Information Status</h1>
            <p class="ticker__body">
               {content}
            </p>
            <a href="#" class="ticker__btn btn-blue">continue</a>
        </div>
        <button type="button" aria-label="close" class="ticker__close"></button>
    </div>
</script>
<script id = "tickerWarnTmpl" type="text/template">
    <div class="ticker ticker--warn">
        <div class="container ticker__wrapper">
            <h1 class="ticker__warn-img ticker__header">Warning status</h1>
            <p class="ticker__body">
                {content}
            </p>
        </div>
        <button type="button" aria-label="close" class="ticker__close"></button>
    </div>
</script>