<div class="loadMore__container">
    <div class="loadMore-leftPart__container">
        <a href="javascript:void(0)">
            <div class="loadMore__wrapper-container">
                <i class="loadMore__icon"></i>
                <p class="loadMore__wrapper">LOAD MORE</p>
            </div>
        </a>
    </div>

    <div class="loadMore__dropdown-container">
        <div class="select-group" data-move="false">
            <div class="select-target">
                <a id="select-target-loadmore" data-select="true" data-expend="false" href="#" data-value="10">10 Items</a>
            </div>
            <div class="select-items" style="max-height: 300px;">
                <div class="select-item" data-value="10" data-target="true" style="display: none;"><a href="#">10 Items</a></div>
                <div class="select-item" data-value="50" data-target="false" style="display: none;"><a href="#">50 Items</a></div>
                <div class="select-item" data-value="100" data-target="false" style="display: none;"><a href="#">100 Items</a></div>
                <div class="select-item" data-value="all" data-target="false" style="display: none;"><a href="#">All</a></div>

            </div>
            <div class="select-items__scroll--container" style="top: 49px; height: 134px; display: none;">
                <div class="select-items__scroll--container-bar" style="top: 0px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loadMore__timetag-container">
    <i class="loadMore__timetag-icon"></i>
    <p class="loadMore__timetag">Last Updated 11/5/2016 16:02:00 HKT</p>
</div>
