<ul class="mega-menu-one level2">
    <li class="mega-nav__col-3 mega-nav__level2-item forMobileQuoteLookup">
        <a class="mega-nav__level2-link" href="#" title="quote lookup">Quote Look Up</a>
        <input title="quote lookup" class="mega-menu-one__search-input" id="mega-menu-one__search-input" type="text" name="search" placeholder="Stock Code/Keywords">
    </li>
    <li class="mega-nav__col-offset-1 mega-nav__col-3 mega-nav__level2-item">
        <a class="mega-nav__level2-link" href="#" title="prices">Prices</a>
        <ul class="mega-nav__level3-list level3">
            <li class="mega-nav__item">
                <a href="#" title="securities">Securities</a>
            </li>
            <li class="mega-nav__item">
                <a href="#" title="Futures & Options">Futures & Options</a>
            </li>
        </ul>
    </li>
    <li class="mega-nav__col-offset-1 mega-nav__col-3 mega-nav__level2-item">
        <a class="mega-nav__level2-link" href="#" title="statistics">Statistics</a>
        <ul class="mega-nav__level3-list level3">
            <li class="mega-nav__item">
                <a href="#" title="Consolidated Reports">Consolidated Reports</a>
            </li>
            <li class="mega-nav__item">
                <a href="#" title="Securities Market">Securities Market</a>
            </li>
            <li class="mega-nav__item">
                <a href="#" title="Derivatives Market">Derivatives Market</a>
            </li>
            <li class="mega-nav__item">
                <a href="#" title="Clearing">Clearing</a>
            </li>
            <li class="mega-nav__item">
                <a href="#" title="Participant">Participant</a>
            </li>
            <li class="mega-nav__item">
                <a href="#" title="Research Reports">Research Reports</a>
            </li>
        </ul>
    </li>
</ul>
