<ul class="mega-menu__highlights">
    <li class="mega-menu__highlights-item">
        <img class="mega-menu__highlights-image"
        src="images/megamenu/{{ 0.url }}" alt="{{0.title}}">
        <div class="mega-menu__highlights-content">
            <a class="mega-menu__highlight-link" href="#" title="HKEX News">
                {{0.title}}
            </a>
            <p class="mega-menu__highlight-text">
                {{0.content}}
            </p>
        </div>
    </li>
    <li class="mega-menu__highlights-item">
        <img class="mega-menu__highlights-image" src="images/megamenu/{{1.url}}" alt="{{1.title}}">
        <div class="mega-menu__highlights-content">
            <a class="mega-menu__highlight-link" href="#"
            title="News Alert">
                    {{1.title}}
            </a>

            <p class="mega-menu__highlight-text">
                {{{1.content}}}
            </p>
        </div>
    </li>
    <li class="mega-menu__highlights-item">
        <img class="mega-menu__highlights-image" src="images/megamenu/{{2.url}}" alt="{{2.title}}">
        <div class="mega-menu__highlights-content">
            <a class="mega-menu__highlight-link" href="#" title="Find a Partner">
                {{2.title}}
            </a>
            <p class="mega-menu__highlight-text">
              {{2.content}}
            </p>
        </div>
    </li>
    <!--end of highlights content -->
</ul>
