<nav class="main-menu">


	<div class="container main-menu__wrapper">
		<ul class="main-menu__list level1">
			<li class="sticky-menu__logo sticky-menu__non-fixed" title="HKEX"></li>
			<li class="main-menu__item">
				<a href="#" class="main-menu__link" title="data">market data</a>
				<div class="mega-menu">
					<div class="container mega-menu__wrapper">
						{{> marketDataMenu2}} {{> megaMenuHighlights megaMenuHighlights.optionOne}}
					</div>
				</div>
			</li>
			<li class="main-menu__item">
				<a href="#" class="main-menu__link" title="products">products</a>
				<i class="main-menu__mobile-direction"></i>
				<div class="mega-menu">
					<div class="container mega-menu__wrapper">
						{{> productsMenu2}} {{> megaMenuHighlights megaMenuHighlights.optionTwo}}
					</div>
				</div>
			</li>
			<li class="main-menu__item">
				<a href="#" class="main-menu__link " title="services">services</a>
				<div class="mega-menu">
					<div class="container mega-menu__wrapper">
						{{> servicesMenu2}} {{> megaMenuHighlights megaMenuHighlights.optionThree}}
					</div>
				</div>
			</li>
			<li class="main-menu__item">
				<a href="#" class="main-menu__link" title="listing">listing</a>
				<i class="main-menu__mobile-direction"></i>
				<div class="mega-menu">
					<div class="container mega-menu__wrapper">
						{{> listingMenu2}} {{> megaMenuHighlights megaMenuHighlights.optionFour}}
					</div>
				</div>
			</li>
			<li class="main-menu__item">
				<a href="#" class="main-menu__link" title="news">news</a>
				<div class="mega-menu">
					<div class="container mega-menu__wrapper">
						{{> newsMenu2}} {{> megaMenuHighlights megaMenuHighlights.optionFive}}
					</div>
				</div>
			</li>
			<li class="main-menu__item">
				<a href="#" class="main-menu__link" title="stock connect">
                    stock connect
                    <i class="main-menu__item-connect-icon"></i>
                </a>
			</li>
			<li class="sticky-menu__search sticky-menu__non-fixed">
				<button class="sticky-menu__search-icon" title="search">Search</button>
			</li>
		</ul>
		<div class="m-topbar">
			<div class="m-topbar__side">
				<div class="m-topbar__language">
					<a href="#" class="m-topbar__language-one" title="change language">繁</a>
					<a href="#" class="m-topbar__language-two" title="change language">简</a>
				</div>
				<ul class="m-topbar__nav">
					<li class="m-topbar__font-sizes font-size-options">
						<span>font size</span>
						<a class="m-topbar__link font-sizes--small" href="#" title="small size">a</a>
						<a class="m-topbar__link font-sizes--medium font-sizes--active" href="#" title="medium size">a</a>
						<a class="m-topbar__link font-sizes--large" href="#" title="large size">a</a>
					</li>
					<li data-toggle="nav-popover" class="m-topbar__about">
						<a class="m-topbar__link m-topbar__about-link" href="#" title="about">about</a>
					</li>
					<li data-toggle="nav-popover" class="m-topbar__related-sites">
						<a href="#" class="m-topbar__link m-topbar__related-sites-link" title="related sites">Related Sites</a>
					</li>
					<li>
						<button title="notification" class="topbar__ticker m-topbar__ticker">
                            <svg class="topbar__bell" xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14"><path d="M5.7 13.7C6.4 13.7 7 13.1 7 12.3L4.3 12.3C4.3 13.1 4.9 13.7 5.7 13.7L5.7 13.7ZM10 9.7L10 6C10 4 8.6 2.2 6.7 1.8L6.7 1.3C6.7 0.8 6.2 0.3 5.7 0.3 5.1 0.3 4.7 0.8 4.7 1.3L4.7 1.8C2.8 2.2 1.3 4 1.3 6L1.3 9.7 0 11 0 11.7 11.3 11.7 11.3 11 10 9.7 10 9.7Z"/></svg>
							<span>Notification</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="sticky-menu__search-container sticky-menu__non-fixed">
			<button class="sticky-menu__search-cancel" title="cancel">Cancel</button>
			<input type="text" class="sticky-menu__search-box" title="search" placeholder="Search Website" />
		</div>
	</div>
</nav>
