<ul class="mega-menu-one level2">
    <li class="mega-nav__col-3 mega-nav__level2-item">
        <a class="mega-nav__level2-link" href="#" title="News Release">News Releases</a>
    </li>
    <li class="mega-nav__col-3 mega-nav__level2-item">
        <a class="mega-nav__level2-link" href="#" title="Charles Li Direct">Charles Li Direct</a>
    </li>
     <li class="mega-nav__col-3 mega-nav__level2-item">
        <a class="mega-nav__level2-link" href="#" title="Market Consultation">Market Consultation</a>
    </li>
     <li class="mega-nav__col-3 mega-nav__level2-item mega-nav--last">
        <a class="mega-nav__level2-link" href="#" title="Tender Notices">Tender Notices</a>
    </li>
</ul>
