<div class="overlay">
</div>
<!-- build:js scripts/vendor.js -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="node_modules/jquery-placeholder/jquery.placeholder.js"></script>
<script src="node_modules/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
<script src="scripts/lib/picturefill.min.js"></script>
<!--endbuild -->
<!-- build:js scripts/main.js -->
<script src="scripts/megaMenuTab.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/api.js"></script>
<script src="scripts/lib/polyfills.js"></script>
<script src="scripts/carousel.min.js"></script>
<script src="scripts/tabs.js"></script>
<script src="scripts/common.js"></script>
<script src="scripts/videocontrol.js"></script>
<script src="scripts/initVideoControl.js"></script>
<script type="text/javascript" src="scripts/navigation.js"></script>
<script src="scripts/fontSizer.js"></script>
<script src="scripts/navPopover.js"></script>
<script src="scripts/lib/slider.js"></script>
<script src="scripts/carousel.min.js"></script>
<script src="scripts/clamp.js"></script>
<script src="scripts/shareGroup.js"></script>
<script src="scripts/topStocks.js"></script>
<script src="scripts/lib/jquery.scrollintoview.min.js"></script>
<!--Faq-->
<script src="scripts/loadmore.js"></script>
<script src="scripts/left-side-menu.js"></script>
<script src="scripts/top-menu.js"></script>
<script src="scripts/collapse.js"></script>
<script src="scripts/placeholder.js"></script>
<script src="scripts/form-validation.js"></script>
<!--Listings-->
<script src="scripts/modalCenter.js"></script>
<script src="scripts/report.js"></script>
<script src="scripts/list-menu.js"></script>
<script src="scripts/select.js"></script>
<script src="scripts/expandCollapse.js"></script>
<!--News-release-->
<script src="scripts/twitter-carousel.js"></script>
<script src="scripts/twitter-waterfall.js"></script>


<!-- common component  -->


<script src="scripts/tableStickyHeader.js"></script>
<script src="scripts/tab-select.js"></script>
<script src="scripts/tableHeadFixer.js"></script>
<script src="scripts/infoCard.js"></script>
<script src="scripts/tabScroll.js"></script>
<script src="scripts/stickyHeaderMobile.js"></script>
<script src="scripts/inputtext.js"></script>
<script src="scripts/ticker.js"></script>
<script src="scripts/tickerInit.js"></script>
<script src="scripts/keyboardClick.js"></script>

<!-- statistic reports  -->
<script src="scripts/filterBehavior.js"></script>
<script src="scripts/scrollTable.js"></script>

<script src="scripts/generateTable.js"></script>
<script src="scripts/tableUtils.js"></script>
<!-- generater tables  -->
<script src="scripts/monthlyBulletin.js"></script>
<script src="scripts/monthlyHighlight.js"></script>
<script src="scripts/marginTable.js"></script>
<script src="scripts/chinaDimension.js"></script>

<!--ETP pages-->
<script src="scripts/addEllipse.js"></script>
<!--Equities-->
<script src="scripts/equities.js"></script>
<!--etpOverview-->
<script src="scripts/etpOverview.js"></script>
<!--etpEducation-->
<script src="scripts/addEllipseForVideoComponents.js"></script>
<!--advancedSearch-->
<script src="scripts/searchResult.js"></script>
<!--circulars-->
<script src="scripts/tableForCirculars.js"></script>
<!--contact us-->
<script type="text/javascript" src="scripts/tabBoxes.js"></script>
<script src="scripts/tabBoxBehavior.js"></script>
<!--news-->
<script src="scripts/newsReleases.js"></script>
<!--contactUs-->
<script src="scripts/contactUs.js"></script>
<script src="scripts/findPartner.js"></script>
<script src="scripts/getMap.js"></script>

<!-- news page -->
<script type="text/javascript" src="scripts/newsImage.js"></script>
<script type="text/javascript" src="scripts/newsImage2.js"></script>


<!-- <script type='text/javascript' src='scripts/bingMap.js' async defer></script> -->

<!-- endbuild -->
<!-- build:js scripts/ie9.js -->
<!--[if lte IE 9]>

    <script src="scripts/carousel-ie9.js"></script>
    <![endif]-->
<!-- endbuild -->
<script>
$(function() {
    $(".table-sort").tablesorter({
        widgets: ['group', 'filter'],
        widgetOptions: {
            group_collapsible : true,
            group_collapsed   : false,
            group_count       : false,
            filter_childRows  : true,
        }

    });
    $('.table-sort').delegate('.toggle', 'click' ,function(){
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
    });
    $('input, textarea').placeholder();
});
</script>
