<ul class="mega-nav__level2-list mega-nav__col-5 level2">
	<li class="mega-nav__level2-item mega-nav__col-11">
		<a class="mega-nav__level2-link" href="#" title="Trading">Trading</a>

		<ul class="mega-nav__level3-list level3">
			<li class="mega-nav__level3-item mega-nav__col-5">
				<a href="#" title="securities">Securities</a>
				<ul class="mega-nav__level4-list level4">
					<li class="mega-nav__item">
						<a href="#" title="Overview">Overview</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Infrastructure">Infrastructure</a>
					</li>
				</ul>
			</li>

			<li class="mega-nav__level3-item mega-nav__col-5 mega-nav__col-offset-1">
				<a href="#" title="Derivatives">Derivatives</a>
				<ul class="mega-nav__level4-list level4">
					<li class="mega-nav__item">
						<a href="#" title="Overview">Overview</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Infrastructure">Infrastructure</a>
					</li>
				</ul>
			</li>

		</ul>
	</li>
	<li class="mega-nav__level2-item  mega-nav__col-5">
		<a class="mega-nav__level2-link" href="#" title="Market Data Services">Market Data Services</a>

		<ul class="mega-nav__level3-list level3">
			<li class="mega-nav__item">
				<a href="#" title="Real Time Data Services">Real Time Data Services</a>
			</li>
			<li class="mega-nav__item">
				<a href="#" title="Infrastructure">Infrastructure</a>
			</li>
			<li class="mega-nav__item">
				<a href="#" title="Historical Data Services">Historical Data Services</a>
			</li>
		</ul>
	</li>

	<li class="mega-nav__level2-item mega-nav__col-5 mega-nav__col-offset-1">
		<a class="mega-nav__level2-link" href="#" title="Connectivity">Connectivity</a>

		<ul class="mega-nav__level3-list level3">
			<li class="mega-nav__item">
				<a href="#" title="Hosting Services">Hosting Services</a>
			</li>
			<li class="mega-nav__item">
				<a href="#" title="Securities and Derivatives Network (SDNet/2) ">Securities and Derivatives Network (SDNet/2) </a>
			</li>
		</ul>
	</li>

</ul>
<ul class="mega-nav__level2-list mega-nav__col-7 mega-nav--last level2">

	<li class="mega-nav__level2-item  mega-nav__col-11">
		<a class="mega-nav__level2-link" href="#" title="Clearing & Settlement">Clearing & Settlement</a>
		<ul class="mega-nav__level3-list level3">
			<li class="mega-nav__level3-item mega-nav__col-4">
				<a href="#" title="Securities">Securities</a>
				<ul class="mega-nav__level4-list level4">
					<li class="mega-nav__item">
						<a href="#" title="Overview">Overview</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Infrastructure">Infrastructure</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Risk Management">Risk Management</a>
					</li>
				</ul>
			</li>
			<li class="mega-nav__level3-item mega-nav__col-4">
				<a href="#" title="Listed Derivatives">Listed Derivatives</a>
				<ul class="mega-nav__level4-list level4">
					<li class="mega-nav__item">
						<a href="#" title="Overview">Overview</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Infrastructure">Infrastructure</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Risk Management">Risk Management</a>
					</li>
				</ul>
			</li>
			<li class="mega-nav__level3-item mega-nav__col-4 mega-nav--last">
				<a href="#" title="OTC Clear">OTC Clear</a>
				<ul class="mega-nav__level4-list level4">
					<li class="mega-nav__item">
						<a href="#" title="Overview">Overview</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Infrastructure">Infrastructure</a>
					</li>
					<li class="mega-nav__item">
						<a href="#" title="Risk Management">Risk Management</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="mega-nav__level2-item mega-nav__col-5">
		<a class="mega-nav__level2-link" href="#" title="Depository & Nominee">Depository & Nominee</a>

		<ul class="mega-nav__level3-list level3">
			<li class="mega-nav__item">
				<a href="#" title="Overview">Overview</a>
			</li>
			<li class="mega-nav__item">
				<a href="#" title="Infrastructure">Infrastructure</a>
			</li>

		</ul>
	</li>



	<li class="mega-nav__level2-item mega-nav__col-5  mega-nav__col-offset-1">
		<a class="mega-nav__level2-link" href="#" title="Rules, Forms & Fees">Rules, Forms & Fees</a>

		<ul class="mega-nav__level3-list level3">
			<li class="mega-nav__item">
				<a href="#" title="Rules">Rules</a>
			</li>
			<li class="mega-nav__item">
				<a href="#" title="Fees">Fees</a>
			</li>
			<li class="mega-nav__item">
				<a href="#" title="Forms">Forms</a>
			</li>

		</ul>
	</li>
</ul>