<div class="share-group">
    <a href="#" class="share-group--show__icon"><img src="images/Share.svg" alt="share"></a>
    <div class="share-group--items">
        <a href="#" class="share-group--items__item share-1">
        </a>
        <a href="#" class="share-group--items__item share-2"></a>
        <a href="#" class="share-group--items__item share-3"></a>
        <a href="#" class="share-group--items__item share-4"></a>
        <a href="#" class="share-group--items__close "><img src="images/share-close.svg" alt="share"></a>
    </div>
</div>
