<div class="mobile-search">
    <div class="mobile-search__container">
        <form class="mobile-search__form" action="#">
            <input title="search website" class="mobile-search__input" type="text" name="topbarSearch" placeholder="Search Website">
            <img class="mobile-search__close" src="images/combined-shape.svg" alt="close">
        </form>
    </div>
</div>
<header class="topbar">
    <div class="topbar__mobile-menu">
        <span class="topbar__icon-bar"></span>
        <span class="topbar__icon-bar"></span>
        <span class="topbar__icon-bar"></span>
    </div>
    <img class="topbar__mobile-search" src="images/search-icon-blue.svg" alt="mobile search">



    <div class="container topbar__container">
        <a href="#" class="topbar__logo" title="HKEX">
            <span>HKEX</span>
        </a>
        <div class="lg-topbar__side topbar__side">
            <ul class="topbar__nav">
                <li class="topbar__font-sizes font-size-options">
                    <span>font size</span>
                    <a class="font-sizes__link font-sizes--small" href="#" title="small size">a</a>
                    <a class="font-sizes__link font-sizes--medium font-sizes--active" href="#" title="medium size">a</a>
                    <a class="font-sizes__link font-sizes--large" href="#" title="large size">a</a>
                </li>
                <li class="topbar__about" data-toggle="nav-popover">
                    <a class="topbar__link topbar__about-link" href="#" title="about">about</a>
                    <div class="popover topbar__about-popover">
                        <div class="popover__content">
                            <ul class="popover__content-list">
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Corporate information">Corporate Information</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Our Brand">Our Brand</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Organization">Organization</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Investor Relations">Investor Relations</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Financial Statements">Financial Statements</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Real Time Share Price">Real Time Share Price</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Corporate Governance">Corporate Governance</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Corporate  Social Responsibility">Corporate  Social Responsibility</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Visit HKEX">Visit HKEX</a></li>
                                <li class="popover__list-item">
                                    <a class="popover__link" href="#" title="Job Opportunities">Job Opportunities</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="topbar__related-sites" data-toggle="nav-popover">
                    <a href="#" class="topbar__link topbar__related-sites-link" title="Related Sites">Related Sites</a>
                    <div class="popover topbar__related-sites-popover">
                        <div class="popover__content">
                            <ul class="popover__content-list">
                                <li class="popover__list-item">
                                    <a class="popover__link topbar__related-sites-icon" href="#" title="HKEX Group">HKEX Group</a>
                                </li>
                                <li class="popover__list-item">
                                    <a class="popover__link topbar__related-sites-icon" href="#" title="LME">LME</a>
                                </li>
                                <li class="popover__list-item">
                                    <a class="popover__link topbar__related-sites-icon" href="#" title="CESC">CESC</a>
                                </li>
                                <li class="popover__list-item"><a class="popover__link topbar__related-sites-icon" href="#" title="Mutual Market">Mutual Market</a></li>
                                <li class="popover__list-item"><a class="popover__link topbar__related-sites-icon" href="#" title="HKEXnews">HKEXnews</a></li>
                                <li class="popover__list-item"><a class="popover__link topbar__related-sites-icon" href="#" title="GEM">GEM</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <input class="topbar__search-input" type="text" id="topbarSearch" name="topbarSearch" placeholder="Search Website" title="search website">
            <div class="topbar__ic-group">
                <a href="#" title="language one" class="topbar__language-one">繁</a>
                <a href="#" title="language two" class="topbar__language-two">简</a>
                <button title="notification" class="topbar__ticker">
                        <svg class="topbar__bell" xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14"><path d="M5.7 13.7C6.4 13.7 7 13.1 7 12.3L4.3 12.3C4.3 13.1 4.9 13.7 5.7 13.7L5.7 13.7ZM10 9.7L10 6C10 4 8.6 2.2 6.7 1.8L6.7 1.3C6.7 0.8 6.2 0.3 5.7 0.3 5.1 0.3 4.7 0.8 4.7 1.3L4.7 1.8C2.8 2.2 1.3 4 1.3 6L1.3 9.7 0 11 0 11.7 11.3 11.7 11.3 11 10 9.7 10 9.7Z"/></svg>
                </button>
            </div>

        </div>
        <a href="#skip-to-content" class="skip-to-content">Skip to Content</a>
    </div>
</header>
