.wl-caseStudies {
  &__wapper {
    background-color: $white;
    display: block;
    padding-bottom: 28px;
    float: left;
    width: 100%;
  }
  &__title {
    h2 {
      @extend %title;
      border-left: 4px solid $level2-color;
      @include susy-breakpoint(max-width $medium) {
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        line-height: 1.44;
        height: 100%;
        display: inline-block;
      }
    }
  }
  &__content {
    padding-top: 43px;
    @include susy-breakpoint(max-width $large) {
      padding: 10px 20px 0 20px;
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline-block;
    width: 100%;
    li {
      border-right: 1px solid $hkex-border-gray;
      @include susy-breakpoint(max-width $large) {
        border-bottom:1px solid $hkex-border-gray;
        border-right: none;
      }
    }
    li:last-child {
      border: none;
    }
  }
  &__column {
    float: left;
    padding-bottom: 32px;
    width: 33%;
    @include susy-breakpoint(max-width $large) {
      width: 100%;
    }
    &__container {
      text-align: center;
      color: $hkex-blue;
    }
    &__title {
      padding-left: 30px;
      padding-right: 30px;
      font-size: toRem(12);
      font-weight: bold;
      letter-spacing: 0.5px;
      color: $hkex-subTitle;
      @include susy-breakpoint(max-width $large) {
        padding-top: 30px;
        padding-left: 0;
      }
      @include susy-breakpoint(max-width $medium) {
        text-align: center;
        padding-right: 0px;
      }
    }
    &__img {
      padding: 34px 0 19px 0;
      @include susy-breakpoint(max-width $large) {
        padding: 20px 0;
      }
      img {
        max-width: 100%;
      }
    }
    &__description {
      width: 266px;
      font-size: toRem(14);
      line-height: 1.5;
      text-align: center;
      display: inline-block;
      @include susy-media($medium $large) {
        width: 100%;
        padding: 0 20px 0 20px;
      }
      @include susy-breakpoint(max-width $medium) {
        width: 100%;
      }
    }
    &__money-container {
      @include susy-media($medium $large){
        margin: 0 100px 0 100px;
      }
    }
    &__money {
      @include susy-media($medium $large) {
        display: inline;
        float: left;
        width: 50%;
      }
      &-marketcap {
        padding-top: 21px;
        padding-bottom: 6px;
        font-size: toRem(12);
        line-height: 1.75;
        text-align: center;
      }
      &-icon {
        vertical-align:top;
        padding-top: 3px;
      }
      &-number {
        padding-left: 4px;
        font-size: toRem(30);
        font-weight: bold;
      }
      &-unit {
        font-size: toRem(12);
      }
    }
  }
}

.fontsize-small{
  .wl-caseStudies__column__money {
    @include susy-breakpoint(max-width $large) {
        padding-left: 18%;
        &-icon {
          width: 10px;
          padding-top: 0;
        }
    }
    @include susy-breakpoint(max-width $medium) {
        padding-left: 0;
        &-icon {
          width: 10px;
          padding-top: 0;
        }
    }
  }
}
