.ls-process__step-half {
    @include  clearfix;
    margin-top: 20px;
    float: left;
    width: 43%;
    margin-right: 7%;

    @include susy-breakpoint(max-width $large){
      width: 46%;
      margin-right: 20px;
    }
    @include susy-breakpoint(max-width $medium){
      width: 100%;
      margin-right: 0px;
    }
    &__img {
      img {
        @include susy-breakpoint(max-width $large){
          width: 100%;
        }
      }
    }
    &__subtitle {
        font-size: toRem(14);
        line-height: 1.43;
        font-weight: bold;
        @include susy-breakpoint(max-width $large){
          margin-top: 15px;
          margin-bottom: 10px;
        }
        @include susy-breakpoint(max-width $medium){
          margin-left: 20px;
        }
    }
    &__disc {
        font-size: toRem(14);
        line-height: 1.43;
        margin-bottom: 0;
        @include susy-breakpoint(max-width $medium){
          margin-left: 20px;
          margin-right: 20px;
        }
        @include susy-breakpoint(max-width $medium){
          margin: 10px 20px 0 20px;
        }
    }
}
