$step3-input-width: 180px;
$step3-input-height: 35px;

.ls-process__step3 {
  @include  clearfix;
  //ls-process__step3__component
  &__component {
      float: left;
      width: 96%;
      @include susy-breakpoint(max-width $medium) {
           width: 100%;
      }
  }
  //ls-process__step3__table
  &__table {
      @include span(5 of 10);
      @include susy-breakpoint(max-width $large) {
           @include span(5 of 7);
      }
      @include susy-breakpoint(max-width $medium) {
           @include span(7 of 7);
      }
      table {
          width: 96%;
          border-collapse: collapse;
          font-size: toRem(12);
          border-bottom: 1px solid $level9-color;
          margin-bottom: 30px;
          @include susy-breakpoint(max-width $medium) {
               width: 100%;
               border-left: none;
          }
          tbody {
            border-left: 1px solid $level9-color;
          }
          th {
              background: $level1-color;
              font-weight: bold;
              padding-right: 15px;
              padding-left: 20px;
              color: $white;
              width: 33%;
              border-right: 1px solid $level1-color;
              text-align: right;
              @include susy-breakpoint(max-width $large) {
                 &:last-child() {
                   border-right: 1px solid $level1-color;
                 }
              }
          }
          tr {
              height: 55px;
              text-align: right;
          }
          tr:nth-child(even) {
              background: $tag-selected;
          }
          td {
              border-right: 1px solid $level9-color;
              padding-right: 15px;
              @include susy-breakpoint(max-width $medium) {
                &:nth-last-child() {
                  border-right: none;
                }
              }
          }
      }
  }

  //ls-process__step3__cal
  &__cal {
      @include span(5 of 10 last);
      @include susy-breakpoint(max-width $large) {
           @include span(5 of 7);
      }
      @include susy-breakpoint(max-width $medium) {
           width: 100%;
      }
    ul {
        width: 96%;
        padding: 0;
        list-style: none;
        margin: 0 0 30px 0;
        @include susy-breakpoint(max-width $medium) {
             width: 100%;
        }
    }
    //ls-process__step3__cal__title
    &__title {
        min-height: 55px;
        font-size: toRem(13);
        font-weight: bold;
        background: $level1-color;
        color: $white;
        padding: 0 0 0 20px;
        div {
          margin: 0;
          padding: 20px 0;
          line-height: 1;
        }
    }
    //ls-process__step3__cal__child
    &__child {
        border-left: 1px solid $level9-color;
        border-bottom: 1px solid $level9-color;
        border-right: 1px solid $level9-color;
        padding: 20px 25px 15px 20px;
        @include susy-breakpoint(max-width $medium) {
             border-right: none;
             border-left: none;
        }
        input {
            height:$step3-input-height;
            border: 1px solid #b5c7d8;
            padding-right: 12px;
            -webkit-appearance: none;
            border-radius: 0;
        }

        label,
        select {
            display: block;
        }

        > div {
            display: inline-block;
        }
    }
    //ls-process__step3__cal__input-number
    &__input-number {
      width: $step3-input-width;
      text-align: right;
    }
    //ls-process__step3__cal__input-value
    &__input-value {
      width: 40%;
      float: left;
      text-align: right;
    }

    &__select-group {
        margin-top: 0 !important;
        font-size: toRem(12);
        font-weight: bold;
        border: solid 1px #b5c7d8 !important;
        line-height: $step3-input-height;
    }

    //ls-process__step3__cal__subTitle
    &__subTitle {
        font-size: toRem(12);
        font-weight: bold;
        line-height: 1.5;
        color: $level1-color;
        float: left;
    }
    //ls-process__step3__cal__subPanel
    &__subPanel {
        width: 100%;
        margin-top: 8px;
    }
    ////ls-process__step3__cal__symbol
    &__symbol {
      float: left;
      margin: 0 2% 0 3%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 5%;
    }
    //ls-process__step3__cal__show-result
    &__show-result {
      float: right;
      margin-top: 10px;
    }
    &__show-value{
      float: right;
    }
    //ls-process__step3__cal__panel-wrapper
    &__panel-wrapper {
      display: inline-block;
      width: $step3-input-width;
      height: $step3-input-height;
    }
  }
}
.ls-process__step {
  //ls-process__step__img
  &__img {
      img {
          width: 96%;
          @include susy-breakpoint(max-width $medium) {
               width: 100%;
          }
      }
  }
}

.fontsize-small{
  .ls-process__step3__cal__title h3{
    padding: 23px 0;
  }
}
