.ls-process-ql {
    margin-top: 23px;
    background-color: #fff;
    display: inline-block;

    //ls-process-ql__title
    &__title {
        @extend %title;
        text-transform: uppercase;
    }

    //ls-process-ql__list
    &__list {
        margin:10px 30px 30px 30px ;
    }

   //ls-process-ql__item
   li {
       /*display: inline-block;*/
      /* width: 33%;*/
       /*margin-right: 20px;*/

       @include susy-breakpoint(max-width $medium) {
           display: block;
           margin-right: 40px;
       }
   }
}
