
%button {
  float: left;
  display: block;
  width: 51px;
  height: 51px;
  background: url(../images/videocontrol/play.png) no-repeat;
  background-size:contain;
  top: 37%;
  margin-left: 41%;
  opacity: 0.8;
  border-radius: 48%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: transparent;
  font-size: 0.1px;
  position: absolute;

  @include susy-breakpoint(max-width $large){
    top: 100px;
    margin-left: 46%;
  }
  @include susy-breakpoint(max-width $medium){
    top: 56px;
    margin-left: 48%;
    width: 35px;
    height: 35px;
  }
  @include susy-breakpoint(max-width 500px){
    margin-left: 46%;
  }
}

.show-reel{


  float: left;
  width: 100%;
  &__wrapper{
    background-image:url(../images/showreel/videoRedbkg.png);
    @include susy-breakpoint(max-width $large){
        height: 380px;
    }
    @include susy-breakpoint(max-width $medium){
        height: 276px;
    }
  }


  h2{
    font-size: toRem(18);
    color: $white;
    line-height: 22px;
    font-weight: bold;
    padding-top: 17px;
    padding-left: 31px;
    padding-bottom: 22px;
    width: 100%;
  }
  //.show-reel__left
  &__left{
    @include susy-breakpoint(max-width $large){
        display: none;
    }
    position: relative;
    display: inline-block;
    width: 49%;
    padding-left: 70px;
    padding-bottom: 58px;
    img{
      @include span(6 of 6);
    }
  }
//show-reel__right
  &__right{
    @include susy-breakpoint(max-width $large){
        display: none;
    }
    position: relative;
    display: inline-block;
    padding-left: 22px;
    padding-bottom: 58px;
    padding-right: 60px;
    width: 50%;
    .leftimg{
      @include span(3 of 6);
    }
    .rightimg{
      @include span(3 of 6  last);
    }
    .bottomimg{
      @include span(6 of 6);
      margin-top: 30px;
    }
    .playbutton{
      width: 43.7px;
      bottom: 29%;
      position: absolute;
      left: 41%;
      opacity: 0.7;
    }
  }

  &__img-play-button{
   @extend %button;

 }
 &__img2-play-button{
   @extend %button;
   top:63%;
   margin-left: 40%;
 }

//show-reel__tablet-mobile
  &__tablet-mobile{
    display: none;
    @include susy-breakpoint(max-width $large){
        display: block;
    }
    .carousel-indicators {
        bottom: -54px;
        @include susy-breakpoint(max-width $medium){
          bottom: 48px;
        }
        li {
            background-color: $white;
            width: 10px;
            height: 10px;
            margin-left: 16.2px;
        }
        li.active {
            background-color: $level1-color;
            margin: 1px;
            margin-left: 16.2px;
        }
    }

    .carousel-inner {
        height: 262px;
        .item {
            img {
              max-width: 466px;
              margin: 0 auto;
              @include susy-breakpoint(max-width $medium){
                  max-width: 280px;
              }
            }
        }
    }

}

.modal-content{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 550px;
  width: 100%;
  float: left;
  margin: auto;
  @include susy-breakpoint(max-width $large){
    margin-left: 0;
    max-height: 390px;
  }

  @include susy-breakpoint(max-width 450px){
    max-height: 360px;
  }
  @include susy-breakpoint(max-width 400px){
    max-height: 330px;
  }
  @include susy-breakpoint(max-width 350px){
    max-height: 310px;
  }
}

  .modal-dialog {
    margin: 0 auto;
    height: 100%;
  }

  .modal-dialog-fs{
    max-width: 100%;
    position: fixed;
    height: 100%;
    margin: 0;
  }
  .embed-responsive {
    position: relative;
    padding: 0;
    text-align: center;

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
      // top: 0;
      // left: 0;
      // bottom: 0;
      // right: 0;
      width: 80%;
      // border: 1px solid black;
      @include susy-breakpoint(max-width $large){
          max-height: 301px;
      }
    }
    img{
      max-height: 450px;
      @include susy-breakpoint(max-width $large){
          // max-height: 301px;
      }
    }
  }
}
