.wl-summary{
    &__wrapper{
        background: url('../images/wl-summary-bg.png') no-repeat;
        float: left;
        width: 100%;
        padding: 21px 31px;
        background-size: cover;
        @include susy-breakpoint(max-width $large) {
            background: #FFF;
            padding: 15px 20px 12px 20px;
        }
        @include susy-breakpoint(max-width $medium) {
            padding: 20px 13px;
        }
    }
    &__column {
        @include span(6);
        margin-right: 0;
        &:last-child{
            float: right;
            text-align: center;
            padding-top: 1em;
            @include susy-breakpoint(max-width $large) {
                padding-top: 4em;
            }
            @include susy-breakpoint(max-width $medium) {
                padding-top: 2em;
            }
        }
        img{
            max-width: 100%;
        }
        @include susy-breakpoint(max-width $medium) {
            @include span(12);
        }

    }
    &__title{
        font-size: toRem(30);
        font-weight: normal;
        line-height: 1.6;
        color: $level1-color;
        text-transform: uppercase;
    }
    &__text-bold{
        font-size: toRem(21);
        font-weight: bold;
        line-height: 1.52;
        color: $level1-color;
        @include susy-breakpoint(max-width $large) {
          font-size: toRem(18);
          margin-top: 12px;
        }
    }
    &__text{
        font-size: toRem(16);
        line-height: 1.5;
        color: $level1-color;
        @include susy-breakpoint(max-width $large) {
          font-size: toRem(14);
        }
    }
    &__download{
        margin-top: 24px;
        a{
            font-weight: bold;
            text-decoration: none;
            font-size: toRem(16);
            color: $level1-color;
            &:hover, &:visited, &:focus{
                text-decoration: none;
            }
            span{
                color: $download-text-color;
                text-decoration: underline;
            }
            .download-icon{
                margin-right: 10px;
                img{
                    margin-top: -5px;
                }
            }
            .pdf-icon{
                margin-left: 4px;
            }
        }
    }
}
