<div class="news-feature">
    <div class="news-feature__box news-feature__it" id="news-feature__2-boxes">
        <div class="news-feature__it-img-wrapper">

            <picture>
                <source media="(max-width: 767px)" srcset="images/newsRelease/finance_Mob_768x300.jpg">
                <source media="(max-width: 1000px)" srcset="images/newsRelease/finance_Tab_330x300.jpg">
                <source srcset="images/newsRelease/finance_Desktop_500X300.jpg">

                <!--[if !IE 9]><!-->
                    <img alt="animal" id="news-feature__it-img" src="#" class="news-feature__it-img" />
                <!--<![endif]-->

                <!--[if IE 9]>
                    <img class="news-feature__itv-img" id="news-feature__it-img" src="images/newsRelease/finance_Desktop_500X300.jpg" alt="animal"/>
                <![endif]-->

            </picture>

        </div>
        <div class="news-feature__it-text news-feature__it-text--blue">
            <p class="news-feature__date">13 Sep 2016</p>
            <div class="news-feature__new-product">New Products</div>
            <p class="ellipseH1">HKEX Welcomes its First Listings of Leveraged and Inverse Products</p>
            <p class="news-feature__it-content">Leveraged Products are designed to provide daily investment results, before fees and expenses, of up to 200 per cent of the performance of their benchmark. For example, if the underlying index rises by 10 per cent on a given day, a two-times
                Leveraged Product aims to deliver a 20 per cent return on that day.</p>
            <a href="#" class="news-feature__read-more news-feature__read-more--blue">READ ON</a> {{> shareGroup}}
        </div>
    </div>
</div>
