<div class="news-feature" id="news-feature__3-boxes">
    <div class="news-feature__box news-feature__itv">
        <div class="news-feature__itv-img-wrapper">
            <picture>
                <source media="(max-width: 767px)" srcset="images/newsRelease/animal-768x300.jpg">
                <source media="(max-width: 1000px)" srcset="images/newsRelease/animal-330x300.jpg">
                <source srcset="images/newsRelease/animal-335x150.jpg">

                <!--[if !IE 9]><!-->
                <img alt="animal" id="news-feature__itv-img" src="#" class="news-feature__itv-img" />
                <!--<![endif]-->

                <!--[if IE 9]>
                    <img class="news-feature__itv-img" id="news-feature__itv-img" src="images/newsRelease/animal-335x150.jpg" alt="animal"/>
                <![endif]-->
            </picture>
        </div>
        <div id="news-feature__itv-text" class="news-feature__itv-text news-feature__itv-text--purple">
            {{> shareGroup}}
            <p class="news-feature__date">13 Sep 2016</p>
            <div class="news-feature__new-product">New Products</div>
            <div class="news-feature__share"></div>
            <p class="ellipseH1">HKEX Welcomes its First Listings of Leveraged and Inverse Products</p>
            <p class="news-feature__itv-content">
                Leveraged Products are designed to provide daily investment results, before fees and expenses, of up to 200 per cent of the performance of their benchmark…
            </p>
            <a  href="#" class="news-feature__read-more news-feature__read-more--purple">READ ON</a>
        </div>
    </div>
    <div class="news-feature__box news-feature__t">
        {{> shareGroup}}
        <div class="news-feature__t-wrapper">
            <div class="news-feature__share"></div>
            <blockquote class="news-feature__t-text">
                <div class="news-feature__t-content">HKEX aims to develop a well-regulated, transparent and reliable spot commodities trading venue on the Mainland backed by physical delivery and a warehouse system to support the Mainland's real economy.</div>
            </blockquote>
            <p class="news-feature__t-author">-- <span>Charles Li</span>, HKEX Chief Executive</p>
        </div>
    </div>
    <div class="news-feature__box news-feature__i">
        <div class="news-feature__i-img-wrapper">
            <picture>
                <source media="(max-width: 767px)" srcset="images/newsRelease/flag_Mob_768x500.jpg">
                <source media="(max-width: 1000px)" srcset="images/newsRelease/flag_Tab_1000x500.jpg">
                <source srcset="images/newsRelease/flag_Desktop_335x300.jpg">

                <!--[if !IE 9]><!-->
                <img alt="animal" id="news-feature__i-img" src="#" class="news-feature__i-img" />
                <!--<![endif]-->

                <!--[if IE 9]>
                    <img src="images/newsRelease/flag_Desktop_335x300.jpg" id="news-feature__i-img" alt="flag" class="news-feature__i-img"/>
                <![endif]-->
            </picture>

        </div>
    </div>
</div>
