<div class="section__title-left-border news-releases__list-title">
    <h2>NEWS RELEASES</h2>
</div>
<div class="circulars-filter newsRelease-filter">
    <div class="collapse-container filter__container ">
        <div class="filter__searchPanel">
            <div class="filter__searchBox">
                <input type="text" class="searchBox" name="searchBox" placeholder="Keywords" title="Keywords" />
            </div>
            <div class="filter__moreFilter">
              <div class="filter__moreFilter__label">
                <a class="filter__moreFilterText" aria-expanded="false" data-toggle="collapse" href="#checkboxForm">
                    More filters
                </a>
              </div>
            </div>
        </div>
        <div class="collapse filter__checkboxForm" id="checkboxForm">
            <div class="filter__dropdown-wrapper filter__dropdown-js">
                <div class="filter__dropdown__title">NEWS RELEASED IN</div>
                <div class="select-group">
                    <div class="select-target">
                        <a id="select-target-date" data-select="true" data-expend="false" href="#" data-value="All" name="YEAR">All</a>
                    </div>
                    <div class="select-items">
                        <div class="select-item" data-value="All" data-target="true"><a href="#">All</a></div>
                        <div class="select-item" data-value="2016"><a href="#">2016</a></div>
                        <div class="select-item" data-value="2015"><a href="#">2015</a></div>
                    </div>
                </div>
            </div>
            <div class="filter__checkbox-wrapper">
                {{> checkBox filterConditions.newsReleases}}
            </div>
            <div class="filter__buttonGroup">
                <a class="btn-disable forFilter filter__btn-applyFilters-js" tabindex="0">Apply Filters</a>
                <a class="btn-white filter__btn-cancelFilters-js" tabindex="0">Cancel</a>
            </div>
        </div>
        <div class="filter__selectedItem">
        </div>
    </div>
</div>
<div class="news-releases">
    <div class="news-releases__section">
        <div class="news-releases__section--date">
            <div class="news-releases__section--date-day">09</div>
            <div class="news-releases__section--date-month">SEP</div>
        </div>
        <div class="news-releases__section--content">
            <div class="news-releases__section--content-type">
                <span class="tag-yellow  tag-yellow-triangle tag-first">REGULATORY</span>
                <span class="tag-yellow">LISTING</span>
                <span class="tag-yellow">LISTING</span>
                <span class="tag-yellow">LISTING</span>
                <span class="tag-yellow">LISTING</span>
                <span class="tag-yellow">LISTING</span>
                <span class="tag-yellow">LISTING</span>
                <span class="tag-yellow">T</span>
                <span class="tag-yellow">LISTING</span>
                <span class="tag-yellow">LISTING</span>

            </div>
            <a class="news-releases__section--content-title" href="#">SFC and the Exchange extend deadline for response to the joint consultation on listing regulation</a>
            <p class="news-releases__section--content-brife">The Securities and Futures Commission (SFC) and The Stock Exchange of Hong Kong Limited (the Exchange), a wholly-owned subsidiary of Hong Kong Exchanges and Clearing Limited (HKEX), announce today (Friday) a two</p>
        </div>
        {{> shareGroup}}
    </div>
    <div class="news-releases__section">
        <div class="news-releases__section--date">
            <div class="news-releases__section--date-day">09</div>
            <div class="news-releases__section--date-month">SEP</div>
        </div>
        <div class="news-releases__section--content">
            <div class="news-releases__section--content-type">
                <span class="tag-yellow  tag-yellow-triangle tag-first">REGULATORY</span>
                <span class="tag-yellow">MARKET OPERATIONS</span>
            </div>
            <a class="news-releases__section--content-title" href="#">SFC and the Exchange extend deadline for response to the joint consultation on listing regulation</a>
            <p class="news-releases__section--content-brife">The Securities and Futures Commission (SFC) and The Stock Exchange of Hong Kong Limited (the Exchange), a wholly-owned subsidiary of Hong Kong Exchanges and Clearing Limited (HKEX), announce today (Friday) a two</p>
        </div>
        {{> shareGroup}}
    </div>
    <div class="news-releases__section">
        <div class="news-releases__section--date">
            <div class="news-releases__section--date-day">05</div>
            <div class="news-releases__section--date-month">SEP</div>
        </div>
        <div class="news-releases__section--content">
            <div class="news-releases__section--content-type">
                <span class="tag-yellow  tag-yellow-triangle tag-first">REGULATORY</span>
                <span class="tag-yellow">MARKET OPERATIONS</span>
            </div>
            <a class="news-releases__section--content-title" href="#">HKEX signs MOU with Shandong Provincial Government</a>
            <p class="news-releases__section--content-brife">Hong Kong Exchanges and Clearing Limited (HKEX) and the People's Government of Shandong Province (Shandong Provincial Government) today (Thursday) signed a Memorandum of Understanding (MOU) to strengthen</p>
        </div>
        {{> shareGroup}}
    </div>
    <div class="news-releases__section">
        <div class="news-releases__section--date">
            <div class="news-releases__section--date-day">02</div>
            <div class="news-releases__section--date-month">SEP</div>
        </div>
        <div class="news-releases__section--content">
            <div class="news-releases__section--content-type">
                <span class="tag-yellow  tag-yellow-triangle tag-first">REGULATORY</span>
                <span class="tag-yellow">MARKET OPERATIONS</span>
            </div>
            <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank" class="news-releases__section--content-title"> Shenzhen-Hong Kong Stock Connect and Shanghai-Hong Kong Stock Connect</a>
            <p class="news-releases__section--content-brife">This announcement is made by Hong Kong Exchanges and Clearing Limited (“HKEX”) pursuant to the provisions under Part XIVA of the Securities and Futures Ordinance and Rule 13.09 of the Rules Governing the Listing</p>
        </div>
        {{> shareGroup}}
    </div>
    <div class="news-releases__section">
        <div class="news-releases__section--date">
            <div class="news-releases__section--date-day">31</div>
            <div class="news-releases__section--date-month">AUG</div>
        </div>
        <div class="news-releases__section--content">
            <div class="news-releases__section--content-type">
                <span class="tag-yellow  tag-yellow-triangle tag-first">REGULATORY</span>
                <span class="tag-yellow">MARKET OPERATIONS</span>
            </div>
            <a href="files/ess.pdf" data-file-type="../images/pdf.svg" target="_blank" class="news-releases__section--content-title">Presentation by HKEX's Head of ETFs and Senior Vice President Brian Roberts at a media workshop about the launch of leveraged and inverse products</a>
            <p class="news-releases__section--content-brife">This announcement is made by Hong Kong Exchanges and Clearing Limited (“HKEX”) pursuant to the provisions under Part XIVA of the Securities and Futures Ordinance and Rule 13.09 of the Rules Governing the Listing</p>
        </div>
        {{> shareGroup}}
    </div>
    <div class="news-releases__section">
        <div class="news-releases__section--date">
            <div class="news-releases__section--date-day">28</div>
            <div class="news-releases__section--date-month">AUG</div>
        </div>
        <div class="news-releases__section--content">
            <div class="news-releases__section--content-type">
                <span class="tag-yellow  tag-yellow-triangle tag-first">REGULATORY</span>
                <span class="tag-yellow">MARKET OPERATIONS</span>
            </div>
            <a class="news-releases__section--content-title" href="#">Change in the Holding of an Executive Office Approved</a>
            <p class="news-releases__section--content-brife">Reference is made to the announcement of Hong Kong Exchanges and Clearing Limited (“HKEX”) dated 15 June 2016 in relation to the appointment of Mr Lee Kwok Keung, Roger as the Chief Executive of</p>
        </div>
        {{> shareGroup}}
    </div>
</div>
<script id="news-section-tpl" type="text/html">
    <div class="news-releases__section">
        <div class="news-releases__section--date">
            <div class="news-releases__section--date-day">[day]</div>
            <div class="news-releases__section--date-month">[month]</div>
        </div>
        <div class="news-releases__section--content">
            <div class="news-releases__section--content-type">[type]</div>
            <a class="news-releases__section--content-title" href="#">[title]</a>
            <p class="news-releases__section--content-brife">[brife]</p>
        </div>
        <div class="share-group">
            <a href="#" class="share-group--show__icon"><img src="images/Share.svg" alt="share"/></a>
            <div class="share-group--items">
                <a href="#" class="share-group--items__item"><img src="images/share-1.svg" alt="share"/></a>
                <a href="#" class="share-group--items__item"><img src="images/share-2.svg" alt="share"/></a>
                <a href="#" class="share-group--items__item"><img src="images/share-3.svg" alt="share"/></a>
                <a href="#" class="share-group--items__item"><img src="images/share-4.svg" alt="share"/></a>
                <a href="#" class="share-group--items__close"><img src="images/share-close.svg" alt="share"/></a>
            </div>
        </div>
    </div>
</script>
