<div class="twitter-section__wrapper">
  <h2 class="title__side"><span>LATEST SOCIAL MEDIA FEEDS</span></h2>
    <div class="twitter-section__tweets">
        <div id="twitter-section__carousel" class="twitter-section__carousel" data-interval="5000">
          <ol class="carousel-indicators">
                <li data-target="#twitter-section__carousel" data-slide-to="0" class="active"><a href="javascript:void(0)">&nbsp;</a></li>
                <li data-target="#twitter-section__carousel" data-slide-to="1"><a href="javascript:void(0)">&nbsp;</a></li>
                <li data-target="#twitter-section__carousel" data-slide-to="2"><a href="javascript:void(0)">&nbsp;</a></li>
                <li data-target="#twitter-section__carousel" data-slide-to="3"><a href="javascript:void(0)">&nbsp;</a></li>
                <li data-target="#twitter-section__carousel" data-slide-to="4"><a href="javascript:void(0)">&nbsp;</a></li>
                <li data-target="#twitter-section__carousel" data-slide-to="5"><a href="javascript:void(0)">&nbsp;</a></li>
            </ol>

          <div class="carousel-inner">
            <div class="active item">
                <div class="twitter-section__content">
                    <div class="twitter-section__title">
                        <div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo"/></div>
                        <div class="twitter-name"><h6>HKEX</h6><span>@HKEXGroup</span></div>
                        <div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter"/></div>
                    </div>
                    <p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
                    <div class="twitter-section__image">
                        <img src="images/tw-placeholder.jpg" alt="News Title" title="News Title"  />
                    </div>
                    <div class="twitter-section__date">01/07/2016 16:18</div>
                    <div class="twitter-section__sharing-icons"><img class="share" alt="Share" src="images/share.svg" /><img class="retweet" alt="Retweet" src="images/retweet.svg" /><span class="retweet-count">1</span><img class="heart-like" alt="Like" src="images/heart-like.svg" /></div>
                </div>
            </div>
            <div class="item">
                <div class="twitter-section__content">
                    <div class="twitter-section__title">
                        <div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo"/></div>
                        <div class="twitter-name"><h6>HKEX</h6><span>@HKEXGroup</span></div>
                        <div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter"/></div>
                    </div>
                    <p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
                    <div class="twitter-section__image">
                        <img src="images/t3.png" alt="News Title" title="News Title"  />
                    </div>
                    <div class="twitter-section__date">01/07/2016 16:18</div>
                    <div class="twitter-section__sharing-icons"><img class="share" alt="Share" src="images/share.svg" /><img class="retweet" alt="Retweet" src="images/retweet.svg" /><span class="retweet-count">1</span><img class="heart-like" alt="Like" src="images/heart-like.svg" /></div>
                </div>
            </div>
            <div class="item">
                <div class="twitter-section__content">
                    <div class="twitter-section__title">
                        <div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo"/></div>
                        <div class="twitter-name"><h6>HKEX</h6><span>@HKEXGroup</span></div>
                        <div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter"/></div>
                    </div>
                    <p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
                    <div class="twitter-section__image">
                        <img src="images/t3.png" alt="News Title" title="News Title"  />
                    </div>
                    <div class="twitter-section__date">01/07/2016 16:18</div>
                    <div class="twitter-section__sharing-icons"><img class="share" alt="Share" src="images/share.svg" /><img class="retweet" alt="Retweet" src="images/retweet.svg" /><span class="retweet-count">1</span><img class="heart-like" alt="Like" src="images/heart-like.svg" /></div>
                </div>
            </div>
            <div class="item">
                <div class="twitter-section__content">
                    <div class="twitter-section__title">
                        <div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo"/></div>
                        <div class="twitter-name"><h6>HKEX</h6><span>@HKEXGroup</span></div>
                        <div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter"/></div>
                    </div>
                    <p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
                    <div class="twitter-section__date">01/07/2016 16:18</div>
                    <div class="twitter-section__sharing-icons"><img class="share" alt="Share" src="images/share.svg" /><img class="retweet" alt="Retweet" src="images/retweet.svg" /><span class="retweet-count">1</span><img class="heart-like" alt="Like" src="images/heart-like.svg" /></div>
                </div>
            </div>
            <div class="item">
                    <div class="twitter-section__content">
                        <div class="twitter-section__title">
                            <div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo"/></div>
                            <div class="twitter-name"><h6>HKEX</h6><span>@HKEXGroup</span></div>
                            <div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter"/></div>
                        </div>
                        <p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
                        <div class="twitter-section__date">01/07/2016 16:18</div>
                        <div class="twitter-section__sharing-icons"><img class="share" alt="Share" src="images/share.svg" /><img class="retweet" alt="Retweet" src="images/retweet.svg" /><span class="retweet-count">1</span><img class="heart-like" alt="Like" src="images/heart-like.svg" /></div>
                    </div>


            </div>
            <div class="item">
                    <div class="twitter-section__content">
                        <div class="twitter-section__title">
                            <div class="hklogo-icon"><img class="logo" src="images/logo_twitter.svg" alt="HKEX Logo"/></div>
                            <div class="twitter-name"><h6>HKEX</h6><span>@HKEXGroup</span></div>
                            <div class="twitter-icon"><img src="images/small-twitter.svg" alt="HKEX Twitter"/></div>
                        </div>
                        <p class="twitter-section__text">The Financial Secretary of the Hong Kong SAR John Tsang welcomes more than 1,000 people to #LMEWeekAsia</p>
                        <div class="twitter-section__date">01/07/2016 16:18</div>
                        <div class="twitter-section__sharing-icons"><img class="share" alt="Share" src="images/share.svg" /><img class="retweet" alt="Retweet" src="images/retweet.svg" /><span class="retweet-count">1</span><img class="heart-like" alt="Like" src="images/heart-like.svg" /></div>
                    </div>


            </div>
          </div>

        </div>
    </div>
</div>
